@use '../../assets/styles/flexbox' as flexbox;
@use '../../assets/styles/fonts' as fonts;
@use '../../assets/styles/layout' as layout;
@use '../../assets/styles/text' as text;
@use '@/assets/styles/mixins' as *;

.reviews {
    @include responsive(padding, 180px, 0);

    @include mobile() {
        @include responsive(padding, 96px, 0);
    }

    &-star {
        @extend %flex-center;
        @include square(32px);

        @include mobile() {
            @include square(20px);
        }

        &-big {
            @extend .reviews-star;
            @include square(64px);

            @include mobile() {
                @include square(128px);
            }
        }
    }

    &-judgeme {
        @extend %mob\:hidden;
        @include block(129.231px, 32px);
    }

    &-grid {
        @extend %mob\:hidden;

        &-item {
            @extend %flex-column, %gap-16;
            @include responsive(padding, 40px);
            @include responsive(border-radius, 24px);
            background: #1A1A1A;
            color: #A3A3A3;

            @include mobile() {
                @include responsive(padding, 24px);
                @include responsive(border-radius, 12px);
            }
        }
    }

    &-pagination {
        @extend %flex-center, %gap-8, %mob\:hidden;

        &-nav {
            @extend %flex-center;
            @include block(4px, 8px);
        }

        &-item {
            @extend %flex-center, %font-manrope-18, %font-500, %text-white, %cursor-pointer;
            @include square(24px);

            &.active {
                @include responsive(border-radius, 4px);
                background: #FFF;
                color: #000 !important;
            }

            &.disabled {
                cursor: not-allowed;
            }
        }
    }

    &-slider {
        @extend %cursor-grab;

        &-item {
            @extend %flex-column, %gap-16;
            @include responsive(width, 304px);
            @include responsive(max-height, 440px);
            @include responsive(padding, 24px, 24px, 16px);
            @include responsive(border-radius, 12px);
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: #191919;
            scroll-snap-align: start;
            user-select: none;
        }

        &-scrollbar {
            background: #8478F7;
            
            &-thumb {
                background: #FFF;
            }
        }
    }

    & button {
        @include responsive(padding, 20px, 40px);
        @include responsive(border-radius, 54px);
        border: 3px solid rgba(255, 255, 255, 0.10);
        background: #FFF;
        backdrop-filter: blur(8px);
        color: #1657FC;
        @extend %font-manrope-24, %font-500, %text-center;

        &:hover {
            border: 3px solid #FFF;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) -728.8%, rgba(255, 255, 255, 0.00) 181.94%), rgba(255, 255, 255, 0.04);
	        color: #FFF;
        }
    }

    &-form {

        &-wrap {
            @include responsive(width, 636px);
            @include responsive(padding, 40px, 40px, 28px, 40px);
            @include responsive(border-radius, 16px);
            background: #1A1A1A;
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);

            @include mobile() {
                @include responsive(width, 335px);
                @include responsive(padding, 24px, 24px, 32px, 24px);
            }
        }

        &-close {
            @include square(20px);
            @include responsive(top, 16px);
            @include responsive(right, 16px);
        }

        &-rating {

            & label {
                @include square(24px);
                background-image: url(@/assets/icons/star-grey.svg);
                background-size: cover;
                @extend %cursor-pointer;
            }

            & label:hover,
            & label:hover ~ label,
            & input[type="radio"]:checked ~ label,
            &:not(:hover) input[type="radio"]:checked ~ label:hover,
            &:not(:hover) input[type="radio"]:checked ~ label:hover ~ label {
                background-image: url(@/assets/icons/star-blue.svg);
            }
        }

        &-body {
            @extend %grid;
            grid-template-columns: 1fr 1fr;
            @include responsive(gap, 28px, 24px);

            @include mobile() {
                grid-template-columns: 1fr;
            }
        }

        &-field {

            &.full {
                grid-column: span 2;
            }

            @include mobile() {
                 grid-column: span 1 !important;
            }

            & input, & textarea {
                @include responsive(padding, 16px);
                @include responsive(border-radius, 6px);
                border: 1px solid #D9D9D9;
                background: transparent;
                @extend %font-manrope-16, %text-white;
            }

            & textarea {
                @include responsive(height, 161px);
            }

            &-error {
                @include responsive(bottom, -22px);
                color: #FC3E30;
                @extend %absolute, %font-manrope-14;
            }
        }

        & button {
            @include responsive(padding, 14px, 28px);
            @include responsive(border-radius, 26px);
            border: none;
            background: linear-gradient(179deg, #0069FD 1.13%, #4E23F9 201.17%);
            color: #FFF;
            @extend %font-manrope-18, %font-400, %text-center;
        }
    }    
}
