@use '../../assets/styles/flexbox' as flexbox;
@use '../../assets/styles/fonts' as fonts;
@use '../../assets/styles/layout' as layout;
@use '../../assets/styles/text' as text;
@use '@/assets/styles/mixins' as *;

.header {
    @extend %w-full, %flex-between;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    @include responsive(padding, 32px, 72px);

    @include mobile() {
        @include responsive(padding, 22px, 20px);
    }

    &.sticky, &.transparent {
        @extend %fixed;
        @include responsive(padding, 14px, 72px);

        @include mobile() {
            @include responsive(padding, 22px, 20px);
        }
    }

    &.sticky {
        background: rgba(0, 0, 0, 0.32);
        backdrop-filter: blur(32px);
    }

    &.transparent {
        opacity: 0;
    }

    &-logo {
        @include block(196px, 36px);
    }

    &-menu {

        &-desktop {
            @extend %flex-end-start, %gap-20, %text-white;
        }

        &-mobile {
            @extend %w-full, %flex-column-start, %gap-20;
            @include responsive(margin-top, 40px);

            &-open {
                @extend %flex-center, %circle;
                @include square(40px);
                background: rgba(0, 0, 0, 0.32);
                backdrop-filter: blur(8px);
            }

            &-wrap {
                @extend %fixed, %inset, %flex-column-between, %text-black;
                z-index: 20;
                @include responsive(padding, 20px, 24px, 48px);
                background: #FFF;
                overscroll-behavior: none;
                opacity: 1;
                pointer-events: auto;
                transition: opacity 0.2s ease-in-out;
                will-change: opacity;

                &.transparent {
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 0.1s ease-in-out;
                }
            }
        }

        &-item {
            @extend %flex-center, %mob\:w-full, %mob\:flex-between-center, %mob\:flex-wrap, %gap-4, %relative, %cursor-pointer;
            @include responsive(padding, 8px, 0, 20px);

            &:first-child {
                @include responsive(margin-right, 8px);
            }

            @include mobile() {
                @include responsive(gap, 0, 4px);
                padding: 0;

                &:first-child {
                    margin-right: 0;
                }

                &:not(:last-child) {
                    @include responsive(padding-bottom, 20px);
                    border-bottom: 1px solid #E0E0E0;
                }
            }

            &-title {
                @extend %flex-start-center, %gap-4, %mob\:gap-8, %font-manrope-16, %font-600;

                @include mobile() {

                    &:hover {
                        color: #888;
                    }
                }
            }

            &-new {
                @extend %flex-center, %font-manrope, %font-600, %text-center, %text-white;
                @include responsive(padding, 2px, 4px, 3px);
                @include responsive(border-radius, 4px);
                background: linear-gradient(179deg, #0069FD 1.13%, #4E23F9 201.17%);
                @include responsive(font-size, 12px);
                @include responsive(line-height, 12px);
            }

            &-chevron {
                @extend %flex-center;
                @include square(20px);

                & .icon {
                    @include block(10.145px, 5.346px);
                }

                @include mobile() {
                    transition: transform 0.333s ease-in-out;
                    will-change: transform;

                    .active & {
                        transform: rotate(180deg);
                    }
                }
            }

            &-dropdown {
                @extend %flex-column, %gap-16, %absolute, %mob\:gap-20, %mob\:static, %mob\:w-full;
                list-style: none;
                margin: 0;
                @include responsive(top, 48px);
                @include responsive(left, -24px);
                @include responsive(padding, 20px, 24px, 24px);
                @include responsive(border-radius, 12px);
                background: #FFF;
                box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);

                @include mobile() {
                    top: unset;
                    padding: 0;
                    border-radius: none;
                    background: none;
                    box-shadow: none;
                    overflow: hidden;
                    will-change: height, opacity;
                }

                & li {
                    @include responsive(height, 20px);

                    @include mobile() {
                        @include responsive(height, 18px);

                        &:first-child {
                            @include responsive(margin-top, 24px);
                        }
                    }
                    
                    & a {
                        @extend %font-manrope, %font-500;
                        @include text(16px, 20px);
                        color: #000 !important;
                        white-space: nowrap;

                        &:hover {
                            color: #1658FC !important; 
                        }

                        @include mobile() {
                            @include text(14px, 18px);
                        }
                    }
                }
            }
        }

        &-button {
            @extend %flex-center, %text-center, %font-manrope-16, %mob\:font-manrope-18, %font-600, %text-white, %uppercase;
            @include block(127px, 36px);
            @include responsive(border-radius, 20px);
            background: linear-gradient(179deg, #0069FD 1.13%, #4E23F9 201.17%), linear-gradient(179deg, #437DF6 -48.86%, #4E23F9 696.27%);

            &:hover {
                background: linear-gradient(179deg, #005FE5 1.13%, #3B0CF8 201.17%);
            }

            @include mobile() {
                width: 100%;
                @include responsive(height, 56px);
                @include responsive(border-radius, 54px);
                background: transparent;
                border: 2px solid #0068FD;
                color: #1657FC !important;

                &:hover {
                    border: none;
                    background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%);
                    color: #FFF !important;
                }
            }
        }

        &-cart {
            @extend %flex-center, %gap-10;
            @include responsive(padding-top, 8px);

            & > div {
                @extend %relative;
                @include square(24px);

                & > span {
                    @extend %absolute, %flex-center, %font-manrope, %text-white;
                    top: 0;
                    right: 0;
                    @include square(13.27px);
                    border-radius: 100%;
                    background: #1658FC;
                    @include responsive(font-size, 10px);
                    line-height: 1;
                }
            }

            & > span {
                @extend %font-manrope-16, %font-600, %text-white;
            }
        }
    }
}
