@use "sass:math";
@use "sass:list";
@use "sass:map";

$screens: (
    "min-width: 577px": 1440,
    "max-width: 576px": 390
);

@function replace-px ($value) {
    @if math.unit($value) == 'px' {
        @return calc($value / 1px);
    } @else {
        @return $value;
    }
}

@mixin responsive($property, $values...) {
    @each $media, $layout-width in $screens {
        @media screen and (#{$media}) {
            $responsiveValues: ();

            @each $value in $values {
                @if $value != 0 and $value != auto {
                    $responsiveValues: list.append($responsiveValues, calc(replace-px($value) * 100vw / $layout-width));
                } @else {
                    $responsiveValues: list.append($responsiveValues, $value);
                }
            }

            #{$property}: $responsiveValues;
        }
    }
}

@mixin block($width, $height) {
    @include responsive(width, $width);
    @include responsive(height, $height);
}

@mixin square($size) {
    @include responsive(width, $size);
    @include responsive(height, $size);
    aspect-ratio: 1/1;
}

@mixin mobile() {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin text($fontSize, $lineHeight) {
    @include responsive(font-size, $fontSize);
    @include responsive(line-height, $lineHeight);
}
