@use "sass:math";
@use "sass:list";
@use "sass:map";

$screens: (
    "min-width: 577px": 1440,
    "max-width: 576px": 390
);

@function replace-px ($value) {
    @if math.unit($value) == 'px' {
        @return calc($value / 1px);
    } @else {
        @return $value;
    }
}

@mixin responsive($property, $values...) {
    @each $media, $layout-width in $screens {
        @media screen and (#{$media}) {
            $responsiveValues: ();

            @each $value in $values {
                @if $value != 0 and $value != auto {
                    $responsiveValues: list.append($responsiveValues, calc(replace-px($value) * 100vw / $layout-width));
                } @else {
                    $responsiveValues: list.append($responsiveValues, $value);
                }
            }

            #{$property}: $responsiveValues;
        }
    }
}

@mixin block($width, $height) {
    @include responsive(width, $width);
    @include responsive(height, $height);
}

@mixin square($size) {
    @include responsive(width, $size);
    @include responsive(height, $size);
    aspect-ratio: 1/1;
}

@mixin mobile() {
    @media (max-width: 576px) {
        @content;
    }
}

$fontsMap: (
    14px: 20px,
    16px: 24px,
    18px: 24px,
    20px: 28px,
    22px: 30px,
    24px: 32px,
    28px: 36px,
    32px: 36px,
    36px: 44px,
    52px: 64px
);

@mixin fontManrope($fontSize) {
    @if map.has-key($fontsMap, $fontSize) {
        $lineHeight: map.get($fontsMap, $fontSize);
        
        font-family: Manrope;
        font-style: normal;

        @include responsive(font-size, $fontSize);
        @include responsive(line-height, $lineHeight);
    }
}

@mixin generate-font-utilities($fontFamily: Manrope, $prefix: "") {
    $p: if(sass($prefix == ""): ""; else: "#{$prefix}\\:");

    @each $fontSize, $lineHeight in $fontsMap {
        .#{$p}font-manrope-#{replace-px($fontSize)} {
            font-family: $fontFamily;
            font-style: normal;
            @include responsive(font-size, $fontSize);
            @include responsive(line-height, $lineHeight);
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
        }
    }
}

@mixin text($fontSize, $lineHeight) {
    @include responsive(font-size, $fontSize);
    @include responsive(line-height, $lineHeight);
}

@mixin generate-text-utilities($prefix: "") {
    $p: if(sass($prefix == ""): ""; else: "#{$prefix}\\:");

    .#{$p}text {
        &-center {
            text-align: center;
        }

        &-left {
            text-align: left;
        }

        &-right {
            text-align: right;
        }
    }
}

$gaps: 4, 6, 8, 10, 12, 16, 18, 20, 22, 24, 26, 28, 32, 36, 40, 48, 50, 56, 60, 64, 85, 96, 100, 150;

@mixin generate-flex-utilities($prefix: "") {
    $p: if(sass($prefix == ""): ""; else: "#{$prefix}\\:");

    .#{$p}flex {
        display: flex;

        &-wrap {
            display: flex;
            flex-wrap: wrap;
        }

        &-row {
            display: flex;
            flex-direction: row;
            &-reverse {
                display: flex;
                flex-direction: row-reverse;
            }
        }

        &-between {
            display: flex;
            justify-content: space-between;
            &-center {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &-column {
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            &-between {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &-start {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &-center {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                }
            }
            &-center {
                display: flex;
                flex-direction: column;
                align-items: center;
                &-end {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
            &-end {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            &-reverse {
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-start;
            }
        }

        &-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-start-center {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &-end-center {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &-end {
            display: flex;
            align-items: flex-end;
        }

        &-1 {
            flex: 1;
        }
    }

    .#{$p}gap-0 {
        gap: unset;
    }

    @each $gap in $gaps {
        .#{$p}gap-#{$gap} {
            @include responsive(gap, $gap);
        }
    }
}
