@use 'flexbox' as flexbox;
@use 'fonts' as fonts;
@use 'layout' as layout;
@use 'text' as text;
@use 'mixins' as m;
@import '../fonts/Manrope/stylesheet.css';
@import '../fonts/NeueHaasGrotesk/stylesheet.css';
@import '../fonts/Universal/stylesheet.css';

:root {
    color-scheme: dark;
}

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.block {
    display: block !important;
}

@include m.mobile() {
    .mob\:hidden {
        display: hidden !important;
    }

    .mob\:block {
        display: block !important;
    }
}

.container {
    @include m.responsive(width, 1296px);
    margin: 0 auto;

    @include m.mobile() {
        @include m.responsive(width, 350px);
    }
}

video, img {
    image-rendering: -webkit-optimize-contrast;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0); 
}

.object-cover {
    @extend %w-full, %h-full;
    object-fit: cover;
}

.heading {
    font-family: "Neue Haas Grotesk Display Pro";
    @include m.responsive(font-size, 80px);
    @include m.responsive(line-height, 94px);
    font-style: normal;
    @extend %font-900, %text-center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include m.mobile() {
        @include m.responsive(font-size, 52px);
        @include m.responsive(line-height, 56px);
        text-align: left !important;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }

    &:has(.aurora) {
        @extend %relative, %overflow-hidden;
    }

    &.anime-finished {
        transform: none !important;
        perspective: none !important;
        backface-visibility: visible !important;
    }
}

h1 {
    margin: 0;
}

a {
    @extend %whitespace-nowrap, %cursor-pointer;
    color: #0465FD;
    text-decoration: none;
    
    &:hover {
        color: #0345ED !important;

        & .icon > svg path {
            fill: #0345ED;
        }
    }
}

button {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
    box-shadow: none;

    &[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        @include m.square(20px);
        margin: 0;
        background: url('../icons/checkbox-inactive.svg');
        background-size: cover;
        
        &:checked {
            background: url('../icons/checkbox-active.svg');
            background-size: cover;
        }
    }
}

input, textarea {
    outline: none;
    box-shadow: none;
}

.cursor-pointer {
    cursor: pointer;
}

.dropdown {
    @extend %w-full, %relative;
    z-index: 1;

    &-item {
        @extend %flex-between-center, %gap-12, %cursor-pointer;
    }

    &-field {
        @include m.responsive(padding, 20px);
        @include m.responsive(border-radius, 12px);
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: #191919;
        @extend %cursor-pointer;

        &-error {
            border: 1px solid #FC3E30;
        }

        @include m.mobile() {
            @include m.responsive(padding, 12px, 16px);
            @include m.responsive(border-radius, 6px);
        }

        & span {
            color: #FAFAFA;
            @extend %font-manrope-20, %mob\:font-manrope-16, %font-500;

            @include m.mobile() {
                @include m.responsive(line-height, 20px);
            }
        }
    }

    & .icon {
        @include m.block(12px, 32px);
    }

    &-menu {
        @extend %w-full, %flex-column, %gap-22, %mob\:gap-18, %absolute, %font-manrope-20, %mob\:font-manrope-16, %font-500;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        @include m.responsive(padding, 22px, 20px, 24px, 20px);
        @include m.responsive(border-radius, 12px);
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: #191919;
        box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.04);

        @include m.mobile() {
            @include m.responsive(padding, 12px, 16px, 24px);
            @include m.responsive(border-radius, 6px);
        }

        &-placeholder {
            @extend %w-full, %text-grey;
        }

        &-item {
            @extend %w-full;

            &:hover {
                color: #B3B3B3;
            }

            & .icon {
                @include m.square(24px);

                @include m.mobile() {
                    @include m.square(20px);
                }
            }
        }
    }
}

.shadow {
    @extend %flex-center, %fixed, %inset;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.66);
    z-index: 15;
}

.block {
    
    &-title {
        color: #FAFAFA;
        @extend %font-manrope-52, %mob\:font-manrope-32, %font-600;
    }

    &-text {
        @include m.responsive(margin-top, 4px);
        color: #F1F1F1;
        @extend %font-manrope-24, %mob\:font-manrope-16, %whitespace-nowrap;

        @include m.mobile() {
            margin-top: 0;
            white-space: normal;

            & > br {
                display: none;
            }
        }
    }
}
