@use 'flexbox' as flexbox;
@use 'fonts' as fonts;
@use 'layout' as layout;
@use 'text' as text;
@use 'mixins' as *;

#shopify-pc__banner {
    @include responsive(width, 526px);
    @include responsive(padding, 22px, 24px, 24px);
    @include responsive(border-radius, 24px);
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    left: calc(50% - calc(526 * 100vw / 1440) / 2);
    @include responsive(bottom, 32px);
    box-sizing: border-box;
    font-family: Manrope !important;
    font-style: normal !important;

    @include mobile() {
        @include responsive(width, 335px);
        @include responsive(border-radius, 20px);
        left: calc(50% - calc(335 * 100vw / 390) / 2);
        @include responsive(bottom, 20px);
    }

    & * {
        box-sizing: border-box;
    }
}

.shopify-pc__banner {
    &__wrapper {
        @extend %flex-column-start-center, %gap-20;
    }

    &__body {
        color: #2B343B !important;
        font-feature-settings: 'liga' off, 'clig' off;
        margin-bottom: 0 !important;

        & h2 {
            @extend %font-manrope-18, %font-600;
            @include responsive(margin-bottom, 8px);
        }
    }

    &__btns {
        @extend %flex-between-center, %gap-12;

        @include mobile() {

            & button:first-child {
                font-size: 0;
                line-height: 0;

                & span {
                    display: none !important;
                }

                &::after {
                    content: 'Manage';
                    visibility: visible;
                    display: block;
                    @include text(14px, 20px);
                }
            }
        }
    }

    &__body p a, &__btns button:first-child {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: from-font;
        text-underline-offset: 0.25px;
        text-underline-position: from-font;
    }
}

#shopify-pc__prefs {
    &__dialog {
        @extend %flex-column-start;
        @include block(991px, 468px);
        @include responsive(border-radius, 24px);
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
        top: calc(100vh - calc((468 + 171) * 100vw / 1440));
        left: calc(50% - calc(991 * 100vw / 1440) / 2);
        transform: unset;
        box-sizing: border-box;
        color: #2B343B !important;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Manrope !important;
        font-style: normal !important;

        @include mobile() {
            @include responsive(width, 335px);
            height: auto;
            @include responsive(max-height, 748px);
            @include responsive(border-radius, 20px);
            @include responsive(top, 32px);
            left: calc(50% - calc(335 * 100vw / 390) / 2);
            @include responsive(bottom, 32px);
        }

        & * {
            box-sizing: border-box;
        }

        & header {
            @extend %w-full, %flex-row, %flex-between-center, %mob\:flex-column-start, %mob\:gap-12;
            @include responsive(padding, 20px, 24px);
            border-bottom: 1px solid #E6E6E6;

            @include mobile() {
                @include responsive(padding, 20px);
            }
        }
    }

    &__header {

        &-title {
            @extend %font-manrope-18, %font-600, %text-left;
            margin: 0;

            @include mobile() {
                @include responsive(width, 165px);
                padding: 0 !important;
            }
        }

        &-close {
            @extend %flex-center;
            @include responsive(top, 20px);
            @include responsive(right, 24px);
            @include square(44px);
            aspect-ratio: 1/1;
            order: 3;
            border-radius: 100%;
            background: #E3EAFE;
            border: none !important;
            outline: none !important;

            @include mobile() {
                order: 2;
                @include responsive(top, 22px);
                @include responsive(right, 20px);
            }

            & svg {
                @include square(16px);

                & path {
                    fill: #1657FC !important;
                }
            }
        }
    }
}

.shopify-pc__prefs {

    &__header {

        &-actions {
            @extend %flex-end-center, %gap-12, %mob\:w-full, %mob\:flex-row, %mob\:gap-8;
            @include responsive(margin-right, 56px);
            padding: 0 !important;

            @include mobile() {
                margin-right: 0 !important;
            }

            & button {
                @include responsive(width, 182px);

                @include mobile() {
                    @include responsive(width, 93.3333);

                    &:last-child {
                        color: transparent !important;
                        font-size: 0 !important;
                        line-height: 0 !important;

                        &::after {
                            content: 'Save';
                            @include text(14px, 20px);
                            color: #1657FC !important;
                        }
                    }
                }
            }
        }
    }

    &__scrollable {
        @extend %flex-column;
        @include responsive(padding, 22px, 24px, 24px);

        @include mobile() {
            @include responsive(padding, 22px, 20px, 24px);
        }
    }

    &__intro {
        padding: 0 !important;

        &-main {
            @extend %flex-column, %gap-8;
            padding: 0 !important;
        }
    }

    &__options {
        @extend %flex-column, %gap-20;
        @include responsive(margin-top, 18px);
        @include responsive(padding, 20px, 0, 0);
        border-top: 1px solid #E6E6E6 !important;

        & > div {
            margin: 0 !important;
            padding: 0 !important;
            border: none !important;

            & label {
                @extend %gap-12;
                @include responsive(margin-bottom, 8px);
            }

            & span[aria-hidden="true"] {
                @include square(20px);
                @include responsive(border-radius, 4px);

                & > svg {
                    @extend %w-full, %h-full;
                    @include responsive(border-radius, 4px);

                    &[data-icon-type="checked"] {
                        background-color: #000000 !important;
                    }

                    &[data-icon-type="unchecked"] {
                        background-color: #E0E0E0 !important;
                    }

                    & path {
                        fill: #E0E0E0 !important;
                        transform: scale(1.05);
                        transform-origin: center;
                    }
                }
            }

            & input[aria-readonly="true"] ~ span[aria-hidden="true"] svg {
                opacity: 1 !important;
                background-color: #989898 !important;
            }

            & input:active, & input:focus {
                outline: none !important;
            }

            & p {
                @include responsive(padding-left, 32px);
            }
        }
    }

    &__intro-main h3, &__options label {
        @include text(16px, 20px);
        @extend %font-600;
        margin: 0 !important;
    }
}

.shopify-pc__banner__body p, 
.shopify-pc__prefs__scrollable p {
    @include text(13px, 20px);
    @extend %font-400;

    @include mobile() {
        @include text(14px, 20px);
    }
}

.shopify-pc__banner__btns button, 
.shopify-pc__prefs__header-actions button {
    margin: 0 !important;
    @include responsive(padding, 12px, 0);
    @include text(14px, 20px);
    @extend %font-500;
    color: #1657FC !important;
    border: none !important;
    outline: none !important;
}

.shopify-pc__banner__btns button:not(:first-child), 
.shopify-pc__prefs__header-actions button {
    @include responsive(border-radius, 33px);
    background: #E3EAFE !important;
}

@media screen and (max-width: 750px) {
    .shopify-pc__prefs__header-actions {
        flex-direction: row !important;
    }
}

@media screen and (max-width: 480px) {
    .shopify-pc__banner__btns {
        flex-direction: row !important;
    }
    .shopify-pc__banner__btns button {
        order: unset !important;
    }
}
