@use 'mixins' as *;
@import '../fonts/NeueHaasGrotesk/stylesheet.css';
@import '../fonts/Manrope/stylesheet.css';
@import '../fonts/Universal/stylesheet.css';

$fontsMap: (
    14px: 20px,
    16px: 24px,
    18px: 24px,
    20px: 28px,
    22px: 30px,
    24px: 32px,
    28px: 36px,
    32px: 36px,
    36px: 44px,
    52px: 64px
);

$weights: 400, 500, 600;

@include generate-font-utilities(Manrope);

@media (max-width: 576px) {
    @include generate-font-utilities(Manrope, "mob");
}

.font {

    &-manrope {
        font-family: Manrope;
        font-style: normal;
    }

    @each $weight in $weights {
        &-#{$weight} {
            font-weight: $weight;
        }
    }
}