@use './common.scss';
@use 'mixins' as *;

.screenmate-one {
    background-color: #000;
    color: #FFF;

    &__banner {
        height: 100dvh;
        @include responsive(min-height, 810px);

        @include mobile() {
            @include responsive(min-height, 768px);
            background-image: url(../../assets/images/screenmate-one/banner-mobile.png);
            background-size: 100% auto;
            background-position: top center;
            background-repeat: no-repeat;
        }

        &-inner {
            @extend .flex-column, .gap-32, .absolute;
            @include responsive(top, 284px);
            left: 0;

            @include mobile() {
                gap: 0;
                top: unset;
                @include responsive(bottom, 88px);
            }

            & > img {
                @include responsive(width, 326px);
                @include responsive(height, 24px);
                aspect-ratio: 163/12;

                @include mobile() {
                    @include responsive(width, 217px);
                    @include responsive(height, 16px);
                    aspect-ratio: 217/16;
                    @include responsive(margin-bottom, 20px);
                }
            }

            & h1 {
                @include responsive(width, 600px);
                font-family: "Neue Haas Grotesk Display Pro";
                @include responsive(font-size, 64px);
                font-style: normal;
                font-weight: 900;
                @include responsive(line-height, 72px);
                background: radial-gradient(206.09% 206.09% at 50% 50%, #FFF 0%, #808080 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @include mobile() {
                    @include responsive(width, 350px);
                    @include responsive(font-size, 37.4px);
                    @include responsive(line-height, 44px);
                    @include responsive(margin-bottom, 28px);
                }
            }

            & button {
                @include responsive(height, 72px);
                @extend .font-manrope-24, .mob\:font-manrope-18, .font-600;
                white-space: nowrap;
                @include responsive(letter-spacing, 0.48px);
                background: linear-gradient(180deg, #0068FD 0%, #3414FA 292.19%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: #FFFFFF;

                &:first-child {
                    @extend .flex-center, .text-center, .uppercase;
                    @include responsive(width, 226px);
                    @include responsive(height, 72px);
                    @include responsive(border-radius, 54px);
                    border: 3px solid #0068FD;
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) -728.8%, rgba(255, 255, 255, 0.00) 181.94%), rgba(255, 255, 255, 0.04);
                    backdrop-filter: blur(8px);

                    @include mobile() {
                        width: 100%;
                        @include responsive(height, 56px);
                    }

                    &:hover {
                        border: none;
                        background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%);
                    }
                }

                &:last-child {
                    @extend .flex-start-center, .gap-12;
                    @include responsive(width, 226px);
                    @include responsive(padding, 0, 28px, 0, 12px);
                    @include responsive(border-radius, 36px);
                    background: transparent;
                    backdrop-filter: blur(8px);

                    @include mobile() {
                        position: absolute;
                        @include responsive(bottom, 240px);
                        left: 0;
                        width: auto;
                        @include responsive(height, 40px);
                        padding: 0;
                        backdrop-filter: none;
                    }

                    & .icon {
                        @include responsive(width, 48px);
                        @include responsive(height, 48px);
                        flex-shrink: 0;
                        aspect-ratio: 1/1;

                        @include mobile() {
                            @include responsive(width, 40px);
                            @include responsive(height, 40px);
                        }
                    }
                }
            }
        }

        &-kickstarter {
            @extend .flex-column, .gap-12, .absolute;
            @include responsive(bottom, 73px);
            right: 0;

            @include mobile() {
                @include responsive(bottom, 328px);
                @include responsive(width, 104px);
                @include responsive(height, 40px);
                aspect-ratio: 13/5;
                background-image: url(../../assets/images/screenmate-one/kickstarter-mobile.svg);
                background-size: cover;

                & * {
                    display: none;
                }
            }

            & > .icon {
                @include responsive(width, 200px);
                @include responsive(height, 21px);
                aspect-ratio: 200/21;
            }

            &-badge {
                @extend .flex-start-center, .gap-10;
                @include responsive(padding, 6px, 16px);
                @include responsive(border-radius, 100px);
                background: #004650;

                & img {
                    @include responsive(width, 20.33px);
                    @include responsive(height, 18.824px);
                }

                & span {
                    font-family: "Product Sans Medium";
                    @include responsive(font-size, 20px);
                    font-style: normal;
                    @include responsive(line-height, 28px);
                    @extend .font-500, .text-white;
                }
            }
        }

        &-expand {
            @extend .flex-center, .absolute, .cursor-pointer;
            left: 50%;
            transform: translateX(-50%);
            @include responsive(bottom, 1px);
            @include responsive(width, 92px);
            @include responsive(height, 92px);

            @include mobile() {
                @include responsive(bottom, 12px);
                @include responsive(width, 64px);
                @include responsive(height, 64px);
            }

            & .icon {
                @include responsive(width, 46.666px);
                @include responsive(height, 24.591px);

                @include mobile() {
                    @include responsive(width, 22px);
                    @include responsive(height, 12px);
                }
            }
        }
    }

    &__features {
        @include responsive(padding, 150px, 0, 180px);

        @include mobile() {
            @include responsive(padding, 40px, 0, 96px);
        }

        &-grid {
            @extend .container, .grid, .gap-24;
            grid-template-columns: repeat(3, 1fr);

            @include mobile() {
                grid-template-columns: 1fr;
                @include responsive(gap, 20px);
            }

            &-item {
                @extend .flex-column-between, .relative, .overflow-hidden, .cursor-pointer;
                @include responsive(width, 416px);
                aspect-ratio: 1/1;
                @include responsive(padding, 28px, 32px, 32px);
                @include responsive(border-radius, 24px);
                background-size: cover;

                @include mobile() {
                    width: 100%;
                    @include responsive(padding, 20px, 20px, 32px);
                    @include responsive(border-radius, 20px);
                }

                &-header {

                    &-icon {
                        @extend .circle, .cursor-pointer;
                        @include responsive(width, 40px);
                        @include responsive(height, 40px);
                        @include responsive(margin-top, 4px);
                        @include responsive(padding, 5px, 12px, 4px, 12px);
                        background: #262626;
                    }
                }
            }
        }
    }

    &__setup {
        @include responsive(padding-bottom, 180px);

        @include mobile() {
            @include responsive(padding-bottom, 96px);
        }

        & .heading {
            background: radial-gradient(98.08% 98.08% at 50% 50%, #FFF 0%, #808080 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: #0465FD;
        }

        &-subtitle, &-text {
            color: #F1F1F1;
            @extend .text-center;

            @include mobile() {
                text-align: left;
            }
        }

        &-subtitle {
            @extend .font-manrope-24, .mob\:font-manrope-18;

            @include mobile() {
                @include responsive(max-width, 185px);
            }
        }

        &-video {
            @extend .w-full;
            @include responsive(height, 580px);
            @include responsive(border-radius, 24px);
            @extend .overflow-hidden;

            @include mobile() {
                @include responsive(height, 290px);
                @include responsive(border-radius, 10px);
            }
        }

        &-text {
            @extend .font-manrope-24, .mob\:font-manrope-14;
            @include responsive(height, 64px);

            @include mobile() {
                @include responsive(max-width, 270px);
                @include responsive(height, 60px);

                & > br {
                    display: none;
                }
            }
        }
    }

    &__convenience {
        @include responsive(padding, 156px, 0);
        background: linear-gradient(0deg, #1D1D1F 0%, #1D1D1F 100%), #191919;

        @include mobile() {
            @include responsive(padding, 90px, 0, 96px);
        }

        &-wrap {
            @extend .flex-column-center, .gap-150;

            @include mobile() {
                @include responsive(gap, 72px);
            }
        }

        & .heading {
            @include responsive(width, 857px);
            background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #808080 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: #0465FD;

            @include mobile() {
                @include responsive(width, 350px);
                @include responsive(margin-bottom, 8px);
            }
        }

        &-block {            

            &.key-driving-info {
                @include responsive(height, 746px);
                @include responsive(padding-top, 120px);
                background-image: url(../../assets/images/screenmate-one/key-driving-info-desktop.png);
                background-size: cover;

                @include mobile() {
                    @include responsive(height, 548px);
                    padding-top: 0;
                    background-image: url(../../assets/images/screenmate-one/key-driving-info-mobile.png);
                    background-size: 100% auto;
                    background-position-x: center;
                    @include responsive(background-position-y, 156px);
                    background-repeat: no-repeat;
                }
            }

            &-top {

                & .block-title {

                    .key-driving-info &, .front-camera-integration & {
                        @extend .text-white;
                    }
                }

                & .block-text {

                    .key-driving-info &, .front-camera-integration & {
                        @extend .text-white;
                    }

                    .key-driving-info & {
                        text-align: right;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), 0 4px 60px #000;

                        @include mobile() {
                            text-align: left;
                        }
                    }

                    .beyond-basic-control & {
                        @extend .font-manrope-20;
                    }
                }
            }

            &-additional {

                & > * {
                    color: #F1F1F1;
                    @extend .font-manrope-20;
                }

                & .icon {
                    @include responsive(width, 16px);
                    @include responsive(height, 28px);

                    @include mobile() {
                        @include responsive(height, 24px);
                    }
                }
            }

            &-image, &-video {
                @extend .w-full, .overflow-hidden;
                @include responsive(border-radius, 24px);

                @include mobile() {
                    @include responsive(border-radius, 10px);
                }
            }

            &-image {

                .front-camera-integration & {
                    @include responsive(width, 746px);

                    @include mobile() {
                        @include responsive(width, 350px);
                    }
                }
            }

            &-video {
                @include responsive(height, 580px);
            }

            &-pointer {

                &.top-left {
                    @include responsive(width, 353.5px);
                    @include responsive(height, 58.5px);

                    @include mobile() {
                        @include responsive(width, 153.5px);
                        @include responsive(height, 55.5px);
                    }
                }

                &.top-right {
                    @include responsive(width, 238px);
                    @include responsive(height, 61px);

                    @include mobile() {
                        @include responsive(width, 71px);
                        @include responsive(height, 53.5px);
                    }
                }

                &.bottom-left {
                    @include responsive(width, 208.25px);
                    @include responsive(height, 34.501px);

                    @include mobile() {
                        @include responsive(width, 47px);
                        @include responsive(height, 47px);
                    }
                }

                &.bottom-right {
                    @include responsive(width, 176.5px);
                    @include responsive(height, 39px);

                    @include mobile() {
                        @include responsive(width, 42.5px);
                        @include responsive(height, 29px);
                    }
                }
            }

            &-legend {

                & span {
                    @extend .text-white, .font-manrope;
                    text-align: inherit;

                    &:first-child {
                        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                        @extend .font-manrope-24, .mob\:font-manrope-14, .font-600;
                    }

                    &:last-child {
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                        @extend .font-manrope-20, .font-500;
                    }
                }
            }
        }

        &-commands {
            @extend .container, .relative;
            height: calc(740 / 810 * 100vh);
            @include responsive(border-radius, 24px);
            background: #1D1D1F;

            @include mobile() {
                height: calc(800 / 844 * 100vh);
                @include responsive(border-radius, 16px);
            }

            & > * {
                @include responsive(padding, 28px);

                @include mobile() {
                    @include responsive(padding, 20px);
                }
            }

            &-head {
                @extend .flex-between-center;
                border-bottom: 1px solid #4D4D4D;

                & > div:first-child br {
                    display: none;

                    @include mobile() {
                        display: block;
                    }
                }
            }

            &-body {
                @extend .flex-column, .mob\:flex-column-center, .gap-36, .overflow-scroll-y;
                height: calc(100% - calc(96 * 100vw / 1440));

                @include mobile() {
                    height: calc(100% - calc(100 * 100vw / 390));
                }
            }

            &-close {
                @include square(40px);

                @include mobile() {
                    @include square(32px);
                }
            }

            &-grid {
                @extend .w-full, .grid;
                align-items: flex-start;
                grid-template-columns: repeat(4, calc(284 * 100vw / 1440));
                @include responsive(gap, 32px, 16px);

                @include mobile() {
                    grid-template-columns: repeat(2, calc(150 * 100vw / 390));
                    @include responsive(gap, 32px, 10px);
                }

                &-item {
                    font-family: "Universal Sans Display";
                    font-style: normal;
                    
                    @include mobile() {

                        &:has(.range), &:has(.switch) {
                            grid-column: span 2;
                        }
                    }

                    &-content {
                        @include responsive(height, 96px);
                        @include responsive(border-radius, 22px);
                        background: rgba(51, 51, 51, 0.80);
                        @extend .overflow-hidden;
                    }

                    & .button {
                        @extend .flex-center, .font-500, .text-white;
                        @include responsive(width, 96px);
                        @include responsive(font-size, 18px);
                        @include responsive(line-height, 24px);
                        @include responsive(letter-spacing, 0.36px);

                        & .icon {
                            @include responsive(width, 64px);
                            @include responsive(height, 64px);
                        }
                    }

                    & .range {
                        @extend .flex-between-center;
                        @include responsive(width, 212px);
                        @include responsive(padding, 6px, 12px);

                        color: #DEDEDE;
                        @include responsive(font-size, 38px);
                        @include responsive(line-height, 48px);
                        font-weight: 200;

                        & span {
                            @include responsive(font-size, 10px);
                            @include responsive(line-height, 12px);
                            @include responsive(letter-spacing, 0.2px);
                            @extend .font-600, .text-white, .uppercase;
                        }

                        & .icon:not(.chevron) {
                            @include responsive(width, 48px);
                            @include responsive(height, 48px);
                        }

                        & .chevron {
                            @extend .flex-center;
                            @include responsive(width, 5.5px);
                            @include responsive(height, 11.5px);
                        }
                    }

                    & .switch {
                        @extend .flex, .font-500, .text-center, .text-white;
                        @include responsive(width, 212px);
                        @include responsive(font-size, 16px);
                        @include responsive(line-height, 20px);
                        @include responsive(letter-spacing, 0.32px);

                        & > * {
                            @extend .flex-1;
                            background: inherit;

                            &:nth-child(2) {
                                background: #666;
                            }
                        }

                        &:has(:nth-child(3)) {
                            & > * {
                                &:nth-child(2) {
                                    background: inherit;
                                }

                                &:nth-child(3) {
                                    background: #1461FF;
                                }
                            }
                        }
                    }

                    &:has(.control) {
                        grid-column: span 2;
                    }

                    & .control {
                        @extend .flex;
                        @include responsive(font-size, 18px);
                        @include responsive(line-height, 24px);
                        color: #808080;

                        @include mobile() {
                            @include responsive(height, 53px);
                            @include responsive(border-radius, 16px);
                            @include responsive(font-size, 12px);
                            @include responsive(line-height, 16px);
                        }

                        & > * {

                            &:first-child {
                                background: #666;
                                color: #F7F7F7;
                            }

                            &:first-child, &:last-child {
                                @include responsive(width, 120px);

                                @include mobile() {
                                    @include responsive(width, 77.5px);
                                }
                            }

                            &:not(:first-child) {
                                border-left: 1px solid #666;
                            }
                        }

                        & .icon {
                            @include square(48px);
                            
                            @include mobile() {
                                @include square(24px);
                            }
                        }
                    }

                    &-title {
                        @extend .font-manrope-18, .font-500, .text-left, .mob\:text-center;
                        white-space: nowrap;
                    }
                }
            }

            &-font {

                &-18 {
                    @include responsive(font-size, 18px);
                    @include responsive(line-height, 24px);
                }
            }

            &-delimiter {
                @extend .w-full;
                border: 1px solid #4D4D4D;

                &:last-child {
                    display: none;
                }
            }
        }
    }

    &__integration {
        @extend .flex-column-center, .gap-150, .mob\:gap-64;
        @include responsive(padding, 156px, 0, 180px);

        @include mobile() {
            @include responsive(padding, 122px, 0, 96px);
        }

        &-block {
            @extend .container, .flex-column, .gap-150, .mob\:gap-64;

            & .heading {
                background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #808080 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: #0465FD;
            }

            &:not(:first-child) .heading {
                display: none;
            }

            &-info {
                @extend .flex-column, .gap-60, .mob\:gap-24, .overflow-hidden;
                @include responsive(width, 660px);
                @include responsive(padding, 45px, 0);

                @include mobile() {
                    @include responsive(width, 350px);
                    padding: 0;
                }

                &-sketch {
                    @include responsive(height, 219px);

                    @include mobile() {
                        @include responsive(height, 125px);
                    }
                }

                &-item {
                    @extend .flex-column, .gap-16, .mob\:gap-8;

                    @include mobile() {
                        @include responsive(width, 145px);

                        & br {
                            display: none;
                        }
                    }

                    & > div {

                        &:first-child {
                            @extend .font-manrope-24, .mob\:font-manrope-18, .font-600, .text-white;
                        }

                        &:last-child {
                            color: #999;
                            @extend .font-manrope-20, .mob\:font-manrope-14;
                        }
                    }
                }
            }

            &-image, &-video {
                @extend .flex-1, .mob\:w-full, .overflow-hidden;
                @include responsive(border-radius, 24px);

                @include mobile() {
                    @include responsive(border-radius, 10px);
                }
            }

            &-video {
                @include responsive(height, 580px);
            }

            &:has(.screenmate-one__integration-block-info) {

                .screenmate-one__integration-block-video {
                    @include responsive(height, 530px);
                }
            }
        }
    }

    &__dash {
        @include responsive(padding, 120px, 0);
        background: url("/src/assets/images/screenmate-one/dash-background.png") no-repeat, 
                    radial-gradient(88.89% 50% at 50% 50%, #262626 0%, #0D0D0D 100%) lightgray;
        background-size: cover;

        @include mobile() {
            @include responsive(padding, 90px, 0);
        }

        &-body {
            @extend .container, .flex-between-center, .mob\:flex-column, .gap-85, .mob\:gap-32, .overflow-hidden;
            @include responsive(border-radius, 24px);
            background: radial-gradient(30.67% 64.95% at 72.03% 50%, #1D1D1F 0%, #1D1D1F 100%);
            overflow: hidden;

            &-info {
                @extend .flex-column, .flex-1, .gap-36, .mob\:gap-20;
                @include responsive(padding, 110px, 0, 110px, 110px);

                @include mobile() {
                    @include responsive(padding, 24px, 20px, 0);
                }

                &-texts {
                    @extend .flex-column, .gap-20, .mob\:gap-12;

                    &-heading {
                        @extend .flex-column, .gap-12, .mob\:gap-8;

                        &-subtitle {
                            color: #5956FB;
                            @extend .font-manrope-20, .mob\:font-manrope-14, .font-500;
                        }

                        &-title {
                            color: #FAFAFA;
                            @extend .font-manrope-52, .mob\:font-manrope-32, .font-600;
                        }

                    }

                    &-description {
                        color: #F1F1F1;
                        @extend .font-manrope-20, .mob\:font-manrope-16;

                        @include mobile() {
                            & > br {
                                display: none;
                            }
                        }
                    }
                }

                &-link {
                    @extend .flex-start-center, .gap-12, .mob\:gap-8, .font-manrope-20, .mob\:font-manrope-16, .font-500;

                    & .icon {
                        @include responsive(width, 16px);
                        @include responsive(height, 28px);

                        @include mobile() {
                            @include responsive(height, 24px);
                        }
                    }
                }
            }

            &-image {
                @include responsive(width, 648px);
                @include responsive(height, 612px);

                @include mobile() {
                    @include square(350px);
                }
            }
        }
    }

    &__specifications {
        @extend .container, .flex-column, .gap-150, .mob\:gap-64;
        @include responsive(padding, 156px, 0, 180px);

        @include mobile {
            @include responsive(padding, 96px, 0);
        }

        & .heading {
            background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #808080 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: #0465FD;
        }

        &-body {
            @extend .flex-column-center, .gap-32, .mob\:flex-column-reverse, .mob\:gap-16;
            @include responsive(gap, 32px);

            &-content {
                @extend .w-full, .overflow-hidden;
                @include responsive(height, 644px);
                @include responsive(border-radius, 32px);
                background: #1D1D1F;

                &:not(:has(> div > img)) {
                    @include responsive(padding, 60px, 60px, 0);
                }

                @include mobile() {
                    height: auto;
                    @include responsive(border-radius, 12px);
                    
                    &:not(:has(> div > img)) {
                        @include responsive(padding, 20px, 20px, 36px);
                    }

                    &:has(.image-item) {
                        @include responsive(padding, 20px, 20px, 0);
                    }

                    & br {
                        display: none;
                    }
                }

                &-top {
                    @extend .flex-column, .gap-16, .mob\:gap-12, .text-white;
                    @include responsive(padding-bottom, 38px);
                    border-bottom: 1px solid #4D4D4D;

                    @include mobile() {
                        @include responsive(padding-bottom, 24px);
                    }
                }

                &-grid {
                    @extend .grid;
                    @include responsive(row-gap, 64px);
                    @include responsive(padding-top, 40px);

                    @include mobile() {
                        @include responsive(row-gap, 24px);
                        @include responsive(padding-top, 24px);
                    }

                    &:has(.image-item) {
                        grid-template-columns: calc(390 * 100vw / 1440) calc(360 * 100vw / 1440) calc(360 * 100vw / 1440) !important;
                        @include responsive(column-gap, 50px);
                        @include responsive(row-gap, 32px);
                        @include responsive(padding-top, 32px);

                        @include mobile() {
                            grid-template-columns: 1fr !important;
                            @include responsive(column-gap, 24px);
                            row-gap: 0;
                            padding-top: 0;
                        }
                    }

                    &-item {
                        &.info-item {
                            @extend .flex-column, .gap-4;
                            @include responsive(max-height, 56px);

                            @include mobile() {
                                max-height: unset;
                            }
                        }

                        &.image-item {
                            @extend .flex-start-center, .gap-24;

                            @include mobile() {

                                &:not(:first-child) {
                                    @include responsive(margin-top, -24px);
                                }
                            }
                        }

                        &-image {
                            @extend .flex-center;
                            @include responsive(width, 200px);
                            @include responsive(height, 150px);

                            @include mobile() {
                                @include square(120px);
                                & img {
                                    height: auto !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-installation {
            @extend .flex-between-center, .mob\:flex-column, .flex-1, .overflow-hidden;
            @include responsive(border-radius, 24px);
            background: #1D1D1F;

            @include mobile() {
                @include responsive(border-radius, 12px);
            }

            &-info {
                @extend .flex-column, .gap-40, .mob\:gap-20;
                @include responsive(padding, 0, 60px);

                @include mobile() {
                    @include responsive(padding, 20px);

                    & br {
                        display: none;
                    }
                }

                & .icon {
                    @include responsive(width, 16px);
                    @include responsive(height, 32px);


                    @include mobile() {
                        @include responsive(height, 24px);
                    }
                }
            }

            &-image {
                @include responsive(width, 660px);
                @include responsive(height, 588px);

                @include mobile() {
                    @include responsive(width, 350px);
                    @include responsive(height, 300px);
                }
            }
        }

    }

    &__complectation {
        @extend .flex-column, .gap-100, .mob\:gap-60;
        @include responsive(padding, 0, 0, 172px);
        background: linear-gradient(180deg, rgba(29, 29, 31, 0.00) 0%, #202022 57.88%, #252528 100%);

        @include mobile() {
            @include responsive(padding, 0, 0, 96px);
        }

        &-group {
            @extend .container, .flex-column, .gap-60, .mob\:gap-32;

            &-grid {
                @extend .w-full, .grid, .overflow-hidden, .mob\:w-full;
                @include responsive(gap, 2px);
                @include responsive(border-radius, 24px);
                background: rgba(255, 255, 255, 0.15);

                @include mobile() {
                    @include responsive(gap, 1px);
                    @include responsive(border-radius, 12px);
                }

                &-item {
                    background: #2F2F32;

                    .grid.box & {
                        @include responsive(padding-bottom, 36px);

                        @include mobile() {
                            @include responsive(padding-bottom, 18.13px);
                        }
                    }

                    &.device {
                        @include responsive(gap, 78.13px);
                        @include responsive(padding-top, 102px);

                        @include mobile() {
                            @include responsive(gap, 24px);
                            @include responsive(padding-top, 40px);
                        }
                    }

                    .grid.add & {
                        @include responsive(padding, 52px, 0, 56px, 32px);

                        @include mobile() {
                            @include responsive(padding, 32px, 20px, 40px);

                            & br {
                                display: none;
                            }
                        }
                    }

                    &-image {

                        .grid.box & {
                            @include square(220px);

                            @include mobile() {
                                @include square(124.765px);
                            }
                        }

                        .grid.add & {
                            @include responsive(width, 200px);
                            @include responsive(height, 240px);
                            aspect-ratio: 5/6;
                        }
                    }

                    & .icon {
                        @include square(24px);
                    }
                }
            }
        }
    }

    &__order {
        @extend .flex, .mob\:flex-column, .mob\:gap-20;
        max-height: 100dvh;
        @include responsive(min-height, 810px);
        background: radial-gradient(56.25% 100% at 50% 100%, #1D1D1F 0%, #0E0E0E 100%), linear-gradient(180deg, #FFF 0%, #F6F6F6 100%);

        @include mobile() {
            max-height: unset !important;
            min-height: auto !important;
        }

        & > * {
            width: 50% !important;

            @include mobile() {
                width: 100% !important;
            }
        }

        &-gallery {
            @extend .relative;

            @include mobile() {
                @include responsive(height, 450px);
            }

            &-slider {
                @extend .w-full, .flex-center;

                &-wrap {
                    @extend .w-full, .flex-center, .gap-12, .absolute;
                    min-width: 0;
                    bottom: 0;
                    @include responsive(padding, 0, 150px, 40px);

                    @include mobile() {
                        @include responsive(padding, 0, 57px, 20px);
                    }
                }

                & .slick-list {
                    @include responsive(margin, 0, -6px);
                }

                & .slick-slide > div {
                    @include responsive(padding, 0, 6px)
                }

                & .slick-arrow {
                    @include square(24px);
                    top: 50%;
                    transform: translateY(-50%);

                    &.slick-prev {
                        @include responsive(left, -36px);
                    }

                    &.slick-next {
                        @include responsive(right, -36px);
                    }

                    &::before {
                        display: none;
                    }                    

                    & > img {
                        @extend .h-full;
                    }
                }

                &-item {
                    @extend .cursor-pointer;
                    @include square(60px);
                    @include responsive(border-radius, 12px);
                    border: 1px solid rgba(255, 255, 255, 0.10);
                    background: lightgray 50% / cover no-repeat, #191919;

                    &.active {
                        @include responsive(padding, 2px);
                        @include responsive(border-radius, 14px);
                        border: 1.5px solid #1657FC;
                    }
                }
            }
        }

        &-form {
            @include responsive(padding, 0, 0, 0, 80px);

            @include mobile() {
                @include responsive(padding, 20px, 20px, 96px);
            }

            &-wrap {
                @extend .h-full, .flex-column-start-center, .gap-36, .mob\:gap-24;
                @include responsive(width, 498px);

                @include mobile() {
                    width: 100%;
                }
            }

            & button {
                @extend .flex-center, .font-manrope-24, .mob\:font-manrope-18, .text-center, .uppercase;
                @include responsive(width, 404px);
                @include responsive(padding, 20px, 40px);
                @include responsive(border-radius, 54px);
                background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%), linear-gradient(0deg, rgba(255, 255, 255, 0.33) -728.8%, rgba(255, 255, 255, 0.00) 181.94%), rgba(255, 255, 255, 0.04);
                backdrop-filter: blur(8px);
                color: #F1F1F1;

                @include mobile() {
                    width: 100%;
                }
                
                &:hover {
                    background: linear-gradient(174deg, #0245D4 4.57%, #15028D 251.92%); 
                }
            }

            &-details {
                @extend .flex-column, .gap-12;

                & .icon {
                    @include square(20px);
                }
            }
        }
    }
}

.block {
    
    &-title {
        color: #FAFAFA;
        @extend .font-manrope-52, .mob\:font-manrope-32, .font-600;
    }

    &-text {
        @include responsive(margin-top, 4px);
        color: #F1F1F1;
        @extend .font-manrope-24, .mob\:font-manrope-16;
        white-space: nowrap;

        @include mobile() {
            margin-top: 0;
            white-space: normal;

            & > br {
                display: none;
            }
        }
    }
}
