<style type="text/css">
	#add_charger {		
		width: 1366px;
		height: 770px;
		margin-top: 41px;
	}
</style>
<div id="add_charger">
	<div class="add_charger-img">
		
	</div>
	<div class="add_charger-info">
		
	</div>
</div>