<style type="text/css">
	.back_products {
		display: flex;
		justify-content: center;
		margin-bottom: 119px;
	}
	.back_products-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 525px;
		height: 83px;
		background: #BAE4B2;
		border: 1px solid #BAE4B2;
		border-radius: 100px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 32px;
		color: #FFFFFF;
		cursor: pointer;
	}
	@media screen and (min-width: 1000px) and (max-width: 1366px) { 
		.back_products {
			margin-bottom: calc(119 * 100vw / 1366);
		}
		.back_products-button {
			width: calc(525 * 100vw / 1366);
			height: calc(83 * 100vw / 1366);
			border: 1px solid #BAE4B2;
			border-radius: calc(100 * 100vw / 1366);
			font-size: calc(36 * 100vw / 1366);
			line-height: calc(32 * 100vw / 1366);
		}
	}
	@media screen and (max-width: 999px) {
		.back_products {
			margin-bottom: 80px;
		}
		.back_products-button {
			width: 262px;
			height: 64px;
			background: #BAE4B2;
			border: 1px solid #BAE4B2;
			border-radius: 100px;
			font-weight: 700;
			font-size: 26px;
			line-height: 31px;
		}
	}
</style>

<div class="back_products">
	<a href="/" class="back_products-button">Back to product page</a>				
</div>

<script type="text/javascript">
	$(document).ready(function() {
		setButtonText()
		$(window).on('resize', setButtonText)
		function setButtonText() {
			if (window.innerWidth < 1000) {
				$('.back_products-button').text('Back to product')
			}
			else {
				$('.back_products-button').text('Back to product page')
			}
		}
	})
</script>
