<style type="text/css">
	.back_products {
		display: flex;
		justify-content: center;
		margin-bottom: 119px;
	}
	.back_products-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 525px;
		height: 83px;
		background: #BAE4B2;
		border: 1px solid #BAE4B2;
		border-radius: 100px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 32px;
		color: #FFFFFF;
	}
</style>

<div class="back_products">
	<button class="back_products-button">Back to product page</button>				
</div>