<script type="text/javascript">
$(document).ready(async function() {
	const API_ENDPOINT = 'https://www.googleapis.com/youtube/v3/'
	const API_KEY = 'AIzaSyBIO_rLOupamMWN0yNCUUNREWNCFi_3zpc'
	const videoUrls = [
		'https://www.youtube.com/watch?v=fvmXjgCjxR0&ab_channel=LudicrousFeed',
		'https://www.youtube.com/watch?v=zRVyK_d3k48&t=2s&ab_channel=MikeSeussTesla',
		'https://www.youtube.com/watch?v=ugdLMiZlqNc&ab_channel=Gjeebs',
		'https://www.youtube.com/watch?v=eSLjxnThupg&ab_channel=CfTesla',
		'https://www.youtube.com/watch?v=m06bKl98Pws&ab_channel=BestInTESLA',
		'https://www.youtube.com/watch?v=PrWRb2_jfCE&ab_channel=i1Tesla',
	]

	for (let videoUrl of videoUrls) {
		const videoId = getVideoId(videoUrl)
		console.log(videoId)
		if (videoId) {
			let videoInfo = await getVideoInfo(videoId)
			console.log(videoInfo)
			let channelId = videoInfo.items[0].snippet.channelId
			let channelInfo = await getChannelInfo(channelId)
			console.log(channelInfo)
			addVideoItem(videoInfo.items[0].snippet, channelInfo.items[0].snippet)
		}
	}

	function getVideoId(videoUrl) {
	    let match = videoUrl.match(/[?&]v=([a-zA-Z0-9_-]+)/)
	    if (match) {
	        return match[1]
	    }
	    return null
	}

	async function getVideoInfo(videoId) {
		let response = await fetch(`${API_ENDPOINT}videos?key=${API_KEY}&id=${videoId}&part=snippet`)
		let data = await response.json()
		return data
	}

	async function getChannelInfo(channelId) {
		let response = await fetch(`${API_ENDPOINT}channels?key=${API_KEY}&id=${channelId}&part=snippet`)
		let data = await response.json()
		return data
	}

	function addVideoItem(videoData, channelData) {
		let videoItem = `
			<div class="bloggers_block__list-item">
				<div class="bloggers_block__list-item-thumbnail">
					<img src="${videoData.thumbnails.high.url}">
				</div>
				<div class="bloggers_block__list-item-channel">
					<div class="bloggers_block__list-item-channel-thumbnail">
						<img src="${channelData.thumbnails.default.url}">
					</div>
				</div>
			</div>
		`
		$('.bloggers_block__list').append(videoItem)
	}
})
</script>

<style type="text/css">
.bloggers_block__title {
	color: #0F0F0F;
	font-family: Gotham;
	font-size: 52px;
	font-style: normal;
	font-weight: 700;
	line-height: 64px; /* 123.077% */
	margin-bottom: 40px;
}
.bloggers_block__list {
	display: flex;
	grid-column-gap: 48px;
}
.bloggers_block__list-item {
	display: flex;
	flex-direction: column;
	grid-row-gap: 12px;
	padding: 24px 20px 16px;
}
.bloggers_block__list-item-channel {
	display: flex;
	grid-column-gap: 8px;
}
.bloggers_block__list-item-channel-thumbnail {
	width: 56px;
	height: 56px;
	border-radius: 88px; 
}
</style>

<div class="bloggers_block">
  	<div class="block_title bloggers_block__title">Bloggers about Teslogic</div>
	<div class="bloggers_block__list"></div>
</div>
