<script type="text/javascript">
$(document).ready(async function() {
	const API_ENDPOINT = 'https://www.googleapis.com/youtube/v3/'
	const API_KEY = 'AIzaSyBIO_rLOupamMWN0yNCUUNREWNCFi_3zpc'
	{% assign videos = blogs['bloggers-about-teslogic'].articles | sort: "title" %}
	console.log('videos:')
	console.log({{ videos | json }})
	let videos = {{ videos | json }}
	/*const videoUrls = [
		'https://www.youtube.com/watch?v=fvmXjgCjxR0&ab_channel=LudicrousFeed',
		'https://www.youtube.com/watch?v=zRVyK_d3k48&t=2s&ab_channel=MikeSeussTesla',
		'https://www.youtube.com/watch?v=ugdLMiZlqNc&ab_channel=Gjeebs',
		'https://www.youtube.com/watch?v=eSLjxnThupg&ab_channel=CfTesla',
		'https://www.youtube.com/watch?v=m06bKl98Pws&ab_channel=BestInTESLA',
		'https://www.youtube.com/watch?v=PrWRb2_jfCE&ab_channel=i1Tesla',
	]*/

	for (let video of videos) {
		let videoUrl = video.body_html.trim()
		const videoId = getVideoId(videoUrl)
		if (videoId) {
			let videoInfo = await getVideoInfo(videoId)
			let channelId = videoInfo.items[0].snippet.channelId
			let channelInfo = await getChannelInfo(channelId)
			let duration = videoInfo.items[0].contentDetails.duration
									.replace('PT', '')
									.replace('M', ':')
									.replace('S', '')
			addVideoItem(videoInfo.items[0].snippet, channelInfo.items[0].snippet, videoId, duration, video.summary_html)
		}
	}

	function getVideoId(videoUrl) {
	    let match = videoUrl.match(/[?&]v=([a-zA-Z0-9_-]+)/)
	    return match ? match[1] : null
	}

	async function getVideoInfo(videoId) {
		let response = await fetch(`${API_ENDPOINT}videos?key=${API_KEY}&id=${videoId}&part=snippet,contentDetails`)
		let data = await response.json()
		return data
	}

	async function getChannelInfo(channelId) {
		let response = await fetch(`${API_ENDPOINT}channels?key=${API_KEY}&id=${channelId}&part=snippet`)
		let data = await response.json()
		return data
	}

	function addVideoItem(videoData, channelData, videoId, duration, excerpt) {
		let videoItem = `
			<div class="bloggers_block__list-item">
				<div class="bloggers_block__list-item-thumbnail" style="background-image: url('${videoData.thumbnails.high.url}')">
					<!-- <div class="bloggers_block__list-item-duration">${duration}</div> -->
					 <iframe class="bloggers_block__list-item-video-desktop" width="360" height="202" src="https://www.youtube.com/embed/${videoId}"></iframe> 
					 <iframe class="bloggers_block__list-item-video-mobile" width="251" height="140" src="https://www.youtube.com/embed/${videoId}"></iframe> 
				</div>
				<div class="bloggers_block__list-item-channel">
					<div class="bloggers_block__list-item-channel-thumbnail">
						<img src="${channelData.thumbnails.default.url}">
					</div>
					<div class="bloggers_block__list-item-channel-info">
						<span class="bloggers_block__list-item-channel-title">${channelData.title}: </span>
						<span class="bloggers_block__list-item-channel-excerpt">“${excerpt}”</span>
					</div>
				</div>
			</div>
		`
		$('.bloggers_block__list-scroller').append(videoItem)
	}

	const slider = document.querySelector('.bloggers_block__list-scroller')
	let isDown = false
	let startX
	let scrollLeft

	slider.addEventListener('mousedown', (e) => {
	  isDown = true
	  slider.classList.add('active')
	  startX = e.pageX - slider.offsetLeft
	  scrollLeft = slider.scrollLeft
	})
	slider.addEventListener('mouseleave', () => {
	  isDown = false
	  slider.classList.remove('active')
	})
	slider.addEventListener('mouseup', () => {
	  isDown = false
	  slider.classList.remove('active')
	})
	slider.addEventListener('mousemove', (e) => {
	  if(!isDown) return
	  e.preventDefault()
	  const x = e.pageX - slider.offsetLeft
	  const walk = (x - startX) * 1 //scroll-fast
	  slider.scrollLeft = scrollLeft - walk
	  // console.log(walk)
	})
})
</script>

<style type="text/css">
.bloggers_block__title {
	color: #0F0F0F;
	font-family: Gotham;
	font-size: 52px;
	font-style: normal;
	font-weight: 700;
	line-height: 64px; /* 123.077% */
	margin-bottom: 40px;
}
.bloggers_block__list {
	display: flex;
	grid-column-gap: 48px;
	margin-left: 80px;
	margin-right: 80px;
	scrollbar-color: transparent transparent;
	cursor: grab;
	user-select: none;
	width: 100vw;
	margin-left: calc(-1 * (100vw - 1366px) / 2);
	overflow-x: visible;
}
.bloggers_block__list-scroller {
	overflow-x: scroll;
	display: flex;
	grid-column-gap: 48px;
	padding-left: calc((100vw - 1366px + 160px) / 2);
	scrollbar-color: transparent transparent;
}
.bloggers_block__list-item {
	display: flex;
	flex-direction: column;
	grid-row-gap: 12px;
	width: 400px;
	padding: 24px 20px 16px;
	border-radius: 20px;
	background: #F4F6FA; 
}
.bloggers_block__list-item-thumbnail {
	width: 360px;
	height: 202px; 
	border-radius: 13px; 
	overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
}
.bloggers_block__list-item-duration {
	position: absolute;
}
.bloggers_block__list-item-video-desktop {
	display: block;
}
.bloggers_block__list-item-video-mobile {
	display: none;
}
.bloggers_block__list-item-channel {
	display: flex;
	align-items: center;
	grid-column-gap: 8px;
}
.bloggers_block__list-item-channel-thumbnail {
	width: 56px;
	height: 56px;
	border-radius: 88px; 
	overflow: hidden;
}
.bloggers_block__list-item-channel-thumbnail img {
	width: 100%;
	height: 100%;
}
.bloggers_block__list-item-channel-info {
	max-width: 296px;
}
.bloggers_block__list-item-channel-title {
	color: #000;
	font-family: Gotham;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal; 
}
.bloggers_block__list-item-channel-excerpt {
	color: #000;
	font-family: Gotham;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal; 
}
@media screen and (min-width: 1000px) and (max-width: 1366px) {

}
@media screen and (max-width: 999px) {
	.bloggers_block {
		margin-top: 80px;
	}
	.bloggers_block__title {
		color: #0F0F0F;
		/* Title Mob */
		font-family: Gotham;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal; 
		margin-bottom: 20px;
	}
	.bloggers_block__list {
		grid-column-gap: 20px;
		margin-left: 20px;
		margin-right: 20px;
		margin-left: calc(-1 * (100vw - 390px) / 2);
	}
	.bloggers_block__list-scroller {
		grid-column-gap: 20px;
		padding-left: calc((100vw - 390px + 40px) / 2);
	}
	.bloggers_block__list-item {
		grid-row-gap: 16px;
		width: 291px;
		padding: 19px 20px;
	}
	.bloggers_block__list-item-thumbnail {
		width: 251px;
		height: 140px; 
		border-radius: 11px;
	}
	.bloggers_block__list-item-video-desktop {
		display: none;
	}
	.bloggers_block__list-item-video-mobile {
		display: block;
	}
	.bloggers_block__list-item-channel {
		grid-column-gap: 16px;
	}
	.bloggers_block__list-item-channel-thumbnail {
		width: 48px;
		height: 48px;
	}
	.bloggers_block__list-item-channel-info {
		max-width: 187px;
	}
	.bloggers_block__list-item-channel-title {
		color: #000;
		font-family: Gotham;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal; 
	}
	.bloggers_block__list-item-channel-excerpt {
		color: #000;
		font-family: Gotham;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal; 
	}
}
</style>

<div class="bloggers_block">
  	<div class="block_title bloggers_block__title">Bloggers about Teslogic</div>
	<div class="bloggers_block__list">
		<div class="bloggers_block__list-scroller"></div>		
	</div>
</div>
