<script type="text/javascript">
$(document).ready(async function() {
	const API_ENDPOINT = 'https://www.googleapis.com/youtube/v3/'
	const API_KEY = 'AIzaSyBIO_rLOupamMWN0yNCUUNREWNCFi_3zpc'
	{% assign videos = blogs['bloggers-about-teslogic'].articles | sort: "title" %}
	let videos = {{ videos | json }}
	console.log(videos)

	for (let video of videos) {
		let videoUrl = video.body_html.trim()
		const videoId = getVideoId(videoUrl)
		if (videoId) {
			let videoInfo = await getVideoInfo(videoId)
			let channelId = videoInfo.items[0].snippet.channelId
			let channelInfo = await getChannelInfo(channelId)
			let duration = videoInfo.items[0].contentDetails.duration
									.replace('PT', '')
									.replace('M', ':')
									.replace('S', '')
			addVideoItem(videoUrl, videoInfo.items[0].snippet, channelInfo.items[0].snippet, videoId, duration, video.summary_html)
		}
	}

	function getVideoId(videoUrl) {
	    let match = videoUrl.match(/[?&]v=([a-zA-Z0-9_-]+)/)
	    return match ? match[1] : null
	}

	async function getVideoInfo(videoId) {
		let response = await fetch(`${API_ENDPOINT}videos?key=${API_KEY}&id=${videoId}&part=snippet,contentDetails`)
		let data = await response.json()
		return data
	}

	async function getChannelInfo(channelId) {
		let response = await fetch(`${API_ENDPOINT}channels?key=${API_KEY}&id=${channelId}&part=snippet`)
		let data = await response.json()
		return data
	}

	function addVideoItem(videoUrl, videoData, channelData, videoId, duration, excerpt) {
		let videoItem = `
			<div class="bloggers_block__list-item">
				<a href="${videoUrl}" target="_blank" class="bloggers_block__list-item-thumbnail" style="background-image: url('${videoData.thumbnails.high.url}')">
					<!-- <div class="bloggers_block__list-item-duration">${duration}</div> -->
					<!-- <iframe class="bloggers_block__list-item-video-desktop" width="416" height="234" src="https://www.youtube.com/embed/${videoId}"></iframe> 
					<iframe class="bloggers_block__list-item-video-mobile" width="251" height="140" src="https://www.youtube.com/embed/${videoId}"></iframe> -->
					<img class="bloggers_block__list-item-thumbnail-yt-icon" src="{{ 'YT.svg' | asset_url }}">
				</a>
				<div class="bloggers_block__list-item-channel">
					<div class="bloggers_block__list-item-channel-top">
						<div class="bloggers_block__list-item-channel-thumbnail">
							<img src="${channelData.thumbnails.default.url}">
						</div>
						<span class="bloggers_block__list-item-channel-title">${channelData.title}: </span>
					</div>
					<div class="bloggers_block__list-item-channel-info">						
						<span class="bloggers_block__list-item-channel-excerpt">“${excerpt}”</span>
					</div>
				</div>
			</div>
		`
		$('.bloggers_block__list-scroller').append(videoItem)
	}

	var scrollbarThumbWidth
	onWindowResize()
	$(window).on('resize', onWindowResize)
	function onWindowResize() {
		if (window.innerWidth >= 1000) {
			scrollbarThumbWidth = 106
		}
		else {
			scrollbarThumbWidth = 84
		}
	}

  var content = document.querySelector('.bloggers_block__list-scroller');
	var scrollbar = document.querySelector('.bloggers_block__list-scrollbar');
  var scrollbarThumb = document.querySelector('.bloggers_block__list-scrollbar-thumb');

	scrollbar.addEventListener('mousedown', function (event) {
	  var offsetX = event.clientX - scrollbar.getBoundingClientRect().left;
	  var scrollLeftPercentage = (offsetX / scrollbar.clientWidth) * 100;
	  content.scrollLeft = (content.scrollWidth - content.clientWidth) * (scrollLeftPercentage / 100);
	  updateScrollbarThumbPosition();
	});

	scrollbarThumb.addEventListener('mousedown', function (event) {
	  var startX = event.clientX;
	  var startThumbLeft = scrollbarThumb.offsetLeft;

	  function handleMouseMove(event) {
	    var deltaX = event.clientX - startX;
	    var newThumbLeft = startThumbLeft + deltaX;

	    newThumbLeft = Math.max(0, Math.min(newThumbLeft, scrollbar.clientWidth));

	    var newThumbLeftPercentage = (newThumbLeft / scrollbar.clientWidth) * 100;

	    scrollbarThumb.style.left = `calc(${newThumbLeftPercentage}% - ${scrollbarThumbWidth * newThumbLeftPercentage / 100}px)`;
	    content.scrollLeft = (content.scrollWidth - content.clientWidth) * (newThumbLeftPercentage / 100);
	  }

	  function handleMouseUp() {
	    document.removeEventListener('mousemove', handleMouseMove);
	    document.removeEventListener('mouseup', handleMouseUp);
	  }

	  document.addEventListener('mousemove', handleMouseMove);
	  document.addEventListener('mouseup', handleMouseUp);
	});

  content.addEventListener('scroll', function () {
  	updateScrollbarThumbPosition()
  });

	function updateScrollbarThumbPosition() {
	  let scrollLeftPercentage = (content.scrollLeft / (content.scrollWidth - content.clientWidth)) * 100;
	  scrollbarThumb.style.left = `calc(${scrollLeftPercentage}% - ${scrollbarThumbWidth * scrollLeftPercentage / 100}px)`;
	}

	const slider = document.querySelector('.bloggers_block__list-scroller')
	let isDown = false
	let startX
	let scrollLeft

	slider.addEventListener('mousedown', (e) => {
	  isDown = true
	  slider.classList.add('active')
	  startX = e.pageX - slider.offsetLeft
	  scrollLeft = slider.scrollLeft
	})
	slider.addEventListener('mouseleave', () => {
	  isDown = false
	  slider.classList.remove('active')
	})
	slider.addEventListener('mouseup', () => {
	  isDown = false
	  slider.classList.remove('active')
	})
	slider.addEventListener('mousemove', (e) => {
	  if(!isDown) return
	  e.preventDefault()
	  const x = e.pageX - slider.offsetLeft
	  const walk = (x - startX) * 1 //scroll-fast
	  slider.scrollLeft = scrollLeft - walk
	  // console.log(walk)
	})
})
</script>

<style type="text/css">
.bloggers_block {
	width: 100%;
	background: #F6F6F6;
}
.bloggers_block__title {
	width: 1296px;
	margin-top: 180px;
	color: #000;
	font-family: Manrope;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px;
	width: 1296px;
	margin: 0 auto;
	margin-bottom: 6px;
}
.bloggers_block__title-bloggers {
	color: #1657FC; 
}
.bloggers_block__subtitle {
	width: 1296px;
	color: #4D4D4D;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	width: 1296px;
	margin: 0 auto;
	margin-bottom: 47px;
}
.bloggers_block__list {
	width: 100vw;
	margin-bottom: 180px;
	display: flex;
	flex-direction: column;
	grid-row-gap: 58px;
	user-select: none;
	overflow-x: visible;
}
.bloggers_block__list-scroller {
	overflow-x: scroll;
	display: flex;
	grid-column-gap: 24px;
	padding-left: calc((100vw - 1296px) / 2);
	padding-right: calc((100vw - 1296px) / 2);
	cursor: grab;
	scrollbar-color: transparent transparent;
}
.bloggers_block__list-scrollbar {
	position: relative;
	margin-left: calc((100vw - 1296px) / 2);
	width: 1296px;
	height: 4px;
	border-radius: 2px;
	background-color: #E3E3E3;
	cursor: pointer;
}
.bloggers_block__list-scrollbar-thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 106px;
	height: 100%;
	border-radius: 2px;
	background-color: #1657FC;
}
.bloggers_block__list-item {
	display: flex;
	flex-direction: column;
	grid-row-gap: 20px;
	width: 416px;
}
.bloggers_block__list-item-thumbnail {
	width: 416px;
	height: 234px;
	border-radius: 24px; 
	overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloggers_block__list-item-thumbnail-yt-icon {
	width: 74px;
	height: 52px; 
}
.bloggers_block__list-item-duration {
	position: absolute;
}
.bloggers_block__list-item-video-desktop {
	display: block;
}
.bloggers_block__list-item-video-mobile {
	display: none;
}
.bloggers_block__list-item-channel {
	display: flex;
	flex-direction: column;
	grid-row-gap: 12px;
}
.bloggers_block__list-item-channel-top {
	display: flex;
	align-items: center;
	grid-column-gap: 12px;
}
.bloggers_block__list-item-channel-thumbnail {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	overflow: hidden;
}
.bloggers_block__list-item-channel-thumbnail img {
	width: 100%;
	height: 100%;
}
.bloggers_block__list-item-channel-info {
	width: 100%;
}
.bloggers_block__list-item-channel-title {
	color: #000;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}
.bloggers_block__list-item-channel-excerpt {
	color: #666;
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
@media screen and (min-width: 1000px) and (max-width: 1440px) {

}
@media screen and (max-width: 999px) {
	.bloggers_block {
		width: 100vw;
		margin-left: calc(-1 * (100vw - 375px) / 2);
	}
	.bloggers_block-wrap {
		width: 335px;
		padding-top: 96px;
		padding-bottom: 108px;
	}
	.bloggers_block__title {
		width: 100%;
		font-size: 32px;
		line-height: 40px; 
		margin-bottom: 8px;
	}
	.bloggers_block__subtitle {
		width: 100%;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 38px;
	}
	.bloggers_block__list {
		width: 100vw;
/*		margin-left: 20px;*/
		margin-right: 20px;
		margin-left: calc(-1 * (100vw - 390px) / 2);
	}
	.bloggers_block__list-scroller {
		margin-left: calc((100vw - 390px) / 2);
		padding-right: 20px;
		padding-bottom: 41px;
	}
	.bloggers_block__list-item {
		grid-row-gap: 12px;
		width: 306px; ;
	}
	.bloggers_block__list-item-thumbnail {
		width: 306px;
		height: 172px;
	}
	.bloggers_block__list-item-channel-top {
		grid-column-gap: 8px;
	}
	.bloggers_block__list-item-channel-thumbnail {
		width: 24px;
		height: 24px;
		border-radius: 24px;
	}
	.bloggers_block__list-item-channel-title {
		font-size: 18px;
		line-height: 24px;
	}
	.bloggers_block__list-item-channel-excerpt {
		font-size: 16px;
		line-height: 20px;
	}
}
</style>

<div class="bloggers_block">
	<!-- <div class="bloggers_block-wrap"> -->
	  	<div class="bloggers_block__title">
	  		<span class="bloggers_block__title-bloggers">Bloggers’</span> Verdict
	  	</div>
	  	<div class="bloggers_block__subtitle">
	  		Watch video reviews from popular influencers
	  	</div>
		<div class="bloggers_block__list">
			<div class="bloggers_block__list-scroller"></div>
			<div class="bloggers_block__list-scrollbar">
				<div class="bloggers_block__list-scrollbar-thumb"></div>
			</div>
		</div>
	<!-- </div> -->
</div>
