<style type="text/css">
	.devices_supporting {
		display: flex;
	}
	.devices_supporting-text {
		color: #3374FB;
		text-align: right;
		/* Title */
		font-family: Gotham;
		font-size: 52px;
		font-style: normal;
		font-weight: 700;
		line-height: 64px; /* 123.077% */ 
		margin-left: 125px;
	}
</style>

<div class="devices_supporting">
	<div class="devices_supporting-image">
		<img src="{{ 'devices_supporting.png' | asset_url }}">
	</div>
	<div class="devices_supporting-text">Now supporting
2+ devices
simultaneously</div>
</div>