<style type="text/css">
	.devices_supporting {
		display: flex;
	}
</style>

<div class="devices_supporting">
	<div class="devices_supporting-image">
		<img src="{{ 'devices_supporting.png' | asset_url }}">
	</div>
</div>