<style type="text/css">
	.devices_supporting {
		width: 1296px;
		margin: 180px auto;
		display: flex;
		justify-content: space-between;
		grid-column-gap: 24px;
	}
	.devices_supporting > div {		
		width: 636px;
		height: 636px; 
	}
</style>

<div class="devices_supporting">
	<div class="devices_supporting-info"></div>
	<div class="devices_supporting-image">
		<img src="{{ 'devices_supporting.png' | asset_url }}" srcset="{{ 'devices_supporting-retina.png' | asset_url }} 2x" loading="lazy">
	</div>
	<!-- <div class="ellipse-container ellipse__devices_supporting"><div class="ellipse-wrap"><div class="ellipse"></div></div></div>
	<div class="devices_supporting-image">
		<img src="{{ 'devices_supporting.png' | asset_url }}" srcset="{{ 'devices_supporting-retina.png' | asset_url }} 2x" loading="lazy">
	</div>
	<div class="devices_supporting-text">Now supporting<br>
2+ devices<br>
simultaneously</div> -->
</div>