<link rel="stylesheet" type="text/css" href="{{ 'header_main.css' | asset_url }}">

{%- style -%}

{%- endstyle -%}

<header id="header_custom">
  <div class="top">
    <div class="logo">
      <img src="{{ 'logo_black.png' | asset_url }}">
    </div>
    <div class="menu">
      <div class="menu__item"><a href="#all-products">All Products</a></div>
      <div class="menu__item"><a id="go-contacts" href="#contacts">Contacts</a></div>
      <div class="menu__item"><a href="#cart">Cart</a></div>
    </div>
  </div>
</header>