<link rel="stylesheet" type="text/css" href="{{ 'header_custom.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'header_custom-responsive.css' | asset_url }}">

{%- style -%}

{%- endstyle -%}

<header id="header_custom">
  <div class="top">
    <div class="logo">
      <img src="{{ 'logo_black.png' | asset_url }}">
    </div>
    <div class="menu">
      <div class="menu__item menu__item-button"><a href="#shop-now">Shop Now</a></div>
      <div class="menu__item"><a href="#features">Features</a></div>
      <div class="menu__item"><a href="#">Manuals</a></div>
      <div class="menu__item"><a href="#">FAQ</a></div>
      <div class="menu__item"><a href="/cart">Cart</a></div>
    </div>
  </div>
</header>
<div class="header-fix"></div>
