{% style %}
	.comparison-wrap {
		width: 100%;
		padding-top: 180px;
		padding-bottom: 180px;
		height: 1694px; 
		background: url({{ 'pro_comparison_bg.png' | asset_url }});
		background-size: cover;
  		background-position: center;
		box-sizing: border-box;
	}
	.comparison {
		width: 1296px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		grid-row-gap: 40px;
	}
	.comparison-top {
		display: flex;
		flex-direction: column;
		grid-row-gap: 16px;
	}
	.comparison-title {
		color: #000;
		font-family: Manrope;
		font-size: 52px;
		font-style: normal;
		font-weight: 600;
		line-height: 64px;
	}
	.comparison-subtitle {
		color: #666;
		font-family: Manrope;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 32px;
	}
	.comparison-table-wrap {
		width: 100%;
		height: 886px;
		border-radius: 40px;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.32) 100%), rgba(223, 223, 223, 0.50);
		background-blend-mode: screen, normal;
		backdrop-filter: blur(6px);
	}
	.comparison-table {
		width: 100%;
		border-collapse: collapse;
	}
	.comparison-table thead th {
		width: 330px;
		height: 72px;
		color: #000;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 24px;
		text-align: center;
		border-bottom: 2px solid #E7E7E7;
		border-left: 2px solid #E7E7E7;
	}
	.comparison-table thead th:first-child {
		width: 300px;
		text-align: left;
		padding-left: 40px;
		border-left: none;
	}
	.comparison-table tbody td {
		height: 66px;
		color: #000;
		opacity: 0.6;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 20px;
		text-align: center;
		border-left: 2px solid #E7E7E7;
	}
	.comparison-table tbody td:first-child {
		text-align: left;
		padding-left: 40px;
		border-left: none;
	}
	
{% endstyle %}

<div class="comparison-wrap">
	<div class="comparison">
		<div class="comparison-top">
			<div class="comparison-title">Comparison of Teslogic Features and Specs</div>
			<div class="comparison-subtitle">Each delivering increased horsepower and access to exclusive features</div>			
		</div>
		<div class="comparison-table-wrap">
			<table class="comparison-table">
				<thead>
					<tr>
						<th>Features</th>
						<th>v2</th>
						<th>Pro Boost</th>
						<th>Pro Performance</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		<div class="comparison-check"></div>		
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		const comparison = [
		  {"feature": "Mobile App Teslogic Dash<br>+ Magnet Phone Holder", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Drift Mode", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Traffic Fines Avoidance", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Chill Kickdown Mode", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Winter Package", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Activation Amber<br>Taillights Retrofit", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Activation Rear<br>Seat Heating", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Activation Steering<br>Wheel Heating", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Activation Adaptive<br>Matrix Headlights", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Adjustable Track Mode", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Increases the power of the<br>cars with installed Tesla<br>Acceleration Boost upgrade", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Power Increased", "v2": 1, "boost": 1, "performance": 1},
		]

		for (const item of comparison) {
			let row = '<tr>'
			row += `<td>${item.feature}</td>`
			row += `<td></td>`
			row += `<td></td>`
			row += `<td></td>`
			row += '</tr>'
			$('.comparison-table tbody').append(row)
		}
	})
</script>
