{% style %}
	.examples-wrap {
		width: 100%;
		padding-top: 180px;
		height: 1054px; 
		background: #171717;
	}
	.examples {
		width: 1040px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		grid-row-gap: 64px;
	}
	.examples-title {
		color: #FFF;
		font-family: Manrope;
		font-size: 52px;
		font-style: normal;
		font-weight: 600;
		line-height: 64px;
	}
	.examples-variants {
		display: flex;
		flex-direction: column;
		grid-row-gap: 98px;
	}
	.examples-variants-item {
		display: flex;
	}
{% endstyle %}

<div class="examples-wrap">
	<div class="examples">
		<div class="examples-title">Be the First: Teslogic Pro<br>
vs Factory Acceleration Examples</div>
		<div class="examples-variants">
			<div class="examples-variants-item">
				<div class="examples-variants-item-model">Model 3<br>
Long Range</div>
				<img src="{{ 'pro-model-3-long.svg' | asset_url }}">
				
			</div>
			<div class="examples-variants-item">
				<div class="examples-variants-item-model">Model Y<br>
Long Range</div>
				<img src="{{ 'pro-model-y-long.svg' | asset_url }}">
				
			</div>
			<div class="examples-variants-item">
				<div class="examples-variants-item-model">Model 3<br>
Standart Range+</div>
				<img src="{{ 'pro-model-3-standard.svg' | asset_url }}">
				
			</div>
			
		</div>
	</div>
</div>