{% style %}
	.info-wrap {
		width: 100%;
		padding-top: 180px;
		padding-bottom: 180px;
		height: 852px; 
		background: #171717;
		box-sizing: border-box;
	}
	.info {
		width: 1076px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		grid-row-gap: 64px;
	}
	.info-block-title {
		display: flex;
		align-items: center;
		grid-column-gap: 12px;
		margin-bottom: 24px;
	}
	.info-block-title-text {
		color: #FFF;
		font-family: Manrope;
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
		text-transform: uppercase; 
	}
	.info-block-delimiter {
		width: 100%;
		height: 2px;
		background: #A2A2A2;
		margin-bottom: 20px;
	}
	.info-block-texts {
		display: flex;
		align-items: center;
		grid-column-gap: 24px;
		color: #FFF;
		font-family: Manrope;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 32px;
	}
	.info-block-text:first-child {
		width: 636px;
	}
	.info-block-text:last-child {
		width: 416px;
	}
	@media screen and (min-width: 576px) and (max-width: 1440px) {
		.info-wrap {
			padding-top: calc(180 * 100vw / 1440);
			padding-bottom: calc(180 * 100vw / 1440);
			height: calc(852 * 100vw / 1440);
		}
		.info {
			width: calc(1076 * 100vw / 1440);
			grid-row-gap: calc(64 * 100vw / 1440);
		}
		.info-block-title {
			grid-column-gap: calc(12 * 100vw / 1440);
			margin-bottom: calc(24 * 100vw / 1440);
		}
		.info-block-title-text {
			font-size: calc(32 * 100vw / 1440);
			line-height: calc(40 * 100vw / 1440);
		}
		.info-block-delimiter {
			margin-bottom: calc(20 * 100vw / 1440);
		}
		.info-block-texts {
			grid-column-gap: calc(24 * 100vw / 1440);
			font-size: calc(24 * 100vw / 1440);
			line-height: calc(32 * 100vw / 1440);
		}
		.info-block-text:first-child {
			width: calc(636 * 100vw / 1440);
		}
		.info-block-text:last-child {
			width: calc(416 * 100vw / 1440);
		}
	}
	@media screen and (max-width: 575px) {
		.info-wrap {
			padding-top: calc(96 * 100vw / 375);
			padding-bottom: calc(96 * 100vw / 375);
			height: calc(860 * 100vw / 375);
		}
		.info {
			width: calc(335 * 100vw / 375);
			grid-row-gap: calc(40 * 100vw / 375);
		}
		.info-block-title {
			grid-column-gap: calc(12 * 100vw / 375);
			margin-bottom: calc(20 * 100vw / 375);
		}
		.info-block-title-text {
			font-size: calc(24 * 100vw / 375);
			line-height: calc(32 * 100vw / 375);
		}
		.info-block-delimiter {
			margin-bottom: calc(20 * 100vw / 375);
		}
		.info-block-texts {
			flex-direction: column;
			align-items: flex-start;
			grid-row-gap: calc(16 * 100vw / 375);
			font-size: calc(18 * 100vw / 375);
			line-height: calc(24 * 100vw / 375);
		}
		.info-block-text:first-child {
			width: 100%;
		}
		.info-block-text:last-child {
			width: 100%;
		}
	}
{% endstyle %}
<div class="info-wrap">
	<div class="info">
		<div class="info-block">
			<div class="info-block-title">
				<div class="info-block-title-text">Precautions</div>				
			</div>
			<div class="info-block-delimiter"></div>
			<div class="info-block-texts">
				<div class="info-block-text">
					There is a possibility that future Tesla software updates may cause some Teslogic Pro functions to be disabled. Teslogic will release updates to our application to address this.
				</div>
				<div class="info-block-text">
					The Drift mode and Track mode functions should only be used off public roads.
				</div>
			</div>
		</div>
		<div class="info-block">
			<div class="info-block-title">
				<img class="info-block-title-icon" src="{{ 'pro_info_warning.svg' | asset_url }}">
				<div class="info-block-title-text">IMPACT ON THE MANUFACTURER'S WARRANTY</div>				
			</div>
			<div class="info-block-delimiter"></div>
			<div class="info-block-texts">
				<div class="info-block-text">
					When Teslogic Pro is installed, you may encounter a denial of warranty service for your vehicle, so before making a warranty claim, we recommend uninstalling Teslogic Pro. 
				</div>
				<div class="info-block-text">
					Teslogic is not liable for any warranty service denial or any issues arising during the warranty service of your Tesla vehicle.
				</div>
			</div>
		</div>		
	</div>	
</div>