{% style %}
	.examples-wrap {
		width: 100%;
		padding-top: 180px;
		height: 1054px; 
		background: #171717;
		box-sizing: border-box;
	}
	.examples {
		width: 1040px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		grid-row-gap: 64px;
	}
	.examples-title {
		color: #FFF;
		font-family: Manrope;
		font-size: 52px;
		font-style: normal;
		font-weight: 600;
		line-height: 64px;
	}
	.examples-variants {
		display: flex;
		flex-direction: column;
		grid-row-gap: 98px;
	}
	.examples-variants-item {
		display: flex;
		grid-column-gap: 56px;
		position: relative;
	}
	.examples-variants-item-delimiter {
		width: 100%;
		height: 2px;
		position: absolute;
		bottom: -64px;
		background: #606060; 
	}
	.examples-variants-item-car {
		width: 416px;
		display: flex;
		justify-content: space-between;
	}
	.examples-variants-item-model {
		width: 97px;
		color: #9A9A9A;
		font-family: Manrope;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 18px;
	}
	.examples-variants-item-model-mobile {
		display: none;
	}
	.examples-variants-item-model > div {
		color: #656565;
	}
	.examples-variants-item-3-long-image {
		width: 300px;
		height: 92px;
	}
	.examples-variants-item-y-long-image {
		width: 306px;
		height: 102px;
	}
	.examples-variants-item-3-standard-image {
		width: 300px;
		height: 92px;
	}
	.examples-variants-item-data {
		display: flex;
		grid-column-gap: 110px;
	}
	.examples-variants-item-data-item {
		display: flex;
		flex-direction: column;
		grid-row-gap: 8px;
	}
	.examples-variants-item-data-item-value {
		color: #FFF;
		font-family: Manrope;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}
	.examples-variants-item-data-item-texts {
		color: #9A9A9A;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 20px;
		display: flex;
		flex-direction: column;
		grid-row-gap: 4px;
	}
	@media screen and (min-width: 576px) and (max-width: 1440px) {
		.examples-wrap {
			padding-top: calc(180 * 100vw / 1440);
			height: calc(1054 * 100vw / 1440);
		}
		.examples {
			width: calc(1040 * 100vw / 1440);
			grid-row-gap: calc(64 * 100vw / 1440);
		}
		.examples-title {
			font-size: calc(52 * 100vw / 1440);
			line-height: calc(64 * 100vw / 1440);
		}
		.examples-variants {
			grid-row-gap: calc(98 * 100vw / 1440);
		}
		.examples-variants-item {
			grid-column-gap: calc(56 * 100vw / 1440);
		}
		.examples-variants-item-car {
			width: calc(416 * 100vw / 1440);
		}
		.examples-variants-item-model {
			width: calc(97 * 100vw / 1440);
			font-size: calc(12 * 100vw / 1440);
			line-height: calc(18 * 100vw / 1440);
		}
		.examples-variants-item-3-long-image {
			width: calc(300 * 100vw / 1440);
			height: calc(92 * 100vw / 1440);
		}
		.examples-variants-item-y-long-image {
			width: calc(306 * 100vw / 1440);
			height: calc(102 * 100vw / 1440);
		}
		.examples-variants-item-3-standard-image {
			width: calc(300 * 100vw / 1440);
			height: calc(92 * 100vw / 1440);
		}
		.examples-variants-item-data {
			grid-column-gap: calc(110 * 100vw / 1440);
		}
		.examples-variants-item-data-item {
			grid-row-gap: calc(8 * 100vw / 1440);
		}
		.examples-variants-item-data-item-value {
			font-size: calc(32 * 100vw / 1440);
			line-height: calc(40 * 100vw / 1440);
		}
		.examples-variants-item-data-item-texts {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
			grid-row-gap: calc(4 * 100vw / 1440);
		}
	}
	@media screen and (max-width: 575px) {
		.examples-wrap {
			padding-top: 96px;
			height: 1138px;
		}
		.examples {
			width: 335px;
			grid-row-gap: 44px;
		}
		.examples-title {
			font-size: 32px;
			font-weight: 500;
			line-height: 40px;
		}
		.examples-variants {
			grid-row-gap: 48px;
		}
		.examples-variants-item {
			flex-direction: column;
			grid-row-gap: 12px;
		}
		.examples-variants-item-delimiter {
			display: none;
		}
		.examples-variants-item-car {
			width: 100%;
		}
		.examples-variants-item-model {
			display: none;
		}
		.examples-variants-item-model-mobile {
			display: block;
			position: absolute;
			top: 0;
			lefft: 0;
			color: #9A9A9A;
			font-family: Manrope;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 20px;
		}
		.examples-variants-item-3-long-image {
			width: 100%;
			height: 102px; 
		}
		.examples-variants-item-y-long-image {
			width: 100%;
			height: 112px; 
		}
		.examples-variants-item-3-standard-image {
			width: 100%;
			height: 102px; 
		}
		.examples-variants-item-data {
			grid-column-gap: 30.5px;
		}

	}
{% endstyle %}

<div class="examples-wrap">
	<div class="examples">
		<div class="examples-title">Be the First: Teslogic Pro<br>
vs Factory Acceleration Examples</div>
		<div class="examples-variants">
			<div class="examples-variants-item">
				<div class="examples-variants-item-car">
					<div class="examples-variants-item-model">Model 3<br>Long Range</div>
					<div class="examples-variants-item-model-mobile">Model 3 LR</div>
					<img class="examples-variants-item-3-long-image" src="{{ 'pro-model-3-long.svg' | asset_url }}">
				</div>
				<div class="examples-variants-item-data">
					<div class="examples-variants-item-data-item">
						<div class="examples-variants-item-data-item-value">4.4 sec</div>
						<div class="examples-variants-item-data-item-texts">
							<div>Factory</div>
							<div>0 - 60 mp/h</div>
						</div>
					</div>
					<div class="examples-variants-item-data-item">
						<div class="examples-variants-item-data-item-value">3.9 sec</div>
						<div class="examples-variants-item-data-item-texts">
							<div>Pro Boost</div>
							<div>0 - 60 mp/h</div>
						</div>
					</div>
					<div class="examples-variants-item-data-item">
						<div class="examples-variants-item-data-item-value">3.5 sec</div>
						<div class="examples-variants-item-data-item-texts">
							<div>Pro Performance</div>
							<div>0 - 60 mp/h</div>
						</div>
					</div>
				</div>
				<div class="examples-variants-item-delimiter"></div>
			</div>
			<div class="examples-variants-item">
				<div class="examples-variants-item-car">
					<div class="examples-variants-item-model">Model Y<br>Long Range</div>
					<div class="examples-variants-item-model-mobile">Model Y LR</div>
					<img class="examples-variants-item-y-long-image" src="{{ 'pro-model-y-long.svg' | asset_url }}">
				</div>
				<div class="examples-variants-item-data">
					<div class="examples-variants-item-data-item">
						<div class="examples-variants-item-data-item-value">5.0 sec</div>
						<div class="examples-variants-item-data-item-texts">
							<div>Factory</div>
							<div>0 - 60 mp/h</div>
						</div>
					</div>
					<div class="examples-variants-item-data-item">
						<div class="examples-variants-item-data-item-value">4.4 sec</div>
						<div class="examples-variants-item-data-item-texts">
							<div>Pro Boost</div>
							<div>0 - 60 mp/h</div>
						</div>
					</div>
					<div class="examples-variants-item-data-item">
						<div class="examples-variants-item-data-item-value">3.7 sec</div>
						<div class="examples-variants-item-data-item-texts">
							<div>Pro Performance</div>
							<div>0 - 60 mp/h</div>
						</div>
					</div>
				</div>
				<div class="examples-variants-item-delimiter"></div>
			</div>
			<div class="examples-variants-item">
				<div class="examples-variants-item-car">
					<div class="examples-variants-item-model">Model 3<br>Standart Range+
						<div>980 motor, not LFP battery</div>
					</div>
					<div class="examples-variants-item-model-mobile">Model 3 SR+*</div>
					<img class="examples-variants-item-3-standard-image" src="{{ 'pro-model-3-standard.svg' | asset_url }}">
				</div>
				<div class="examples-variants-item-data">
					<div class="examples-variants-item-data-item">
						<div class="examples-variants-item-data-item-value">5.5 sec</div>
						<div class="examples-variants-item-data-item-texts">
							<div>Factory</div>
							<div>0 - 60 mp/h</div>
						</div>
					</div>
					<div class="examples-variants-item-data-item">
						<div class="examples-variants-item-data-item-value">4.9 sec</div>
						<div class="examples-variants-item-data-item-texts">
							<div>Pro Boost</div>
							<div>0 - 60 mp/h</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
