{% style %}
	.order-wrap {
		width: 100%;
		padding-top: 180px;
		padding-bottom: 180px;
		height: 1408px; 
		background: #020202;
		box-sizing: border-box;
	}
	
{% endstyle %}
<div class="order-wrap"></div>