{% style %}
	.order-wrap {
		width: 100%;
		padding-top: 180px;
		padding-bottom: 180px;
		height: 1408px; 
		background: #020202;
		box-sizing: border-box;
	}
	.order {
		background: url({{ 'pro_order_bg.png' | asset_url }});
		background-size: cover;
  		background-position: center;
	}
	
{% endstyle %}
<div class="order-wrap">
	<div class="order"></div>
</div>
