{% style %}
	.comparison-wrap {
		width: 100%;
		padding-top: 180px;
		padding-bottom: 180px;
		height: 1694px; 
		background: url({{ 'pro_comparison_bg.png' | asset_url }});
		box-sizing: border-box;
	}
	
{% endstyle %}		
<div class="comparison-wrap">
	
</div>
