{% style %}
	.comparison-wrap {
		width: 100%;
		padding-top: 180px;
		padding-bottom: 180px;
		height: 1694px; 
		background: url({{ 'pro_comparison_bg.png' | asset_url }});
		background-size: cover;
  		background-position: center;
		box-sizing: border-box;
	}
	.comparison {
		width: 1296px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		grid-row-gap: 40px;
	}
	.comparison-top {
		display: flex;
		flex-direction: column;
		grid-row-gap: 16px;
	}
	.comparison-title {
		color: #000;
		font-family: Manrope;
		font-size: 52px;
		font-style: normal;
		font-weight: 600;
		line-height: 64px;
	}
	.comparison-subtitle {
		color: #666;
		font-family: Manrope;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 32px;
	}
	.comparison-table-wrap {
		width: 100%;
		height: 886px;
		border-radius: 40px;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.32) 100%), rgba(223, 223, 223, 0.50);
		background-blend-mode: screen, normal;
		backdrop-filter: blur(6px);
	}
	.comparison-table {
		width: 100%;
		border-collapse: collapse;
	}
	.comparison-table thead th {
		width: 330px;
		height: 72px;
		color: #000;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 24px;
		text-align: center;
		border-bottom: 2px solid #E7E7E7;
		border-left: 2px solid #E7E7E7;
		box-sizing: border-box;
	}
	.comparison-table thead th:first-child {
		width: 300px;
		text-align: left;
		padding-left: 40px;
		border-left: none;
	}
	.th-performance-mobile {
		display: none;
	}
	.comparison-table tbody td {
		height: 64px;
		color: #000;
		font-family: Manrope;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px;
		text-align: center;
		border-left: 2px solid #E7E7E7;
		box-sizing: border-box;
	}
	.comparison-table tbody td:first-child {
		font-size: 16px;
		line-height: 20px;
		opacity: 0.6;
		text-align: left;
		padding-left: 40px;
		border-left: none;
	}
	.comparison-table tbody tr:first-child td {
		height: 84px;
		padding-top: 20px;
	}
	.comparison-table tbody tr:last-child td {
		height: 88px;
		padding-bottom: 24px;
	}
	.comparison-table-checkbox {
		width: 24px;
		height: 24px;
	}
	.comparison-check-wrap {
		width: 100%;
		height: 284px;
		padding-top: 64px;
		padding-left: 64px;
		border-radius: 40px;
		background: /*linear-gradient(0deg, #383838 0%, #383838 100%), */rgba(0, 0, 0, 0.60);
		background-blend-mode: color-dodge, normal;
		backdrop-filter: blur(6px);
		box-sizing: border-box;
	}
	.comparison-check {
		display: flex;
		align-items: center;
		grid-column-gap: 121px;
	}
	.comparison-check-warning {
		width: 702px;
		display: flex;
		flex-direction: column;
		grid-row-gap: 12px;
	}
	.comparison-check-warning-title {
		display: flex;
		grid-column-gap: 12px;
	}
	.comparison-check-warning-title-icon {
		width: 40px;
		height: 40px;
	}
	.comparison-check-warning-title-text {
		color: #FFF;
		font-family: Manrope;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}
	.comparison-check-warning-text {
		color: #FFF;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
		display: flex;
		flex-direction: column;
		grid-row-gap: 16px;
	}
	.comparison-check-button {
		padding: 20px 40px;
		justify-content: center;
		align-items: center;
		border-radius: 54px;
		border: 3px solid #0E54FD;
		background: linear-gradient(0deg, #383838 0%, #383838 100%), rgba(0, 0, 0, 0.40);
		background-blend-mode: color-dodge, normal;
		color: #0E54FD;
		text-align: center;
		font-family: Manrope;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
		cursor: pointer;
		text-decoration: none;
		box-sizing: border-box;
	}
	.comparison-check-button:hover {
		color: #FFF;
		background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%);
		border: none;
		padding: 23px 43px;
	}
	@media screen and (min-width: 576px) and (max-width: 1440px) {		
		.comparison-wrap {
			padding-top: calc(180 * 100vw / 1440);
			padding-bottom: calc(180 * 100vw / 1440);
			height: calc(1694 * 100vw / 1440);
		}
		.comparison {
			width: calc(1296 * 100vw / 1440);
			grid-row-gap: calc(40 * 100vw / 1440);
		}
		.comparison-top {
			grid-row-gap: calc(16 * 100vw / 1440);
		}
		.comparison-title {
			font-size: calc(52 * 100vw / 1440);
			line-height: calc(64 * 100vw / 1440);
		}
		.comparison-subtitle {
			font-size: calc(24 * 100vw / 1440);
			line-height: calc(32 * 100vw / 1440);
		}
		.comparison-table-wrap {
			height: calc(886 * 100vw / 1440);
			border-radius: calc(40 * 100vw / 1440);
		}
		.comparison-table thead th {
			width: calc(330 * 100vw / 1440);
			height: calc(72 * 100vw / 1440);
			font-size: calc(18 * 100vw / 1440);
			line-height: calc(24 * 100vw / 1440);
		}
		.comparison-table thead th:first-child {
			width: calc(300 * 100vw / 1440);
			padding-left: calc(40 * 100vw / 1440);
		}
		.comparison-table tbody td {
			height: calc(64 * 100vw / 1440);
			font-size: calc(24 * 100vw / 1440);
			line-height: calc(32 * 100vw / 1440);
		}
		.comparison-table tbody td:first-child {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
			padding-left: calc(40 * 100vw / 1440);
		}
		.comparison-table tbody tr:first-child td {
			height: calc(84 * 100vw / 1440);
			padding-top: calc(20 * 100vw / 1440);
		}
		.comparison-table tbody tr:last-child td {
			height: calc(88 * 100vw / 1440);
			padding-bottom: calc(24 * 100vw / 1440);
		}
		.comparison-table-checkbox {
			width: calc(24 * 100vw / 1440);
			height: calc(24 * 100vw / 1440);
		}
		.comparison-check-wrap {
			height: calc(284 * 100vw / 1440);
			padding-top: calc(64 * 100vw / 1440);
			padding-left: calc(64 * 100vw / 1440);
			border-radius: calc(40 * 100vw / 1440);
		}
		.comparison-check {
			grid-column-gap: calc(121 * 100vw / 1440);
		}
		.comparison-check-warning {
			width: calc(702 * 100vw / 1440);
			grid-row-gap: calc(12 * 100vw / 1440);
		}
		.comparison-check-warning-title {
			grid-column-gap: calc(12 * 100vw / 1440);
		}
		.comparison-check-warning-title-icon {
			width: calc(40 * 100vw / 1440);
			height: calc(40 * 100vw / 1440);
		}
		.comparison-check-warning-title-text {
			font-size: calc(32 * 100vw / 1440);
			line-height: calc(40 * 100vw / 1440);
		}
		.comparison-check-warning-text {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
			grid-row-gap: calc(16 * 100vw / 1440);
		}
		.comparison-check-button {
			padding: calc(20 * 100vw / 1440) calc(40 * 100vw / 1440);
			border-radius: calc(54 * 100vw / 1440);
			font-size: calc(24 * 100vw / 1440);
			line-height: calc(32 * 100vw / 1440);
		}
		.comparison-check-button:hover {
			padding: calc(23 * 100vw / 1440) calc(43 * 100vw / 1440);
		}
	}	
	@media screen and (max-width: 575px) {
		.comparison-wrap {
			padding-top: calc(92 * 100vw / 375);
			padding-bottom: calc(96 * 100vw / 375);
			height: auto;
		}
		.comparison {
			width: calc(375 * 100vw / 375);
			grid-row-gap: calc(24 * 100vw / 375);
		}
		.comparison-top {
			width: calc(335 * 100vw / 375);
			margin: 0 auto;
			grid-row-gap: calc(8 * 100vw / 375);
		}
		.comparison-title {
			font-size: calc(32 * 100vw / 375);
			font-weight: 500;
			line-height: calc(40 * 100vw / 375);
		}
		.comparison-subtitle {
			font-size: calc(16 * 100vw / 375);
			font-weight: 500;
			line-height: calc(20 * 100vw / 375);
		}
		.comparison-table-wrap {
			width: 100%;
			height: auto;
			border-radius: 0;
		}
		.comparison-table thead th {
			width: auto !important;
			height: calc(76 * 100vw / 375);
			font-size: calc(14 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
			border-left: none;
		}
		.comparison-table thead th:first-child {
			padding-left: calc(20 * 100vw / 375);
		}
		.th-performance-desktop {
			display: none;
		}
		.th-performance-mobile {
			display: table-cell;
		}
		.comparison-table thead th:nth-child(2), .comparison-table tbody td:nth-child(2) {
			width: calc(41 * 100vw / 375) !important;
			text-align: left !important;
		}
		.comparison-table thead th:nth-child(3), .comparison-table tbody td:nth-child(3) {
			width: calc(64 * 100vw / 375) !important;
			text-align: center !important;
		}
		.comparison-table thead th:nth-child(4), .comparison-table tbody td:nth-child(4) {
			width: calc(78 * 100vw / 375) !important;
			text-align: center !important;
		}
		.comparison-table tbody td {
			height: calc(60 * 100vw / 375);
			font-size: calc(14 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
			border-left: none;
		}
		.comparison-table tbody td:first-child {
			color: #666;
			font-size: calc(12 * 100vw / 375);
			line-height: calc(18 * 100vw / 375);
			opacity: 1;
			padding-left: calc(20 * 100vw / 375);
		}
		.comparison-table tbody tr:first-child td {
			height: calc(68 * 100vw / 375);
			padding-top: calc(8 * 100vw / 375);
		}
		.comparison-table tbody tr:last-child td {
			height: calc(76 * 100vw / 375);
			padding-bottom: calc(14 * 100vw / 375);
		}
		.comparison-table-checkbox {
			width: calc(18 * 100vw / 375);
			height: calc(18 * 100vw / 375);
		}
		.comparison-check-wrap {
			width: calc(335 * 100vw / 375);
			height: calc(368 * 100vw / 375);
			padding: calc(24 * 100vw / 375);
			border-radius: calc(24 * 100vw / 375);
			margin: 0 auto;
		}
		.comparison-check {
			flex-direction: column;
			align-items: flex-start;
			grid-row-gap: calc(16 * 100vw / 375);
		}
		.comparison-check-warning {
			width: calc(288 * 100vw / 375);
			grid-row-gap: calc(8 * 100vw / 375);
		}
		.comparison-check-warning-title {
			grid-column-gap: calc(8 * 100vw / 375);
		}
		.comparison-check-warning-title-icon {
			width: calc(48 * 100vw / 375);
			height: calc(48 * 100vw / 375);
		}
		.comparison-check-warning-title-text {
			font-size: calc(18 * 100vw / 375);
			line-height: calc(24 * 100vw / 375);
		}
		.comparison-check-warning-text {
			font-size: calc(16 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
		}
		.comparison-check-button {
			width: 100%;
			padding: calc(14 * 100vw / 375) calc(28 * 100vw / 375);
			border-radius: calc(54 * 100vw / 375);
			font-size: calc(16 * 100vw / 375);
			font-weight: 600;
			line-height: calc(20 * 100vw / 375);
		}
		.comparison-check-button:hover {
			padding: calc(17 * 100vw / 375) calc(31 * 100vw / 375);
		}
	}
{% endstyle %}

<div class="comparison-wrap">
	<div class="comparison">
		<div class="comparison-top">
			<div class="comparison-title">Comparison of Teslogic Features and Specs</div>
			<div class="comparison-subtitle">Each delivering increased horsepower and access to exclusive features</div>			
		</div>
		<div class="comparison-table-wrap">
			<table class="comparison-table">
				<thead>
					<tr>
						<th>Features</th>
						<th>v2</th>
						<th>Pro Boost</th>
						<th class="th-performance-desktop">Pro Performance</th>
						<th class="th-performance-mobile">Pro Perfor...</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<div class="comparison-check-wrap">
			<div class="comparison-check">
				<div class="comparison-check-warning">
					<div class="comparison-check-warning-title">
						<img class="comparison-check-warning-title-icon" src="{{ 'pro_comparison_warning.svg' | asset_url }}">
						<div class="comparison-check-warning-title-text">Pro Performance Compatibility Warning:</div>
					</div>
					<div class="comparison-check-warning-text">
						<div>Performance version is only compatible with cars with 980 motors - Model 3 Dual Motor (2017-2019.4); Model Y 7-seater; Model Y Dual Motor (Berlin Gigafactory, VIN: XP7Y… 2023.2+).</div>
						<div>If you're not sure which engine is in your car, please send us the VIN using this form, and we'll let you know if it's possible to install the Performance version on your vehicle.</div>
					</div>					
				</div>
				<button type="button" class="comparison-check-button">Check Compatibility</button>			
			</div>			
		</div>		
	</div>
</div>

<div class="comparison-dialog-shadow pro-shadow">
  <div class="comparison-check-dialog">
  	
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		const checkBoxActive = '{{ 'pro_comparison_checkbox_active.svg' | asset_url }}'
		const checkBoxInactive = '{{ 'pro_comparison_checkbox_inactive.svg' | asset_url }}'

		const comparison = [
		  {"feature": "Mobile App Teslogic Dash<br>+ Magnet Phone Holder", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Drift Mode", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Traffic Fines Avoidance", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Chill Kickdown Mode", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Winter Package", "v2": 1, "boost": 1, "performance": 1},
		  {"feature": "Activation Amber<br>Taillights Retrofit", "v2": 0, "boost": 1, "performance": 1},
		  {"feature": "Activation Rear<br>Seat Heating", "v2": 0, "boost": 1, "performance": 1},
		  {"feature": "Activation Steering<br>Wheel Heating", "v2": 0, "boost": 1, "performance": 1},
		  {"feature": "Activation Adaptive<br>Matrix Headlights", "v2": 0, "boost": 1, "performance": 1},
		  {"feature": "Adjustable Track Mode", "v2": 0, "boost": 0, "performance": 1},
		  {"feature": "Increases the power of the<br>cars with installed Tesla<br>Acceleration Boost upgrade", "v2": 0, "boost": 0, "performance": 1},
		  {"feature": "Power Increased", "v2": 0, "boost": '+50 HP', "performance": '+150 HP'},
		]

		for (const item of comparison) {
			let row = '<tr>'
			row += `<td>${item.feature}</td>`
			row += `<td><img class="comparison-table-checkbox" src="${item.v2 ? checkBoxActive : checkBoxInactive}"></td>`
			let boostValue = (item.boost == 1 || item.boost == 0) ? `<img class="comparison-table-checkbox" src="${item.boost ? checkBoxActive : checkBoxInactive}">` : item.boost
			row += `<td>${boostValue}</td>`
			let performanceValue = (item.performance == 1 || item.performance == 0) ? `<img class="comparison-table-checkbox" src="${item.performance ? checkBoxActive : checkBoxInactive}">` : item.performance
			row += `<td>${performanceValue}</td>`
			row += '</tr>'
			$('.comparison-table tbody').append(row)
		}

		$('.comparison-check-button').on('click', function () {
			$('.comparison-dialog-shadow').css('display', 'flex')
		})
	})
</script>
