<style type="text/css">
	.safety_first {
		width: 1110px;
		height: 232px;
		margin: 0 auto 120px;
	}
	.safety_first-title {
		font-family: 'SF Pro';
		font-style: normal;
		font-weight: 700;
		font-size: 52px;
		line-height: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
		letter-spacing: 0.02em;
		color: #000000;
		margin-bottom: 29px;
	}
	.safety_first-row {
		display: flex;
	}
	.safety_first-block {
		width: 295.06px;
	}
	.safety_first-block-number {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 37px;
		height: 37px;
		margin-bottom: 24px;
		border: 1px solid #0F0F0F;
		border-radius: 100%;
		box-sizing: border-box;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: #000000;
	}
	.safety_first-block-text {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
	}
	.safety_first-line {
		width: 0;
		height: 125px;
		border: 2px solid #3374FB;
		margin-left: 45px;
		margin-right: 67px;
	}
	@media screen and (min-width: 1000px) and (max-width: 1366px) {  
		.safety_first {
			width: calc(1110 * 100vw / 1366);
			height: calc(232 * 100vw / 1366);
			margin: 0 auto calc(120 * 100vw / 1366);
		}
		.safety_first-title {
			font-size: calc(52 * 100vw / 1366);
			line-height: calc(64 * 100vw / 1366);
			margin-bottom: calc(29 * 100vw / 1366);
		}
		.safety_first-block {
			width: calc(295.06 * 100vw / 1366);
		}
		.safety_first-block-number {
			width: calc(37 * 100vw / 1366);
			height: calc(37 * 100vw / 1366);
			margin-bottom: calc(24 * 100vw / 1366);
			font-size: calc(24 * 100vw / 1366);
			line-height: calc(32 * 100vw / 1366);
		}
		.safety_first-block-text {
			font-size: calc(14 * 100vw / 1366);
			line-height: calc(17 * 100vw / 1366);
		}
		.safety_first-line {
			height: calc(125 * 100vw / 1366);
			border: calc(2 * 100vw / 1366) solid #3374FB;
			margin-left: calc(45 * 100vw / 1366);
			margin-right: calc(67 * 100vw / 1366);
		}
	}
</style>

<div class="safety_first">
	<div class="safety_first-title">Safety first</div>
	<div class="safety_first-row">
		<div class="safety_first-block">
			<div class="safety_first-block-number">1</div>
			<div class="safety_first-block-text">
				You don’t have to switch eyes<br>at central dashboard —<br>your phone  is just in front of you
			</div>						
		</div>
		<div class="safety_first-line"></div>
		<div class="safety_first-block">
			<div class="safety_first-block-number">2</div>
			<div class="safety_first-block-text">
				Blind zone indicators will gently<br>warn you about invisible objects
			</div>						
		</div>
		<div class="safety_first-line"></div>
		<div class="safety_first-block">
			<div class="safety_first-block-number">3</div>
			<div class="safety_first-block-text">
				You don’t have to switch eyes<br>at central dashboard —<br>your phone  is just in front of you
			</div>						
		</div>	
	</div>		
</div>