<div></div>

<script type="text/javascript">
$(document).ready(function() {
	$('.screenmate-loader').hide()
	$('.screenmate-shadow').css('display', 'flex')
	$('.screenmate-success').css('display', 'flex')
})
</script>
