<style type="text/css">
	.see_all {
		display: flex;
		justify-content: center;
		margin-bottom: 112px;
	}
	.see_all-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 447px;
		height: 88px;
		background: #BAE4B2;
		border: 1px solid #BAE4B2;
		border-radius: 100px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 52px;
		color: #FFFFFF;
		cursor: pointer;
	}
</style>

<div class="see_all">
	<button class="see_all-button">See all products</button>				
</div>
