<style type="text/css">
	.shop_now {
		display: flex;
		justify-content: center;
		margin-bottom: 130px;
	}
	.shop_now-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 302px;
		height: 78px;
		background: #3374FB;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		border: 1px solid #3374FB;
		border-radius: 100px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 52px;
		color: #FFFFFF;
		cursor: pointer;
	}
</style>

<div class="shop_now">
	<button class="shop_now-button">Shop now</button>
</div>