<link rel="stylesheet" href="{{ 'significant.css' | asset_url }}" media="print" onload="this.media='all'">

{% style %}
	
{% endstyle %}

<div class="significant" id="significant">
  <div class="significant__title">Significant Features</div>
  <div class="significant__features">
    {% for article in blog.articles %}
  		<div class="significant__features-item">{{ article.title }}</div>
  	{% endfor %}
  </div>
</div>