<link rel="stylesheet" href="{{ 'significant.css' | asset_url }}" media="print" onload="this.media='all'">

{% style %}
	
{% endstyle %}

<div class="significant" id="significant">
  <div class="significant__title">Significant Features</div>
	
</div>