<link rel="stylesheet" href="{{ 'significant.css' | asset_url }}" media="print" onload="this.media='all'">

{% style %}
	
{% endstyle %}

<div class="significant" id="significant">
  <div class="block_title significant__title">Significant Features</div>
  <div class="significant__features">
    {% assign articles = blogs['significant-features'].articles | sort: "id" %}
    {% for article in articles %}
  		<div class="significant__features-item">
  			<div class="significant__features-item-image">
  				<img src="{{ article.image | img_url: '424x424' }}">
  			</div>
  			<div class="significant__features-item-info">
	  			<div class="significant__features-item-title">{{ article.title }}</div>
	  			<div class="significant__features-item-content">{{ article.content }}</div>
	  		</div>
  		</div>
  	{% endfor %}
  </div>
</div>