<style type="text/css">
	.store_block {
		width: 100%;
		height: 677px;
		margin: 0 auto;
		padding-top: 70px;
	}
	.store_block-title {
		font-family: 'SF Pro';
		font-style: normal;
		font-weight: 700;
		font-size: 52px;
		line-height: 64px;
		letter-spacing: 0.02em;
		color: #000000;
		margin-left: 128px;
		margin-bottom: 65px;
	}
	.store_block-product {
		display: flex;
		margin-left: 128px;
		margin-bottom: 170px;
	}
	.store_block-product-gallery {
		width: 545px;
		height: 378px;
		position: relative;
		margin-right: 114px;
	}
	.store_block-product-gallery-image {
		width: 100%;
		height: 100%;
		background: rgba(69, 79, 99, 0.1);
	}
	.store_block-product-gallery-nav {
		position: absolute;
		top: 165px;
		width: 60px;
		height: 48px;
		cursor: pointer;
	}
	.store_block-product-gallery-nav img {
		width: 100%;
		height: 100%;
	}
	.store_block-product-gallery-nav-prev {
		left: 0;
	}
	.store_block-product-gallery-nav-next {
		right: 0;
	}
	.store_block-product-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.store_block-product-title {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 500;
		font-size: 44px;
		line-height: 52px;
		color: #000000;
		margin-bottom: 24px;
	}
	.store_block-product-price {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 500;
		font-size: 28px;
		line-height: 36px;
		color: #000000;
		margin-bottom: 24px;
	}
	.store_block-product-subtitle {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		max-width: 450px;
	}
	.store_block-product-amount {
		width: 183px;
		height: 56px;
		background: #FFFFFF;
		border-radius: 64px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.store_block-product-amount-button {
		width: 56px;
		height: 56px;
		background: #FFFFFF;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		border: 1px solid #FFFFFF;
		border-radius: 100px;
		position: relative;
		cursor: pointer;
	}
	.store_block-product-amount-button-minus > div,
	.store_block-product-amount-button-plus > div {
		width: 20px; 
		height: 4px; 
		background: #0F0F0F; 
		position: absolute; 
		left: 18px; 
		top: 26px;
	}
	.store_block-product-amount-button-plus > div:last-child {
		transform: rotate(-90deg); 
		transform-origin: center;
	}
	.store_block-product-amount-value {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 700;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		color: #0F0F0F;
	}
	.store_block-product-add {
		margin-top: 44px;
		width: 183px;
		height: 56px;
		background: #3374FB;
		border: 1px solid #3374FB;
		border-radius: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: #FFFFFF;
		cursor: pointer;
	}
	@media screen and (min-width: 1000px) and (max-width: 1366px) { 
		.store_block {
			height: calc(677 * 100vw / 1366px);
			padding-top: calc(70 * 100vw / 1366px);
		}
		.store_block-title {
			font-size: calc(52 * 100vw / 1366px);
			line-height: calc(64 * 100vw / 1366px);
			margin-left: calc(128 * 100vw / 1366px);
			margin-bottom: calc(65 * 100vw / 1366px);
		}
		.store_block-product {
			margin-left: calc(128 * 100vw / 1366px);
			margin-bottom: calc(170 * 100vw / 1366px);
		}
		.store_block-product-gallery {
			width: calc(545 * 100vw / 1366px);
			height: calc(378 * 100vw / 1366px);
			margin-right: calc(114 * 100vw / 1366px);
		}
		.store_block-product-gallery-nav {
			top: calc(165 * 100vw / 1366px);
			width: calc(60 * 100vw / 1366px);
			height: calc(48 * 100vw / 1366px);
		}
		.store_block-product-title {
			font-size: calc(44 * 100vw / 1366px);
			line-height: calc(52 * 100vw / 1366px);
			margin-bottom: calc(24 * 100vw / 1366px);
		}
		.store_block-product-price {
			font-size: calc(28 * 100vw / 1366px);
			line-height: calc(36 * 100vw / 1366px);
			margin-bottom: calc(24 * 100vw / 1366px);
		}
		.store_block-product-subtitle {
			font-size: calc(14 * 100vw / 1366px);
			line-height: calc(17 * 100vw / 1366px);
			max-width: calc(450 * 100vw / 1366px);
		}
		.store_block-product-amount {
			width: calc(183 * 100vw / 1366px);
			height: calc(56 * 100vw / 1366px);
			border-radius: calc(64 * 100vw / 1366px);
		}
		.store_block-product-amount-button {
			width: calc(56 * 100vw / 1366px);
			height: calc(56 * 100vw / 1366px);
			box-shadow: 0px calc(4 * 100vw / 1366px) calc(16 * 100vw / 1366px) rgba(0, 0, 0, 0.1);
			border: 1px solid #FFFFFF;
			border-radius: calc(100 * 100vw / 1366px);
		}
		.store_block-product-amount-button-minus > div,
		.store_block-product-amount-button-plus > div {
			width: calc(20px * 100vw / 1366px); 
			height: calc(4px * 100vw / 1366px); 
			background: #0F0F0F; 
			position: absolute; 
			left: calc(18px * 100vw / 1366px); 
			top: calc(26px * 100vw / 1366px);
		}
		.store_block-product-amount-value {
			font-size: calc(22 * 100vw / 1366px);
			line-height: calc(30 * 100vw / 1366px);
		}
		.store_block-product-add {
			margin-top: calc(44 * 100vw / 1366px);
			width: calc(183 * 100vw / 1366px);
			height: calc(56 * 100vw / 1366px);
			border: 1px solid #3374FB;
			border-radius: calc(100 * 100vw / 1366px);
			font-size: calc(24 * 100vw / 1366px);
			line-height: calc(32 * 100vw / 1366px);
		} 
	} 
</style>

<div class="store_block">
	<div class="store_block-title">Store</div>				
	<div class="store_block-product">
		<div class="store_block-product-gallery">
			<div class="store_block-product-gallery-image"></div>
			<div class="store_block-product-gallery-nav store_block-product-gallery-nav-prev">
				<img src="{{ 'gallery_prev.png' | asset_url }}">
			</div>
			<div class="store_block-product-gallery-nav store_block-product-gallery-nav-next">
				<img src="{{ 'gallery_next.png' | asset_url }}">
			</div>
		</div>
		<div class="store_block-product-info">
			<div>
				<div class="store_block-product-title">Teslogic transmitter</div>
				<div class="store_block-product-price">$99.99</div>
				<div class="store_block-product-subtitle">
					The pack contains Teslogic transmitter, phone holder and iOS / Android Teslogic app
				</div>
			</div>
			<div>
				<div class="store_block-product-amount">
					<div class="store_block-product-amount-button store_block-product-amount-button-minus">
						<div></div>
					</div>
					<span class="store_block-product-amount-value" id="amount">1</span>
					<div class="store_block-product-amount-button store_block-product-amount-button-plus">
						<div></div>
						<div></div>
					</div>
				</div>
				<button class="store_block-product-add" id="add">Add to cart</button>
			</div>
		</div>
	</div>				
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var amount = Number($('#amount').text())
		$('.store_block-product-amount-button-minus').on('click', function() {
			if (amount <= 1) return
			amount -= 1
			$('#amount').text(amount)
		})
		$('.store_block-product-amount-button-plus').on('click', function() {
			amount += 1
			$('#amount').text(amount)
		})
		$('.store_block-product-add').on('click', function() {
			console.log('add')
		})
	})
</script>
