<link rel="stylesheet" href="{{ 'where_to_install.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign articles = blogs['where-to-install'].articles | sort: "id" %}

<div class="where">
	<div class="where__title">Where to install</div>
	<div class="where__body">
	    {% for article in articles %}
	    	{% assign blog_content = article.content | append: "<p></p>" %}
			{% assign blog_lines = article.content | split: "</p>" %}
			<div class="where__item">
				<div class="where__item-left">
					<div class="where__item-title">{{ article.title }}</div>
					<div class="where__item-data">
					  {% for line in blog_lines %}
					    {% assign line = line | remove:"<p>" | strip %}
					    {% if line != "" %}
					      {% assign parts = line | split:":" %}
					      <div class="where__item-data-item">
					      	<div class="where__item-data-item-key">{{ parts[0] | remove: "<p>" | strip }}:</div>
					      	<div class="where__item-data-item-value">{{ parts[1] | remove: "<p>" | strip }}</div>
					      </div>
					    {% endif %}
					  {% endfor %}
					</div>
					
				</div>
				<div class="where__item-right"></div>
				
			</div>
	  	{% endfor %}
	</div>
</div>
