<link rel="stylesheet" href="{{ 'where_to_install.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign articles = blogs['where-to-install'].articles | sort: "id" %}

{{ articles | json }}

<div class="where">
	<div class="where__title">Where to install</div>
	<div class="where__body">
	    {% for article in articles %}
	    	{% assign blog_content = article.content | append: "<p></p>" %}
			{% assign blog_lines = article.content | split:"</p>" %}
			<ul>
			  {% for line in blog_lines %}
			    {% assign line = line | remove:"<p>" | strip %}
			    {% if line != "" %}
			      {% assign parts = line | split:":" %}
			      <li><strong>{{ parts[0] | strip }}:</strong> {{ parts[1] | strip }}</li>
			    {% endif %}
			  {% endfor %}
			</ul>
	  	{% endfor %}
	</div>
</div>
