<link rel="stylesheet" href="{{ 'where_to_install.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="where">
	<div class="where__title">Where to install</div>
	<div class="where__body">
	</div>
</div>
