@media screen and (min-width: 1000px) and (max-width: 1440px) {
	.box_block-wrap {
		width: calc(1076 * 100vw / 1440);
		padding-top: calc(180 * 100vw / 1440);
		padding-bottom: calc(180 * 100vw / 1440);
	}
	.box_block-top {
		height: calc(166 * 100vw / 1440);
		margin-bottom: calc(48 * 100vw / 1440);
	}
	.box_block-info-title {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.box_block-info-description {
		width: calc(691 * 100vw / 1440);
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.box_block-image {
		width: calc(306 * 100vw / 1440);
		height: calc(247 * 100vw / 1440);
	}
	.box_block-items {
		grid-column-gap: calc(40 * 100vw / 1440);
		margin-bottom: calc(60 * 100vw / 1440);
	}
	.box_block-item {
		width: calc(170 * 100vw / 1440);
		height: calc(210 * 100vw / 1440);
		grid-row-gap: calc(20 * 100vw / 1440);
	}
	.box_block-item-big {
		width: calc(234 * 100vw / 1440);
		height: calc(282 * 100vw / 1440);
		grid-row-gap: calc(16 * 100vw / 1440);
	}
	.box_block-item-top {
		width: calc(170 * 100vw / 1440);
		height: calc(170 * 100vw / 1440);
	}
	.box_block-item-big .box_block-item-top {
		width: calc(234 * 100vw / 1440);
		height: calc(234 * 100vw / 1440);
	}
	.box_block-item-big .box_block-item-image {
		width: calc(166 * 100vw / 1440);
		height: calc(143 * 100vw / 1440);
		top: calc(40.5 * 100vw / 1440);
		left: calc(32 * 100vw / 1440);
	}
	.box_block-item-name {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.box_block-item-big .box_block-item-name {
		font-size: calc(20 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.box_block-charger {
		grid-column-gap: calc(85 * 100vw / 1440);
		width: calc(1117 * 100vw / 1440);
	}
	.box_block-charger-images {
		width: calc(355 * 100vw / 1440);
		height: calc(355 * 100vw / 1440);
	}
	.box_block-charger-images-image {
		width: calc(226 * 100vw / 1440);
		height: calc(287 * 100vw / 1440);
		left: calc(66 * 100vw / 1440);
	}
	.box_block-charger-images-photo {
		width: calc(120 * 100vw / 1440);
		height: calc(120 * 100vw / 1440);
		top: calc(-1 * 22 * 100vw / 1440);
		right: calc(-1 * 11 * 100vw / 1440);
	}
	.box_block-charger-info-title {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.box_block-charger-info-description {
		width: calc(660 * 100vw / 1440);
		margin-top: calc(6 * 100vw / 1440);
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
	.box_block-charger-items {
		grid-row-gap: calc(31 * 100vw / 1440);
		margin-top: calc(32 * 100vw / 1440);
	}
	.box_block-charger-item {
		grid-column-gap: calc(24 * 100vw / 1440);
	}
	.box_block-charger-item-image {
		width: calc(86 * 100vw / 1440);
		height: calc(86 * 100vw / 1440);
	}
	.box_block-charger-item-image-image-1 {
		width: calc(69 * 100vw / 1440);
		height: calc(67 * 100vw / 1440);
		top: calc(9 * 100vw / 1440);
		left: calc(12 * 100vw / 1440);
	}
	.box_block-charger-item-image-image-2 {
		width: calc(61 * 100vw / 1440);
		height: calc(53 * 100vw / 1440);
		top: calc(17 * 100vw / 1440);
		left: calc(12 * 100vw / 1440);
	}
	.box_block-charger-item-description {
		width: calc(345 * 100vw / 1440);
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
}

@media screen and (max-width: 999px) {
	.box_block-wrap {
		width: 335px;
		margin: 0 auto;
		padding-top: 96px;
		padding-bottom: 96px;
	}
	.box_block-top {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: auto;
		margin-bottom: 32px;
	}
	.box_block-info-title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.box_block-info-description {
		display: none;
	}
	.box_block-info-description-mobile {
		width: 100%;
		display: flex;
		flex-direction: column;
		grid-row-gap: 16px;
		color: #4D4D4D;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; 
	}
	.box_block-image {
		display: none;
	}
	.box_block-items {
		flex-wrap: wrap;
		justify-content: center;
		grid-column-gap: 24px;
		margin-bottom: 52px;
	}
	.box_block-item {
		width: 148px;
		height: 188px;
	}
	.box_block-item-big {
		width: 234px;
		height: 282px;
	}
	.box_block-item-top {
		width: 148px;
		height: 148px;
	}
	.box_block-item-big .box_block-item-top {
		width: 234px;
		height: 234px;
	}
	.box_block-charger {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
	}
	.box_block-charger-info-title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.box_block-charger-info-description {
		display: none;
	}
	.box_block-charger-info-description-mobile {
		display: flex;
		flex-direction: column;
		grid-row-gap: 12px;
		color: #4D4D4D;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}
	.box_block-charger-images {
		display: none;
	}
	.box_block-charger-images-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column-gap: 23px;
		margin: 32px auto;
	}
	.box_block-charger-images-mobile-item {
		width: 148px;
		height: 148px;
		position: relative;
	}
	.box_block-charger-images-mobile-item > img {
		position: absolute;
	}
	.box_block-charger-images-mobile-image {
		width: 93.854px;
		height: 119.122px;
		top: 27.98px;
		left: 27.98px;
	}
	.box_block-charger-images-mobile-ellipse, 
	.box_block-charger-images-mobile-photo {
		width: 100%;
		top: 0;
		left: 0;
	}
	.box_block-charger-items {
		flex-direction: row;
		grid-column-gap: 8px;
		margin-top: 0;
	}
	.box_block-charger-item {
		width: 164px;
		flex-direction: column;
		align-items: center;
		grid-row-gap: 12px;
	}
	.box_block-charger-item-description {
		width: 100%;
		text-align: center;
		font-size: 12px;
		line-height: 18px;
	}
}
