@media screen and (min-width: 576px) and (max-width: 1440px) {
	.box_block-wrap {
		width: calc(1076 * 100vw / 1440);
		padding-top: calc(180 * 100vw / 1440);
		padding-bottom: calc(180 * 100vw / 1440);
	}
	.box_block-top {
		height: calc(166 * 100vw / 1440);
		margin-bottom: calc(48 * 100vw / 1440);
	}
	.box_block-info-title {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.box_block-info-description {
		width: calc(691 * 100vw / 1440);
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.box_block-image {
		width: calc(306 * 100vw / 1440);
		height: calc(247 * 100vw / 1440);
	}
	.box_block-items {
		grid-column-gap: calc(40 * 100vw / 1440);
		margin-bottom: calc(60 * 100vw / 1440);
	}
	.box_block-item {
		width: calc(170 * 100vw / 1440);
		height: calc(210 * 100vw / 1440);
		grid-row-gap: calc(20 * 100vw / 1440);
	}
	.box_block-item-big {
		width: calc(234 * 100vw / 1440);
		height: calc(282 * 100vw / 1440);
		grid-row-gap: calc(16 * 100vw / 1440);
	}
	.box_block-item-top {
		width: calc(170 * 100vw / 1440);
		height: calc(170 * 100vw / 1440);
	}
	.box_block-item-big .box_block-item-top {
		width: calc(234 * 100vw / 1440);
		height: calc(234 * 100vw / 1440);
	}
	.box_block-item-big .box_block-item-image {
		width: calc(166 * 100vw / 1440);
		height: calc(143 * 100vw / 1440);
		top: calc(40.5 * 100vw / 1440);
		left: calc(32 * 100vw / 1440);
	}
	.box_block-item-name {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.box_block-item-big .box_block-item-name {
		font-size: calc(20 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.box_block-charger {
		grid-column-gap: calc(85 * 100vw / 1440);
		width: calc(1117 * 100vw / 1440);
	}
	.box_block-charger-images {
		width: calc(355 * 100vw / 1440);
		height: calc(355 * 100vw / 1440);
	}
	.box_block-charger-images-image {
		width: calc(226 * 100vw / 1440);
		height: calc(287 * 100vw / 1440);
		left: calc(66 * 100vw / 1440);
	}
	.box_block-charger-images-photo {
		width: calc(120 * 100vw / 1440);
		height: calc(120 * 100vw / 1440);
		top: calc(-1 * 22 * 100vw / 1440);
		right: calc(-1 * 11 * 100vw / 1440);
	}
	.box_block-charger-info-title {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.box_block-charger-info-description {
		width: calc(660 * 100vw / 1440);
		margin-top: calc(6 * 100vw / 1440);
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
	.box_block-charger-items {
		grid-row-gap: calc(31 * 100vw / 1440);
		margin-top: calc(32 * 100vw / 1440);
	}
	.box_block-charger-item {
		grid-column-gap: calc(24 * 100vw / 1440);
	}
	.box_block-charger-item-image {
		width: calc(86 * 100vw / 1440);
		height: calc(86 * 100vw / 1440);
	}
	.box_block-charger-item-image-image-1 {
		width: calc(69 * 100vw / 1440);
		height: calc(67 * 100vw / 1440);
		top: calc(9 * 100vw / 1440);
		left: calc(12 * 100vw / 1440);
	}
	.box_block-charger-item-image-image-2 {
		width: calc(61 * 100vw / 1440);
		height: calc(53 * 100vw / 1440);
		top: calc(17 * 100vw / 1440);
		left: calc(12 * 100vw / 1440);
	}
	.box_block-charger-item-description {
		width: calc(345 * 100vw / 1440);
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) {
	.box_block-wrap {
		width: calc(335 * 100vw / 375);
		margin: 0 auto;
		padding-top: calc(96 * 100vw / 375);
		padding-bottom: calc(96 * 100vw / 375);
	}
	.box_block-top {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: auto;
		margin-bottom: calc(32 * 100vw / 375);
	}
	.box_block-info-title {
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
		margin-bottom: calc(20 * 100vw / 375);
	}
	.box_block-info-description {
		display: none;
	}
	.box_block-info-description-mobile {
		width: 100%;
		display: flex;
		flex-direction: column;
		grid-row-gap: calc(16 * 100vw / 375);
		color: #4D4D4D;
		font-family: Manrope;
		font-size: calc(16 * 100vw / 375);
		font-style: normal;
		font-weight: 400;
		line-height: calc(20 * 100vw / 375); 
	}
	.box_block-image {
		display: none;
	}
	.box_block-items {
		flex-wrap: wrap;
		justify-content: center;
		grid-column-gap: calc(24 * 100vw / 375);
		grid-row-gap: calc(32 * 100vw / 375);
		margin-bottom: calc(52 * 100vw / 375);
	}
	.box_block-item {
		width: calc(148 * 100vw / 375);
		height: calc(188 * 100vw / 375);
	}
	.box_block-item-big {
		width: calc(234 * 100vw / 375);
		height: calc(282 * 100vw / 375);
	}
	.box_block-item-top {
		width: calc(148 * 100vw / 375);
		height: calc(148 * 100vw / 375);
	}
	.box_block-item-big .box_block-item-top {
		width: calc(234 * 100vw / 375);
		height: calc(234 * 100vw / 375);
	}
	.box_block-item-big .box_block-item-image {
		width: calc(166 * 100vw / 375);
		height: calc(143 * 100vw / 375);
		top: calc(40.5 * 100vw / 375);
		left: calc(32 * 100vw / 375);
	}
	.box_block-charger {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
	}
	.box_block-charger-info-title {
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
		margin-bottom: calc(20 * 100vw / 375);
	}
	.box_block-charger-info-description {
		display: none;
	}
	.box_block-charger-info-description-mobile {
		display: flex;
		flex-direction: column;
		grid-row-gap: calc(12 * 100vw / 375);
		color: #4D4D4D;
		font-family: Manrope;
		font-size: calc(16 * 100vw / 375);
		font-style: normal;
		font-weight: 400;
		line-height: calc(20 * 100vw / 375);
	}
	.box_block-charger-images {
		display: none;
	}
	.box_block-charger-images-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column-gap: calc(23 * 100vw / 375);
		margin: calc(32 * 100vw / 375) auto;
	}
	.box_block-charger-images-mobile-item {
		width: calc(148 * 100vw / 375);
		height: calc(148 * 100vw / 375);
		position: relative;
	}
	.box_block-charger-images-mobile-item > img {
		position: absolute;
	}
	.box_block-charger-images-mobile-image {
		width: calc(93.854 * 100vw / 375);
		height: calc(119.122 * 100vw / 375);
		top: calc(27.98 * 100vw / 375);
		left: calc(27.98 * 100vw / 375);
	}
	.box_block-charger-images-mobile-ellipse, 
	.box_block-charger-images-mobile-photo {
		width: 100%;
		top: 0;
		left: 0;
	}
	.box_block-charger-items {
		flex-direction: row;
		grid-column-gap: calc(8 * 100vw / 375);
		margin-top: 0;
	}
	.box_block-charger-item {
		width: calc(164 * 100vw / 375);
		flex-direction: column;
		align-items: center;
		grid-row-gap: calc(12 * 100vw / 375);
	}
	.box_block-charger-item-image {
		width: calc(60 * 100vw / 375);
		height: calc(60 * 100vw / 375);
	}
	.box_block-charger-item-image-image {
		display: none;
	}
	.box_block-charger-item-image-image-mobile {
		display: block;
		width: 100%;
		position: absolute;
		z-index: 2;
	}
	.box_block-charger-item-description {
		width: 100%;
		text-align: center;
		font-size: calc(12 * 100vw / 375);
		line-height: calc(18 * 100vw / 375);
	}
}
