#shopify-pc__banner {
    display: flex;
    width: 526px;
    padding: 22px 24px 24px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
}