@media screen and (min-width: 576px) and (max-width: 1440px) {
    #shopify-pc__banner {
        width: calc(526 * 100vw / 1440);
        padding: calc(22 * 100vw / 1440) calc(24 * 100vw / 1440) calc(24 * 100vw / 1440);
        border-radius: calc(24 * 100vw / 1440);
        left: calc(50% - calc(526 * 100vw / 1440) / 2);
        bottom: calc(32 * 100vw / 1440);
    }
    .shopify-pc__banner__wrapper {
        gap: calc(20 * 100vw / 1440);
    }
    .shopify-pc__banner__body h2 {
        font-size: calc(18 * 100vw / 1440) !important;
        line-height: calc(24 * 100vw / 1440) !important; /* 133.333% */
        margin-bottom: calc(8 * 100vw / 1440) !important;
    }
    .shopify-pc__banner__body p, 
    .shopify-pc__prefs__scrollable p {
        font-size: calc(13 * 100vw / 1440) !important;
        line-height: calc(20 * 100vw / 1440) !important; /* 142.857% */
    }
    .shopify-pc__banner__btns {
        gap: calc(12 * 100vw / 1440);
    }
    .shopify-pc__banner__btns button, 
    .shopify-pc__prefs__header-actions button {
        font-size: calc(14 * 100vw / 1440) !important;
        line-height: calc(20 * 100vw / 1440) !important; /* 142.857% */
        padding: calc(12 * 100vw / 1440) 0 !important;
    }
    .shopify-pc__banner__btns button:not(:first-child), 
    .shopify-pc__prefs__header-actions button {
        border-radius: calc(33 * 100vw / 1440);
    }

    #shopify-pc__prefs__dialog {
        width: calc(991 * 100vw / 1440);
        height: calc(468 * 100vw / 1440);
        border-radius: calc(24 * 100vw / 1440) !important;
        top: calc(100vh - calc((468 + 171) * 100vw / 1440));
        left: calc(50% - calc(991 * 100vw / 1440) / 2);
    }
    #shopify-pc__prefs__dialog header {
        padding: calc(20 * 100vw / 1440) calc(24 * 100vw / 1440) !important;
    }
    #shopify-pc__prefs__header-title {
        font-size: calc(18 * 100vw / 1440) !important;
        line-height: calc(24 * 100vw / 1440) !important; /* 133.333% */
    }
    .shopify-pc__prefs__header-actions {
        gap: calc(12 * 100vw / 1440) !important;
        margin-right: calc(56 * 100vw / 1440) !important;
    }
    .shopify-pc__prefs__header-actions button {
        width: calc(182 * 100vw / 1440);
    }
    #shopify-pc__prefs__header-close {
        top: calc(20 * 100vw / 1440);
        right: calc(24 * 100vw / 1440);
        width: calc(44 * 100vw / 1440);
        height: calc(44 * 100vw / 1440);
    }
    #shopify-pc__prefs__header-close svg {
        width: calc(16 * 100vw / 1440);
        height: calc(16 * 100vw / 1440);
    }
    .shopify-pc__prefs__scrollable {
        padding: calc(22 * 100vw / 1440) calc(24 * 100vw / 1440) calc(24 * 100vw / 1440) !important;
    }
    .shopify-pc__prefs__intro-main h3, 
    .shopify-pc__prefs__options label {
        font-size: calc(16 * 100vw / 1440) !important;
        line-height: calc(20 * 100vw / 1440) !important; /* 125% */
    }
    .shopify-pc__prefs__intro-main {
        gap: calc(8 * 100vw / 1440) !important;
    }
    .shopify-pc__prefs__options {
        gap: calc(20 * 100vw / 1440) !important;
        margin-top: calc(18 * 100vw / 1440) !important;
        padding: calc(20 * 100vw / 1440) 0 0 !important;
    }
    .shopify-pc__prefs__options > div label {
        gap: calc(12 * 100vw / 1440) !important;
        margin-bottom: calc(8 * 100vw / 1440) !important;
    }
    .shopify-pc__prefs__options > div span[aria-hidden="true"] {
        width: calc(20 * 100vw / 1440) !important;
        height: calc(20 * 100vw / 1440) !important;
        border-radius: calc(4 * 100vw / 1440) !important;
    }
    .shopify-pc__prefs__options > div span[aria-hidden="true"] > svg {
        border-radius: calc(4 * 100vw / 1440) !important;
    }
    .shopify-pc__prefs__options > div p {
        padding-left: calc(32 * 100vw / 1440) !important;
    }
}

@media screen and (max-width: 750px) {
    .shopify-pc__prefs__header-actions {
        flex-direction: row !important;
    }
}

@media screen and (max-width: 575px) {
    #shopify-pc__banner {
        width: calc(335 * 100vw / 375);
        padding: calc(22 * 100vw / 375) calc(24 * 100vw / 375) calc(24 * 100vw / 375);
        border-radius: calc(20 * 100vw / 375);
        left: calc(50% - calc(335 * 100vw / 375) / 2);
        bottom: calc(20 * 100vw / 375);
    }
    .shopify-pc__banner__wrapper {
        gap: calc(20 * 100vw / 375);
    }
    .shopify-pc__banner__body h2 {
        font-size: calc(18 * 100vw / 375) !important;
        line-height: calc(24 * 100vw / 375) !important; /* 133.333% */
        margin-bottom: calc(8 * 100vw / 375) !important;
    }
    .shopify-pc__banner__body p, 
    .shopify-pc__prefs__scrollable p {
        font-size: calc(14 * 100vw / 375) !important;
        line-height: calc(20 * 100vw / 375) !important; /* 142.857% */
    }
    .shopify-pc__banner__btns {
        gap: calc(12 * 100vw / 375);
    }
    .shopify-pc__banner__btns button, 
    .shopify-pc__prefs__header-actions button {
        font-size: calc(14 * 100vw / 375) !important;
        line-height: calc(20 * 100vw / 375) !important; /* 142.857% */
        padding: calc(12 * 100vw / 375) 0 !important;
    }
    .shopify-pc__banner__btns button:first-child {
        font-size: 0;
        line-height: 0;
    }
    .shopify-pc__banner__btns button:first-child span {
        display: none !important;
    }
    .shopify-pc__banner__btns button:first-child::after {
        content: 'Manage';
        visibility: visible;
        display: block;
        font-size: calc(14 * 100vw / 375) !important;
        line-height: calc(20 * 100vw / 375) !important; /* 142.857% */
    }
    .shopify-pc__banner__btns button:not(:first-child), 
    .shopify-pc__prefs__header-actions button {
        border-radius: calc(33 * 100vw / 375);
    }

    #shopify-pc__prefs__dialog {
        width: calc(335 * 100vw / 375);
        height: auto;
        max-height: calc(748 * 100vw / 375);
        border-radius: calc(20 * 100vw / 375) !important;
        top: calc(32 * 100vw / 375) !important;
        left: calc(50% - calc(335 * 100vw / 375) / 2);
        bottom: calc(32 * 100vw / 375) !important;
    }
    #shopify-pc__prefs__dialog header {
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: calc(12 * 100vw / 375) !important;
        padding: calc(20 * 100vw / 375) !important;
    }
    #shopify-pc__prefs__header-title {
        width: calc(165 * 100vw / 375) !important;
        font-size: calc(18 * 100vw / 375) !important;
        line-height: calc(24 * 100vw / 375) !important; /* 133.333% */
        padding: 0 !important;
    }
    .shopify-pc__prefs__header-actions {
        width: 100% !important;
        flex-direction: row !important;
        gap: calc(8 * 100vw / 375) !important;
        margin-right: 0 !important;
    }
    .shopify-pc__prefs__header-actions button {
        width: calc(93.3333 * 100vw / 375);
    }
    .shopify-pc__prefs__header-actions button:last-child {
        color: transparent !important;
        font-size: 0 !important;
        line-height: 0 !important;
    }
    .shopify-pc__prefs__header-actions button:last-child::after {
        content: 'Save';
        font-size: calc(14 * 100vw / 375) !important;
        line-height: calc(20 * 100vw / 375) !important; /* 142.857% */
        color: #1657FC !important;
    }
    #shopify-pc__prefs__header-close {
        order: 2;
        top: calc(22 * 100vw / 375);
        right: calc(20 * 100vw / 375);
        width: calc(44 * 100vw / 375);
        height: calc(44 * 100vw / 375);
    }
    #shopify-pc__prefs__header-close svg {
        width: calc(16 * 100vw / 375);
        height: calc(16 * 100vw / 375);
    }
    .shopify-pc__prefs__scrollable {
        padding: calc(22 * 100vw / 375) calc(20 * 100vw / 375) calc(24 * 100vw / 375) !important;
    }
    .shopify-pc__prefs__intro-main h3, 
    .shopify-pc__prefs__options label {
        font-size: calc(16 * 100vw / 375) !important;
        line-height: calc(20 * 100vw / 375) !important; /* 125% */
    }
    .shopify-pc__prefs__intro-main {
        gap: calc(8 * 100vw / 375) !important;
    }
    .shopify-pc__prefs__options {
        gap: calc(20 * 100vw / 375) !important;
        margin-top: calc(18 * 100vw / 375) !important;
        padding: calc(20 * 100vw / 375) 0 0 !important;
    }
    .shopify-pc__prefs__options > div label {
        gap: calc(12 * 100vw / 375) !important;
        margin-bottom: calc(8 * 100vw / 375) !important;
    }
    .shopify-pc__prefs__options > div span[aria-hidden="true"] {
        width: calc(20 * 100vw / 375) !important;
        height: calc(20 * 100vw / 375) !important;
        border-radius: calc(4 * 100vw / 375) !important;
    }
    .shopify-pc__prefs__options > div span[aria-hidden="true"] > svg {
        border-radius: calc(4 * 100vw / 375) !important;
    }
    .shopify-pc__prefs__options > div p {
        padding-left: calc(32 * 100vw / 375) !important;
    }
}

@media screen and (max-width: 480px) {
    .shopify-pc__banner__btns {
        flex-direction: row !important;
    }
    .shopify-pc__banner__btns button {
        order: unset !important;
    }
}
