#shopify-pc__banner {
    width: 526px;
    padding: 22px 24px 24px 24px;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    left: calc(50% - 526px / 2);
    bottom: 32px;
}
.shopify-pc__banner__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.shopify-pc__banner__body {
    font-family: Manrope !important;
    font-style: normal !important;
    color: #2B343B !important;
    font-feature-settings: 'liga' off, 'clig' off;
}
.shopify-pc__banner__body h2 {
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 24px !important; /* 133.333% */
    margin-bottom: 8px !important;
}
.shopify-pc__banner__body p {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important; /* 142.857% */
}
.shopify-pc__banner__body p a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.shopify-pc__banner__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.shopify-pc__banner__btns button, 
.shopify-pc__prefs__header-actions button {
    color: #1657FC !important;
    font-family: Manrope !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 20px !important; /* 142.857% */
    margin: 0 !important;
    padding: 12px 0 !important;
    border: none !important;
}
.shopify-pc__banner__btns button:first-child {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.shopify-pc__banner__btns button:not(:first-child), 
.shopify-pc__prefs__header-actions button {
    border-radius: 33px !important;
    background: #E3EAFE !important;
}

#shopify-pc__prefs__dialog {
    display: flex;
    width: 991px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
#shopify-pc__prefs__dialog * {
    box-sizing: border-box;
}
#shopify-pc__prefs__dialog header {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
}
#shopify-pc__prefs__header-title {
    color: #2B343B !important;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Manrope !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 24px !important; /* 133.333% */
    margin: 0;
    text-align: left;
}
.shopify-pc__prefs__header-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    margin-right: 56px;
}
.shopify-pc__prefs__header-actions button {
    width: 182px;
}
#shopify-pc__prefs__header-close {
    /* position: static; */
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    order: 3;
    border-radius: 100%;
    background: #E3EAFE;
}
#shopify-pc__prefs__header-close svg {
    width: 16px;
    height: 16px;
}
