@media screen and (min-width: 576px) and (max-width: 1440px) {
    #shopify-pc__banner {
        width: calc(526 * 100vw / 1440);
        padding: calc(22 * 100vw / 1440) calc(24 * 100vw / 1440) calc(24 * 100vw / 1440) calc(24 * 100vw / 1440);
        border-radius: calc(24 * 100vw / 1440);
        left: calc(50% - 526px / 2);
        bottom: calc(32 * 100vw / 1440);
    }
    .shopify-pc__banner__wrapper {
        gap: calc(20 * 100vw / 1440);
    }
    .shopify-pc__banner__body h2 {
        font-size: calc(18 * 100vw / 1440) !important;
        line-height: calc(24 * 100vw / 1440) !important; /* 133.333% */
        margin-bottom: calc(8 * 100vw / 1440) !important;
    }
    .shopify-pc__banner__body p {
        font-size: calc(14 * 100vw / 1440) !important;
        line-height: calc(20 * 100vw / 1440) !important; /* 142.857% */
    }
    .shopify-pc__banner__btns {
        gap: calc(12 * 100vw / 1440);
    }
    .shopify-pc__banner__btns button {
        font-size: calc(14 * 100vw / 1440) !important;
        line-height: calc(20 * 100vw / 1440) !important; /* 142.857% */
        padding: calc(12 * 100vw / 1440) 0 !important;
    }
    .shopify-pc__banner__btns button:not(:first-child) {
        border-radius: calc(33 * 100vw / 1440);
    }
}

@media screen and (max-width: 575px) {
}
