#shopify-pc__banner {
    width: 526px;
    padding: 22px 24px 24px 24px;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    left: calc(50% - 526px / 2);
    bottom: 32px;
}
.shopify-pc__banner__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.shopify-pc__banner__body {
    font-family: Manrope !important;
    font-style: normal !important;
    color: #2B343B !important;
}
.shopify-pc__banner__body-title {
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px !important; /* 133.333% */
    margin-bottom: 8px;
}
.shopify-pc__banner__body p {
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px !important; /* 142.857% */
}
.shopify-pc__banner__body p a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.shopify-pc__banner__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.shopify-pc__banner__btns button {
    margin: 0;
    color: #1657FC !important;
    font-family: Manrope !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 20px !important; /* 142.857% */
    padding: 12px 16px !important;
    border: none !important;
}
.shopify-pc__banner__btns button:first-child {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.shopify-pc__banner__btns button:not(:first-child) {
    border-radius: 33px;
    background: #E3EAFE !important;
}
