.ellipse-container {
	position: absolute;
}
.ellipse-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.ellipse {
	position: absolute;
	border-radius: 100%;
	width: 100%;
	height: 100%;
}

.ellipse__main-1 {
	width: 959px;
	height: 959px;
	left: calc(996px + ((100vw - 1366px) / 2));
	top: 817px;
}
.ellipse__main-2 {
	width: 1085px;
	height: 1085px;
	right: calc(885px + ((100vw - 1366px) / 2));
	top: 1750px;	
}
.ellipse__main-3 {
	width: 903px;
	height: 903px;
	right: calc(976px + ((100vw - 1366px) / 2));
	top: 1841px;
}
.ellipse__main-4 {
	width: 1085px;
	height: 1085px;
	left: calc(896px + ((100vw - 1366px) / 2));
	top: 2783px;
}
.ellipse__main-5 {
	width: 1085px;
	height: 1085px;
	right: calc(885px + ((100vw - 1366px) / 2));
	top: 3528px;
}
.ellipse__main-6 {
	width: 903px;
	height: 903px;
	right: calc(976px + ((100vw - 1366px) / 2));
	top: 3619px;
}
.ellipse__main-1 .ellipse,
.ellipse__main-2 .ellipse,
.ellipse__main-4 .ellipse,
.ellipse__main-5 .ellipse {
	background: #F4F6FA;
}
.ellipse__main-3 .ellipse,
.ellipse__main-6 .ellipse {
	background: #FEFEFE;
}

.ellipse-bottom-container {
	position: absolute;
	top: 5555px;
	width: 100%;
	height: 1601px;
	overflow: hidden;	
	z-index: -1;
}
.ellipse-bottom-wrap {
	position: relative;
	width: 100%;
	height: 1601px;
}
.ellipse-bottom {
	position: absolute;
	border-radius: 100%;
	width: 2602px;
	height: 2602px;
	left: calc(-1 * ((2602px - 100vw) / 2));
	top: 0;
	background: #F4F6FA;	
	z-index: -1;
}

.ellipse__faq-1 {
	width: 637px;
	height: 637px;
	left: calc(1164px + ((100vw - 1366px) / 2));
	top: 96px;	
	z-index: -1;
}
.ellipse__faq-2 {
	width: 532px;
	height: 531px;
	left: calc(1217px + ((100vw - 1366px) / 2));
	top: 149px;
	z-index: -1;
}
.ellipse__faq-3 
{
	width: 650px;
	height: 650px;
	right: calc(1009px + ((100vw - 1366px) / 2));
	top: 1329px;
	z-index: -1;
}
.ellipse__faq-4 
{
	width: 542px;
	height: 542px;
	right: calc(1063px + ((100vw - 1366px) / 2));
	top: 1383px;
	z-index: -1;
}
.ellipse__main-1 .ellipse,
.ellipse__main-3 .ellipse {
	background: #F4F6FA;
}
.ellipse__main-2 .ellipse,
.ellipse__main-4 .ellipse {
	background: #FEFEFE;
}

.ellipse-all_products-container {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 858px;
	overflow: hidden;
}
.ellipse-all_products-wrap {
	position: relative;
	width: 100%;
	height: 858px;
}
.ellipse-all_products {
	position: absolute;
	border-radius: 100%;
	width: 2602px;
	height: 2602px;
	left: calc(-1 * ((2602px - 100vw) / 2));
	top: 0;
	background: #F4F6FA;	
	z-index: -1;
}
