@media screen and (min-width: 1000px) and (max-width: 1366px) {
	.ellipse__main-1 {
		/*width: calc(803 * 100vw / 1366);*/
		width: calc(100vw - 1001 * 100vw / 1366);
		height: calc(803 * 100vw / 1366);
		left: calc(1001 * 100vw / 1366);
		top: calc(2283 * 100vw / 1366);
	}
	.ellipse__main-1 .ellipse {
		width: calc(803 * 100vw / 1366);
	}
	.ellipse__main-2 {
		/*width: calc(901 * 100vw / 1366);*/
		width: calc(100vw - 881 * 100vw / 1366);
		height: calc(901 * 100vw / 1366);
		right: calc(881 * 100vw / 1366);
		top: calc(2901 * 100vw / 1366);
	}
	.ellipse__main-2 .ellipse {
		width: calc(901 * 100vw / 1366);
		right: 0;
	}
	.ellipse__main-3 {
		/*width: calc(749 * 100vw / 1366);*/
		width: calc(100vw - 957 * 100vw / 1366);
		height: calc(749 * 100vw / 1366);
		right: calc(957 * 100vw / 1366);
		top: calc(2977 * 100vw / 1366);
	}
	.ellipse__main-3 .ellipse {
		width: calc(749 * 100vw / 1366);
		right: 0;
	}
	.ellipse__main-4 {
		/*width: calc(958 * 100vw / 1366);*/
		width: calc(100vw - 855 * 100vw / 1366);
		height: calc(958 * 100vw / 1366);
		left: calc(855 * 100vw / 1366);
		top: calc(4293 * 100vw / 1366);
	}
	.ellipse__main-4 .ellipse {
		width: calc(958 * 100vw / 1366);
	}
	.ellipse__main-5 {
		/*width: calc(815 * 100vw / 1366);*/
		width: calc(100vw - 967 * 100vw / 1366);
		height: calc(815 * 100vw / 1366);
		right: calc(967 * 100vw / 1366);
		top: calc(4966 * 100vw / 1366);	
	}
	.ellipse__main-5 .ellipse {
		width: calc(815 * 100vw / 1366);
		right: 0;
	}
	.ellipse__main-6 {
		/*width: calc(679 * 100vw / 1366);*/
		width: calc(100vw - 1035 * 100vw / 1366);
		height: calc(679 * 100vw / 1366);
		right: calc(1035 * 100vw / 1366);
		top: calc(5034 * 100vw / 1366);
	}
	.ellipse__main-6 .ellipse {
		width: calc(679 * 100vw / 1366);
		right: 0;
	}
	.ellipse__main-7 {
		/*width: calc(1606 * 100vw / 1366);*/
		width: calc(100vw + 119 * 100vw / 1366);
		height: calc(1606 * 100vw / 1366);
		right: calc(-1 * 119 * 100vw / 1366);
		top: calc(6320 * 100vw / 1366);
	}
	.ellipse__main-7 .ellipse {
		width: calc(1606 * 100vw / 1366);
		right: 0;
	}
	.ellipse__main-8 {
		/*width: calc(1454 * 100vw / 1366);*/
		width: calc(100vw + 76 * 100vw / 1366);
		height: calc(1454 * 100vw / 1366);
		right: calc(-1 * 76 * 100vw / 1366);
		top: calc(6396 * 100vw / 1366);
	}
	.ellipse__main-8 .ellipse {
		width: calc(1454 * 100vw / 1366);
		right: 0;
	}

	.ellipse-bottom-container {
		/*top: calc(4913 * 100vw / 1366);*/
		height: calc(1388 * 100vw / 1366);
	}
	.ellipse-bottom-wrap {
		height: calc(1388 * 100vw / 1366);
	}
	.ellipse-bottom {
		width: calc(2602 * 100vw / 1366);
		height: calc(2602 * 100vw / 1366);
		left: calc(-1 * ((2602 * 100vw / 1366 - 100vw) / 2));
	}

	.ellipse__faq-1 {
		/*width: calc(637 * 100vw / 1366);*/
		width: calc(100vw - 1164 * 100vw / 1366);
		height: calc(637 * 100vw / 1366);
		left: calc(1164 * 100vw / 1366);
		top: calc(96 * 100vw / 1366);
	}
	.ellipse__faq-1 .ellipse {
		width: calc(637 * 100vw / 1366);
	}
	.ellipse__faq-2 {
		/*width: calc(532 * 100vw / 1366);*/
		width: calc(100vw - 1217 * 100vw / 1366);
		height: calc(531 * 100vw / 1366);
		left: calc(1217 * 100vw / 1366);
		top: calc(149 * 100vw / 1366);
	}
	.ellipse__faq-2 .ellipse {
		width: calc(532 * 100vw / 1366);
	}
	.ellipse__faq-3 
	{
		/*width: calc(650 * 100vw / 1366);*/
		width: calc(100vw - 1009 * 100vw / 1366);
		height: calc(650 * 100vw / 1366);
		right: calc(1009 * 100vw / 1366);
		top: calc(1329 * 100vw / 1366);
	}
	.ellipse__faq-3 .ellipse {
		width: calc(650 * 100vw / 1366);
		right: 0;
	}
	.ellipse__faq-4 
	{
		/*width: calc(542 * 100vw / 1366);*/
		width: calc(100vw - 1063 * 100vw / 1366);
		height: calc(542 * 100vw / 1366);
		right: calc(1063 * 100vw / 1366);
		top: calc(1383 * 100vw / 1366);
	}
	.ellipse__faq-4 .ellipse {
		width: calc(542 * 100vw / 1366);
		right: 0;
	}

	.ellipse-all_products-container {
		height: calc(858 * 100vw / 1366);
	}
	.ellipse-all_products-wrap {
		height: calc(858 * 100vw / 1366);
	}
	.ellipse-all_products {
		width: calc(2602 * 100vw / 1366);
		height: calc(2602 * 100vw / 1366);
		left: calc(-1 * ((2602 * 100vw / 1366 - 100vw) / 2));
	}
}

@media screen and (max-width: 999px) {
	.ellipse-container {
		display: none;
	}
	.ellipse-container-mobile {
		display: block;
	}

	.ellipse__main-mobile-1 {
		width: 234px;
		height: 234px;
		left: calc(294px + ((100vw - 390px) / 2));
		top: 2102.71px;
	}
	.ellipse__main-mobile-2 {
		width: 206px;
		height: 206px;
		left: calc(308px + ((100vw - 390px) / 2));
		top: 2116.71px;	
	}
	.ellipse__main-mobile-3 {
		width: 279px;
		height: 279px;
		right: calc(273px + ((100vw - 390px) / 2));
		top: 2878.71px;
	}
	.ellipse__main-mobile-4 {
		width: 234px;
		height: 234px;
		left: calc(305px + ((100vw - 390px) / 2));
		top: 3734.71px;
	}
	.ellipse__main-mobile-5 {
		width: 206px;
		height: 206px;
		left: calc(319px + ((100vw - 390px) / 2));
		top: 3748.71px;
	}
	.ellipse__main-mobile-6 {
		width: 279px;
		height: 279px;
		right: calc(271px + ((100vw - 390px) / 2));
		top: 4424.71px;
	}
	.ellipse__main-mobile-7 {
		width: 234px;
		height: 234px;
		left: calc(305px + ((100vw - 390px) / 2));
		top: 4983.71px;
	}
	.ellipse__main-mobile-8 {
		width: 206px;
		height: 206px;
		left: calc(319px + ((100vw - 390px) / 2));
		top: 4997.71px;	
	}
	.ellipse__main-mobile-9 {
		width: 234px;
		height: 234px;
		right: calc(302px + ((100vw - 390px) / 2));
		top: 55896.71px;
	}
	.ellipse__main-mobile-10 {
		width: 749px;
		height: 749px;
		left: calc(-1* 180.5px + ((100vw - 390px) / 2));
		top: 6137px;
	}
	.ellipse__main-mobile-11 {
		width: 677px;
		height: 687px;
		left: calc(-1* 144.5px + ((100vw - 390px) / 2));
		top: 6168px;	
	}
	.ellipse__main-mobile-12 {
		width: 206px;
		height: 206px;
		left: calc(327px + ((100vw - 390px) / 2));
		top: 4590px;	
	}
	.ellipse__main-mobile-13 {
		width: 206px;
		height: 206px;
		left: calc(327px + ((100vw - 390px) / 2));
		top: 4590px;	
	}
	.ellipse__main-mobile-1 .ellipse,
	.ellipse__main-mobile-3 .ellipse,
	.ellipse__main-mobile-4 .ellipse,
	.ellipse__main-mobile-6 .ellipse,
	.ellipse__main-mobile-7 .ellipse,
	.ellipse__main-mobile-9 .ellipse,
	.ellipse__main-mobile-10 .ellipse,
	.ellipse__main-mobile-12 .ellipse {
		background: #F4F6FA;
	}
	.ellipse__main-mobile-2 .ellipse,
	.ellipse__main-mobile-5 .ellipse,
	.ellipse__main-mobile-8 .ellipse,
	.ellipse__main-mobile-11 .ellipse,
	.ellipse__main-mobile-13 .ellipse {
		background: #FEFEFE;
	}

	.ellipse-bottom-container {
		/*top: 5177px;*/
		height: 1474px;
	}
	.ellipse-bottom-wrap {
		height: 1474px;
	}
	.ellipse-bottom {
		width: 1187px;
		height: 1187px;
		left: calc(-1 * ((1187px - 100vw) / 2));
	}
}
