@media screen and (min-width: 1000px) and (max-width: 1366px) { 
	.faq__title {
		font-size: calc(52 * 100vw / 1366);
		line-height: calc(64 * 100vw / 1366);
	}
	.faq__chapters {
		margin-top: calc(92 * 100vw / 1366);
		margin-bottom: calc(80 * 100vw / 1366);
		grid-column-gap: calc(120 * 100vw / 1366);
		grid-row-gap: calc(40 * 100vw / 1366);
		margin-left: calc(80 * 100vw / 1366);
	}
	.faq__chapter {
		width: calc(461 * 100vw / 1366);
		grid-row-gap: calc(20 * 100vw / 1366);
	}
	.faq__chapter-title {
		grid-column-gap: calc(12 * 100vw / 1366);
	}
	.faq__chapter-title-sign {
		width: calc(32 * 100vw / 1366);
		height: calc(16 * 100vw / 1366);
	}
	.faq__chapter-title-text {
		width: calc(100% - 32 * 100vw / 1366 - 12 * 100vw / 1366);
		font-size: calc(36 * 100vw / 1366);
	}
	.faq__chapter-question-text {
		font-size: calc(22 * 100vw / 1366);
		line-height: calc(32 * 100vw / 1366);
	}
	.faq__chapter-question-answer {
		margin-top: calc(8 * 100vw / 1366);
		font-size: calc(14 * 100vw / 1366);
	}
	.faq__chapter-question-expand {
		width: calc(9 * 100vw / 1366);
		height: calc(32 * 100vw / 1366);
		/*font-size: calc(22 * 100vw / 1366);*/
		line-height: calc(32 * 100vw / 1366);
		margin-bottom: calc(12 * 100vw / 1366);
	}
}

@media screen and (max-width: 999px) { 
	.faq__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 43px;
		letter-spacing: 0.02em;
	}
	.faq__chapters {
		margin-top: 40px;
		margin-bottom: 80px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		grid-row-gap: 16px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.faq__chapter {
		width: 342px;
	}
	.faq__chapter-title {
		grid-column-gap: 19px;
		margin-bottom: 0;
		cursor: pointer;
	}
	.faq__chapter-title-sign {
		width: 18px;
		height: 18px;
	}
	.faq__chapter-title-sign-opened {
		display: none;
	}
	.faq__chapter-title-sign-closed {
		display: block;
	}
	.faq__chapter-title-text {
		font-weight: 500;
		font-size: 26px;
		line-height: 31px;
		font-family: 'Gotham-Medium';
	}
  .faq__chapter-question {
    display: none;
  }
	.faq__chapter-question-text {
		font-size: 18px;
		line-height: 140%;
	}
	.faq__chapter-question-answer {
		display: none;
		margin-top: 16px;
		font-size: 14px;
		line-height: 17px;
	}
	.faq__chapter-question-expand {
		width: 9px;
		height: 32px;
		font-size: 22px;
		line-height: 32px;
		color: #0F77F0;
		margin-bottom: 4px;
	}
}
