@media screen and (min-width: 576px) and (max-width: 1440px) {
	.faq {
		padding-top: calc(80 * 100vw / 1440);
		padding-bottom: calc(180 * 100vw / 1440);
		grid-row-gap: calc(40 * 100vw / 1440);
	}
	.faq__title {
		width: calc(856 * 100vw / 1440);
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.faq__chapters {
		width: calc(856 * 100vw / 1440);
		grid-row-gap: calc(32 * 100vw / 1440);
	}
	.faq__chapter {
		border-radius: calc(12 * 100vw / 1440);
	}
	.faq__chapter-opened {
		border-bottom-left-radius: calc(12 * 100vw / 1440);
		border-bottom-right-radius: calc(12 * 100vw / 1440);
	}
	.faq__chapter-top {
		border-radius: calc(12 * 100vw / 1440);
		padding: calc(32 * 100vw / 1440);
	}
	.faq__chapter-title {
		grid-column-gap: calc(12 * 100vw / 1440);
	}
	.faq__chapter-title-sign {
		width: calc(32 * 100vw / 1440);
		height: calc(32 * 100vw / 1440);
	}
	.faq__chapter-title-text {
		font-size: calc(32 * 100vw / 1440);
		line-height: calc(40 * 100vw / 1440);
	}
	.faq__chapter-chevron {
		width: calc(32 * 100vw / 1440);
		height: calc(32 * 100vw / 1440); 
	}
	.faq__chapter-questions {
		grid-row-gap: calc(56 * 100vw / 1440);
		padding: calc(56 * 100vw / 1440) calc(40 * 100vw / 1440) calc(48 * 100vw / 1440) calc(40 * 100vw / 1440);
	}
	.faq__chapter-question {
		grid-row-gap: calc(12 * 100vw / 1440);
	}
	.faq__chapter-question > div {
		grid-column-gap: calc(8 * 100vw / 1440);
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) { 
	.faq {
		padding-top: calc(32 * 100vw / 375);
		padding-bottom: calc(180 * 100vw / 375);
		grid-row-gap: calc(60 * 100vw / 375);
	}
	.faq__title {
		width: calc(335 * 100vw / 375);
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
	}
	.faq__chapters {
		width: calc(335 * 100vw / 375);
		grid-row-gap: calc(32 * 100vw / 375);
	}
	.faq__chapter {
		border-radius: calc(12 * 100vw / 375);
	}
	.faq__chapter-opened {
		border-bottom-left-radius: calc(12 * 100vw / 375);
		border-bottom-right-radius: calc(12 * 100vw / 375);
	}
	.faq__chapter-top {
		border-radius: calc(12 * 100vw / 375);
		padding: calc(32 * 100vw / 375);
	}
	.faq__chapter-title {
		grid-column-gap: calc(12 * 100vw / 375);
	}
	.faq__chapter-title-sign {
		width: calc(32 * 100vw / 375);
		height: calc(32 * 100vw / 375);
	}
	.faq__chapter-title-text {
		font-size: calc(24 * 100vw / 375);
		line-height: calc(32 * 100vw / 375);
	}
	.faq__chapter-chevron {
		width: calc(32 * 100vw / 375);
		height: calc(32 * 100vw / 375);
	}
	.faq__chapter-questions {
		grid-row-gap: calc(40 * 100vw / 375);
		padding: calc(35 * 100vw / 375) calc(24 * 100vw / 375) calc(48 * 100vw / 375) calc(24 * 100vw / 375);
	}
	.faq__chapter-question {
		grid-row-gap: calc(12 * 100vw / 375);
	}
	.faq__chapter-question > div {
		grid-column-gap: calc(8 * 100vw / 375);
		font-size: calc(18 * 100vw / 375);
		line-height: calc(24 * 100vw / 375);
	}
}
