.faq {
	width: 100%;
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-row-gap: 40px;
}
.faq__title {
	width: 856px;
	color: #000;
	text-align: left;
	font-family: Manrope;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px;
}
.faq__chapters {
	width: 856px;
	display: flex;
	flex-direction: column;
	grid-row-gap: 32px;
}
.faq__chapter {
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 2px solid #F6F6F6;
	border-radius: 12px;
	box-sizing: border-box;
}
.faq__chapter-opened {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.faq__chapter-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	background: #F6F6F6;
	border-radius: 12px;
	padding: 32px;
}
.faq__chapter-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	grid-column-gap: 12px;
}
.faq__chapter-title-sign {
	width: 32px;
	height: 32px; 
}
.faq__chapter-title-sign img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.faq__chapter-title-sign-opened {
	display: block;
}
.faq__chapter-title-sign-closed {
	display: none;
}
.faq__chapter-title-text {
	color: #000;
	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
}
.faq__chapter-chevron {
	width: 32px;
	height: 32px; 
}
.faq__chapter-chevron img {
	width: 100%;
}
.faq__chapter-chevron-reverted {
	transform: rotate(180deg);
}
.faq__chapter-questions {
	display: none;
	flex-direction: column;
	grid-row-gap: 56px;
	padding: 56px 40px 48px 40px;
}
.faq__chapter-question {
	display: flex;
	flex-direction: column;
	grid-row-gap: 12px;
}
.faq__chapter-question > div {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	grid-column-gap: 8px;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	line-height: 32px;
}
.faq__chapter-question-badge {
	color: #1657FC;
	font-weight: 500;
}
.faq__chapter-question-text {
	color: #000;
	font-weight: 500;
}
.faq__chapter-question-answer {
	color: #4C4C4C;
	font-weight: 400;
}
