.faq {
	width: 100%;
}
.faq__title {
	font-family: 'Gotham-Medium';
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	line-height: 64px;
	color: #000000;
	text-align: left;
}
.faq__chapters {
	margin-top: 92px;
	margin-bottom: 80px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-column-gap: 120px;
	grid-row-gap: 40px;
	margin-left: 80px;
}
.faq__chapter {
	width: 1206px;
	display: flex;
	flex-direction: column;
	grid-row-gap: 20px;
	border-radius: 12px;
	background: #F4F6FA;
	padding: 20px;
}
.faq__chapter-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	grid-column-gap: 12px;
}
.faq__chapter-title-sign {
	width: 32px;
	height: 16px; 
}
.faq__chapter-title-sign img {
	width: 100%;
}
.faq__chapter-title-sign-opened {
	display: block;
}
.faq__chapter-title-sign-closed {
	display: none;
}
.faq__chapter-title-text {
	width: calc(100% - 32px - 12px);
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: normal;
	color: #000000;
}
.faq__chapter-question-text {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color: #000000;
	cursor: pointer;
}
.faq__chapter-question-answer {
	margin-top: 8px;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: normal;
	color: #000000;
}
.faq__chapter-question-expand {
	width: 9px;
	height: 32px;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 32px;
	color: #0F77F0;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	cursor: pointer;
}
