@media screen and (min-width: 1000px) and (max-width: 1366px) {  
	.features__title {
		font-size: calc(52 * 100vw / 1366);
		line-height: calc(64 * 100vw / 1366);
	}
	.features__block {
		height: calc(640 * 100vw / 1366);
	}
	.features__block:not(:last-child) {
		margin-bottom: calc(40 * 100vw / 1366);
	}
	.features__block-legend {
		margin-top: calc(173 * 100vw / 1366);
		width: calc(408 * 100vw / 1366);
	}
	.features__block-odd .features__block-legend {
		margin-left: calc(129 * 100vw / 1366);
		/*margin-left: 0;*/
	}
	.features__block-even .features__block-legend {
		margin-right: calc(78 * 100vw / 1366);
		/*margin-right: 0;*/
	}
	.features__block-legend-title {
		font-size: calc(44 * 100vw / 1366);
		line-height: calc(52 * 100vw / 1366);
		margin-bottom: calc(6 * 100vw / 1366);
	}
	.features__block-legend-subtitle {
		font-size: calc(22 * 100vw / 1366);
		line-height: calc(32 * 100vw / 1366);
		margin-bottom: calc(40 * 100vw / 1366);
	}
	.features__block-switcher {
		width: calc(116 * 100vw / 1366);
		height: calc(40 * 100vw / 1366);
		border-radius: calc(30 * 100vw / 1366);
	}
	.features__block-switcher-case {
		padding: calc(10 * 100vw / 1366) calc(14 * 100vw / 1366);
		border-radius: calc(30 * 100vw / 1366);
		font-size: calc(14 * 100vw / 1366);
		line-height: calc(17 * 100vw / 1366);
	}
	.features__block-switcher-case-light {
		box-shadow: 0px 0px calc(12 * 100vw / 1366) rgba(0, 0, 0, 0.16);
	}
	.features__block-switcher-case-dark {
		box-shadow: 0px 0px calc(12 * 100vw / 1366) rgba(0, 0, 0, 0.16);
	}
	.features__block-screen {
		/*margin-top: calc(148 * 100vw / 1366);
		margin-right: calc(129 * 100vw / 1366);
		width: calc(647 * 100vw / 1366);
		height: calc(320 * 100vw / 1366);*/
		margin-right: 0;
	}
	.features__block-odd .features__block-screen {
		margin-right: calc(129 * 100vw / 1366);
		/*margin-right: 0;*/
	}
	.features__block-even .features__block-screen {
		margin-left: calc(133 * 100vw / 1366);
		/*margin-left: 0;*/
	}
}

@media screen and (min-width: 1000px) and (max-width: 1250px) {
	.features__block-even .features__block-legend {
		margin-left: 70px;
		width: auto;
	}
	.features__block-even {
		justify-content: flex-end;
	}
}

@media screen and (max-width: 999px) { 
	.features__title {
		font-size: 36px;
		line-height: 43px;
	}
	.features__block {
		height: auto;
		/*display: flex;*/
		justify-content: flex-start;
		/*align-items: flex-start;*/
		flex-direction: column;
	}
	.features__block-odd {
		align-items: flex-start;
	}
	.features__block-even {
		align-items: flex-end;
	}
	.features__block:not(:last-child) {
		margin-bottom: 64px;
	}
	.features__block-legend {
		margin-top: 39px;
		width: 300px;
		display: flex;
		flex-direction: column;
	}
	.features__block-odd .features__block-legend {
		margin-left: 24px;
		align-items: flex-start;
	}
	.features__block-even .features__block-legend {
		margin-right: 23px;
		align-items: flex-end;
	}
	.features__block-performance .features__block-legend {
		width: 320px;
	}
	.features__block-energy_screen .features__block-legend {
		width: 320px;
	}
	.features__block-low_vision_mode .features__block-legend {
		margin-top: 40px!important;
		width: 345px;
	}
	.features__block-legend-title {
		font-weight: 700;
		font-size: 26px;
		line-height: 31px;
		margin-bottom: 4px;
	}
	.features__block-legend-subtitle {
		font-size: 18px;
		line-height: 140%;
		margin-bottom: 40px;
	}
	.features__block-odd .features__block-legend-title,
	.features__block-odd .features__block-legend-subtitle {
		text-align: left;
	}
	.features__block-even .features__block-legend-title,
	.features__block-even .features__block-legend-subtitle {
		text-align: right;
	}
	.features__block-screen {
		z-index: 3;
		margin-top: 140px ;
		margin-left: 35px!important;
		margin-right: 35px!important;
		width: 320px;
		height: 158px;
		/*display: flex;
		justify-content: center;
		align-items: center;*/
		position: relative;
	}
	.features__block-low_vision_mode .features__block-screen {
		margin-top: 60px!important;
		margin-left: 35px!important;
		margin-right: 35px!important;
	}
	.features__block-screen-desktop {
		display: none;
	}
	.features__block-screen-mobile {
		display: block;
	}
	.features__block-screen-dark {
		display: block;
	}
	.features__block-screen-light {
		display: none;
	}
	.features__block-dashboard {
		height: 650px;
	}
	.features__block-notifications {
		height: 588px;
	}
	.features__block-performance {
		height: 653px;
	}
	.features__block-energy_screen {
		height: 532px;
	}
	.features__block-car_info {
		height: 608px;
	}
	.features__block-low_vision_mode {
		height: 532px;
	}
}
