.features {
	width: 100%;
}
.features__title {
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	line-height: 64px;
	color: #000000;
	text-align: center;
	/*margin-top: 120px;*/
}
.features__blocks {
	display: flex;
	overflow-x: scroll;
}
.features__block {
/*	width: 100%;*/
	width: 1000px;
	height: 540px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.features__block.features__block-low_vision_mode {
	height: 600px;
}
.features__block:not(:last-child) {
	margin-bottom: 40px;
}
.features__block-odd {
	flex-direction: row;
}
.features__block-even {
	flex-direction: row-reverse;
}
.features__block-legend {
	z-index: 3;
	margin-top: 160.5px;
	width: 271px;
}
.features__block-odd .features__block-legend {
	margin-left: 48px;
}
.features__block-even .features__block-legend {
	margin-right: 78px;
}
.features__block-low_vision_mode .features__block-legend {
	margin-top: 131px;
	margin-right: 60px;
	width: 426px;
}
.features__block-legend-title {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	margin-bottom: 20px;
}
.features__block-legend-subtitle {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color: #000000;
	margin-bottom: 20px;
}
.features__block-switcher {
	width: 116px;
	height: 40px;
	background: #E3E3E3;
	border-radius: 30px;
	position: relative;
	cursor: pointer;
}
.features__block-switcher-case {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 14px;
	position: absolute;
	top: 0;
	bottom: 0;
	border-radius: 30px;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}
.features__block-switcher-case-dark {
	left: 0;
	background: #000000;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
	color: #FFFFFF;
}
.features__block-switcher-case-light {
	display: none;
	right: 0;
	background: #FFFFFF;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
	color: #0F0F0F;
}
.features__block-screen {
	z-index: 3;
	margin-top: 129.03px;
	margin-right: 48px;
	width: 571.2px;
	height: 282.3px;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	position: relative;
}
.features__block-low_vision_mode .features__block-screen {
	margin-top: 112.33px!important;
	margin-right: 109px!important;
}
.features__block-screen-wrap {
	width: 100%;
}
.features__block-screen-wrap img {
	width: 100%;
}
.features__block-screen-desktop {
	display: block;
}
.features__block-screen-mobile {
	display: none;
}
.features__block-screen-dark {
	display: block;
}
.features__block-screen-light {
	display: none;
}
.features__block-odd .features__block-screen {
	margin-right: 48px;
}
.features__block-even .features__block-screen {
	margin-left: 133px;
}
