footer {
	width: 100%;
	background: #010306;
	position: relative;
}
.footer__wrap {
	width: 1296px;
	margin: 0 auto;
	padding-top: 72px;
	padding-bottom: 100px;
}
.footer-top {
	display: flex;
/*	grid-column-gap: 171px;*/
	justify-content: space-between;
	margin-bottom: 67.5px;
}
.footer-top-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-top .logo {	
	width: 233.333px;
	height: 40px;
}
.footer-top .logo img {
	width: 100%;
}
.footer-menu {
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 24px;
	grid-row-gap: 52px;
}
.footer-menu__list {
	width: 196px;
}
.footer-menu__list-big {
	width: 306px;
}
.footer-menu__list-title {
	color: #FFF;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	margin-bottom: 16px;
	white-space: nowrap;
}
.footer-menu__list-items {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	grid-row-gap: 12px;
}
.footer-menu__list-items-desktop {
	display: flex;
}
.footer-menu__list-items-mobile {
	display: none;
}
.footer-menu__list-items li {
	color: #D0D0D0;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	cursor: pointer;
}
.footer-menu__list-contacts .footer-menu__list-items li {
	cursor: default;
}
.footer-menu__list-legal .footer-menu__list-items li {
	white-space: nowrap;
}
.footer-menu__list-items li:hover {
	color: #7D7E7F;
}
.footer-menu__list-contacts .footer-menu__list-items li:hover {
	color: #D0D0D0;
}
.footer-menu__list-items li a {
	text-decoration: none;
	color: #D0D0D0;
}
.footer-menu__list-items li a:hover {
	color: #7D7E7F;
}
.footer-menu__list-contacts .footer-menu__list-items li a:hover {
	color: #D0D0D0;
}
.footer-links {
	display: flex;
	grid-column-gap: 24px;
}
.footer-links-mobile {
	display: none;
}
.footer-divider {
	display: block!important;
	width: 100%;
	margin: 32px 0;
	border: 1px solid rgba(255, 255, 255, 0.52);
}
.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-bottom__text {
	color: #808080;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
.footer-bottom__right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	grid-column-gap: 16px;
}
.footer-bottom__icons {
	display: flex;
	align-items: center;
	grid-column-gap: 10px;
}
.footer-bottom__icons img {
	width: 40px;
	height: 24px; 
} 
.footer-bottom__copyright {
	color: #FFF;
	text-align: right;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}