@media screen and (min-width: 1000px) and (max-width: 1440px) {
	.footer__wrap {
		width: calc(1296 * 100vw / 1440);
		padding-top: calc(72 * 100vw / 1440);
		padding-bottom: calc(100 * 100vw / 1440);
	}
	.footer-top {
		grid-column-gap: calc(171 * 100vw / 1440);
		margin-bottom: calc(67.5 * 100vw / 1440);
	}
	.footer-top .logo {	
		width: calc(233.333 * 100vw / 1440);
		height: calc(40 * 100vw / 1440);
	}
	.footer-menu {
		grid-column-gap: calc(71 * 100vw / 1440);
		grid-row-gap: calc(36 * 100vw / 1440);
	}
	.footer-menu__list-title {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
		margin-bottom: calc(16 * 100vw / 1440);
	}
	.footer-menu__list-items {
		grid-row-gap: calc(12 * 100vw / 1440);
	}
	.footer-menu__list-items li {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.footer-links {
		grid-column-gap: calc(24 * 100vw / 1440);
	}
	.footer-divider {
		margin: calc(32 * 100vw / 1440) 0;
	}
	.footer-bottom__text {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.footer-bottom__right {
		grid-column-gap: calc(16 * 100vw / 1440);
	}
	.footer-bottom__icons {
		grid-column-gap: calc(10 * 100vw / 1440);
	}
	.footer-bottom__icons img {
		width: calc(40 * 100vw / 1440);
		height: calc(24 * 100vw / 1440);
	} 
	.footer-bottom__copyright {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
}

@media screen and (max-width: 999px) {
	.footer__wrap {
		width: 335px;
		margin: 0 auto;
		padding-top: 72px;
		padding-bottom: 72px;
	}
	.footer-top {
		flex-direction: column;
		grid-row-gap: 40px;
	}
	.footer-top .logo {	
		width: 164px;
		height: 28px;
	}
	.footer-links {
		display: none;
	}
	.footer-menu {
		grid-column-gap: 9px;
		grid-row-gap: 48px;
	}
	.footer-menu__list-title {
		font-size: 18px;
		line-height: 24px;
	}
	.footer-menu__list-items {
		grid-row-gap: 16px;
	}
}
