@media screen and (min-width: 576px) and (max-width: 1440px) {
	.footer__wrap {
		width: calc(1296 * 100vw / 1440);
		padding-top: calc(72 * 100vw / 1440);
		padding-bottom: calc(100 * 100vw / 1440);
	}
	.footer-top {
		grid-column-gap: calc(171 * 100vw / 1440);
		margin-bottom: calc(67.5 * 100vw / 1440);
	}
	.footer-top .logo {	
		width: calc(233.333 * 100vw / 1440);
		height: calc(40 * 100vw / 1440);
	}
	.footer-menu {
		grid-column-gap: calc(71 * 100vw / 1440);
		grid-row-gap: calc(36 * 100vw / 1440);
	}
	.footer-menu__list-title {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
		margin-bottom: calc(16 * 100vw / 1440);
	}
	.footer-menu__list-items {
		grid-row-gap: calc(12 * 100vw / 1440);
	}
	.footer-menu__list-items li {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.footer-links {
		grid-column-gap: calc(24 * 100vw / 1440);
	}
	.footer-divider {
		margin: calc(32 * 100vw / 1440) 0;
	}
	.footer-bottom__text {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.footer-bottom__right {
		grid-column-gap: calc(16 * 100vw / 1440);
	}
	.footer-bottom__icons {
		grid-column-gap: calc(10 * 100vw / 1440);
	}
	.footer-bottom__icons img {
		width: calc(40 * 100vw / 1440);
		height: calc(24 * 100vw / 1440);
	} 
	.footer-bottom__copyright {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) {
	.footer__wrap {
		width: calc(335 * 100vw / 375);
		margin: 0 auto;
		padding-top: calc(72 * 100vw / 375);
		padding-bottom: calc(72 * 100vw / 375);
	}
	.footer-top {
		flex-direction: column;
		grid-row-gap: calc(40 * 100vw / 375);
		margin-bottom: 0;
	}
	.footer-top .logo {	
		width: calc(164 * 100vw / 375);
		height: calc(28 * 100vw / 375);
	}
	.footer-menu {
		grid-column-gap: calc(9 * 100vw / 375);
		grid-row-gap: calc(48 * 100vw / 375);
	}
	.footer-menu__list {
		width: calc(163 * 100vw / 375);
	}
	.footer-menu__list-title {
		font-size: calc(18 * 100vw / 375);
		line-height: calc(24 * 100vw / 375);
	}
	.footer-menu__list-items {
		grid-row-gap: calc(16 * 100vw / 375);
	}
	.footer-links {
		display: none;
	}
	.footer-links-mobile {
		display: flex;
		grid-column-gap: calc(8 * 100vw / 375);
	}
	.footer-links__item {
		width: calc(164 * 100vw / 375);
		height: calc(52 * 100vw / 375);
	}
	.footer-links__item img {
		width: 100%;
		height: 100%;
	}
	.footer-divider {
		margin: calc(24 * 100vw / 375) 0 calc(20 * 100vw / 375);
	}
	.footer-bottom {
		flex-direction: column;
		grid-row-gap: calc(32 * 100vw / 375);
	}
	.footer-bottom__text br {
		display: none;
	}
	.footer-bottom__right {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		grid-row-gap: calc(32 * 100vw / 375);
	}
	.footer-bottom__icons {
		justify-content: space-between;
	}
	.footer-bottom__icons img {
		width: calc(32 * 100vw / 375);
		height: calc(20 * 100vw / 375);
	} 
	.footer-bottom__copyright {
		text-align: left;
		font-size: calc(16 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
	}
}
