@media screen and (min-width: 1000px) and (max-width: 1366px) {
	footer {
		padding: calc(100 * 100vw / 1366) calc(128 * 100vw / 1366);
	}
	.footer__wrap {
		max-width: calc(1110 * 100vw / 1366);
	}
	.footer-top {
		margin-bottom: calc(80.5 * 100vw / 1366);
	}
	.footer-top .logo {	
		width: calc(188 * 100vw / 1366);
		height: calc(32 * 100vw / 1366);
	}
	.footer-menu {
		grid-column-gap: calc(68 * 100vw / 1366);
	}
	.footer-menu__list-title {
		font-size: calc(20 * 100vw / 1366);
		line-height: calc(24 * 100vw / 1366);
		margin-bottom: calc(16 * 100vw / 1366);
	}
	.footer-menu__list-items li {
		font-size: calc(16 * 100vw / 1366);
		line-height: calc(20 * 100vw / 1366);
		margin-bottom: calc(12 * 100vw / 1366);
	}
	.footer-links {
		grid-column-gap: calc(24 * 100vw / 1366);
	}
	.footer-divider {
		margin: calc(32 * 100vw / 1366) 0;
		border: 1px solid rgba(255, 255, 255, 0.52);
	}
	.footer-bottom__text {
		width: calc(585 * 100vw / 1366);
		height: calc(60 * 100vw / 1366);
		font-size: calc(16 * 100vw / 1366);
		line-height: calc(20 * 100vw / 1366);
	}
	.footer-bottom__copyright {
		font-size: calc(16 * 100vw / 1366);
		line-height: calc(24 * 100vw / 1366);
	}
}