  
@media screen and (min-width: 1920px) {        
	#header_main {
		height: calc(768 * 100vw / 1920);
	}
	.banner-desktop {
		/*width: calc(1366 * 100vw / 1366);*/
		height: calc(768 * 100vw / 1920);
	}
	.title {
		font-size: calc(64 * 100vw / 1920);
		line-height: calc(72 * 100vw / 1920);
/*		width: calc(541 * 100vw / 1920);*/
		top: calc(329 * 100vw / 1920);
		/*left: calc(128 * 100vw / 1920);*/
	}
	.subtitle {
/*		font-size: calc(48 * 100vw / 1920);*/
/*		line-height: calc(64 * 100vw / 1920);*/
/*		width: calc(541 * 100vw / 1920);*/
		top: calc(413 * 100vw / 1920);
		/*left: calc(128 * 100vw / 1920);*/
	}
}
@media screen and (min-width: 1000px) and (max-width: 1440px) {
	.top .logo {	
		margin-left: calc(72 * 100vw / 1440);
	}
	.menu {
		margin-right: calc(72 * 100vw / 1440);
	}
	.title {
		left: calc(72 * 100vw / 1440);
	}
	.subtitle {
		left: calc(72 * 100vw / 1440);
	}
	.banner-buttons {
		left: calc(72 * 100vw / 1440);
	}
	.menu__item-cart {
		width: calc(122.27 * 100vw / 1440);
		border-radius: calc(100 * 100vw / 1440);
		margin-left: calc(10 * 100vw / 1440);
		grid-column-gap: calc(10 * 100vw / 1440);
	}
}

/*@media screen and (min-width: 1367px) and (max-width: 1440px) {
	.title {
		left: calc((100vw - 1366px + 160px) / 2);
	}
	.subtitle {
		left: calc((100vw - 1366px + 160px) / 2);
	}
}*/

@media screen and (min-width: 1000px) and (max-width: 1440px) {
	.top {
		width: calc(1440 * 100vw / 1440);
	}
}

/*@media screen and (min-width: 1367px) and (max-width: 1440px) {
	.top {
		width: 1366px;
	}
}*/

@media screen and (min-width: 1441px) and (max-width: 1700px) {
	.top {
		width: calc(1440 * 100vw / 1440);
	}
}

@media screen and (min-width: 1000px) and (max-width: 1700px) {
	.top {
/*		width: calc(1440 * 100vw / 1440);*/
		height: calc(96 * 100vw / 1440);
	}
	.top .logo {
		width: calc(196 * 100vw / 1440);
		height: calc(36 * 100vw / 1440);
	}
/*}      */
/*@media screen and (min-width: 1000px) and (max-width: 1250px) {        */
	#header_main {
		height: calc(768 * 100vw / 1440);
	}
	#header_sticky {
		/*width: calc(1440 * 100vw / 1440);*/
		height: calc(64 * 100vw / 1440);
	}
	#header_sticky .top {
		height: calc(64 * 100vw / 1440);
	}
	.menu__item {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
		padding: calc(8 * 100vw / 1440) calc(10 * 100vw / 1440);
	}
	.menu__item-button {
		border-radius: calc(100 * 100vw / 1440);
		margin-left: calc(10 * 100vw / 1440);
		height: calc(36 * 100vw / 1440);
		padding: calc(8 * 100vw / 1440) calc(16 * 100vw / 1440);
	}
	.menu__item-chevron {
		width: calc(16 * 100vw / 1440);
		height: calc(16 * 100vw / 1440);
	}
	.menu__item-dropdown {
		top: calc(36 * 100vw / 1440);
/*		left: calc(-1 * 20 * 100vw / 1440);*/
		padding: calc(24 * 100vw / 1440);
		grid-row-gap: calc(24 * 100vw / 1440);
		border-radius: calc(20 * 100vw / 1440);
	}
	.menu__item-dropdown-link {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.banner-desktop-wrap {
		/*top: calc(-96 * 100vw / 1440);*/
	}
	.banner-desktop {
		width: calc(1440 * 100vw / 1440);
		height: calc(768 * 100vw / 1440);
	}
	.title {
		font-size: calc(64 * 100vw / 1440);
		line-height: calc(72 * 100vw / 1440);
/*		width: calc(541 * 100vw / 1440);*/
		top: calc(329 * 100vw / 1440);
	}
	.subtitle {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
/*		width: calc(541 * 100vw / 1440);*/
		top: calc(413 * 100vw / 1440);
	}
	.banner-buttons {
		top: calc(505 * 100vw / 1440);
		grid-column-gap: calc(40 * 100vw / 1440);
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.banner-button-buy {
		padding: calc(20 * 100vw / 1440) calc(40 * 100vw / 1440);
		border-radius: calc(54 * 100vw / 1440);
	}
	.banner-button-buy:hover {
		padding: calc(23 * 100vw / 1440) calc(43 * 100vw / 1440);
	}
	.expand {
		margin-bottom: calc(9 * 100vw / 1440);
		width: calc(64 * 100vw / 1440);
		height: calc(64 * 100vw / 1440);
	}
}

@media screen and (max-width: 999px) { 
	#header_main, #header_sticky {
		display: none;
	}
	#header_mobile {
		width: 100%;
		height: 100dvh;
/*		height: 812px;*/
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	.top-wrap {
		width: 100%;
		height: 52px;
		position: fixed;
		z-index: 10;
		background: transparent;
	}
	.top-wrap-scrolled {
		background: rgba(0, 0, 0, 0.32);
		backdrop-filter: blur(32px);
	}
	.top {
		width: 335px;
		height: 36px;
		padding-top: 8px;
		padding-bottom: 8px;
		margin: 0 auto;
	}
	.top .logo {
		width: 145px;
		height: 16px;
		margin-left: 0;
		display: flex;
		align-items: center;
	}
	.top .logo img {
		width: 100%;
	}
	.logo-white {
		display: block;
	}
	.logo-black {
		display: none;
	}
	.top .buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		grid-column-gap: 16px;
	}
	.top .mob-button {
		cursor: pointer;
	}
	.button-cart {
		width: 25px;
		height: 24px;
	}
	.button-burger {
		width: 29px;
		height: 22px;
	}
	.button-menu {
		padding: 8px 16px;
		border-radius: 54px;
		background: rgba(255, 255, 255, 0.08);
		backdrop-filter: blur(8px);
		color: #FFF;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
		border: none;
		outline: none;
		box-shadow: none;
	}
	.button-close {
		display: none;
		z-index: 2;
	}
	.top .mob-button img {
		width: 100%;
	}
	.burger-menu-wrap {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #FFF;
		z-index: 2;
	}
	.burger-menu {
		width: 335px;
		margin: 0 auto;
		padding-top: 106px;
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
  		align-items: flex-start;
		grid-row-gap: 48px;
	}
	/*.header_mobile-fix {
		height: 104px;
	}*/
	.menu__item {
		flex-direction: column;
		color: #000;
		text-align: center;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 20px;
		padding: 0;
	}
	.menu__item-title {
		display: flex;
		align-items: center;
		grid-column-gap: 4px;
	}
	.menu__item-opened .menu__item-title {
		color: #BFBFBD;
	}
	.menu__item-cart {
		width: auto;
		height: 40px;
		padding: 0 23px;
		margin-left: 8px;
	}
	.menu__item-dropdown {
		width: 100%;
		position: unset;
		padding: 0;
		margin-top: 24px;
		align-items: flex-start;
		grid-row-gap: 20px;
		border-radius: unset;
		background: transparent;
		box-shadow: unset;
	}
	.menu__item-dropdown-link {
/*		white-space: normal;*/
/*		margin-right: 20px;*/
	}
	.banner {
		width: 100%;
/*		height: 660px;*/
/*		height: 600px;*/
		height: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.banner-top {
		width: 335px;
		margin-top: 180px;
		display: flex;
		flex-direction: column;
		grid-row-gap: 8px;
	}
	.banner__title {
		color: #FFF;
		font-family: Manrope;
		font-size: 40px;
		font-style: normal;
		font-weight: 600;
		line-height: 48px;
		text-align: left;
	}
	.banner__subtitle {
		color: #FFF;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: 24px;
		text-align: left;
	}
	.banner-bottom {
		width: 335px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.banner-buttons {
		width: 100%;
		position: unset;
	}
	.banner-button-buy {
		width: 335px;
		border-radius: 54px;
		backdrop-filter: blur(8px);
		text-align: center;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
	}
	.banner-menu-closed .banner-button-buy {
		padding: 16px 40px;
		border: none;
		color: #FFF;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) -728.8%, rgba(255, 255, 255, 0.00) 181.94%), rgba(255, 255, 255, 0.12);
	}
	.banner-menu-closed .banner-button-buy:hover {
		padding: 16px 40px;
	}
	.banner-menu-opened .banner-button-buy {
		padding: 14px 38px;
		border: 2px solid #0068FD;
		color: #1657FC;
		background: rgba(255, 255, 255, 0.04);		
	}
	.banner-menu-opened .banner-button-buy:hover {
		padding: 14px 38px;
	}
	.banner-button-learn {
		display: none;
	}
	.expand {
		margin-bottom: 0;
		width: 64px;
		height: 64px;
		cursor: pointer;
	}
}