#header_custom {
	width: 100%;
	height: 96px;
	position: fixed;
	background: #FEFEFE;
	z-index: 10;
}
.header-fix {
	height: 96px;
	display: block!important;
}
.top-wrap {
	width: 100%;
}
.top {
/*	width: 1366px;*/
	width: 100%;
	height: 96px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top .logo {	
	z-index: 2;
/*	margin-left: 128px;*/
	margin-left: 80px;
	width: 188px;
	height: 32px;
	display: flex;
	align-items: center;
}
.top .logo img {
	width: 100%;
	/*mix-blend-mode: darken;*/
}
.menu {
/*	margin-right: 114px;*/
	margin-right: 80px;
	display: flex;
/*	grid-column-gap: 10px;*/
	justify-content: flex-end;
	align-items: center;
}
.menu__item {
	position: relative;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	color: #0F0F0F;
	cursor: pointer;
	padding: 4px 12px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-gap: 4px;
}
.menu__item-sticky {
	color: #000000;
}
.menu__item-opened {
	color: #9FA1A8;
}
.menu__item-button {
	display: none;
}
.menu__item-button:hover {
	background: #FFFFFF;
	color: #000000;
}
.menu__item-cart {
	width: 122.27px;
	box-sizing: border-box;
	background: #3374FB;
	border-radius: 100px;
	margin-left: 8px;
	color: #FFFFFF;
	font-weight: 400;
}
.menu__item-cart a {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-gap: 10px;
	font-size: 18px;
	font-family: Gotham;
	font-weight: 400;
	line-height: 32px; 
}
/*.menu__item-cart:hover {
	background: #FFFFFF;
	color: #000000;
}*/
.menu__item:not(.menu__item-button):not(.menu__item-cart):hover {
	color: #9FA1A8;
}
.menu__item-dropdown-link:hover {
	color: #3374FB;
}
.menu__item a {
	color: inherit;
	text-decoration: none;
}
.menu__item-chevron {
	width: 16px;
	height: 16px;
}
.menu__item-chevron-down {
	display: block;
}
.menu__item-chevron-up {
	display: none;
}
.menu__item-dropdown {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 40px;
	left: -20px;
	padding: 32px;
	background: #FFFFFF;
	display: none;
	flex-direction: column;
	grid-row-gap: 20px;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
.menu__item-dropdown-link {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	white-space: nowrap;
}
.cart-link {
	background: #BAE4B2;
	border-radius: 100px;
	box-sizing: unset!important;
}
.cart-link a {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-gap: 10px;
	box-sizing: unset!important;
}
.cart-icon-wrap {
	width: 24px;
	height: 24px;
	position: relative;
	box-sizing: unset!important;
}
.cart-icon-wrap img {
	width: 100%;
	height: 100%;
}
.cart-qty {
	position: absolute;
	top: 0;
	left: 14px;
	width: 13.27px;
	height: 13.27px;
	background: #80BA75;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 32px;
	color: #FFFFFF;
	border-radius: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.buttons, .burger-menu-wrap {
	display: none;
}
