.header-country {
    position: relative;
    font-family: Manrope;
    font-style: normal;
}

.header-country * {
    box-sizing: border-box;
}

.header-country-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65px;
    height: 28px;
    padding: 4px 2px 4px 6px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(8px);
    cursor: pointer;
}

.header-country-button span {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.header-country-dropdown {
    position: absolute;
    top: 32px;
    right: 0;
    width: 248px;
    height: 336px;
    padding: 0 24px;
    border-radius: 12px;
    background: #1D1D1F;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.10);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #0465FD #4D4D4D;
}

.header-country-dropdown::-webkit-scrollbar {
    width: 6px;
}

.header-country-dropdown::-webkit-scrollbar-thumb {
    background: #0465FD;
    border-radius: 0;
}

.header-country-dropdown::-webkit-scrollbar-track {
    background: #4D4D4D;
}

.header-country-dropdown-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 18px 0;
}

.header-country-dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}

.header-country-dropdown-item.selected {
    flex-wrap: wrap;
    row-gap: 4px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #888;
}

.header-country-dropdown-item:not(.selected):hover {
    color: #888;
}

.header-country-dropdown-item-note {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #999;
}

@media (max-width: 1440px) and (min-width: 577px) {
    .header-country-button {
        width: calc(65 * 100vw / 1440);
        height: calc(28 * 100vw / 1440);
        padding: calc(4 * 100vw / 1440) calc(2 * 100vw / 1440) calc(4 * 100vw / 1440) calc(6 * 100vw / 1440);
        border-radius: calc(6 * 100vw / 1440);
    }

    .header-country-button span {
        font-size: calc(16 * 100vw / 1440);
        line-height: calc(24 * 100vw / 1440);
    }
    
    .header-country-dropdown {
        top: calc(32 * 100vw / 1440);
        width: calc(248 * 100vw / 1440);
        height: calc(336 * 100vw / 1440);
        padding: 0 calc(24 * 100vw / 1440);
        border-radius: calc(12 * 100vw / 1440);
    }
    
    .header-country-dropdown::-webkit-scrollbar {
        width: calc(6 * 100vw / 1440);
    }
    
    .header-country-dropdown-list {
        gap: calc(12 * 100vw / 1440);
        padding: calc(18 * 100vw / 1440) 0;
    }

    .header-country-dropdown-item {
        font-size: calc(14 * 100vw / 1440);
        line-height: calc(20 * 100vw / 1440);
    }
    
    .header-country-dropdown-item.selected {
        row-gap: calc(4 * 100vw / 1440);
        margin-bottom: calc(16 * 100vw / 1440);
        padding-bottom: calc(16 * 100vw / 1440);
    }

    .header-country-dropdown-item-note {
        font-size: calc(12 * 100vw / 1440);
        line-height: calc(18 * 100vw / 1440);
    }
}

@media (max-width: 576px) {
    .header-country-button {
        width: calc(65 * 100vw / 375);
        height: calc(28 * 100vw / 375);
        padding: calc(4 * 100vw / 375) calc(2 * 100vw / 375) calc(4 * 100vw / 375) calc(6 * 100vw / 375);
        border-radius: calc(6 * 100vw / 375);
    }

    .header-country-button span {
        font-size: calc(16 * 100vw / 375);
        line-height: calc(24 * 100vw / 375);
    }
    
    .header-country-dropdown {
        top: calc(40 * 100vw / 375);
        left: calc(-1 * 100vw / 2);
        right: unset;
        width: calc(335 * 100vw / 375);
        height: calc(489 * 100vw / 375);
        padding: 0 calc(24 * 100vw / 375);
        border-radius: calc(12 * 100vw / 375);
    }
    
    .header-country-dropdown::-webkit-scrollbar {
        width: calc(6 * 100vw / 375);
    }
    
    .header-country-dropdown-list {
        gap: calc(12 * 100vw / 375);
        padding: calc(18 * 100vw / 375) 0;
    }

    .header-country-dropdown-item {
        font-size: calc(14 * 100vw / 375);
        line-height: calc(20 * 100vw / 375);
    }
    
    .header-country-dropdown-item.selected {
        row-gap: calc(4 * 100vw / 375);
        margin-bottom: calc(16 * 100vw / 375);
        padding-bottom: calc(16 * 100vw / 375);
    }

    .header-country-dropdown-item-note {
        font-size: calc(12 * 100vw / 375);
        line-height: calc(18 * 100vw / 375);
    }
}
