.header-country {
    position: relative;
    font-family: Manrope;
    font-style: normal;
}

.header-country * {
    box-sizing: border-box;
}

.header-country-button {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    width: 54px;
    height: 32px;
    padding: 6px 10px 6px 8px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(8px);
    cursor: pointer;
}

.header-country-button span {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #FFF !important;
}

.header-country-dropdown {
    position: absolute;
    top: 32px;
    right: 0;
    width: 380px;
    padding: 20px;
    border-radius: 12px;
    background: #1D1D1F;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.10);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #FFF #4D4D4D;
}

.header-country-dropdown::-webkit-scrollbar {
    width: 3px;
}

.header-country-dropdown::-webkit-scrollbar-thumb {
    background: #FFF;
    border-radius: 0;
}

.header-country-dropdown::-webkit-scrollbar-track {
    background: #4D4D4D;
}

.header-country-dropdown-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-country-dropdown-region {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-country-dropdown-region:not(:last-child) {
    padding-bottom: 16px;
    border-bottom: 1px solid #888;
}

.header-country-dropdown-region-name {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: #FFF !important;
}

.header-country-dropdown-region-name:hover {
    color: #888 !important;
}

.header-country-dropdown-region-name span {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

.header-country-dropdown-region-name img {
    width: 20px;
    height: 20px;
    color: currentColor;
}

.header-country-dropdown-subregions {
    display: none;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.header-country-dropdown-subregion {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.header-country-dropdown-subregion-name {
    color: #999 !important;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.252px;
    text-transform: uppercase;
}

.header-country-dropdown-countries {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-country-dropdown-country {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    cursor: pointer;
}

.header-country-dropdown-country > div:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-country-dropdown-country > div:first-child img {
    width: 20px;
    height: 20px;
}

.header-country-dropdown-country > div:first-child span {
    color: #FFF !important;
    font-size: 14px;
}

.header-country-dropdown-country.selected > div:first-child span,
.header-country-dropdown-country:hover > div:first-child span {
    color: #888 !important;
}

.header-country-dropdown-country > div:last-child {
    color: #999 !important;
    font-size: 16px;
}

.header-country-dropdown-country > div:first-child span,
.header-country-dropdown-country > div:last-child {
    font-feature-settings: 'liga' off, 'clig' off;
    font-weight: 500;
    line-height: 20px;
}

@media (max-width: 1440px) and (min-width: 577px) {
    .header-country-button {
        gap: calc(6 * 100vw / 1440);
        width: calc(54 * 100vw / 1440);
        height: calc(32 * 100vw / 1440);
        padding: calc(6 * 100vw / 1440) calc(10 * 100vw / 1440) calc(6 * 100vw / 1440) calc(8 * 100vw / 1440);
        border-radius: calc(6 * 100vw / 1440);
    }

    .header-country-button span {
        font-size: calc(16 * 100vw / 1440);
        line-height: calc(24 * 100vw / 1440);
    }
    
    .header-country-dropdown {
        top: calc(32 * 100vw / 1440);
        width: calc(380 * 100vw / 1440);
        padding: calc(20 * 100vw / 1440);
        border-radius: calc(12 * 100vw / 1440);
    }
    
    .header-country-dropdown::-webkit-scrollbar {
        width: calc(3 * 100vw / 1440);
    }
    
    .header-country-dropdown-list {
        gap: calc(16 * 100vw / 1440);
    }

    .header-country-dropdown-region {
        gap: calc(16 * 100vw / 1440);
    }

    .header-country-dropdown-region:not(:last-child) {
        padding-bottom: calc(16 * 100vw / 1440);
    }

    .header-country-dropdown-region-name {
        gap: calc(8 * 100vw / 1440);
    }

    .header-country-dropdown-region-name span {
        font-size: calc(20 * 100vw / 1440);
        line-height: calc(24 * 100vw / 1440);
        letter-spacing: calc(0.36 * 100vw / 1440);
    }

    .header-country-dropdown-region-name img {
        width: calc(20 * 100vw / 1440);
        height: calc(20 * 100vw / 1440);
    }

    .header-country-dropdown-subregions {
        gap: calc(16 * 100vw / 1440);
    }

    .header-country-dropdown-subregion {
        gap: calc(12 * 100vw / 1440);
    }

    .header-country-dropdown-subregion-name {
        font-size: calc(14 * 100vw / 1440);
        line-height: calc(20 * 100vw / 1440);
        letter-spacing: calc(0.252 * 100vw / 1440);
    }

    .header-country-dropdown-countries {
        gap: calc(8 * 100vw / 1440);
    }

    .header-country-dropdown-country {
        padding: calc(4 * 100vw / 1440) 0;
    }

    .header-country-dropdown-country > div:first-child {
        gap: calc(12 * 100vw / 1440);
    }

    .header-country-dropdown-country > div:first-child img {
        width: calc(20 * 100vw / 1440);
        height: calc(20 * 100vw / 1440);
    }

    .header-country-dropdown-country > div:first-child span {
        font-size: calc(14 * 100vw / 1440);
    }

    .header-country-dropdown-country > div:last-child {
        font-size: calc(16 * 100vw / 1440);
    }

    .header-country-dropdown-country > div:first-child span,
    .header-country-dropdown-country > div:last-child {
        line-height: calc(20 * 100vw / 1440);
    }
}

@media (max-width: 576px) {
    .header-country-button {
        width: calc(65 * 100vw / 375);
        height: calc(28 * 100vw / 375);
        padding: calc(4 * 100vw / 375) calc(2 * 100vw / 375) calc(4 * 100vw / 375) calc(6 * 100vw / 375);
        border-radius: calc(6 * 100vw / 375);
    }

    .header-country-button span {
        font-size: calc(16 * 100vw / 375);
        line-height: calc(24 * 100vw / 375);
    }
    
    .header-country-dropdown {
        top: calc(40 * 100vw / 375);
        left: calc(-1 * 100vw / 2);
        right: unset;
        width: calc(335 * 100vw / 375);
        height: calc(489 * 100vw / 375);
        padding: 0 calc(24 * 100vw / 375);
        border-radius: calc(12 * 100vw / 375);
    }
    
    .header-country-dropdown::-webkit-scrollbar {
        width: calc(6 * 100vw / 375);
    }
    
    .header-country-dropdown-list {
        gap: calc(12 * 100vw / 375);
        padding: calc(18 * 100vw / 375) 0;
    }
}
