#header_main {
	width: 100%;
    /* height: 810px; */
	height: 100vh;
	position: relative;
}
#header_mobile {
	display: none;
}
#header_sticky {
	width: 100%;
	height: 64px;
	position: fixed;
	top: 0;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
/*	background: rgba(0, 0, 0, 0.32);*/
/*	backdrop-filter: blur(32px);*/
	z-index: 10;
}
.top-wrap {
	width: 100%;
}
.top {
	width: 1440px;
	height: 96px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header_sticky .top {
	height: 64px;
}
.top .logo {	
	z-index: 2;
/*	margin-left: 128px;*/
	margin-left: 72px;
	width: 175px;
	height: 16px;
	display: flex;
	align-items: center;
}
.top .logo img {
	width: 100%;
	/*mix-blend-mode: darken;*/
}
.menu {
	z-index: 2;
/*	margin-right: 114px;*/
	margin-right: 72px;
	display: flex;
/*	grid-column-gap: 10px;*/
	justify-content: flex-end;
	align-items: center;
}
.menu__item {
	position: relative;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px; 
	color: #FFFFFF;
	cursor: pointer !important;
	padding: 8px 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-gap: 4px;
}
.menu__item-pro {
	display: flex;
	align-items: center;
	grid-column-gap: 4px;
}
.menu__item-pro span {
	padding: 2px 4px 3px 4px;
	border-radius: 4px;
	background: linear-gradient(179deg, #0069FD 1.13%, #4E23F9 201.17%); 
	color: #FFF;
	text-align: center;
	font-family: Manrope;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 12px;
}
.menu__item-cart {
	width: 122.27px;
	box-sizing: border-box;
/*	background: #3374FB;*/
	border-radius: 100px;
	margin-left: 10px;
	font-weight: 400;
	color: #FFFFFF!important;
}
.menu__item-cart a {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-gap: 10px;
	font-size: 16px;
	font-family: Manrope;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: normal;
}
.menu__item-sticky {
/*	color: #000000;*/
}
.menu__item-opened {
	color: #BFBFBD;
}
.menu__item-button {
	background: linear-gradient(179deg, #0069FD 1.13%, #4E23F9 201.17%), linear-gradient(179deg, #437DF6 -48.86%, #4E23F9 696.27%); 
	border-radius: 20px; 
	margin-left: 10px;
	font-weight: 600;
	height: 36px;
	padding: 8px 16px;
}
.menu__item-button:hover {
	background: linear-gradient(179deg, #005FE5 1.13%, #3B0CF8 201.17%);
}
.menu__item:not(.menu__item-button):hover {
	color: #BFBFBD;
}
.menu__item-dropdown-link:hover {
	color: #3374FB;
}
.menu__item a {
	color: inherit;
	text-decoration: none;
}
.menu__item-chevron {
	width: 16px;
	height: 16px;
}
.menu__item-chevron-down {
	display: block;
}
.menu__item-chevron-up {
	display: none;
}
.menu__item-dropdown {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 36px;
	left: 0;
	padding: 24px;
	display: none;
	flex-direction: column;
	grid-row-gap: 24px;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
}
.menu__item-dropdown-link {
	color: #000;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
}
.menu__item-dropdown-link:hover {
	color: #1658FC; 
}
.cart-link {
	background: #BAE4B2;
	border-radius: 100px;
}
.cart-link a {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-gap: 10px;
}
.cart-icon-wrap {
	width: 24px;
	height: 24px;
	position: relative;
}
.cart-icon-wrap img {
	width: 100%;
	height: 100%;
}
.cart-qty {
	position: absolute;
	top: 0;
	left: 14px;
	width: 13.27px;
	height: 13.27px;
	background: #1658FC;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 32px;
	color: #FFFFFF;
	border-radius: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.banner-desktop-wrap {
	position: absolute;
	top: 0;
	width: 100vw;
	/* height: 100vh; */
  	/* min-height: 810px; */
    /* height: 810px; */
	height: 100vh;
}
.banner-desktop {
	width: 100%;
	height: 100%;
  	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.banner-desktop-ellipse {
    position: absolute;
    width: 1663.117px;
    height: 1139.96px;
    left: -562.62px;
    bottom: -389.35px;
    border-radius: 1663.117px;
    background: radial-gradient(50% 50% at 50% 50%, #3D353A 0%, rgba(61, 53, 58, 0.00) 100%);
    mix-blend-mode: difference;
}
.banner-desktop-body {
    position: absolute;
    top: 156px;
    left: 72px;
    right: 72px;
	display: flex;
	flex-direction: column;
    row-gap: 60px;
	justify-content: flex-end;
}
.banner-desktop-body-device {
    width: 445px;
    height: 329.715px;
    margin-left: -15px;
}
.banner-desktop-body-device img {
    width: 100%;
}
.banner-desktop-body-caption {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-desktop-body-caption-left {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.banner-desktop-body-caption-main {
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.banner-desktop-body-caption-main img {
    width: 665px;
	height: 48px;
}
.banner-desktop-body-caption-main a {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    border: 3px solid #0068FD;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) -728.8%, rgba(255, 255, 255, 0.00) 181.94%), rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(8px);
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
	text-decoration: none;
    cursor: pointer;
}
.banner-desktop-body-caption-main a:hover {
	background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%);
	border: none;
	padding: 23px 43px;
}
.banner-desktop-body-caption-subtitle {
    color: #FFF;
	font-family: Manrope;
	font-size: 44px;
	font-style: normal;
	font-weight: 500;
	line-height: 52px;
}
.banner-desktop-body-caption-kickstarter {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    overflow: hidden;
}
.banner-desktop-body-caption-kickstarter img {
    width: 100%;
    height: 100%;
}
