@media screen and (max-width: 1440px) and (max-height: 810px) {
	/*.screenmate-logo {
		top: calc(108px - (810px - 100vh) / 2);
	}
	.screenmate-video, .screenmate-form {
		top: calc(238px - (810px - 100vh) / 2);
	}
	.screenmate-info {
		bottom: calc(40px - (810px - 100vh) / 2);
	}*/
}
@media screen and (min-width: 1920px) and (max-height: 1080px) {
	.screenmate-logo {
		top: 241px;
	}
	.screenmate-logo-shadow {
		top: 245px;
	}
	.screenmate-video, .screenmate-form {
		top: 371px;
	}
	.screenmate-info {
		bottom: 177px;
	}
	.screenmate-success {
		top: 438px;
	}
}
@media screen and (max-width: 1920px) and (min-height: 810px) and (max-height: 1080px) {
	.screenmate-logo {
		top: calc(241px - (1080px - 100vh) / 2);
	}
	.screenmate-logo-shadow {
		top: calc(245px - (1080px - 100vh) / 2);
	}
	.screenmate-video, .screenmate-form {
		top: calc(371px - (1080px - 100vh) / 2);
	}
	.screenmate-info {
		bottom: calc(177px - (1080px - 100vh) / 2);
	}
	.screenmate-success {
		top: calc(438px - (1080px - 100vh) / 2);
	}
}
@media screen and (min-height: 1080px) {
	.screenmate-logo {
		width: calc(613 * 100vh / 1080);
		height: calc(58 * 100vh / 1080);
		top: calc(241 * 100vh / 1080);
	}
	.screenmate-logo-shadow {
		width: calc(569 * 100vh / 1080);
		height: calc(77 * 100vh / 1080);
		top: calc(245 * 100vh / 1080);
	}
	.screenmate-video {
		width: calc(585 * 100vh / 1080);
		height: calc(367 * 100vh / 1080);
		top: calc(371 * 100vh / 1080);
	}
	.screenmate-info {
		bottom: calc(177 * 100vh / 1080);
	}
	.screenmate-info-text {
		font-size: calc(24 * 100vh / 1080);
		line-height: calc(32 * 100vh / 1080);
	}
	.screenmate-info-link {
		grid-column-gap: calc(8 * 100vh / 1080);
	}
	.screenmate-info-link span {
		font-size: calc(24 * 100vh / 1080);
		line-height: calc(32 * 100vh / 1080);
	}
	.screenmate-info-link .screenmate-info-link-kickstarter {
		width: calc(205.451 * 100vh / 1080);
		height: calc(24 * 100vh / 1080);
	}
	.screenmate-info-link .screenmate-info-link-chevron {
		width: calc(24 * 100vh / 1080);
		height: calc(24 * 100vh / 1080);
	}
	.screenmate-form {
		width: calc(651 * 100vh / 1080);
		height: calc(332 * 100vh / 1080);
		padding: calc(40 * 100vh / 1080);
		grid-row-gap: calc(20 * 100vh / 1080);
		border-radius: calc(24 * 100vh / 1080);
		top: calc(371 * 100vh / 1080);
	}
	.screenmate-form-title {
		width: calc(472 * 100vh / 1080);
		font-size: calc(32 * 100vh / 1080);
		line-height: calc(40 * 100vh / 1080);
	}
	.screenmate-form-close {
		width: calc(20 * 100vh / 1080);
		height: calc(20 * 100vh / 1080);
	}
	.screenmate-form-fields {
		grid-column-gap: calc(24 * 100vh / 1080);
	}
	.screenmate-form-field {
		grid-row-gap: calc(8 * 100vh / 1080);
	}
	.screenmate-form-field-label {
		font-size: calc(16 * 100vh / 1080);
		line-height: calc(20 * 100vh / 1080);
	}
	.screenmate-form-field-input {
		padding: calc(16 * 100vh / 1080);
		font-size: calc(16 * 100vh / 1080);
		line-height: calc(20 * 100vh / 1080);
		border-radius: calc(6 * 100vh / 1080);
	}
	.screenmate-form-agree {
		grid-column-gap: calc(8 * 100vh / 1080);
	}
	.screenmate-form-agree-checkbox-wrap {
		width: calc(20 * 100vh / 1080);
		height: calc(20 * 100vh / 1080);
		border-radius: calc(4 * 100vh / 1080);
	}
	.screenmate-form-agree-checkbox {
		width: calc(20 * 100vh / 1080);
		height: calc(20 * 100vh / 1080);
	}
	.screenmate-form-agree-label {
		font-size: calc(16 * 100vh / 1080);
		line-height: calc(20 * 100vh / 1080);
	}
	.screenmate-form-button {
		padding: calc(14 * 100vh / 1080) calc(28 * 100vh / 1080);
		border-radius: calc(26 * 100vh / 1080);
		font-size: calc(18 * 100vh / 1080);
		line-height: calc(24 * 100vh / 1080);
	}
	.screenmate-success {
		width: calc(497 * 100vh / 1080);
		height: calc(265 * 100vh / 1080);
		padding: calc(40 * 100vh / 1080);
		grid-row-gap: calc(16 * 100vh / 1080);
		border-radius: calc(24 * 100vh / 1080);
		top: calc(438 * 100vh / 1080);
	}
	.screenmate-success-title {
		font-size: calc(32 * 100vh / 1080);
		line-height: calc(40 * 100vh / 1080);
	}
	.screenmate-success-close {
		width: calc(20 * 100vh / 1080);
		height: calc(20 * 100vh / 1080);
	}
	.screenmate-success-body {
		grid-row-gap: calc(16 * 100vh / 1080);
	}
	.screenmate-success-body span {
		font-size: calc(24 * 100vh / 1080);
		line-height: calc(32 * 100vh / 1080);
	}
	.screenmate-success-body img {
		width: calc(416 * 100vh / 1080);
		height: calc(48.596 * 100vh / 1080);
	}
}
@media screen and (min-width: 1920px) {
	.banner-desktop-wrap {
		min-height: 1080px;
	}
}
@media screen and (max-width: 1920px) {
	.screenmate-video {
		margin-left: -5px;
	}
}
@media screen and (min-width: 576px) and (max-width: 1440px) {
	.top {
		width: calc(1440 * 100vw / 1440);
	}
	.top .logo {	
		margin-left: calc(72 * 100vw / 1440);
	}
	.menu {
		margin-right: calc(72 * 100vw / 1440);
	}
	.menu__item-cart {
		width: calc(122.27 * 100vw / 1440);
		border-radius: calc(100 * 100vw / 1440);
		margin-left: calc(10 * 100vw / 1440);
		grid-column-gap: calc(10 * 100vw / 1440);
	}
	.banner-desktop-wrap, .screenmate-shadow {
	  	min-height: calc(810 * 100vw / 1440);
	}
	.screenmate-steamdeck {
		width: calc(822 * 100vw / 1440);
		height: calc(480 * 100vw / 1440);
		right: calc(-1 * 382 * 100vw / 1440);
		bottom: calc(-1 * 90 * 100vw / 1440);
	}
}

@media screen and (min-width: 1441px) and (max-width: 1700px) {
	.top {
		width: calc(1440 * 100vw / 1440);
	}
}

@media screen and (min-width: 576px) and (max-width: 1700px) {
	.top {
		height: calc(96 * 100vw / 1440);
	}
	.top .logo {
		width: calc(196 * 100vw / 1440);
		height: calc(36 * 100vw / 1440);
	}
	#header_sticky {
		height: calc(64 * 100vw / 1440);
	}
	#header_sticky .top {
		height: calc(64 * 100vw / 1440);
	}
	.menu__item {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
		padding: calc(8 * 100vw / 1440) calc(10 * 100vw / 1440);
	}
	.menu__item-pro {
		grid-column-gap: calc(4 * 100vw / 1440);
	}
	.menu__item-pro span {
		padding: calc(2 * 100vw / 1440) calc(4 * 100vw / 1440) calc(3 * 100vw / 1440) calc(4 * 100vw / 1440);
		border-radius: calc(4 * 100vw / 1440);
		font-size: calc(12 * 100vw / 1440);
		line-height: calc(12 * 100vw / 1440);
	}
	.menu__item-button {
		border-radius: calc(100 * 100vw / 1440);
		margin-left: calc(10 * 100vw / 1440);
		height: calc(36 * 100vw / 1440);
		padding: calc(8 * 100vw / 1440) calc(16 * 100vw / 1440);
	}
	.menu__item-chevron {
		width: calc(16 * 100vw / 1440);
		height: calc(16 * 100vw / 1440);
	}
	.menu__item-dropdown {
		top: calc(36 * 100vw / 1440);
/*		left: calc(-1 * 20 * 100vw / 1440);*/
		padding: calc(24 * 100vw / 1440);
		grid-row-gap: calc(24 * 100vw / 1440);
		border-radius: calc(20 * 100vw / 1440);
	}
	.menu__item-dropdown-link {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) { 
	#header_main, #header_sticky {
		display: none;
	}
	#header_mobile {
		width: 100%;
		height: 100dvh;
		min-height: 810px;
/*		height: calc(2210 * 100vw / 375);*/
/*		height: 810px;*/
/*		height: 812px;*/
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: relative;
		background: black;
	}
	.top-wrap {
		width: 100%;
		height: calc(52 * 100vw / 375);
		position: fixed;
		z-index: 10;
		background: transparent;
	}
	.top-wrap-scrolled {
		background: rgba(0, 0, 0, 0.32);
		backdrop-filter: blur(32px);
	}
	.top {
		width: calc(335 * 100vw / 375);
		height: calc(36 * 100vw / 375);
		padding-top: calc(8 * 100vw / 375);
		padding-bottom: calc(8 * 100vw / 375);
		margin: 0 auto;
	}
	.top .logo {
		width: calc(145 * 100vw / 375);
		height: calc(16 * 100vw / 375);
		margin-left: 0;
		display: flex;
		align-items: center;
	}
	.top .logo img {
		width: 100%;
	}
	.logo-white {
		display: block;
	}
	.logo-black {
		display: none;
	}
	.top .buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		grid-column-gap: calc(12 * 100vw / 375);
	}
	.top .mob-button {
		cursor: pointer;
	}
	.button-cart {
		width: calc(25 * 100vw / 375);
		height: calc(24 * 100vw / 375);
	}
	.button-burger {
		width: calc(29 * 100vw / 375);
		height: calc(22 * 100vw / 375);
	}
	.button-menu {
		padding: calc(8 * 100vw / 375) calc(16 * 100vw / 375);
		border-radius: calc(54 * 100vw / 375);
		background: rgba(255, 255, 255, 0.08);
		backdrop-filter: blur(8px);
		color: #FFF;
		font-family: Manrope;
		font-size: calc(16 * 100vw / 375);
		font-style: normal;
		font-weight: 500;
		line-height: calc(20 * 100vw / 375);
		border: none;
		outline: none;
		box-shadow: none;
	}
	.top-wrap-scrolled .button-menu {
		background: rgba(0, 0, 0, 0.32);
	}
	.button-close {
		display: none;
		z-index: 2;
	}
	.top .mob-button img {
		width: 100%;
	}
	.burger-menu-wrap {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #FFF;
		z-index: 5;
	}
	.burger-menu {
		width: calc(335 * 100vw / 375);
		margin: 0 auto;
		padding-top: calc(106 * 100vw / 375);
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
  		align-items: flex-start;
		grid-row-gap: calc(48 * 100vw / 375);
	}
	/*.header_mobile-fix {
		height: 104px;
	}*/
	.menu__item {
		flex-direction: column;
		align-items: flex-start;
		color: #000;
		text-align: center;
		font-family: Manrope;
		font-size: calc(16 * 100vw / 375);
		font-style: normal;
		font-weight: 600;
		line-height: calc(20 * 100vw / 375);
		padding: 0;
	}
	.menu__item-title {
		display: flex;
		align-items: center;
		grid-column-gap: calc(4 * 100vw / 375);
	}
	.menu__item-opened .menu__item-title {
		color: #BFBFBD;
	}
	.menu__item-pro {
		grid-column-gap: calc(4 * 100vw / 375);
	}
	.menu__item-pro span {
		padding: calc(2 * 100vw / 375) calc(4 * 100vw / 375) calc(3 * 100vw / 375) calc(4 * 100vw / 375);
		border-radius: calc(4 * 100vw / 375);
		font-size: calc(12 * 100vw / 375);
		line-height: calc(12 * 100vw / 375);
	}
	.menu__item-cart {
		width: auto;
		height: calc(36 * 100vw / 375);
		padding: 0;
		margin-left: 0;
	}
	.cart-icon-wrap {
		width: calc(24 * 100vw / 375);
		height: calc(24 * 100vw / 375);
	}
	.cart-qty {
		width: calc(13 * 100vw / 375);
		height: calc(13 * 100vw / 375);
		top: 0;
		right: 0;
		background: #3374FB;
		color: #FFF;
		text-align: center;
		font-family: Manrope;
		font-size: calc(12 * 100vw / 375);
		font-style: normal;
		font-weight: 600;
		line-height: calc(12 * 100vw / 375);
	}
	.menu__item-dropdown {
		width: 100%;
		position: unset;
		padding: 0;
		margin-top: calc(24 * 100vw / 375);
		align-items: flex-start;
		grid-row-gap: calc(20 * 100vw / 375);
		border-radius: unset;
		background: transparent;
		box-shadow: unset;
	}
	.menu__item-dropdown-link {
/*		white-space: normal;*/
/*		margin-right: 20px;*/
	}
	.banner {
		width: 100%;
/*		height: 660px;*/
/*		height: 600px;*/
/*		height: 100%;*/		
/*		height: calc(810 * 100vw / 375);*/
		height: 810px;
/*		flex: 1;*/
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	.banner-mobile-image {
		width: calc(375 * 100vw / 375);
		position: absolute;
		top: 0;
		margin: 0 auto;
	}
	.banner-top {
		width: calc(335 * 100vw / 375);
		margin-top: calc(68 * 100vw / 375);
		display: flex;
		flex-direction: column;
		grid-row-gap: calc(8 * 100vw / 375);
		z-index: 2;
	}
	.banner__title {
		color: #FFF;
		font-family: Manrope;
		font-size: calc(40 * 100vw / 375);
		font-style: normal;
		font-weight: 600;
		line-height: calc(48 * 100vw / 375);
		text-align: left;
	}
	.banner__subtitle {
		color: #FFF;
		font-family: Manrope;
		font-size: calc(18 * 100vw / 375);
		font-style: normal;
		font-weight: 500;
		line-height: calc(24 * 100vw / 375);
		text-align: left;
	}
	.banner-bottom {
		width: calc(335 * 100vw / 375);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		grid-row-gap: calc(16 * 100vw / 375);
		z-index: 2;
	}
	.burger-menu-wrap .banner-buttons {
		width: calc(335 * 100vw / 375);
  		margin: 0 auto;
  		padding-bottom: calc(64 * 100vw / 375);
	}
	.banner-button-buy {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		border-radius: calc(54 * 100vw / 375);
		backdrop-filter: blur(8px);
		text-align: center;
		font-family: Manrope;
		font-size: calc(18 * 100vw / 375);
		font-style: normal;
		font-weight: 500;
		line-height: calc(24 * 100vw / 375);
		cursor: pointer;
		text-decoration: none;
		box-sizing: border-box;
	}
	.banner-menu-closed .banner-button-buy {
		padding: calc(16 * 100vw / 375) calc(40 * 100vw / 375);
		border: none;
		color: #FFF;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) -728.8%, rgba(255, 255, 255, 0.00) 181.94%), rgba(255, 255, 255, 0.12);
	}
	.banner-menu-closed .banner-button-buy:hover {
		padding: calc(16 * 100vw / 375) calc(40 * 100vw / 375);
	}
	.burger-menu-wrap .banner-button-buy {
		padding: calc(14 * 100vw / 375) calc(38 * 100vw / 375);
		border: 2px solid #0068FD;
		color: #1657FC;
		background: rgba(255, 255, 255, 0.04);		
	}
	.burger-menu-wrap .banner-button-buy:hover {
		padding: calc(14 * 100vw / 375) calc(38 * 100vw / 375);
	}
	.screenmate-logo {
		width: 335px;
		height: 30px;
		top: 156px;
	}
	.screenmate-logo-shadow {
		width: 375px;
		height: 77px;
		top: 136px;
		border-radius: 375px;
	}
	.screenmate-video {
		width: 320px;
		height: 200px;
		top: 284px;
		border-radius: 6px;
		margin-left: 0;
	}
	.screenmate-info {
		bottom: 44px;
		grid-row-gap: 36px;
	}
	.screenmate-info-text {
		font-size: 20px;
		line-height: 24px;
	}
	.screenmate-info-link {
		flex-direction: column;
		grid-row-gap: 12px;
	}
	.screenmate-info-link span {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		text-decoration: underline;
	}
	.screenmate-info-link .screenmate-info-link-kickstarter {
		width: 205.451px;
		height: 24px;
	}
	.screenmate-info-link .screenmate-info-link-chevron {
		display: none;
	}
	.screenmate-shadow {
	  	min-height: 810px;
	}
	.screenmate-form {
		width: 330px;
		height: 480px;
		padding: 24px;
		grid-row-gap: 20px;
		top: 231px;
		border-radius: 24px;
	}
	.screenmate-form-title {
		width: 262px;
		font-size: 24px;
		line-height: 32px;
	}
	.screenmate-form-close {
		width: 20px;
		height: 20px;
	}
	.screenmate-form-fields {
		flex-direction: column;
		grid-row-gap: 24px;
	}
	.screenmate-form-field {
		grid-row-gap: 8px;
		width: 100%;
	}
	.screenmate-form-field-label {
		font-size: 16px;
		line-height: 20px;
	}
	.screenmate-form-field-input {
		padding: 16px;
		font-size: 16px;
		line-height: 20px;
		border-radius: 6px;
	}
	.screenmate-form-submit {
		flex-direction: column;
		grid-row-gap: 20px;
	}
	.screenmate-form-agree {
		align-items: flex-start;
		grid-column-gap: 8px;
	}
	.screenmate-form-agree-checkbox-wrap {
		width: 20px;
		height: 20px;
		border-radius: 4px;
	}
	.screenmate-form-agree-checkbox {
		width: 20px;
		height: 20px;
	}
	.screenmate-form-agree-label {
		width: 254px;
		font-size: 16px;
		line-height: 20px;
	}
	.screenmate-form-button {
		width: 100%;
		text-align: center;
		padding: 14px 28px;
		border-radius: 26px;
		font-size: 18px;
		line-height: 24px;	
	}
	.screenmate-success {
		width: 330px;
		height: 210px;
		padding: 24px;
		grid-row-gap: 12px;
		top: 231px;
		border-radius: 24px;
	}
	.screenmate-success-title {
		font-size: 24px;
		line-height: 32px;
	}
	.screenmate-success-close {
		width: 20px;
		height: 20px;
	}
	.screenmate-success-body {
		grid-row-gap: 12px;
	}
	.screenmate-success-body span {
		width: 262px;
		font-size: 20px;
		line-height: 24px;
	}
	.screenmate-success-body img {
		width: 287px;
		height: 33.533px;
	}
}
