#header_main {
	width: 100%;
	position: relative;
}
#header_mobile {
	display: none;
}
#header_sticky {
	width: 100%;
	height: 64px;
	position: fixed;
	top: 0;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
/*	background: rgba(0, 0, 0, 0.32);*/
/*	backdrop-filter: blur(32px);*/
	z-index: 10;
}
.top-wrap {
	width: 100%;
}
.top {
	width: 1440px;
	height: 96px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header_sticky .top {
	height: 64px;
}
.top .logo {	
	z-index: 2;
/*	margin-left: 128px;*/
	margin-left: 72px;
	width: 196px;
	height: 36px;
	display: flex;
	align-items: center;
}
.top .logo img {
	width: 100%;
	/*mix-blend-mode: darken;*/
}
.menu {
	z-index: 2;
/*	margin-right: 114px;*/
	margin-right: 72px;
	display: flex;
/*	grid-column-gap: 10px;*/
	justify-content: flex-end;
	align-items: center;
}
.menu__item {
	position: relative;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px; 
	color: #FFFFFF;
	cursor: pointer;
	padding: 8px 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-gap: 4px;
}
.menu__item-pro {
	display: flex;
	align-items: center;
	grid-column-gap: 4px;
}
.menu__item-pro span {
	padding: 2px 4px 3px 4px;
	border-radius: 4px;
	background: linear-gradient(179deg, #0069FD 1.13%, #4E23F9 201.17%); 
	color: #FFF;
	text-align: center;
	font-family: Manrope;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 12px;
}
.menu__item-cart {
	width: 122.27px;
	box-sizing: border-box;
/*	background: #3374FB;*/
	border-radius: 100px;
	margin-left: 10px;
	font-weight: 400;
	color: #FFFFFF!important;
}
.menu__item-cart a {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-gap: 10px;
	font-size: 18px;
	font-family: Manrope;
	font-weight: 400;
	line-height: 32px; 
}
.menu__item-sticky {
/*	color: #000000;*/
}
.menu__item-opened {
	color: #BFBFBD;
}
.menu__item-button {
	background: linear-gradient(179deg, #0069FD 1.13%, #4E23F9 201.17%), linear-gradient(179deg, #437DF6 -48.86%, #4E23F9 696.27%); 
	border-radius: 20px; 
	margin-left: 10px;
	font-weight: 600;
	height: 36px;
	padding: 8px 16px;
}
.menu__item-button:hover {
	background: linear-gradient(179deg, #005FE5 1.13%, #3B0CF8 201.17%);
}
.menu__item:not(.menu__item-button):hover {
	color: #BFBFBD;
}
.menu__item-dropdown-link:hover {
	color: #3374FB;
}
.menu__item a {
	color: inherit;
	text-decoration: none;
}
.menu__item-chevron {
	width: 16px;
	height: 16px;
}
.menu__item-chevron-down {
	display: block;
}
.menu__item-chevron-up {
	display: none;
}
.menu__item-dropdown {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 36px;
	left: 0;
	padding: 24px;
	display: none;
	flex-direction: column;
	grid-row-gap: 24px;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
}
.menu__item-dropdown-link {
	color: #000;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
}
.menu__item-dropdown-link:hover {
	color: #1658FC; 
}
.cart-link {
	background: #BAE4B2;
	border-radius: 100px;
}
.cart-link a {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-gap: 10px;
}
.cart-icon-wrap {
	width: 24px;
	height: 24px;
	position: relative;
}
.cart-icon-wrap img {
	width: 100%;
	height: 100%;
}
.cart-qty {
	position: absolute;
	top: 0;
	left: 14px;
	width: 13.27px;
	height: 13.27px;
	background: #80BA75;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 32px;
	color: #FFFFFF;
	border-radius: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.banner-desktop-wrap {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
  	min-height: 810px;
}
.banner-desktop {
	width: 100%;
	height: 100%;
  	overflow: hidden;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.banner-desktop-image-wrap {
	position: absolute;
	width: 1920px;
	height: 100%;
/*	left: -240px;*/
    left: calc(-1 * (1920px - 100vw) / 2);
}
.screenmate-logo {
	width: 613px;
	height: 58px;
	position: absolute;
	top: 108px;
	z-index: 2;
}
.screenmate-logo img {
	width: 100%;
	height: 100%;
}
.screenmate-video {
	width: 585px;
	height: 367px;
	position: absolute;
	top: 238px;
	z-index: 2;
	border-radius: 6px;
	overflow: hidden;
}
.screenmate-video video {
	width: 100%;
	height: 100%;
}
.screenmate-info {
	position: absolute;
	bottom: 40px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	grid-row-gap: 24px;
}
.screenmate-info-text {
	text-align: center;
	color: #FFFFFF;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}
.screenmate-info-link {
	display: flex;
	align-items: center;
	grid-column-gap: 13px;
	cursor: pointer;
}
.screenmate-info-link span {
	color: #2E69FD;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}
.screenmate-info-link img {
	width: 24px;
	height: 24px;
}
.screenmate-form {
	width: 651px;
	height: 292px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-row-gap: 20px;
	position: absolute;
	top: 238px;
	z-index: 2;
	border-radius: 24px;
	background: linear-gradient(0deg, #000 0%, #000 100%), rgba(179, 179, 179, 0.80);
	background-blend-mode: color-dodge, normal;
	backdrop-filter: blur(12px);
}
.screenmate-form > div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.screenmate-form-title {
	color: #FFF;
	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
}
.screenmate-form-close {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.screenmate-form-fields {
	grid-column-gap: 24px;
}
.screenmate-form-field {
	display: flex;
	flex-direction: column;
	grid-row-gap: 8px;
	width: 50%;
}
.screenmate-form-field-label {
	color: #FFF;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
.screenmate-form-field-input {
	width: 100%;
	padding: 16px;
	color: #FFF;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	border-radius: 6px;
	border: 1px solid #D9D9D9;
	outline: none;
	box-shadow: none;
	background: transparent;
	box-sizing: border-box;
}
