@media screen and (min-width: 1000px) and (max-width: 1366px) {        
	#header_main {
		height: calc(768 * 100vw / 1366);
	}
	#header_sticky {
		width: calc(1366 * 100vw / 1366);
		height: calc(64 * 100vw / 1366);
	}
	.top {
		height: calc(96 * 100vw / 1366);
	}
	#header_sticky .top {
		height: calc(64 * 100vw / 1366);
	}
	.top .logo {	
		margin-left: calc(128 * 100vw / 1366);
		width: calc(188 * 100vw / 1366);
		height: calc(32 * 100vw / 1366);
	}
	.menu {
		margin-right: calc(114 * 100vw / 1366);
		grid-column-gap: calc(10 * 100vw / 1366);
	}
	.menu__item {
		font-size: calc(18 * 100vw / 1366);
		line-height: calc(32 * 100vw / 1366);
		padding: calc(4 * 100vw / 1366) calc(15 * 100vw / 1366);
	}
	.title {
		font-size: calc(52 * 100vw / 1366);
		line-height: calc(64 * 100vw / 1366);
		width: calc(541 * 100vw / 1366);
		top: calc(288 * 100vw / 1366);
		left: calc(128 * 100vw / 1366);
	}
	.expand {
		margin-bottom: calc(6 * 100vw / 1366);
		width: calc(64 * 100vw / 1366);
		height: calc(64 * 100vw / 1366);
	}
}
