@media screen and (min-width: 576px) and (max-width: 1440px) {  
	#header_custom {
		height: calc(64 * 100vw / 1440);
	}
	.header-fix {
		height: calc(64 * 100vw / 1440);
	}
	.top .logo {	
		width: calc(188 * 100vw / 1440);
		height: calc(32 * 100vw / 1440);
/*		margin-left: calc(128 * 100vw / 1440);*/
		margin-left: calc(80 * 100vw / 1440);
	}
	.menu {
		margin-right: calc(80 * 100vw / 1440);
/*		grid-column-gap: calc(80 * 100vw / 1440);*/
	}
	.menu__item {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
		padding: calc(4 * 100vw / 1440) calc(12 * 100vw / 1440);
	}
	.menu__item-pro {
		grid-column-gap: calc(4 * 100vw / 1440);
	}
	.menu__item-pro span {
		padding: calc(2 * 100vw / 1440) calc(4 * 100vw / 1440) calc(3 * 100vw / 1440) calc(4 * 100vw / 1440);
		border-radius: calc(4 * 100vw / 1440);
		font-size: calc(12 * 100vw / 1440);
		line-height: calc(12 * 100vw / 1440);
	}
	.menu__item-cart {
		width: calc(122.27 * 100vw / 1440);
		border-radius: calc(100 * 100vw / 1440);
		margin-left: calc(8 * 100vw / 1440);
		grid-column-gap: calc(10 * 100vw / 1440);
	}
}

@media screen and (min-width: 576px) and (max-width: 1440px) {
	.top {
		width: calc(1440 * 100vw / 1440);
	}
}

/*@media screen and (min-width: 1367px) and (max-width: 1440px) {
	.top {
		width: 1366px;
	}
}*/

@media screen and (min-width: 1441px) and (max-width: 1700px) {
	.top {
		width: calc(1440 * 100vw / 1440);
	}
}

@media screen and (min-width: 576px) and (max-width: 1700px) {
	.top {
/*		width: calc(1440 * 100vw / 1440);*/
		height: calc(64 * 100vw / 1440);
	}
	.top .logo {
		width: calc(188 * 100vw / 1440);
		height: calc(32 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) {
	.menu {
		display: none;
	}
	#header_custom {
		width: 100%;
		height: calc(52 * 100vw / 375);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.top-wrap {
		width: 100%;
/*		height: calc(52 * 100vw / 375);*/
		position: fixed;
		z-index: 10;
		background: linear-gradient(180deg, #FEFEFE 53.75%, rgba(254, 254, 254, 0) 100%);
	}
	.top-wrap-scrolled {
		background: rgba(0, 0, 0, 0.32);
		backdrop-filter: blur(32px);
	}
	.top {
		width: calc(335 * 100vw / 375);
		height: calc(36 * 100vw / 375);
		padding-top: calc(8 * 100vw / 375);
		padding-bottom: calc(8 * 100vw / 375);
		margin: 0 auto;
	}
	.top .logo {
		width: calc(145 * 100vw / 375);
		height: calc(16 * 100vw / 375);
		margin-left: 0;
		display: flex;
		align-items: center;
	}
	.top .logo img {
		width: 100%;
	}
	.top .buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		grid-column-gap: calc(12 * 100vw / 375);
	}
	.top .mob-button {
		cursor: pointer;
	}
	.button-cart {
		width: calc(25 * 100vw / 375);
		height: calc(24 * 100vw / 375);
	}
	.button-burger {
		width: calc(29 * 100vw / 375);
		height: calc(22 * 100vw / 375);
	}
	.button-menu {
		padding: calc(8 * 100vw / 375) calc(16 * 100vw / 375);
		border-radius: calc(54 * 100vw / 375);
		background: rgba(0, 0, 0, 0.32);
		backdrop-filter: blur(8px);
		color: #FFF;
		font-family: Manrope;
		font-size: calc(16 * 100vw / 375);
		font-style: normal;
		font-weight: 500;
		line-height: calc(20 * 100vw / 375);
		border: none;
		outline: none;
		box-shadow: none;
	}
	.button-close {
		display: none;
		z-index: 2;
	}
	.top .mob-button img {
		width: 100%;
	}
	.burger-menu-wrap {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #FFF;
		z-index: 5;
	}
	.burger-menu {
		width: calc(335 * 100vw / 375);
		margin: 0 auto;
		padding-top: calc(106 * 100vw / 375);
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
  		align-items: flex-start;
		grid-row-gap: calc(48 * 100vw / 375);
	}
	.menu__item {
		flex-direction: column;
		align-items: flex-start;
		color: #000;
		text-align: center;
		font-family: Manrope;
		font-size: calc(16 * 100vw / 375);
		font-style: normal;
		font-weight: 600;
		line-height: calc(20 * 100vw / 375);
		padding: 0;
	}
	.menu__item-title {
		display: flex;
		align-items: center;
		grid-column-gap: calc(4 * 100vw / 375);
	}
	.menu__item-opened .menu__item-title {
		color: #BFBFBD;
	}
	.menu__item-pro {
		grid-column-gap: calc(4 * 100vw / 375);
	}
	.menu__item-pro span {
		padding: calc(2 * 100vw / 375) calc(4 * 100vw / 375) calc(3 * 100vw / 375) calc(4 * 100vw / 375);
		border-radius: calc(4 * 100vw / 375);
		font-size: calc(12 * 100vw / 375);
		line-height: calc(12 * 100vw / 375);
	}
	.menu__item-cart {
		width: auto;
		height: calc(36 * 100vw / 375);
		padding: 0;
		margin-left: 0;
	}
	.cart-icon-wrap {
		width: calc(24 * 100vw / 375);
		height: calc(24 * 100vw / 375);
	}
	.cart-qty {
		width: calc(13 * 100vw / 375);
		height: calc(13 * 100vw / 375);
		top: 0;
		right: 0;
		background: #3374FB;
		color: #FFF;
		text-align: center;
		font-family: Manrope;
		font-size: calc(12 * 100vw / 375);
		font-style: normal;
		font-weight: 600;
		line-height: calc(12 * 100vw / 375);
	}
	.menu__item-dropdown {
		width: 100%;
		position: unset;
		padding: 0;
		margin-top: calc(24 * 100vw / 375);
		align-items: flex-start;
		grid-row-gap: calc(20 * 100vw / 375);
		border-radius: unset;
		background: transparent;
		box-shadow: unset;
	}
	/*.menu__item-dropdown-link {
		white-space: normal;
		margin-right: 20px;
	}*/
}
