@media screen and (min-width: 1000px) and (max-width: 1366px) {  
	#header_custom {
		height: calc(96 * 100vw / 1366);
	}
	.header-fix {
		height: calc(96 * 100vw / 1366);
	}
	.top {
		height: calc(96 * 100vw / 1366);
	}
	.top .logo {	
		margin-left: calc(128 * 100vw / 1366);
	}
	.menu {
		margin-right: calc(114 * 100vw / 1366);
		grid-column-gap: calc(10 * 100vw / 1366);
	}
	.menu__item {
		font-size: calc(18 * 100vw / 1366);
		line-height: calc(32 * 100vw / 1366);
		padding: calc(4 * 100vw / 1366) calc(15 * 100vw / 1366);
	}
	.menu__item-button {
		border-radius: calc(100 * 100vw / 1366);
	}
}

@media screen and (max-width: 999px) {
	.menu {
		display: none;
	}
	#header_custom {
		width: 100%;
		height: 104px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.top {
		width: 100%;
		height: 104px;
		background: linear-gradient(180deg, #FEFEFE 53.75%, rgba(254, 254, 254, 0) 100%);
		position: fixed;
		z-index: 10;
	}
	.top .logo {
		width: 153px;
		height: 26px;
		margin-left: 23px;
		display: flex;
		align-items: center;
	}
	.top .logo img {
		width: 100%;
	}
	.top .buttons {
		margin-right: 25px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		grid-column-gap: 40px;
	}
	.top .button {
		cursor: pointer;
	}
	.button-cart {
		width: 24px;
		height: 24px;
	}
	.button-burger {
		width: 28px;
		height: 22px;
	}
	.button-close {
		display: none;
		z-index: 2;
	}
	.top .button img {
		width: 100%;
	}
	.burger-menu-wrap {
		display: none;
		width: 390px;
		height: 460px;
		position: absolute;
		top: 0;
		right: 0;
	}
	.burger-menu {
		width: 100%;
		padding-top: 97.57px;
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-row-gap: 24px;
	}
}
