@media screen and (min-width: 1000px) and (max-width: 1366px) {        
	#header_main {
		height: calc(768 * 100vw / 1366);
	}
	#header_sticky {
		/*width: calc(1366 * 100vw / 1366);*/
		height: calc(64 * 100vw / 1366);
	}
	.top {
		width: calc(1366 * 100vw / 1366);
		height: calc(96 * 100vw / 1366);
	}
	.header_main-fix {
		height: calc(96 * 100vw / 1366);
	}
	#header_sticky .top {
		height: calc(64 * 100vw / 1366);
	}
	.top .logo {	
		margin-left: calc(128 * 100vw / 1366);
		width: calc(188 * 100vw / 1366);
		height: calc(32 * 100vw / 1366);
	}
	.menu {
		margin-right: calc(114 * 100vw / 1366);
		grid-column-gap: calc(10 * 100vw / 1366);
	}
	.menu__item {
		font-size: calc(18 * 100vw / 1366);
		line-height: calc(32 * 100vw / 1366);
		padding: calc(4 * 100vw / 1366) calc(15 * 100vw / 1366);
	}
	.menu__item-button {
		border-radius: calc(100 * 100vw / 1366);
	}
	.banner-desktop-wrap {
		top: calc(-96 * 100vw / 1366);
	}
	.banner-desktop {
		width: calc(1366 * 100vw / 1366);
		height: calc(768 * 100vw / 1366);
	}
	.title {
		font-size: calc(52 * 100vw / 1366);
		line-height: calc(64 * 100vw / 1366);
		width: calc(541 * 100vw / 1366);
		top: calc(288 * 100vw / 1366);
		left: calc(128 * 100vw / 1366);
	}
	.expand {
		margin-bottom: calc(6 * 100vw / 1366);
		width: calc(64 * 100vw / 1366);
		height: calc(64 * 100vw / 1366);
	}
}

@media screen and (max-width: 999px) { 
	#header_main, #header_sticky {
		display: none;
	}
	#header_mobile {
		width: 100%;
		height: 764px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.top {
		width: 100%;
		height: 104px;
		background: #0F0F0F;
		position: fixed;
		z-index: 10;
	}
	.top .logo {
		width: 153px;
		height: 26px;
		margin-left: 23px;
		display: flex;
		align-items: center;
	}
	.top .logo img {
		width: 100%;
	}
	.top .buttons {
		/*width: 153px;*/
		/*height: 26px;*/
		margin-right: 25px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		grid-column-gap: 40px;
	}
	.top .button img {
		width: 100%;
	}
	.header_mobile-fix {
		height: 104px;
	}
	.banner {
		width: 100%;
		height: 660px;
		display: flex;
		justify-content: center;
	}
	.banner__text {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 43px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		width: 380px;
		margin-top: 43px;
		text-align: center;
	}
}