.features {
	width: 100%;
	/*background: #EBF1FF;*/
	/*padding: 0 128px 0;*/
	/*position: relative;*/
	/*height: 100vh;*/
	/*height: 859px;*/
}
.features__title {
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	line-height: 64px;
	color: #000000;
	text-align: center;
	/*margin-top: 120px;*/
}
.features__block {
	width: 100%;
	height: 640px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.features__block:not(:last-child) {
	margin-bottom: 40px;
}
.features__block-odd {
	flex-direction: row;
}
.features__block-even {
	flex-direction: row-reverse;
}
.features__block-legend {
	z-index: 3;
	margin-top: 173px;
	width: 408px;
}
.features__block-odd .features__block-legend {
	margin-left: 129px;
}
.features__block-even .features__block-legend {
	margin-right: 78px;
}
.features__block-legend-title {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-size: 44px;
	line-height: 52px;
	color: #000000;
	margin-bottom: 6px;
}
.features__block-legend-subtitle {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color: #000000;
	margin-bottom: 40px;
}
.features__block-switcher {
	width: 116px;
	height: 40px;
	background: #E3E3E3;
	border-radius: 30px;
	position: relative;
}
.features__block-switcher-case {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 14px;
	position: absolute;
	top: 0;
	bottom: 0;
	border-radius: 30px;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}
.features__block-switcher-case-light {
	left: 0;
	background: #FFFFFF;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
	color: #0F0F0F;
}
.features__block-switcher-case-dark {
	display: none;
	right: 0;
	background: #000000;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
	color: #FFFFFF;
}
.features__block-screen {
	z-index: 3;
	margin-top: 148px;
	margin-right: 129px;
	width: 647px;
	height: 320px;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	position: relative;
}
.features__block-odd .features__block-screen {
	margin-right: 129px;
}
.features__block-even .features__block-screen {
	margin-left: 133px;
}
.features__block-screen img {
	width: 100%;
}

.shop_now {
	display: flex;
	justify-content: center;
	margin-bottom: 130px;
}
.shop_now-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 302px;
	height: 78px;
	background: #3374FB;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	border: 1px solid #3374FB;
	border-radius: 100px;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 52px;
	color: #FFFFFF;
}

.safety_first {
	width: 1110px;
	height: 232px;
	margin: 0 auto 120px;
}
.safety_first-title {
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	line-height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.02em;
	color: #000000;
	margin-bottom: 29px;
}
.safety_first-row {
	display: flex;
}
.safety_first-block {
	width: 295.06px;
}
.safety_first-block-number {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 37px;
	height: 37px;
	margin-bottom: 24px;
	border: 1px solid #0F0F0F;
	border-radius: 100%;
	box-sizing: border-box;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #000000;
}
.safety_first-block-text {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
.safety_first-line {
	width: 0;
	height: 125px;
	border: 2px solid #3374FB;
	margin-left: 45px;
	margin-right: 67px;
}

.video_block {
	width: 1110px;
	height: 617px;
	margin: 0 auto 120px;
	background: url('../images/video_background.png');
	border-radius: 11.0448px;
	overflow: hidden;
	padding-left: 60px;
}
.video_block-title {
	margin-top: 176px;
	width: 524px;
	height: 192px;
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	line-height: 64px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.video_block-button {
	margin-top: 32px;
	width: 253px;
	height: 56px;
	background: #FFFFFF;
	border-radius: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px 23px;
	cursor: pointer;
}
.video_block-button img {
	width: 26px;
	height: 26px;
}
.video_block-button span {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #0F0F0F;
}

.store_block {
	width: 100%;
	height: 677px;
	margin: 0 auto;
	padding-top: 70px;
}
.store_block-title {
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	line-height: 64px;
	letter-spacing: 0.02em;
	color: #000000;
	margin-left: 128px;
	margin-bottom: 65px;
}
.store_block-product {
	display: flex;
	margin-left: 128px;
	margin-bottom: 170px;
}
.store_block-product-gallery {
	width: 545px;
	height: 378px;
	position: relative;
	margin-right: 114px;
}
.store_block-product-gallery-image {
	width: 100%;
	height: 100%;
	background: rgba(69, 79, 99, 0.1);
}
.store_block-product-gallery-nav {
	position: absolute;
	top: 165px;
	width: 60px;
	height: 48px;
	cursor: pointer;
}
.store_block-product-gallery-nav img {
	width: 100%;
	height: 100%;
}
.store_block-product-gallery-nav-prev {
	left: 0;
}
.store_block-product-gallery-nav-next {
	right: 0;
}
.store_block-product-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.store_block-product-title {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-size: 44px;
	line-height: 52px;
	color: #000000;
	margin-bottom: 24px;
}
.store_block-product-price {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 36px;
	color: #000000;
	margin-bottom: 24px;
}
.store_block-product-subtitle {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	max-width: 450px;
}
.store_block-product-amount {
	width: 183px;
	height: 56px;
	background: #FFFFFF;
	border-radius: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.store_block-product-amount-button {
	width: 56px;
	height: 56px;
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	position: relative;
	cursor: pointer;
}
.store_block-product-amount-value {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	color: #0F0F0F;
}
.store_block-product-add {
	margin-top: 44px;
	width: 183px;
	height: 56px;
	background: #3374FB;
	border: 1px solid #3374FB;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
	cursor: pointer;
}

.see_all {
	display: flex;
	justify-content: center;
	margin-bottom: 112px;
}
.see_all-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 447px;
	height: 88px;
	background: #BAE4B2;
	border: 1px solid #BAE4B2;
	border-radius: 100px;
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 52px;
	color: #FFFFFF;
}

.ellipse {
	position: absolute;
	border-radius: 100%;
}
.ellipse__main-1 {
	width: 959px;
	height: 959px;
	left: calc(996px + ((100vw - 1366px) / 2));
	top: 817px;
	background: #F4F6FA;
}
.ellipse__main-2 {
	width: 1085px;
	height: 1085px;
	right: calc(885px + ((100vw - 1366px) / 2));
	top: 1750px;
	background: #F4F6FA;	
}
.ellipse__main-3 {
	width: 903px;
	height: 903px;
	right: calc(976px + ((100vw - 1366px) / 2));
	top: 1841px;
	background: #FEFEFE;
}
.ellipse__main-4 {
	width: 1085px;
	height: 1085px;
	left: calc(896px + ((100vw - 1366px) / 2));
	top: 2783px;
	background: #F4F6FA;
}
.ellipse__main-5 {
	width: 1085px;
	height: 1085px;
	right: calc(885px + ((100vw - 1366px) / 2));
	top: 3528px;
	background: #F4F6FA;	
}
.ellipse__main-6 {
	width: 903px;
	height: 903px;
	right: calc(976px + ((100vw - 1366px) / 2));
	top: 3619px;
	background: #FEFEFE;
}

.ellipse-bottom-container {
	position: absolute;
	top: 5555px;
	width: 100%;
	height: 1601px;
	overflow: hidden;
}
.ellipse-bottom-wrap {
	position: relative;
	width: 100%;
	height: 1601px;
}
.ellipse-bottom {
	position: absolute;
	border-radius: 100%;
	width: 2602px;
	height: 2602px;
	left: calc(-1 * ((2602px - 100vw) / 2));
	top: 0;
	background: #F4F6FA;	
	z-index: -1;
}

footer {
	/*display: none;*/
	/*width: 100%;*/
	background: #010306;
	padding: 100px 128px;
}
.footer__wrap {
	max-width: 1110px;
	margin: 0 auto;
}
.footer-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 80.5px;
}
.footer-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	grid-column-gap: 68px;
}
.footer-menu__list-title {
	font-family: Gotham-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 16px;
}
.footer-menu__list-items {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-menu__list-items li {
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin-bottom: 12px;
	cursor: pointer;
}
.footer-menu__list-items li:hover {
	color: #3374FB;
}
.footer-links {
	display: flex;
	grid-column-gap: 24px;
}
.footer-divider {
	width: 100%;
	margin: 32px 0;
	border: 1px solid rgba(255, 255, 255, 0.52);
}
.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-bottom__text {
	width: 585px;
	height: 60px;
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.52);
}
.footer-bottom__copyright {
	font-family: Gotham;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: right;
	color: #FFFFFF;
}