.manuals__title {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-size: 52px;
	line-height: 64px;
	text-align: center;
	color: #000000;
	margin-bottom: 71px;
}
.manuals__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-row-gap: 120px;
}
.manuals__video {
	width: 1110px;
	height: 617px;
	border-radius: 11.0448px;
	overflow: hidden;
}
.manuals__video iframe {
	width: 100%;
	height: 100%;
}