.manuals {
	width: 1296px;
	margin: 0 auto;
	padding-top: 32px;
	padding-bottom: 144px;
	display: flex;
	flex-direction: column;
	grid-row-gap: 48px;
}
.manuals__title {
	color: #000;
	font-family: Manrope;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px;
}
.manuals__body {
	display: flex;
	align-items: flex-start;
	grid-column-gap: 48px;
}
.manuals__menu {
	display: flex;
	flex-direction: column;
	grid-row-gap: 32px;
	width: 330px;
	border-radius: 24px;
	background: #F6F6F6;
	padding: 36px 40px 48px;
}
.manuals__menu-title {
	color: #000;
	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
}
.manuals__menu-list {
	display: flex;
	flex-direction: column;
	grid-row-gap: 36px;
}
.manuals__menu-item {
	color: #888;
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}
.manuals__menu-item.active {
	color: #000;
	cursor: default;
}
.manuals__content {
	display: flex;
	flex-direction: column;
	grid-row-gap: 36px;
	margin-top: 36px;
}
.manuals__content-title {
	color: #000;
	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
}
.manuals__content-links {
	display: flex;
	flex-direction: column;
	grid-row-gap: 20px;
}
.manuals__content-links-title,
.manuals__content-videos-title {
	color: #000;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}
.manuals__content-links-items {
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 80px;
}
.manuals__content-link-item {
	display: flex;
	align-items: center;
	grid-column-gap: 12px;
	text-decoration: none;
}
.manuals__content-link-item-icon {
	width: 36px;
	height: 48px; 
}
.manuals__content-link-item-icon img {
	width: 100%; 
}
.manuals__content-link-item-text {
	color: #1657FC;
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
.manuals__content-videos {
	display: flex;
	flex-direction: column;
	grid-row-gap: 24px;
}
.manuals__content-videos-items {
	display: flex;
	flex-direction: column;
	grid-row-gap: 24px;
}
.manuals__content-video-item {
	width: 808px;
	height: 453px;
	border-radius: 40px;
	border: 1px solid #E6E6E6;
	overflow: hidden;
}
.manuals__content-video-item iframe  {
	width: 100%;
	height: 100%;
}

.manuals__download {
	display: none;
}
.manuals__list-title {
	color: #000;
	font-family: Gotham;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal; 
	margin-left: 80px;
	margin-bottom: 40px;
	text-align: left;
}
.manuals__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-row-gap: 80px;
	margin-bottom: 80px;
}
.manuals__video {
	width: 1206px;
	height: 670.888px; 
	border-radius: 11.0448px;
	overflow: hidden;
}
.manuals__video iframe {
	width: 100%;
	height: 100%;
}
.manuals__text {
	margin-left: 80px!important;
	margin-bottom: 140px!important;
	max-width: 604px!important;
}

@media screen and (min-width: 576px) and (max-width: 1440px) {
	.manuals {
		width: calc(1296 * 100vw / 1440);
		padding-top: calc(32 * 100vw / 1440);
		padding-bottom: calc(144 * 100vw / 1440);
		grid-row-gap: calc(48 * 100vw / 1440);
	}
	.manuals__title {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.manuals__body {
		grid-column-gap: calc(48 * 100vw / 1440);
	}
	.manuals__menu {
		grid-row-gap: calc(32 * 100vw / 1440);
		width: calc(330 * 100vw / 1440);
		border-radius: calc(24 * 100vw / 1440);
		padding: calc(36 * 100vw / 1440) calc(40 * 100vw / 1440) calc(48 * 100vw / 1440);
	}
	.manuals__menu-title {
		font-size: calc(32 * 100vw / 1440);
		line-height: calc(40 * 100vw / 1440);
	}
	.manuals__menu-list {
		grid-row-gap: calc(36 * 100vw / 1440);
	}
	.manuals__menu-item {
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
	.manuals__content {
		grid-row-gap: calc(36 * 100vw / 1440);
		margin-top: calc(36 * 100vw / 1440);
	}
	.manuals__content-title {
		font-size: calc(32 * 100vw / 1440);
		line-height: calc(40 * 100vw / 1440);
	}
	.manuals__content-links {
		grid-row-gap: calc(20 * 100vw / 1440);
	}
	.manuals__content-links-title,
	.manuals__content-videos-title {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.manuals__content-links-items {
		grid-column-gap: calc(80 * 100vw / 1440);
	}
	.manuals__content-link-item {
		grid-column-gap: calc(12 * 100vw / 1440);
	}
	.manuals__content-link-item-icon {
		width: calc(36 * 100vw / 1440);
		height: calc(48 * 100vw / 1440);
	}
	.manuals__content-link-item-text {
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
	.manuals__content-videos {
		grid-row-gap: calc(24 * 100vw / 1440);
	}
	.manuals__content-videos-items {
		grid-row-gap: calc(24 * 100vw / 1440);
	}
	.manuals__content-video-item {
		width: calc(808 * 100vw / 1440);
		height: calc(453 * 100vw / 1440);
		border-radius: calc(40 * 100vw / 1440);
	}


	.manuals__list-title {
		font-size: calc(32 * 100vw / 1440);
		margin-left: calc(80 * 100vw / 1440);
		margin-bottom: calc(40 * 100vw / 1440);
	}
	.manuals__list {
		grid-row-gap: calc(80 * 100vw / 1440);
		margin-bottom: calc(80 * 100vw / 1440);
	}
	.manuals__video {
		width: calc(1206 * 100vw / 1440);
		height: calc(670.888 * 100vw / 1440);
		border-radius: calc(11.0448 * 100vw / 1440);
	}
	.manuals__text {
		margin-left: calc(80 * 100vw / 1440)!important;
		margin-bottom: calc(140 * 100vw / 1440)!important;
		max-width: calc(604 * 100vw / 1440)!important;
	}
}

@media screen and (max-width: 575px) {
	.manuals {
		width: calc(335 * 100vw / 375);
		padding-top: calc(32 * 100vw / 375);
		padding-bottom: calc(180 * 100vw / 375);
		grid-row-gap: calc(40 * 100vw / 375);
	}
	.manuals__title {
		width: 100%;
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
	}
	.manuals__body {
		flex-direction: column;
		grid-row-gap: calc(36 * 100vw / 375);
	}
	.manuals__menu {
		display: none;
	}
	.manuals__download {
		display: block;
		width: 100%;
	}
	.manuals__download-title {
		color: #000;
		font-family: Manrope;
		font-size: calc(24 * 100vw / 375);
		font-style: normal;
		font-weight: 500;
		line-height: calc(32 * 100vw / 375);
		margin-bottom: calc(12 * 100vw / 375);
	}
	.manuals__download-select {
		width: 100%;
		height: calc(56 * 100vw / 375);
		border-radius: calc(8 * 100vw / 375);
		background: #F6F6F6;
		position: relative;
		display: inline-flex;
		align-items: center;
		padding: 0 calc(20 * 100vw / 375);
		box-sizing: border-box;
	}
	.manuals__download-select-dropdown-select {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}
	.manuals__download-select-dropdown {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding: calc(15.5 * 100vw / 375) calc(20 * 100vw / 375);
		display: none;
		flex-direction: column;
		grid-row-gap: calc(5 * 100vw / 375);
		background: #F4F6FA;
		box-sizing: border-box;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		border-radius: calc(35 * 100vw / 375);
		z-index: 2;
	}
	.manuals__download-select-dropdown-item {
		font-family: Manrope;
		font-style: normal;
		font-weight: 400;
		font-size: calc(20 * 100vw / 375);
		line-height: calc(32 * 100vw / 375);
		color: #0F0F0F;
		cursor: pointer;
	}
	.manuals__download-select-value {
		font-family: Manrope;
		font-style: normal;
		font-weight: 400;
		font-size: calc(20 * 100vw / 375);
		line-height: calc(32 * 100vw / 375);
		color: #9FA1A8;
		margin-right: calc(20 * 100vw / 375);
	}
	.manuals__download-select-arrow {
		width: calc(24 * 100vw / 375);
		height: calc(24 * 100vw / 375);
	}
	.manuals__download-select-arrow img {
		width: 100%;
		height: 100%;
	}
	.manuals__content {
		display: flex;
		flex-direction: column;
		grid-row-gap: calc(36 * 100vw / 375);
		margin-top: 0;
	}
	.manuals__content-title {
		font-size: calc(24 * 100vw / 375);
		line-height: calc(32 * 100vw / 375);
	}
	.manuals__content-links {
		grid-row-gap: calc(20 * 100vw / 375);
	}
	.manuals__content-links-title,
	.manuals__content-videos-title {
		font-size: calc(18 * 100vw / 375);
		line-height: calc(24 * 100vw / 375);
	}
	.manuals__content-links-items {
		flex-direction: column;
		grid-row-gap: calc(24 * 100vw / 375);
	}
	.manuals__content-link-item {
		grid-column-gap: calc(12 * 100vw / 375);
	}
	.manuals__content-link-item-icon {
		width: calc(30 * 100vw / 375);
		height: calc(40 * 100vw / 375);
	}
	.manuals__content-link-item-text {
		font-size: calc(16 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
	}
	.manuals__content-videos {
		grid-row-gap: calc(16 * 100vw / 375);
	}
	.manuals__content-videos-items {
		grid-row-gap: calc(16 * 100vw / 375);
	}
	.manuals__content-video-item {
		width: calc(336 * 100vw / 375);
		height: calc(188 * 100vw / 375);
		border-radius: calc(24 * 100vw / 375);
	}

	.manuals__list-title {
		font-size: 18px;
		line-height: 140%; /* 25.2px */ 
		margin-left: 20px;
		margin-bottom: 20px;
		font-weight: 400 !important;
    	font-family: 'Gotham-Medium' !important;
	}
	.manuals__list {
		grid-row-gap: 40px;
		margin-bottom: 40px;
	}
	.manuals__video {
		width: calc(353 * 100vw / 390);
		height: calc(194 * 100vw / 390);
		border-radius: 11.0448px;
	}
	.manuals__text {
		margin-left: 20px!important;
		margin-right: 17px!important;
		margin-bottom: 80px!important;
	}
}
