@media screen and (min-width: 576px) and (max-width: 1440px) {
	.pointer-top {
		top: calc(80 * 100vw / 1440);
	}
	.pointer-bottom {
		bottom: calc(92 * 100vw / 1440);
	}

	.pointer-legend {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.pointer-top .pointer-legend {
		top: calc(-1 * 52 * 100vw / 1440);
	}
	.pointer-bottom .pointer-legend {
		bottom: calc(-1 * 52 * 100vw / 1440);
	}

	.pointer-top .pointer-icon {
		top: calc(4 * 100vw / 1440);
	}
	.pointer-bottom .pointer-icon {
		bottom: calc(10 * 100vw / 1440);
	}

	.pointer-dashboard-bottom-right .pointer-icon, 
	.pointer-performance-bottom-right .pointer-icon, 
	.pointer-energy-screen-bottom-right .pointer-icon {
		bottom: calc(18 * 100vw / 1440);
	}

	.pointer-top .pointer-point {
		bottom: calc(1 * 100vw / 1440);
	}
	.pointer-bottom .pointer-point {
		top: calc(1 * 100vw / 1440);
	}
	.pointer-left .pointer-point {
		right: calc(-1 * 100vw / 1440);
	}
	.pointer-right .pointer-point {
		left: calc(-1 * 100vw / 1440);
	}

	.pointer-dashboard-top-left .pointer-line.desktop {
		width: calc(537 * 100vw / 1440);
/*		height: calc(65 * 100vw / 1440);*/
	}
	.pointer-dashboard-top-right .pointer-line.desktop {
		width: calc(330 * 100vw / 1440);
/*		height: calc(65 * 100vw / 1440);*/
	}
	.pointer-dashboard-bottom-left .pointer-line.desktop {
		width: calc(304 * 100vw / 1440);
/*		height: calc(118 * 100vw / 1440);*/
	}
	.pointer-dashboard-bottom-right .pointer-line.desktop {
		width: calc(539 * 100vw / 1440);
/*		height: calc(120 * 100vw / 1440);*/
	}

	.pointer-performance-top-left .pointer-line.desktop {
		width: calc(369 * 100vw / 1440);
/*		height: calc(82 * 100vw / 1440);*/
	}
	.pointer-performance-top-right .pointer-line.desktop {
		width: calc(527 * 100vw / 1440);
/*		height: calc(82 * 100vw / 1440);*/
	}
	.pointer-performance-bottom-left .pointer-line.desktop {
		width: calc(533 * 100vw / 1440);
/*		height: calc(67 * 100vw / 1440);*/
	}
	.pointer-performance-bottom-right .pointer-line.desktop {
		width: calc(349 * 100vw / 1440);
/*		height: calc(141 * 100vw / 1440);*/
	}

	.pointer-energy-screen-top-left .pointer-line.desktop {
		width: calc(364 * 100vw / 1440);
/*		height: calc(70 * 100vw / 1440);*/
	}
	.pointer-energy-screen-top-right .pointer-line.desktop {
		width: calc(526 * 100vw / 1440);
/*		height: calc(71 * 100vw / 1440);*/
	}
	.pointer-energy-screen-bottom-left .pointer-line.desktop {
		width: calc(546 * 100vw / 1440);
/*		height: calc(193 * 100vw / 1440);*/
	}	
	.pointer-energy-screen-bottom-right .pointer-line.desktop {
		width: calc(464 * 100vw / 1440);
/*		height: calc(120 * 100vw / 1440);*/
	}

	.pointer-car-data-top-left .pointer-line.desktop {
		width: calc(390 * 100vw / 1440);
/*		height: calc(79 * 100vw / 1440);*/
	}
	.pointer-car-data-top-right .pointer-line.desktop {
		width: calc(264 * 100vw / 1440);
/*		height: calc(79 * 100vw / 1440);*/
	}
	.pointer-car-data-bottom-left .pointer-line.desktop {
		width: calc(311 * 100vw / 1440);
/*		height: calc(140 * 100vw / 1440);*/
	}

	.pointer-map-top-left .pointer-line.desktop {
		width: calc(526 * 100vw / 1440);
/*		height: calc(79 * 100vw / 1440);*/
	}
	.pointer-map-bottom-left .pointer-line.desktop {
		width: calc(254 * 100vw / 1440);
/*		height: calc(93 * 100vw / 1440);*/
	}
	.pointer-map-bottom-right .pointer-line.desktop {
		width: calc(289 * 100vw / 1440);
/*		height: calc(107 * 100vw / 1440);*/
	}
}

@media screen and (max-width: 575px) {
	/*.pointer-top {
		top: calc(102 * 100vw / 375);
	}
	.pointer-bottom {
		bottom: calc(126 * 100vw / 375);
	}
	.pointer-legend {
		width: 300% !important;
		font-size: calc(12 * 100vw / 375);
		line-height: calc(18 * 100vw / 375); 
	}
	.pointer-top .pointer-legend {
		top:calc(-1 * 62 * 100vw / 375);
	}
	.pointer-bottom .pointer-legend.lines-2 {
		bottom: calc(-1 * 44 * 100vw / 375);
	}
	.pointer-bottom .pointer-legend.lines-3 {
		bottom: calc(-1 * 62 * 100vw / 375);
	}
	.pointer-bottom .pointer-legend.lines-4 {
		bottom: calc(-1 * 80 * 100vw / 375);
	}
	.pointer-bottom .pointer-legend.lines-5 {
		bottom: calc(-1 * 98 * 100vw / 375);
	}*/

	.pointer-top {
		top: 102px;
	}
	.pointer-bottom {
		bottom: 126px;
	}
	.pointer-legend {
		width: 300% !important;
		font-size: 12px;
		line-height: 18px; 
	}
	.pointer-top .pointer-legend {
		top: -62px;
	}
	.pointer-bottom .pointer-legend.lines-2 {
		bottom: -44px;
	}
	.pointer-bottom .pointer-legend.lines-3 {
		bottom: -62px;
	}
	.pointer-bottom .pointer-legend.lines-4 {
		bottom: -80px;
	}
	.pointer-bottom .pointer-legend.lines-5 {
		bottom: -98px;
	}

	/*.pointer-dashboard-top-left .pointer-line.mobile {
		width: calc(168 * 100vw / 375);
	}
	.pointer-dashboard-top-right .pointer-line.mobile {
		width: calc(96 * 100vw / 375);
	}
	.pointer-dashboard-bottom-left .pointer-line.mobile {
		width: calc(80 * 100vw / 375);
	}
	.pointer-dashboard-bottom-right .pointer-line.mobile {
		width: calc(168 * 100vw / 375);
	}

	.pointer-performance-top-left .pointer-line.mobile {
		width: calc(79 * 100vw / 375);
	}
	.pointer-performance-top-right .pointer-line.mobile {
		width: calc(161 * 100vw / 375);
	}
	.pointer-performance-bottom-left .pointer-line.mobile {
		width: calc(166 * 100vw / 375);
	}
	.pointer-performance-bottom-right .pointer-line.mobile {
		width: calc(67 * 100vw / 375);
	}

	.pointer-energy-screen-top-left .pointer-line.mobile {
		width: calc(75 * 100vw / 375);
	}
	.pointer-energy-screen-top-right .pointer-line.mobile {
		width: calc(162 * 100vw / 375);
	}
	.pointer-energy-screen-bottom-left .pointer-line.mobile {
		width: calc(174 * 100vw / 375);
	}
	.pointer-energy-screen-bottom-right .pointer-line.mobile {
		width: calc(140 * 100vw / 375);
	}

	.pointer-car-data-top-left .pointer-line.mobile {
		width: calc(75 * 100vw / 375);
	}
	.pointer-car-data-top-right .pointer-line.mobile {
		width: calc(43 * 100vw / 375);
	}
	.pointer-car-data-bottom-left .pointer-line.mobile {
		width: calc(60 * 100vw / 375);
	}

	.pointer-map-top-left .pointer-line.mobile {
		width: calc(172 * 100vw / 375);
	}
	.pointer-map-bottom-left .pointer-line.mobile {
		width: calc(124 * 100vw / 375);
	}
	.pointer-map-bottom-right .pointer-line.mobile {
		width: calc(65 * 100vw / 375);
	}*/
}
