.pointer {
	position: absolute;
}
.pointer-desktop {
	display: block;
}
.pointer-mobile {
	display: none;
}
.pointer-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.pointer-top {
	top: 80px;
}
.pointer-bottom {
	bottom: 92px;
}
.pointer-left {
	left: 0;
}
.pointer-right {
	right: 0;
}

.pointer-legend {
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	position: absolute;
}
.screens.light .pointer-legend {
	color: #666;
}
.screens.dark .pointer-legend {
	color: #808080;
}
.pointer-top .pointer-legend {
	top: -52px;
}
.pointer-bottom .pointer-legend {
	bottom: -52px;
}
.pointer-left .pointer-legend {
	left: 0;
	text-align: left;
}
.pointer-right .pointer-legend {
	right: 0;
	text-align: right;
}

.pointer-map-bottom-right .pointer-legend {
	width: 105%;
}

.pointer-icon {
	position: absolute;
}

.pointer-top .pointer-icon {
	top: 4px;
}
.pointer-bottom .pointer-icon {
	bottom: 10px;
}
.pointer-left .pointer-icon {
	left: 0;
}
.pointer-right .pointer-icon {
	right: 0;
}

.pointer-dashboard-bottom-right .pointer-icon, 
.pointer-performance-bottom-right .pointer-icon, 
.pointer-energy-screen-bottom-right .pointer-icon {
	bottom: 18px;
}

.pointer-point {
	position: absolute;
}

.pointer-top .pointer-point {
	bottom: 1px;
}
.pointer-bottom .pointer-point {
	top: 1px;
}
.pointer-left .pointer-point {
	right: -1px;
}
.pointer-right .pointer-point {
	left: -1px;
}

.pointer-dashboard-top-left .pointer-line.desktop {
	width: 537px;
	height: 65px;
}
.pointer-dashboard-top-right .pointer-line.desktop {
	width: 330px;
	height: 65px;
}	
.pointer-dashboard-bottom-left .pointer-line.desktop {
	width: 304px;
	height: 118px;
}	
.pointer-dashboard-bottom-right .pointer-line.desktop {
	width: 539px;
	height: 120px;
}

.pointer-performance-top-left .pointer-line.desktop {
	width: 369px;
	height: 82px;
}	
.pointer-performance-top-right .pointer-line.desktop {
	width: 527px;
	height: 82px;
}	
.pointer-performance-bottom-left .pointer-line.desktop {
	width: 533px;
	height: 67px;
}	
.pointer-performance-bottom-right .pointer-line.desktop {
	width: 349px;
	height: 141px;
}	

.pointer-energy-screen-top-left .pointer-line.desktop {
	width: 364px;
	height: 70px;
}	
.pointer-energy-screen-top-right .pointer-line.desktop {
	width: 526px;
	height: 71px;
}	
.pointer-energy-screen-bottom-left .pointer-line.desktop {
	width: 546px;
	height: 193px;
}	
.pointer-energy-screen-bottom-right .pointer-line.desktop {
	width: 464px;
	height: 120px;
}	

.pointer-car-data-top-left .pointer-line.desktop {
	width: 390px;
	height: 79px;
}	
.pointer-car-data-top-right .pointer-line.desktop {
	width: 264px;
	height: 79px;
}	
.pointer-car-data-bottom-left .pointer-line.desktop {
	width: 311px;
	height: 140px;
}	

.pointer-map-top-left .pointer-line.desktop {
	width: 526px;
	height: 79px;
}	
.pointer-map-bottom-left .pointer-line.desktop {
	width: 254px;
	height: 93px;
}	
.pointer-map-bottom-right .pointer-line.desktop {
	width: 289px;
	height: 107px;
}	
