/*@media screen and (min-width: 1000px) and (max-width: 1366px) {  
	.pointer-top {
		border-top: 1px solid #0F77F0;;
	}
	.pointer-bottom {
		border-bottom: 1px solid #0F77F0;;
	}
	.pointer-left {
		border-right: 1px solid #0F77F0;
	}
	.pointer-top.pointer-left {	
		border-top-right-radius: calc(10 * 100vw / 1366);
	}
	.pointer-top.pointer-right {	
		border-top-left-radius: calc(10 * 100vw / 1366);
	}
	.pointer-bottom.pointer-left {	
		border-bottom-right-radius: calc(10 * 100vw / 1366);
	}
	.pointer-bottom.pointer-right {	
		border-bottom-left-radius: calc(10 * 100vw / 1366);
	}
	.pointer-right {
		border-left: 1px solid #0F77F0;
	}
	.pointer-point {
		width: calc(7 * 100vw / 1366);
		height: calc(7 * 100vw / 1366);
	}
	.pointer-legend {
		font-size: calc(14 * 100vw / 1366);
		line-height: calc(17 * 100vw / 1366);
	}
	.pointer-top .pointer-point {
		bottom: calc(-7 * 100vw / 1366);
	}
	.pointer-bottom .pointer-point {
		top: calc(-7 * 100vw / 1366);
	}
	.pointer-left .pointer-point {
		right: calc(-4 * 100vw / 1366);
	}
	.pointer-right .pointer-point {
		left: calc(-4 * 100vw / 1366);
	}

	.pointer-dashboard-top-left {
		width: calc(224.5 * 100vw / 1366);
		height: calc(80 * 100vw / 1366);
		left: calc(65 * 100vw / 1366);
		bottom: calc(272 * 100vw / 1366);
	}
	.pointer-dashboard-top-left .pointer-legend {	
		width: calc(233 * 100vw / 1366);
		height: calc(34 * 100vw / 1366);
		top: calc(-1 * (34 * 100vw / 1366 + 12px));
	}
	.pointer-dashboard-top-right {
		width: calc(146 * 100vw / 1366);
		height: calc(72 * 100vw / 1366);
		right: calc(16.28 * 100vw / 1366);
		bottom: calc(280 * 100vw / 1366);
	}
	.pointer-dashboard-top-right .pointer-legend {	
		width: calc(159 * 100vw / 1366);
		height: calc(34 * 100vw / 1366);
		top: calc(-1 * (34 * 100vw / 1366 + 12px));
	}
	.pointer-dashboard-bottom-left {
		width: calc(229 * 100vw / 1366);
		height: calc(95 * 100vw / 1366);
		left: calc(-78 * 100vw / 1366);
		top: calc(257 * 100vw / 1366);
	}
	.pointer-dashboard-bottom-left .pointer-legend {	
		width: calc(246 * 100vw / 1366);
		height: calc(34 * 100vw / 1366);
		bottom: calc(-1 * (34 * 100vw / 1366 + 12px));
	}
	.pointer-dashboard-bottom-right {
		width: calc(205 * 100vw / 1366);
		height: calc(95 * 100vw / 1366);
		right: calc(134.78 * 100vw / 1366);
		top: calc(257 * 100vw / 1366);
	}
	.pointer-dashboard-bottom-right .pointer-legend {
		width: calc(208 * 100vw / 1366);
		height: calc(34 * 100vw / 1366);
		bottom: calc(-1 * (34 * 100vw / 1366 + 12px));
	}

	.pointer-notifications-top-left {
		width: calc(191 * 100vw / 1366);
		height: calc(162 * 100vw / 1366);
		left: 0;
		bottom: calc(190 * 100vw / 1366);
	}
	.pointer-notifications-top-left .pointer-legend {	
		width: calc(233 * 100vw / 1366);
		height: calc(34 * 100vw / 1366);
		top: calc(-1 * (34 * 100vw / 1366 + 12px));
	}
	.pointer-notifications-top-right {
		width: calc(146 * 100vw / 1366);
		height: calc(153 * 100vw / 1366);
		right: calc(-4.22 * 100vw / 1366);
		bottom: calc(199 * 100vw / 1366);
	}
	.pointer-notifications-top-right .pointer-legend {	
		width: calc(159 * 100vw / 1366);
		height: calc(34 * 100vw / 1366);
		top: calc(-1 * (34 * 100vw / 1366 + 12px));
	}
	.pointer-notifications-bottom-left {
		width: calc(229 * 100vw / 1366);
		height: calc(80 * 100vw / 1366);
		left: 0;
		top: calc(272 * 100vw / 1366);
	}
	.pointer-notifications-bottom-left .pointer-legend {	
		width: calc(246 * 100vw / 1366);
		height: calc(34 * 100vw / 1366);
		bottom: calc(-1 * (34 * 100vw / 1366 + 12px));
	}

	.pointer-performance-top-left {
		width: calc(79 * 100vw / 1366);
		height: calc(134 * 100vw / 1366);
		left: calc(52 * 100vw / 1366);
		bottom: calc(218 * 100vw / 1366);
	}
	.pointer-performance-top-left .pointer-legend {	
		width: calc(63 * 100vw / 1366);
		height: calc(17 * 100vw / 1366);
		top: calc(-1 * (17 * 100vw / 1366 + 12px));
	}
	.pointer-performance-top-right {
		width: calc(174 * 100vw / 1366);
		height: calc(96 * 100vw / 1366);
		right: calc(98.78 * 100vw / 1366);
		bottom: calc(256 * 100vw / 1366);
	}
	.pointer-performance-top-right .pointer-legend {	
		width: calc(210 * 100vw / 1366);
		height: calc(34 * 100vw / 1366);
		top: calc(-1 * (34 * 100vw / 1366 + 12px));
	}
	.pointer-performance-bottom-left {
		width: calc(204.49 * 100vw / 1366);
		height: calc(71.5 * 100vw / 1366);
		left: 0;
		top: calc(280.5 * 100vw / 1366);
	}
	.pointer-performance-bottom-left .pointer-legend {	
		width: calc(247 * 100vw / 1366);
		height: calc(51 * 100vw / 1366);
		bottom: calc(-1 * (51 * 100vw / 1366 + 12px));
	}
	.pointer-performance-bottom-right {
		width: calc(182 * 100vw / 1366);
		height: calc(182 * 100vw / 1366);
		right: calc(130.78 * 100vw / 1366);
		top: calc(170 * 100vw / 1366);
	}
	.pointer-performance-bottom-right .pointer-legend {
		width: calc(208 * 100vw / 1366);
		height: calc(17 * 100vw / 1366);
		bottom: calc(-1 * (17 * 100vw / 1366 + 12px));
	}

	.pointer-energy_screen-top-left {
		width: calc(271 * 100vw / 1366);
		height: calc(80 * 100vw / 1366);
		left: calc(55 * 100vw / 1366);
		bottom: calc(272 * 100vw / 1366);
	}
	.pointer-energy_screen-top-left .pointer-legend {	
		width: calc(270 * 100vw / 1366);
		height: calc(34 * 100vw / 1366);
		top: calc(-1 * (34 * 100vw / 1366 + 12px));
	}

	.pointer-car_info-top-left {
		width: calc(199 * 100vw / 1366);
		height: calc(70 * 100vw / 1366);
		left: calc(-18 * 100vw / 1366);
		bottom: calc(282 * 100vw / 1366);
	}
	.pointer-car_info-top-left .pointer-legend {	
		width: calc(204 * 100vw / 1366);
		height: calc(34 * 100vw / 1366);
		top: calc(-1 * (34 * 100vw / 1366 + 12px));
	}
	.pointer-car_info-top-right {
		width: calc(185 * 100vw / 1366);
		height: calc(72 * 100vw / 1366);
		right: calc(63.78 * 100vw / 1366);
		bottom: calc(279 * 100vw / 1366);
	}
	.pointer-car_info-top-right .pointer-legend {	
		width: calc(185 * 100vw / 1366);
		height: calc(34 * 100vw / 1366);
		top: calc(-1 * (34 * 100vw / 1366 + 12px));
	}
}*/

@media screen and (max-width: 999px) {	
	.pointer-point {
		width: 5px;
		height: 5px;
	}
	.pointer-top .pointer-point {
		bottom: -5px;
	}
	.pointer-bottom .pointer-point {
		top: -5px;
	}
	.pointer-left .pointer-point {
		right: -3px;
	}
	.pointer-right .pointer-point {
		left: -3px;
	}
	.pointer-desktop {
		display: none;
	}
	.pointer-mobile {
		display: block;
	}
	.pointer-dashboard-top-left {
		width: 144px;
		height: 46px;
		left: 35px;
		top: 227px;
	}
	.pointer-dashboard-top-left .pointer-legend {	
		width: 167px;
		height: 48px;
		top: calc(-1 * (48px + 12px));
	}
	.pointer-dashboard-top-right {
		width: 86px;
		height: 52px;
		right: -1.88px;
		bottom: 138px;
	}
	.pointer-dashboard-top-right .pointer-legend {	
		width: 114px;
		height: 48px;
		top: calc(-1 * (48px + 12px));
	}
	.pointer-dashboard-bottom-left {
		width: 82px;
		height: 65px;
		left: -8.77px;
		top: 125px;
	}
	.pointer-dashboard-bottom-left .pointer-legend {	
		width: 198px;
		height: 48px;
		bottom: calc(-1 * (48px + 9px));
	}
	.pointer-dashboard-bottom-right {
		width: 111px;
		height: 65px;
		right: -11.88px;
		top: 125px;
	}
	.pointer-dashboard-bottom-right .pointer-legend {
		width: 120px;
		height: 68px;
		bottom: calc(-1 * (68px + 9px));
	}

	.pointer-notifications-top-left {
		width: 98px;
		height: 96px;
		left: -2.77;
		bottom: 94px;
	}
	.pointer-notifications-top-left .pointer-legend {	
		width: 100px;
		height: 48px;
		top: calc(-1 * (48px + 12px));
	}
	.pointer-notifications-top-right {
		width: 101px;
		height: 80px;
		right: -5.88px;
		bottom: 110px;
	}
	.pointer-notifications-top-right .pointer-legend {	
		width: 114px;
		height: 48px;
		top: calc(-1 * (48px + 12px));
	}
	.pointer-notifications-bottom-right {
		width: 178px;
		height: 54px;
		right: 28.11px;
		top: 136px;
	}
	.pointer-notifications-bottom-right .pointer-legend {	
		width: 198px;
		height: 34px;
		bottom: calc(-1 * (34px + 8px));
	}

	.pointer-performance-top-left {
		width: 63px;
		height: 85px;
		left: 3.23px;
		bottom: 105px;
	}
	.pointer-performance-top-left .pointer-legend {	
		width: 74px;
		height: 14px;
		top: calc(-1 * (14px + 12px));
	}
	.pointer-performance-top-right {
		width: 86px;
		height: 69px;
		right: 45.35px;
		bottom: 121px;
	}
	.pointer-performance-top-right .pointer-legend {	
		width: 114px;
		height: 65px;
		top: calc(-1 * (65px + 12px));
	}
	.pointer-performance-bottom-left {
		width: 119px;
		height: 51px;
		left: -8.77px;
		top: 139px;
	}
	.pointer-performance-bottom-left .pointer-legend {	
		width: 180px;
		height: 51px;
		bottom: calc(-1 * (51px + 8px));
	}
	.pointer-performance-bottom-right {
		width: 88px;
		height: 91px;
		right: 36.35px;
		top: 99px;
	}
	.pointer-performance-bottom-right .pointer-legend {
		width: 130px;
		height: 65px;
		bottom: calc(-1 * (65px + 8px));
	}

	.pointer-energy_screen-top-right {
		width: 182px;
		height: 54px;
		right: -21.88px;
		bottom: 136px;
	}
	.pointer-energy_screen-top-right .pointer-legend {	
		width: 186px;
		height: 48px;
		top: calc(-1 * (48px + 12px));
	}

	.pointer-car_info-top-right {
		width: 150px;
		height: 52px;
		right: 32.35px;
		bottom: 138px;
	}
	.pointer-car_info-top-right .pointer-legend {	
		width: 150px;
		height: 48px;
		top: calc(-1 * (48px + 12px));
	}
	.pointer-car_info-bottom-right {
		width: 198px;
		height: 51px;
		right: 43.45px;
		top: 139px;
	}
	.pointer-car_info-bottom-right .pointer-legend {	
		width: 210px;
		height: 48px;
		bottom: calc(-1 * (48px + 8px));
	}
}
