.pointer {
	position: absolute;
	/*display: none;*/
	/*cursor: pointer;*/
	/*opacity: 0;*/
	z-index: 4;
	/*border: 1px solid #0F77F0;*/
}
.pointer-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.pointer-top .pointer-wrap {
	justify-content: flex-start;
}
.pointer-bottom .pointer-wrap {
	justify-content: flex-end;
}
.pointer-top {
	border-top: 1px solid #0F77F0;;
}
.pointer-bottom {
	border-bottom: 1px solid #0F77F0;;
}
.pointer-left {
	border-right: 1px solid #0F77F0;
}
.pointer-top.pointer-left {	
	border-top-right-radius: 10px;
}
.pointer-top.pointer-right {	
	border-top-left-radius: 10px;
}
.pointer-bottom.pointer-left {	
	border-bottom-right-radius: 10px;
}
.pointer-bottom.pointer-right {	
	border-bottom-left-radius: 10px;
}
/*.screen.dark .pointer-left {
	border-right: 1px solid #3374FB;
}*/
.pointer-right {
	border-left: 1px solid #0F77F0;
}
/*.screen.dark .pointer-right {
	border-left: 1px solid #3374FB;
}*/
.pointer-point {
	position: absolute;
	width: 7px;
	height: 7px;
	/*background: #FFFFFF;
	border: 1px solid #0F77F0;*/	
}
.pointer-point img {
	width: 100%;
	height: 100%;
}
.pointer-legend {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.64);
	position: absolute;
}
/*.pointer-legend:hover {
	font-family: Gotham-Medium;
}*/
.pointer-top .pointer-point {
	bottom: 0px;
}
.pointer-bottom .pointer-point {
	top: -14px;
}
.pointer-left .pointer-point {
	right: -4px;
}
.pointer-right .pointer-point {
	left: -4px;
}
/*.pointer-left .pointer-legend {
	text-align: right;
	margin-right: 8px;
}
.pointer-right .pointer-legend {
	text-align: left;
	margin-left: 8px;
}*/

.pointer-dashboard-top-left {
	width: 224.5px;
	height: 80px;
	left: 68px;
	bottom: 271px;
}
.pointer-dashboard-top-left .pointer-legend {	
	width: 233px;
	height: 34px;
	top: calc(-1 * (34px + 14px));
}
.pointer-dashboard-top-right {
	width: 146px;
	height: 72px;
	right: 13.28px;
	bottom: 279px;
}
.pointer-dashboard-top-right .pointer-legend {	
	width: 159px;
	height: 34px;
	top: calc(-1 * (34px + 14px));
}
.pointer-dashboard-bottom-left {
	width: 229px;
	height: 132.5px;
	left: -78px;
	top: 239.5px;
}
.pointer-dashboard-bottom-left .pointer-legend {	
	width: 246px;
	height: 34px;
	bottom: calc(-1 * (34px + 12px));
}
.pointer-dashboard-bottom-right {
	width: 204.56px;
	height: 136px;
	right: 135.22px;
	top: 239px;
}
.pointer-dashboard-bottom-right .pointer-legend {
	width: 208px;
	height: 34px;
	bottom: calc(-1 * (34px + 12px));
}

.pointer-notifications-top-left {
	width: 194px;
	height: 176px;
	left: 0;
	bottom: 179px;
}
.pointer-notifications-top-left .pointer-legend {	
	width: 233px;
	height: 34px;
	top: calc(-1 * (34px + 14px));
}
.pointer-notifications-top-right {
	width: 146px;
	height: 161.5px;
	right: -4.22px;
	bottom: 193.5px;
}
.pointer-notifications-top-right .pointer-legend {	
	width: 159px;
	height: 34px;
	top: calc(-1 * (34px + 14px));
}
.pointer-notifications-bottom-left {
	width: 232px;
	height: 92px;
	left: 0px;
	top: 268px;
}
.pointer-notifications-bottom-left .pointer-legend {	
	width: 246px;
	height: 34px;
	bottom: calc(-1 * (34px + 12px));
}

.pointer-performance-top-left {
	width: 78.5px;
	height: 151px;
	left: 52px;
	bottom: 212px;
}
.pointer-performance-top-left .pointer-legend {	
	width: 63px;
	height: 17px;
	top: calc(-1 * (17px + 12px));
}
.pointer-performance-top-right {
	width: 174.5px;
	height: 113px;
	right: 96.5px;
	bottom: 250px;
}
.pointer-performance-top-right .pointer-legend {	
	width: 210px;
	height: 34px;
	top: calc(-1 * (34px + 14px));
}
.pointer-performance-bottom-left {
	width: 204.49px;
	height: 71.5px;
	left: 0px;
	top: 288.5px;
}
.pointer-performance-bottom-left .pointer-legend {	
	width: 247px;
	height: 51px;
	bottom: calc(-1 * (51px + 12px));
}
.pointer-performance-bottom-right {
	width: 182.5px;
	height: 183.5px;
	right: 131px;
	top: 176.5px;
}
.pointer-performance-bottom-right .pointer-legend {
	width: 208px;
	height: 17px;
	bottom: calc(-1 * (17px + 12px));
}

.pointer-energy_screen-top-left {
	width: 191.02px;
	height: 172.5px;
	left: 0;
	bottom: 182.5px;
}
.pointer-energy_screen-top-left .pointer-legend {	
	width: 233px;
	height: 34px;
	top: calc(-1 * (34px + 14px));
}
.pointer-energy_screen-top-right {
	width: 146px;
	height: 161.5px;
	right: -4.22px;
	bottom: 193.5px;
}
.pointer-energy_screen-top-right .pointer-legend {	
	width: 159px;
	height: 34px;
	top: calc(-1 * (34px + 14px));
}
.pointer-energy_screen-bottom-left {
	width: 232px;
	height: 92px;
	left: 0px;
	top: 268px;
}
.pointer-energy_screen-bottom-left .pointer-legend {	
	width: 246px;
	height: 34px;
	bottom: calc(-1 * (34px + 12px));
}

.pointer-car_info-top-left {
	width: 224.5px;
	height: 80px;
	left: 68px;
	bottom: 271px;
}
.pointer-car_info-top-left .pointer-legend {	
	width: 233px;
	height: 34px;
	top: calc(-1 * (34px + 14px));
}
.pointer-car_info-top-right {
	width: 146px;
	height: 72px;
	right: 13.28px;
	bottom: 279px;
}
.pointer-car_info-top-right .pointer-legend {	
	width: 159px;
	height: 34px;
	top: calc(-1 * (34px + 14px));
}
.pointer-car_info-bottom-left {
	width: 229px;
	height: 132.5px;
	left: -78px;
	top: 239.5px;
}
.pointer-car_info-bottom-left .pointer-legend {	
	width: 246px;
	height: 34px;
	bottom: calc(-1 * (34px + 12px));
}
.pointer-car_info-bottom-right {
	width: 204.56px;
	height: 136px;
	right: 135.22px;
	top: 239px;
}
.pointer-car_info-bottom-right .pointer-legend {
	width: 208px;
	height: 34px;
	bottom: calc(-1 * (34px + 12px));
}

/* Subtracts */
/*.screen_subtracts {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.screen_subtracts_wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}*/
.subtract {
	/*display: none;*/
	opacity: 0;
	position: absolute;
	/*width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;*/
	width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    overflow: hidden;
    border-radius: 16px;
}
.subtract img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
