.pointer {
	position: absolute;
/*	z-index: 4;*/
/*	box-sizing: border-box;*/
}
.pointer-desktop {
	display: block;
}
.pointer-mobile {
	display: none;
}
.pointer-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.pointer-top {
	top: 80px;
}
.pointer-bottom {
	bottom: 92px;
}
.pointer-left {
	left: 0;
}
.pointer-right {
	right: 0;
}

.pointer-legend {
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	position: absolute;
}
.screens.light .pointer-legend {
	color: #666;
}
.screens.dark .pointer-legend {
	color: #808080;
}
.pointer-top .pointer-legend {
	top: -52px;
}
.pointer-bottom .pointer-legend {
	bottom: -52px;
}
.pointer-left .pointer-legend {
	left: 0;
	text-align: left;
}
.pointer-right .pointer-legend {
	right: 0;
	text-align: right;
}

.pointer-icon {
	position: absolute;
}

.pointer-top .pointer-icon {
	top: 4px;
}
.pointer-bottom .pointer-icon {
	bottom: 10px;
}
.pointer-left .pointer-icon {
	left: 0;
}
.pointer-right .pointer-icon {
	right: 0;
}

.pointer-point {
	position: absolute;
}

.pointer-top .pointer-point {
	bottom: 1px;
}
.pointer-bottom .pointer-point {
	top: 1px;
}
.pointer-left .pointer-point {
	right: -1px;
}
.pointer-right .pointer-point {
	left: -1px;
}

/*.pointer-dashboard-top-left {
	width: 537px;
	height: 65px;
}

.pointer-dashboard-top-right {
	width: 330px;
	height: 65px; 
}

.pointer-dashboard-bottom-left {
	width: 304px;
	height: 118px; 
}

.pointer-dashboard-bottom-right {
	width: 539px;
	height: 120px; 
}*/

.pointer-performance-top-left {
	width: 68.05px;
	height: 136px;
	left: 470.07px;
	top: 104.33px;
}
.pointer-performance-top-left .pointer-legend {	
	width: 63px;
	height: 17px;
	top: calc(-1 * (17px + 12px));
}
.pointer-performance-top-right {
	width: 170.11px;
	height: 115.66px;
	left: 724.24px;
	top: 77.33px;
}
.pointer-performance-top-right .pointer-legend {	
	width: 210px;
	height: 34px;
	top: calc(-1 * (34px + 12px));
}
.pointer-performance-bottom-left {
	width: 217.14px;
	height: 71px;
	left: 359px;
	top: 375px;
}
.pointer-performance-bottom-left .pointer-legend {	
	width: 247px;
	height: 51px;
	bottom: calc(-1 * (51px + 12px));
}
.pointer-performance-bottom-right {
	width: 198.13px;
	height: 179px;
	left: 656.2px;
	bottom: 78px;
}
.pointer-performance-bottom-right .pointer-legend {
	width: 208px;
	height: 17px;
	bottom: calc(-1 * (17px + 12px));
}

.pointer-energy_screen-top-right {
	width: 270px;
	height: 87.9px;
	left: 620px;
	top: 95px;
}
.pointer-energy_screen-top-right .pointer-legend {	
	width: 270px;
	height: 34px;
	top: calc(-1 * (34px + 12px));
}

.pointer-car_info-top-left {
	width: 200.42px;
	height: 74px;
	left: 378px;
	top: 95px;
}
.pointer-car_info-top-left .pointer-legend {	
	width: 204px;
	height: 34px;
	top: calc(-1 * (34px + 12px));
}
.pointer-car_info-top-right {
	width: 189px;
	height: 68.93px;
	right: 96.58px;
	top: 95px;
}
.pointer-car_info-top-right .pointer-legend {	
	width: 185px;
	height: 34px;
	top: calc(-1 * (34px + 12px));
}

.pointer-map-top-left {
	width: 185.42px;
	height: 79px;
	left: 716px;
	top: 106px;
}
.pointer-map-top-left .pointer-legend {	
	width: 185px;
	height: 51px;
	top: calc(-1 * (51px + 12px));
}
.pointer-map-bottom-left {
	width: 176px;
	height: 68.02px;
	left: 375px;
	top: 369.98px;
}
.pointer-map-bottom-left .pointer-legend {	
	width: 184px;
	height: 34px;
	bottom: calc(-1 * (34px + 12px));
}
