
@media screen and (min-width: 1000px) and (max-width: 1366px) { 
	.product_block {
		margin: calc(93 * 100vw / 1366) auto calc(108 * 100vw / 1366);
	}
	.product_block-title {
		font-size: calc(52 * 100vw / 1366);
		line-height: calc(64 * 100vw / 1366);
		/*margin-left: calc(128 * 100vw / 1366);*/
		margin-bottom: calc(76.72 * 100vw / 1366);
	}
	.product_block-product {
		margin-left: calc(121 * 100vw / 1366);
		grid-column-gap: calc(148 * 100vw / 1366);
	}
	.product_block-product-gallery {
		width: calc(545 * 100vw / 1366);
		height: calc(378 * 100vw / 1366);
		/*margin-right: calc(114 * 100vw / 1366);*/
	}
	.product_block-product-gallery-image {
		width: calc(449 * 100vw / 1366);
		height: calc(323 * 100vw / 1366);
	}
	.product_block-product-gallery-nav {
		top: calc(173 * 100vw / 1366);
		width: calc(32 * 100vw / 1366);
		height: calc(32 * 100vw / 1366);
	}
	.product_block-product-gallery-nav-prev {
		left: calc(-1 * 36 * 100vw / 1366)
	}
	.product_block-product-gallery-nav-next {
		right: calc(-1 * 36 * 100vw / 1366);
	}
	.product_block-product-info {
		display: flex;
		flex-direction: column;
		grid-row-gap: calc(20 * 100vw / 1366);
	}
	.product_block-product-price {
		font-size: calc(52 * 100vw / 1366);
		line-height: calc(64 * 100vw / 1366);
	}
	.product_block-product-title {
		font-size: calc(28 * 100vw / 1366);
		line-height: calc(36 * 100vw / 1366);
		max-width: calc(235 * 100vw / 1366);
	}
	.product_block-product-subtitle {
		/*font-size: calc(14 * 100vw / 1366);*/
		/*line-height: calc(17 * 100vw / 1366);*/
		max-width: calc(450 * 100vw / 1366);
	}
	/*.product_block-product-amount {
		width: calc(183 * 100vw / 1366);
		height: calc(56 * 100vw / 1366);
		border-radius: calc(64 * 100vw / 1366);
	}
	.product_block-product-amount-button {
		width: calc(56 * 100vw / 1366);
		height: calc(56 * 100vw / 1366);
		box-shadow: 0px calc(4 * 100vw / 1366) calc(16 * 100vw / 1366) rgba(0, 0, 0, 0.1);
		border: 1px solid #FFFFFF;
		border-radius: calc(100 * 100vw / 1366);
	}
	.product_block-product-amount-button-minus > div,
	.product_block-product-amount-button-plus > div {
		width: calc(20 * 100vw / 1366); 
		height: calc(4 * 100vw / 1366); 
		left: calc(18 * 100vw / 1366); 
		top: calc(26 * 100vw / 1366);
	}
	.product_block-product-amount-value {
		font-size: calc(22 * 100vw / 1366);
		line-height: calc(30 * 100vw / 1366);
	}*/
	.product_block-product-select {
		width: calc(236 * 100vw / 1366);
		height: calc(56 * 100vw / 1366);
		border-radius: calc(100 * 100vw / 1366);
		grid-column-gap: calc(10 * 100vw / 1366);
		padding-left: calc(23 * 100vw / 1366);
		padding-right: calc(16 * 100vw / 1366);
	}
	.product_block-product-select-dropdown {
		padding: calc(12 * 100vw / 1366) calc(21 * 100vw / 1366) calc(18 * 100vw / 1366);
		grid-row-gap: calc(16 * 100vw / 1366);
		border: 1px solid #3374FB;
		box-shadow: 0px calc(4 * 100vw / 1366) calc(16 * 100vw / 1366) rgba(0, 0, 0, 0.1);
		border-radius: calc(35 * 100vw / 1366);
	}
	.product_block-product-select-dropdown-item {
		font-size: calc(24 * 100vw / 1366);
		line-height: calc(32 * 100vw / 1366);
	}
	.product_block-product-select-value {
		font-size: calc(24 * 100vw / 1366);
		line-height: calc(32 * 100vw / 1366);
		margin-right: calc(20 * 100vw / 1366);
	}
	.product_block-product-select-arrow {
		width: calc(24 * 100vw / 1366);
		height: calc(24 * 100vw / 1366);
	}
	.product_block-product-add {
		width: calc(183 * 100vw / 1366);
		height: calc(56 * 100vw / 1366);
		border: 1px solid #3374FB;
		border-radius: calc(100 * 100vw / 1366);
		font-size: calc(24 * 100vw / 1366);
		line-height: calc(32 * 100vw / 1366);
	} 
	.product_block-add-wireless-charger {
		margin-top: calc(12 * 100vw / 1366);
	}
	.product_block-add-wireless-charger-checkbox {
		border-radius: calc(8 * 100vw / 1366);
		padding: calc(16 * 100vw / 1366);
	}
	.product_block-add-wireless-charger-checkbox:checked:after {
		width: calc(17.14 * 100vw / 1366);
		height: calc(11.43 * 100vw / 1366);
		top: calc(9.71 * 100vw / 1366);
		left: calc(7.43 * 100vw / 1366);
	}
	.product_block-add-wireless-charger-title {
		margin-left: calc(12 * 100vw / 1366);
		font-size: calc(14 * 100vw / 1366);
		line-height: calc(17 * 100vw / 1366);
	}
	.product_block-add-wireless-charger-price {
		margin-left: calc(4 * 100vw / 1366);
		font-size: calc(14 * 100vw / 1366);
		line-height: calc(17 * 100vw / 1366);
	}
} 
@media screen and (max-width: 999px) {  
	.product_block {
		/*height: 625px;*/
		height: auto;
		margin-top: 37px;
		margin-bottom: 80px;
	}
	.product_block-product {
		display: none;
	}
	.product_block-product-mobile {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.product_block-title {
		height: 28px;
		font-size: 36px;
		line-height: 43px;
		/*margin-left: 0;*/
		margin-bottom: 51px;
	}
	.product_block-product-title {
		font-weight: 700;
		font-size: 26px;
		line-height: 31px;
		margin-bottom: 10px;
	}
	.product_block-product-price {
		font-weight: 700;
		font-size: 22px;
		line-height: 140%;
		margin-bottom: 22.88px;
	}
	.product_block-product-gallery {
		width: 342px;
		/*height: 210.65px;*/
		height: auto;
		margin-right: 0;
		margin-bottom: 23.85px;
	}
	.product_block-product-info {
		width: 342px;
		/*height: 216.61px;*/
	}
	.product_block-product-info-bottom {
		width: 100%;
		/*height: 146.61px;*/
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.product_block-product-select {
		/*width: 270px;*/
		width: 100%;
		height: 56px;
		background: #FFFFFF;
		border-radius: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column-gap: 10px;
		margin-top: 12px;
	}
	.product_block-product-select-text {
		margin-top: 12px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: #000000;
	}
	.product_block-product-select-dropdown-item {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: #0F0F0F;
		cursor: pointer;
	}
	.product_block-product-select-value {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: #85878d;
	}
	.product_block-product-select-arrow {
		width: 24px;
		height: 24px;
	}
	.product_block-product-select-arrow img {
		width: 100%;
		height: 100%;
	}
	.product_block-product-add {
		margin-top: 12px;
		/*width: 149px;*/
		padding-left: 23px;
		padding-right: 23px;
		height: 56px;
		font-size: 18px;
		line-height: 140%;
	}
}
