#header_sticky.header_sticky_promo {
    height: 128px;
}
.promo-bg {
    width: 100%;
    height: 64px;
    position: sticky;
    z-index: 2;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo-wrap {
    width: 1296px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo-close {
    position: absolute;
    top: 20px;
    right: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo-close img {
    width: 100%;
}
.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 64px;

    color: #FFF;
    font-family: Manrope;
    font-style: normal;
}
.promo-info, .promo-code-info, .promo-code-placeholder-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.promo-code {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}
.promo-code-placeholder {
    width: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px dashed #FFF;
    background: #4340F2;
    box-sizing: border-box;
    cursor: pointer;
}
.promo-code-placeholder:hover {
    background: #2C28F0;
}
.promo-code-placeholder-copied {
    column-gap: 8px;
}
.promo-code-placeholder-icon {
    justify-content: center;
    align-items: center;
}
.promo-code-placeholder-icon-copy {
    display: flex;
    width: 26px;
    height: 26px;
}
.promo-code-placeholder-icon-copy img {
    width: 16px;
    height: 20px;
}
.promo-code-placeholder-icon-copied {
    display: none;
    width: 24px;
    height: 24px;
}
.promo-code-placeholder-icon-copied img {
    width: 100%;
}
.promo-counter {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    column-gap: 2px;
}
.promo-counter-item-value, .promo-counter-delimiter {
    height: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.promo-counter-item-value {
    width: 40px;
}
.promo-counter-item-caption {
    width: 40px;
    height: 16px;
    margin-top: -4px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.promo-counter-delimiter {
    width: 8px;
}

@media screen and (min-width: 576px) and (max-width: 1440px) {
    #header_sticky.header_sticky_promo {
        height: calc(128 * 100vw / 1440);
    }
    .promo-bg {
        height: calc(64 * 100vw / 1440);
    }
    .promo-wrap {
        width: calc(1296 * 100vw / 1440);
    }
    .promo-close {
        top: calc(20 * 100vw / 1440);
        width: calc(24 * 100vw / 1440);
        height: calc(24 * 100vw / 1440);
    }
    .promo {
        column-gap: calc(64 * 100vw / 1440);
    }
    .promo-info, .promo-code-info, .promo-code-placeholder-text {
        font-size: calc(24 * 100vw / 1440);
        line-height: calc(32 * 100vw / 1440);
    }
    .promo-code {
        column-gap: calc(12 * 100vw / 1440);
    }
    .promo-code-placeholder {
        width: calc(169 * 100vw / 1440);
        column-gap: calc(4 * 100vw / 1440);
        padding: calc(6 * 100vw / 1440) calc(12 * 100vw / 1440);
        border-radius: calc(8 * 100vw / 1440);
    }
    .promo-code-placeholder-copied {
        column-gap: calc(8 * 100vw / 1440);
    }
    .promo-code-placeholder-icon-copy {
        width: calc(26 * 100vw / 1440);
        height: calc(26 * 100vw / 1440);
    }
    .promo-code-placeholder-icon-copy img {
        width: calc(16 * 100vw / 1440);
        height: calc(20 * 100vw / 1440);
    }
    .promo-code-placeholder-icon-copied {
        width: calc(24 * 100vw / 1440);
        height: calc(24 * 100vw / 1440);
    }
    .promo-counter {
        column-gap: calc(2 * 100vw / 1440);
    }
    .promo-counter-item-value, .promo-counter-delimiter {
        height: calc(40 * 100vw / 1440);
        font-size: calc(32 * 100vw / 1440);
        line-height: calc(40 * 100vw / 1440);
    }
    .promo-counter-item-value {
        width: calc(40 * 100vw / 1440);
    }
    .promo-counter-item-caption {
        width: calc(40 * 100vw / 1440);
        height: calc(16 * 100vw / 1440);
        margin-top: calc(-1 * 4 * 100vw / 1440);
        font-size: calc(12 * 100vw / 1440);
        line-height: calc(16 * 100vw / 1440);
    }
    .promo-counter-delimiter {
        width: calc(8 * 100vw / 1440);
    }
}
