.reviews-title {
	margin-bottom: 40px;
}
.reviews-data {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.reviews-data-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 312px;
	grid-row-gap: 32px;
}
.reviews-rating {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-row-gap: 20px;
}
.reviews-rating-overall {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-row-gap: 8px;
}
.reviews-rating-overall-title {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color: #0F0F0F;
}
.reviews-rating-overall-data {
	display: flex;
	align-items: center;
	grid-column-gap: 16px;
}
.reviews-rating-overall-data-value {
	font-family: 'Gotham-Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 43px;
	color: #0F0F0F;
}
.reviews-rating-stats {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-row-gap: 8px;	
}
.reviews-rating-stats-total {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color: #8F9197;
}
.reviews-rating-stats-marks {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-row-gap: 12px;	
}
.reviews-rating-stats-mark {
	width: 100%;
	display: flex;
	align-items: center;
	grid-column-gap: 20px;
}
.reviews-rating-stats-mark-star {
	display: flex;
	align-items: center;
	grid-column-gap: 16px;
}
.reviews-rating-stats-mark-star-value {
	width: 25px;
	font-family: 'Gotham-Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 43px;
	color: #0F0F0F;
}
.reviews-rating-stats-mark-star-icon {
	width: 20px;
	height: 20px;
}
.reviews-rating-stats-mark-star-line {
	width: 178px;
	height: 10px;
	background: #E3E3E3;
	border-radius: 100px;
	position: relative;
}
.reviews-rating-stats-mark-star-line-fill {
	height: 10px;
	background: #3374FB;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
}
.reviews-rating-stats-mark-count {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	color: #0F0F0F;
}
.reviews-data-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 716px;
}
.reviews-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}