@media screen and (min-width: 576px) and (max-width: 1440px) {
	.reviews {
		padding-top: calc(180 * 100vw / 1440);
		padding-bottom: calc(173 * 100vw / 1440);
	}
	.reviews-wrap {
		width: calc(1076 * 100vw / 1440);
	}
	.reviews-top {
		margin-bottom: calc(73 * 100vw / 1440);
	}
	.reviews-top-left {
		grid-row-gap: calc(8 * 100vw / 1440);
	}
	.reviews-top-supinfo {
		grid-column-gap: calc(12 * 100vw / 1440);
	}
	.reviews-top-supinfo-stars {
		grid-column-gap: calc(8 * 100vw / 1440);
	}
	.reviews-top-supinfo-stars .spr-icon {
		width: calc(32 * 100vw / 1440);
		height: calc(32 * 100vw / 1440);
	}
	.reviews-top-supinfo-stars .spr-icon::before {
		font-size: calc(32 * 100vw / 1440);
	}
	.reviews-top-supinfo-text {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.reviews-title {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.reviews-top-right {
		grid-row-gap: calc(8 * 100vw / 1440);
	}
	.reviews-rating-overall-title {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
		margin-bottom: calc(10 * 100vw / 1440);
	}
	.reviews-rating-overall-data {
		grid-column-gap: calc(16 * 100vw / 1440);
		margin-bottom: calc(14 * 100vw / 1440);
	}
	.reviews-rating-overall-data-value {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.reviews-rating-overall-data-star {
		width: calc(64 * 100vw / 1440);
		height: calc(64 * 100vw / 1440);
	}
	.reviews-rating-stats-total {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.reviews-list {
		grid-column-gap: calc(24 * 100vw / 1440);
		grid-row-gap: calc(24 * 100vw / 1440);
	}
	.reviews-list-item {
		width: calc(526 * 100vw / 1440);
		grid-row-gap: calc(16 * 100vw / 1440);
		padding: calc(40 * 100vw / 1440);
		border-radius: calc(24 * 100vw / 1440);
	}
	.reviews-list-item-top-left {
		grid-column-gap: calc(13 * 100vw / 1440);
	}
	.reviews-list-item-date {
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
	.reviews-list-item-stars {
		grid-column-gap: calc(4 * 100vw / 1440);
	}
	.reviews-list-item-stars .spr-icon {
		width: calc(24 * 100vw / 1440);
		height: calc(24 * 100vw / 1440);
	}
	.reviews-list-item-stars .spr-icon::before {
		font-size: calc(24 * 100vw / 1440);
	}
	.reviews-list-item-text {
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
	.reviews-list-item-author {
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
	.reviews-bottom {
		margin-top: calc(52 * 100vw / 1440);
	}
	.reviews-bottom-text {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	#showForm {
		padding: calc(23 * 100vw / 1440) calc(43 * 100vw / 1440);
		border-radius: calc(54 * 100vw / 1440);
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	#showForm:hover {
		padding: calc(20 * 100vw / 1440) calc(40 * 100vw / 1440);
	}
	.reviews-form-wrap {
		width: calc(636 * 100vw / 1440);
		height: calc(400 * 100vw / 1440);
		padding: calc(40 * 100vw / 1440) calc(40 * 100vw / 1440) calc(28 * 100vw / 1440) calc(40 * 100vw / 1440);
		border-radius: calc(16 * 100vw / 1440);
	}
	.reviews-form-close {
		width: calc(20 * 100vw / 1440);
		height: calc(20 * 100vw / 1440);
		top: calc(16 * 100vw / 1440);
		right: calc(16 * 100vw / 1440);
	}
	.reviews-form-top {
		grid-column-gap: calc(24 * 100vw / 1440);
		margin-bottom: calc(24 * 100vw / 1440);
	}
	.spr-form-title {
		width: calc(266 * 100vw / 1440);
		font-size: calc(32 * 100vw / 1440);
		line-height: calc(40 * 100vw / 1440);
	}
	.reviews-form-body {
		grid-column-gap: calc(24 * 100vw / 1440);
	}
	.reviews-form-column {
		width: calc(266 * 100vw / 1440);
		grid-row-gap: calc(24 * 100vw / 1440);
	}
	.reviews-form-field:not(.spr-form-review-rating) {
		grid-row-gap: calc(8 * 100vw / 1440);
	}
	.spr-form-label {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	input.spr-form-input:not(.spr-form-review-rating):not(.spr-form-input-textarea) {
		padding: calc(16 * 100vw / 1440);
		border-radius: calc(15 * 100vw / 1440);
		border-radius: calc(6 * 100vw / 1440);
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.reviews-form-field-error {
		bottom: calc(-1 * 22 * 100vw / 1440);
		font-size: calc(14 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.spr-form-review-rating {
		height: calc(40 * 100vw / 1440);
		margin-bottom: calc(3 * 100vw / 1440);
	}
	.spr-form-review-rating-title {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.spr-form-review-rating .spr-icon {
		width: calc(40 * 100vw / 1440);
		height: calc(40 * 100vw / 1440);
	}
	.spr-form-review-rating .spr-icon::before {
		font-size: calc(40 * 100vw / 1440);
	}
	.spr-form-input-textarea {
		height: calc(161 * 100vw / 1440);
		padding: calc(16 * 100vw / 1440);
		border-radius: calc(6 * 100vw / 1440);
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.reviews-form-actions {
		margin-top: calc(28 * 100vw / 1440);
	}
	.reviews-form-actions .spr-button {
		padding: calc(14 * 100vw / 1440) calc(28 * 100vw / 1440);
		border-radius: calc(26 * 100vw / 1440);
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) {
	.reviews {
		width: 100vw;
		margin-left: calc(-1 * (100vw - calc(375 * 100vw / 375)) / 2);
		padding-top: calc(96 * 100vw / 375);
		padding-bottom: calc(96 * 100vw / 375);
	}
	.reviews-wrap {
		width: calc(335 * 100vw / 375);
	}
	.reviews-top {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		grid-row-gap: calc(32 * 100vw / 375);
		margin-bottom: calc(44 * 100vw / 375);
	}
	.reviews-top-left {
		grid-row-gap: calc(12 * 100vw / 375);
	}
	.reviews-top-supinfo {
		grid-column-gap: calc(12 * 100vw / 375);
	}
	.reviews-top-supinfo-stars .spr-starrating {
		grid-column-gap: calc(8 * 100vw / 375);
	}
	.reviews-top-supinfo-stars .spr-icon {
		width: calc(20 * 100vw / 375);
		height: calc(20 * 100vw / 375); 
	}
	.reviews-top-supinfo-stars .spr-icon::before {
		font-size: calc(20 * 100vw / 375);
	}
	.reviews-top-supinfo-text {
		font-size: calc(16 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
	}
	.reviews-title {
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
	}
	.reviews-top-right {
		flex-direction: row-reverse;
		grid-column-gap: calc(26 * 100vw / 375);
	}
	.reviews-rating-overall-data-star {
		width: calc(128 * 100vw / 375);
		height: calc(128 * 100vw / 375);
	}
	.reviews-list-wrap {
		display: flex;
		flex-direction: column;
		grid-row-gap: calc(40 * 100vw / 375);
		user-select: none;
		overflow-x: visible;
		width: 100vw;
		margin-right: calc(-1 * (100vw - calc(335 * 100vw / 375)) / 2);
		margin-left: calc(-1 * (100vw - calc(335 * 100vw / 375)) / 2);
	}
	.reviews-list {
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: scroll;
		cursor: grab;
		padding-left: calc((100vw - calc(335 * 100vw / 375)) / 2);
		padding-right: calc((100vw - calc(335 * 100vw / 375)) / 2);
		scrollbar-color: transparent transparent;
		scrollbar-visibility: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
    	scrollbar-width: none;  /* Firefox */
	}
	.reviews-list::-webkit-scrollbar {
	  display: none;
	}
	.reviews-list-scrollbar {
		position: relative;
		margin-left: calc((100vw - calc(335 * 100vw / 375)) / 2);
		width: calc(335 * 100vw / 375);
		height: 4px;
		border-radius: 2px;
		background-color: #8478F7;
		cursor: pointer;
	}
	.reviews-list-scrollbar-thumb {
		position: absolute;
		top: 0;
		left: 0;
		width: 56px;
		height: 100%;
		border-radius: 2px;
		background-color: #FFF;
	}
	.reviews-list-item {
		width: calc(304 * 100vw / 375);
		grid-row-gap: calc(16 * 100vw / 375);
		padding: calc(24 * 100vw / 375);
		max-height: calc(440 * 100vw / 375);
	}
	.reviews-list-item-top {
		width: calc(256 * 100vw / 375);
	}
	.reviews-list-item-top-left {
		grid-column-gap: calc(8 * 100vw / 375);
	}
	.reviews-list-item-date {
		font-size: calc(16 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
	}
	.reviews-list-item-stars {
		display: none;
	}
	.reviews-list-item-stars-mobile {
		display: flex;
		align-items: center;
		grid-column-gap: calc(4 * 100vw / 375);
	}
	.reviews-list-item-stars-mobile-value {
		color: #000;
		font-family: Manrope;
		font-size: calc(16 * 100vw / 375);
		font-style: normal;
		font-weight: 500;
		line-height: calc(20 * 100vw / 375);
	}
	.reviews-list-item-text {
		font-size: calc(16 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
		text-overflow: ellipsis;
  		overflow: hidden;
	}
	.reviews-list-item-author {
		font-size: calc(16 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
	}
	.reviews-list-item-expand {
		display: block;
		width: 100%;
		height: calc(8 * 100vw / 375);
	}
	.reviews-list-item-expand img {
		width: 100%;
	}
	.reviews-bottom {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		grid-row-gap: calc(20 * 100vw / 375);
		margin-top: calc(48 * 100vw / 375);
	}
	.reviews-bottom-text {
		width: 100%;
		text-align: center;
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
	}
	#showForm {
		padding: calc(16 * 100vw / 375) calc(32 * 100vw / 375);
		font-size: calc(18 * 100vw / 375);
		line-height: calc(24 * 100vw / 375);
	}
	#showForm:hover {
		padding: calc(14 * 100vw / 375) calc(30 * 100vw / 375);
		border: 2px solid #FFF;
	}
	.reviews-form-wrap {
		width: calc(336 * 100vw / 375);
		height: calc(656 * 100vw / 375);
		padding: calc(24 * 100vw / 375) calc(24 * 100vw / 375) calc(32 * 100vw / 375) calc(24 * 100vw / 375);
		border-radius: calc(26 * 100vw / 375);
	}
	.reviews-form-close {
		top: calc(20 * 100vw / 375);
		right: calc(20 * 100vw / 375);
	}
	.reviews-form-top {
		flex-direction: column;
		grid-row-gap: calc(24 * 100vw / 375);
		margin-bottom: calc(24 * 100vw / 375);
	}
	.spr-form-title {
		width: calc(288 * 100vw / 375);
		font-size: calc(24 * 100vw / 375);
		line-height: calc(32 * 100vw / 375);
	}
	.reviews-form-body {
		flex-direction: column;
		grid-row-gap: calc(28 * 100vw / 375);
	}
	.reviews-form-column {
		width: calc(288 * 100vw / 375);
		grid-row-gap: calc(28 * 100vw / 375);
	}
	.spr-form-review-rating {
		margin-bottom: 0;
	}
	.reviews-form-actions {
		margin-top: calc(24 * 100vw / 375);
	}
	.reviews-form-actions .spr-button {
		width: calc(288 * 100vw / 375);
	}
}