.reviews {
	margin-bottom: 140px;
}
.reviews-title {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	line-height: 64px;
	color: #000000;
	text-align: left;
	margin-bottom: 40px;
}
.reviews-data {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 1206px;
	margin: 0 auto;
}
.reviews-data-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 312px;
	grid-row-gap: 32px;
}
.reviews-rating {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-row-gap: 20px;
}
.reviews-rating-overall {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-row-gap: 8px;
}
.reviews-rating-overall-title {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color: #0F0F0F;
}
.reviews-rating-overall-data {
	display: flex;
	align-items: center;
	grid-column-gap: 16px;
}
.reviews-rating-overall-data-value {
	font-family: 'Gotham-Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 43px;
	color: #0F0F0F;
}
.reviews-rating-overall-data-stars {
	display: flex;
	grid-column-gap: 8px;
}
.reviews-rating-overall-data-stars .spr-icon {
	width: 30px;
	height: 30px;
}
.reviews-rating-overall-data-stars .spr-icon::before {
	width: 100%;
	height: 100%;
	font-size: 30px;
	color: #3374FB;
}
.reviews-rating-stats {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-row-gap: 8px;	
}
.reviews-rating-stats-total {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color: #8F9197;
}
.reviews-rating-stats-marks {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-row-gap: 12px;	
}
.reviews-rating-stats-mark {
	width: 100%;
	display: flex;
	align-items: center;
	grid-column-gap: 20px;
}
.reviews-rating-stats-mark-star {
	display: flex;
	align-items: center;
	grid-column-gap: 16px;
}
.reviews-rating-stats-mark-star-value {
	width: 25px;
	font-family: 'Gotham-Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 43px;
	color: #0F0F0F;
}
.reviews-rating-stats-mark-star-icon {
	width: 20px;
	height: 20px;
}
.reviews-rating-stats-mark-star-line {
	width: 178px;
	height: 10px;
	background: #E3E3E3;
	border-radius: 100px;
	position: relative;
}
.reviews-rating-stats-mark-star-line-fill {
	height: 10px;
	background: #3374FB;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
}
.reviews-rating-stats-mark-count {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	color: #0F0F0F;
}
.reviews-data-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 716px;
	grid-row-gap: 40px;
}
.reviews-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-row-gap: 20px;
}
.reviews-list-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-row-gap: 32px;
	padding: 32px;
	background: #FFFFFF;
}
.reviews-list-item-hidden {
	display: none;
}
.reviews-list-item-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.reviews-list-item-date {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #8F9197;
}
.reviews-list-item-stars {
	display: flex;
	grid-column-gap: 8px;
}
.reviews-list-item-stars .spr-icon {
	width: 20px;
	height: 20px;
}
.reviews-list-item-stars .spr-icon::before {
	width: 100%;
	height: 100%;
	font-size: 20px;
	color: #3374FB;
}
.reviews-list-item-text {
/*	max-height: 94px;*/
/*	overflow: hidden;*/
/*	text-overflow: ellipsis;*/
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color: #000000;
}
.reviews-list-item-bottom {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-row-gap: 8px;
}
.reviews-list-item-author, .reviews-list-item-spent {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
.reviews-expand {
	align-items: center;
	grid-column-gap: 12px;
}
#viewAll {
	display: flex;
}
#showLess {
	display: none;
}
.reviews-expand-text {
	font-family: 'Gotham-Medium';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 32px;
	color: #3374FB;
	cursor: pointer;
}
.reviews-expand-icon {
	width: 32px;
	height: 32px;
}
.reviews-expand-icon-reverted {
	transform: rotate(180deg);
	transform-origin: center;
}
.reviews-pagination {
	width: 100%;
	padding: 0;
	border: none;
}
.reviews-pagination-hidden {
	display: none;
}
.reviews-pagination > div {
	display: flex;
	align-items: center;
	grid-column-gap: 4px;
}
.reviews-pagination > div > span {
	font-size: 22px;
	font-family: Gotham;
	line-height: 32px;
}
.spr-pagination-page {
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3374FB;
}
.spr-pagination-page.is-active {
	color: #FFFFFF;
	background: #3374FB;
	border-radius: 100px;
}
.spr-pagination-page a,
.spr-pagination-prev a,
.spr-pagination-next a {
	color: inherit;
	text-decoration: none;
}
.spr-pagination-deco {
	width: 41px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0F0F0F;
}
.spr-pagination-prev, .spr-pagination-next {
	position: unset;
	color: #3374FB;
}
.spr-pagination-prev {
	padding-right: 12px;
}
.spr-pagination-next {
	padding-left: 12px;
}
.spr-pagination-prev a, .spr-pagination-next a {
	display: flex;
	align-items: center;
}
.new-review-form {
	display: none;
}
.reviews-form-shadow {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.10);
	z-index: 15;
	display: flex;
	justify-content: center;
	align-items: center;
}
.reviews-form-wrap {
	width: 922px;
	padding: 32px;
}
