.screens {
	width: 100%;
	height: 1174px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.screens__bg {
	position: absolute;
	width: 100%;
	height: 100%;
}
.screens__wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 1076px;
	height: 100%;
	padding-top: 180px;
	padding-bottom: 180px;
	z-index: 2;
}
.screens__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.screens__top-title {
	font-family: Manrope;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px; /* 123.077% */ 
}
.screens__top-title-primary {
	background: linear-gradient(180deg, #0E71F0 6.39%, #1D3BFC 23.49%, #3F3CF6 33.93%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
}
.screens.light .screens__top-title-secondary {
	color: #000;
}
.screens.dark .screens__top-title-secondary {
	color: #FFF;
}
.screens__top-switcher {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-radius: 6px;
}
.screens.light .screens__top-switcher {
	border: 1px solid #D3D3D3; 
}
.screens.dark .screens__top-switcher {
	border: 1px solid #3E3E3E; 
}
.screens__top-switcher-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 14px 28px;
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	cursor: pointer;
}
.screens.light .screens__top-switcher-item {
	color: #000;
}
.screens.dark .screens__top-switcher-item {
	color: #808080;
}
.screens.light .screens__top-switcher-item.active {
	background: #FFF; 
}
.screens.dark .screens__top-switcher-item.active {
	background: #3E3E3E; 
}
.screens__features {
	flex: 1;
}
.screens__features-block {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	position: relative;
}
.screens__features-image-wrap {
	width: 636px;
	height: 306px; 
}
.screens__features-image {
	width: 100%;
	display: none;
}
.screens__select {
	display: flex;
	justify-content: space-between;
	grid-column-gap: 24px;
}
.screens__select-item {
	width: 196px;
	height: 112px;
	cursor: pointer;
}
.screens__select-item-marker {
	display: none;
	width: 100%;
	height: 4px;
	margin-bottom: 12px;
}
.screens__select-item-title {
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}
.screens__select-item-title.light {
	color: #C2C2C2; 
}
.screens__select-item-title.light.active {
	color: #000;
}
.screens__select-item-title.dark {
	color: #3D3D3D; 
}
.screens__select-item-title.dark.active {
	color: #FFF;
}
.screens__select-item-text {
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
.screens__select-item-text.light {
	color: #C2C2C2; 
}
.screens__select-item-text.light.active {
	color: #666;
}
.screens__select-item-text.dark {
	color: #3D3D3D; 
}
.screens__select-item-text.dark.active {
	color: #808080;
}