@media screen and (min-width: 576px) and (max-width: 1440px) {
	.screens {
		height: calc(1174 * 100vw / 1440);
	}
	.screens__wrap {
		width: calc(1076 * 100vw / 1440);
		padding-top: calc(180 * 100vw / 1440);
		padding-bottom: calc(180 * 100vw / 1440);
	}
	.screens__top-title {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.screens__top-switcher {
		border-radius: calc(6 * 100vw / 1440);
	}
	.screens__top-switcher-item {
		padding: calc(14 * 100vw / 1440) calc(28 * 100vw / 1440);
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
		border-radius: calc(6 * 100vw / 1440);
	}
	.screens__features-image-wrap {
		width: calc(636 * 100vw / 1440);
		height: calc(306 * 100vw / 1440);
		margin-top: calc(128 * 100vw / 1440);
	}
	.screens__select {
		grid-column-gap: calc(24 * 100vw / 1440);
	}
	.screens__select-item {
		width: calc(196 * 100vw / 1440);
		height: calc(112 * 100vw / 1440);
	}
	.screens__select-item-marker {
		height: calc(4 * 100vw / 1440);
		margin-bottom: calc(12 * 100vw / 1440);
	}
	.screens__select-item-title {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
		margin-bottom: calc(4 * 100vw / 1440);
	}
	.screens__select-item-text {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) {
	.screens {
		width: 100vw;
		margin-left: calc(-1 * (100vw - calc(375 * 100vw / 375)) / 2);
		height: calc(988 * 100vw / 375);
	}
	.screens__wrap {
		width: calc(335 * 100vw / 375);
		padding-top: calc(96 * 100vw / 375);
		padding-bottom: calc(96 * 100vw / 375);
	}
	.screens__top-title {
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
	}

	.screens__top-switcher {
		display: none;
	}
	.screens__top-switcher-mobile-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.screens__top-switcher-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: calc(4 * 100vw / 375);
		overflow: hidden;
	}
	.screens.light .screens__top-switcher-mobile {
		border: 1px solid #D3D3D3; 
	}
	.screens.dark .screens__top-switcher-mobile {
		border: 1px solid #3E3E3E; 
	}
	.screens__top-switcher-item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: calc(10 * 100vw / 375) calc(20 * 100vw / 375);
		font-family: Manrope;
		font-size: calc(12 * 100vw / 375);
		font-style: normal;
		font-weight: 400;
		line-height: calc(18 * 100vw / 375);
		border-radius: calc(4 * 100vw / 375); 
	}
	/*.screens__features-image-wrap {
		width: calc(335 * 100vw / 375);
		height: calc(162 * 100vw / 375);
		margin-top: calc(160 * 100vw / 375);
	}*/
	.screens__features-image-wrap {
		width: 335px;
		height: 162px;
		margin-top: 160px;
	}
	.screens__select {
		grid-column-gap: calc(4 * 100vw / 375);
	}
	.screens__select-item {
		width: calc(64 * 100vw / 375);
		height: calc(8 * 100vw / 375);
		position: relative;
		display: flex;
		align-items: center;
	}
	.screens__select-item-marker {
		height: calc(2 * 100vw / 375);
		margin-bottom: 0;
		position: absolute;
	}
	.screens__select-item-marker.active {
		height: calc(4 * 100vw / 375);
	}
	.screens__select-item-title, .screens__select-item-text {
		display: none;
	}
	.screen__selected {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		padding-top: calc(24 * 100vw / 375);
		padding-bottom: calc(28 * 100vw / 375);
	}
	.screen__selected-nav {
		position: absolute;
		top: calc(24 * 100vw / 375);
		cursor: pointer;
	}
	.screen__selected-nav-prev {
		left: 0;
	}
	.screen__selected-nav-next {
		right: 0;
	}
	.screen__selected-item {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		grid-row-gap: calc(4 * 100vw / 375);
	}
	.screen__selected-item-title {
		font-family: Manrope;
		font-size: calc(24 * 100vw / 375);
		font-style: normal;
		font-weight: 500;
		line-height: calc(32 * 100vw / 375);
	}
	.screen__selected-item-title.light {
		color: #000;
	}
	.screen__selected-item-title.dark {
		color: #FFF;
	}
	.screen__selected-item-text {
		color: #666;
		text-align: center;
		font-family: Manrope;
		font-size: calc(16 * 100vw / 375);
		font-style: normal;
		font-weight: 400;
		line-height: calc(20 * 100vw / 375);
	}
	.screen__selected-item-text.light {
		color: #666;
	}
	.screen__selected-item-text.dark {
		color: #808080;
	}
}
