.promo-popup-shadow {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo-popup {
    width: 856px;
    height: 336px;
    border-radius: 24px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    position: relative;
    color: #000;
    font-family: Manrope;
    font-style: normal;
}
.promo-popup-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.promo-popup-close img {
    width: 100%;
    height: 100%;
}
.promo-popup-side {
    width: 428px;
    height: 100%;
    box-sizing: border-box;
}
.promo-popup-left img {
    width: 100%;
    height: 100%;
}
.promo-popup-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 28px;
    padding: 36px;
}
.promo-popup-main {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.promo-popup-logo {
    width: 146px;
    height: 12px;
}
.promo-popup-logo img {
    width: 100%;
    height: 100%;
}
.promo-popup-info {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.promo-popup-info span {
    background: linear-gradient(#0E71F0, #1D3BFC, #3F3CF6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.promo-popup-code {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.promo-popup-code > div {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.promo-popup-code-placeholder {
    width: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px dashed #FFF;
    background: #5B58F4;
    box-sizing: border-box;
    cursor: pointer;
}
.promo-popup-code-placeholder:hover {
    background: #2C28F0;
}
.promo-popup-code-placeholder-copied {
    column-gap: 8px;
}
.promo-popup-code-placeholder-text {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}
.promo-popup-code-placeholder-icon {
    justify-content: center;
    align-items: center;
}
.promo-popup-code-placeholder-icon-copy {
    display: flex;
    width: 26px;
    height: 26px;
}
.promo-popup-code-placeholder-icon-copy img {
    width: 16px;
    height: 20px;
}
.promo-popup-code-placeholder-icon-copied {
    display: none;
    width: 24px;
    height: 24px;
}
.promo-popup-code-placeholder-icon-copied img {
    width: 100%;
}
.promo-popup-buttons > * {
    cursor: pointer;
}
.promo-popup-cancel {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
