.promo-popup-shadow {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo-popup {
    width: 856px;
    height: 336px;
    border-radius: 24px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    position: relative;
    color: #000;
    font-family: Manrope;
    font-style: normal;
}
.promo-popup-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.promo-popup-close img {
    width: 100%;
    height: 100%;
}
.promo-popup-side {
    width: 428px;
    height: 100%;
    box-sizing: border-box;
}
.promo-popup-left {
    overflow: hidden;
}
.promo-popup-left img {
    width: 100%;
    height: 100%;
}
.promo-popup-left img.image-desktop {
    display: block;
}
.promo-popup-left img.image-mobile {
    display: none;
}
.promo-popup-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 28px;
    padding: 36px;
}
.promo-popup-main {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.promo-popup-logo {
    width: 146px;
    height: 12px;
}
.promo-popup-logo img {
    width: 100%;
    height: 100%;
}
.promo-popup-info {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.promo-popup-info span {
    background: linear-gradient(#0E71F0, #1D3BFC, #3F3CF6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.promo-popup-code {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.promo-popup-code > div {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.promo-popup-code-placeholder {
    width: 127px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px dashed #FFF;
    background: #5B58F4;
    box-sizing: border-box;
    cursor: pointer;
}
.promo-popup-code-placeholder:hover {
    background: #2C28F0;
}
.promo-popup-code-placeholder-copied {
    column-gap: 8px;
}
.promo-popup-code-placeholder-text {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}
.promo-popup-code-placeholder-icon {
    justify-content: center;
    align-items: center;
}
.promo-popup-code-placeholder-icon-copy {
    display: flex;
    width: 26px;
    height: 26px;
}
.promo-popup-code-placeholder-icon-copy img {
    width: 16px;
    height: 20px;
}
.promo-popup-code-placeholder-icon-copied {
    display: none;
    width: 24px;
    height: 24px;
}
.promo-popup-code-placeholder-icon-copied img {
    width: 100%;
}
.promo-popup-buttons > * {
    cursor: pointer;
}
.promo-popup-cancel {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (min-width: 576px) and (max-width: 1440px) {
    .promo-popup {
        width: calc(856 * 100vw / 1440);
        height: calc(336 * 100vw / 1440);
        border-radius: calc(24 * 100vw / 1440);
    }
    .promo-popup-close {
        width: calc(20 * 100vw / 1440);
        height: calc(20 * 100vw / 1440);
        top: calc(16 * 100vw / 1440);
        right: calc(16 * 100vw / 1440);
    }
    .promo-popup-side {
        width: calc(428 * 100vw / 1440);
    }
    .promo-popup-right {
        row-gap: calc(28 * 100vw / 1440);
        padding: calc(36 * 100vw / 1440);
    }
    .promo-popup-main {
        row-gap: calc(24 * 100vw / 1440);
    }
    .promo-popup-logo {
        width: calc(146 * 100vw / 1440);
        height: calc(12 * 100vw / 1440);
    }
    .promo-popup-info {
        font-size: calc(32 * 100vw / 1440);
        line-height: calc(40 * 100vw / 1440);
    }
    .promo-popup-code {
        column-gap: calc(8 * 100vw / 1440);
    }
    .promo-popup-code > div {
        font-size: calc(18 * 100vw / 1440);
        line-height: calc(24 * 100vw / 1440);
    }
    .promo-popup-code-placeholder {
        width: calc(127 * 100vw / 1440);
        height: calc(36 * 100vw / 1440);
        column-gap: calc(4 * 100vw / 1440);
        padding: calc(6 * 100vw / 1440) calc(12 * 100vw / 1440);
        border-radius: calc(8 * 100vw / 1440);
    }
    .promo-popup-code-placeholder-copied {
        column-gap: calc(8 * 100vw / 1440);
    }
    .promo-popup-code-placeholder-text {
        font-size: calc(18 * 100vw / 1440);
        line-height: calc(24 * 100vw / 1440);
    }
    .promo-popup-code-placeholder-icon-copy {
        width: calc(26 * 100vw / 1440);
        height: calc(26 * 100vw / 1440);
    }
    .promo-popup-code-placeholder-icon-copy img {
        width: calc(16 * 100vw / 1440);
        height: calc(20 * 100vw / 1440);
    }
    .promo-popup-code-placeholder-icon-copied {
        width: calc(24 * 100vw / 1440);
        height: calc(24 * 100vw / 1440);
    }
    .promo-popup-cancel {
        font-size: calc(16 * 100vw / 1440);
        line-height: calc(20 * 100vw / 1440);
    }
}

@media screen and (max-width: 575px) {
    .promo-popup {
        width: calc(336 * 100vw / 375);
        height: calc(492 * 100vw / 375);
        border-radius: calc(24 * 100vw / 375);
        flex-direction: column;
    }
    .promo-popup-close {
        width: calc(20 * 100vw / 375);
        height: calc(20 * 100vw / 375);
        top: unset;
        bottom: calc(204 * 100vw / 375);
        right: calc(16 * 100vw / 375);
    }
    .promo-popup-side {
        width: 100%;
    }
    .promo-popup-left {
        height: calc(252 * 100vw / 375);
    }
    .promo-popup-left img.image-desktop {
        display: none;
    }
    .promo-popup-left img.image-mobile {
        display: block;
    }
    .promo-popup-right {
        height: calc(240 * 100vw / 375);
        row-gap: calc(24 * 100vw / 375);
        padding: calc(24 * 100vw / 375) calc(16 * 100vw / 375) calc(24 * 100vw / 375) calc(24 * 100vw / 375);
    }
    .promo-popup-main {
        row-gap: calc(20 * 100vw / 375);
    }
    .promo-popup-logo {
        width: calc(146 * 100vw / 375);
        height: calc(12 * 100vw / 375);
    }
    .promo-popup-info {
        font-size: calc(24 * 100vw / 375);
        line-height: calc(32 * 100vw / 375);
    }
    .promo-popup-info br:first-child {
        display: none;
    }
    .promo-popup-code {
        column-gap: calc(8 * 100vw / 375);
    }
    .promo-popup-code > div {
        font-size: calc(16 * 100vw / 375);
        line-height: calc(20 * 100vw / 375);
    }
    .promo-popup-code-placeholder {
        width: calc(115 * 100vw / 375);
        height: calc(32 * 100vw / 375);
        column-gap: calc(4 * 100vw / 375);
        padding: calc(6 * 100vw / 375) calc(12 * 100vw / 375);
        border-radius: calc(8 * 100vw / 375);
    }
    .promo-popup-code-placeholder-copied {
        column-gap: calc(8 * 100vw / 375);
    }
    .promo-popup-code-placeholder-text {
        font-size: calc(16 * 100vw / 375);
        line-height: calc(20 * 100vw / 375);
    }
    .promo-popup-code-placeholder-icon-copy {
        width: calc(26 * 100vw / 375);
        height: calc(26 * 100vw / 375);
    }
    .promo-popup-code-placeholder-icon-copy img {
        width: calc(16 * 100vw / 375);
        height: calc(20 * 100vw / 375);
    }
    .promo-popup-code-placeholder-icon-copied {
        width: calc(24 * 100vw / 375);
        height: calc(24 * 100vw / 375);
    }
    .promo-popup-code-placeholder-icon-copied img {
        width: 100%;
    }
    .promo-popup-cancel {
        font-size: calc(16 * 100vw / 375);
        line-height: calc(20 * 100vw / 375);
        text-align: center;
    }
}
