.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

/*.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}*/

/*.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}*/

/*@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}*/

.grecaptcha-badge {
  visibility: hidden;
}

.contact__title {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
  text-align: center;
  margin: 0 auto 72px;
}
.contact__form {
  width: 771px;
  height: 771px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 40px;
}
.contact__form-ellipse {
  display: block!important;
  background: #F4F6FA;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  z-index: -1;
}
.contact__fields {
  display: flex;
  flex-direction: column;
  grid-row-gap: 32px;
  margin-top: 127px;
}
.contact__field-input {
  width: 424px;
  height: 56px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 16px 32px;
  border: none;
  outline: none;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #9FA1A8;
  box-sizing: border-box;
}
.contact__field-textarea {
  height: 194px;
  resize: none;
}
.contact__button {
  width: 223px;
  height: 78px;
  background: #3374FB;
  border-radius: 100px;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}