@media screen and (min-width: 576px) and (max-width: 1440px) {
  .contact {
    padding-top: calc(100 * 100vw / 1440);
    padding-bottom: calc(185 * 100vw / 1440);
  }
  .contact__title {
    font-size: calc(52 * 100vw / 1440);
    line-height: calc(64 * 100vw / 1440);
  }
  .contact__wrap {
    grid-column-gap: calc(175 * 100vw / 1440);
  }
  .contact__form {
    width: calc(526 * 100vw / 1440);
    padding: calc(36 * 100vw / 1440) calc(40 * 100vw / 1440);
    grid-row-gap: calc(32 * 100vw / 1440);
    border-radius: calc(40 * 100vw / 1440);
  }
  .contact__fields {
    grid-row-gap: calc(28 * 100vw / 1440);
  }
  .contact__field-label {
    font-size: calc(16 * 100vw / 1440);
    line-height: calc(20 * 100vw / 1440);
  }
  .contact__field-input {
    height: calc(52 * 100vw / 1440);
    border-radius: calc(6 * 100vw / 1440);
    padding: 0 calc(16 * 100vw / 1440);
    font-size: calc(16 * 100vw / 1440);
    line-height: calc(20 * 100vw / 1440);
  }
  .contact__field-textarea {
    height: calc(132 * 100vw / 1440);
    padding: calc(16 * 100vw / 1440) calc(16 * 100vw / 1440);
  }
  .contact__button {
    height: calc(52 * 100vw / 1440);
    border-radius: calc(54 * 100vw / 1440);
    font-size: calc(18 * 100vw / 1440);
    line-height: calc(24 * 100vw / 1440);
  }
  .contact__info {
    width: calc(425 * 100vw / 1440);
    grid-row-gap: calc(44 * 100vw / 1440);
  }
  .contact__info-top {
    grid-row-gap: calc(24 * 100vw / 1440);
  }
  .contact__info-notes {
    grid-row-gap: calc(20 * 100vw / 1440);
    font-size: calc(24 * 100vw / 1440);
    line-height: calc(32 * 100vw / 1440);
  }
  .contact__info-item {
    grid-row-gap: calc(12 * 100vw / 1440);
  }
  .contact__info-item-title {
    font-size: calc(32 * 100vw / 1440);
    line-height: calc(40 * 100vw / 1440);
  }
  .contact__info-item-text {
    font-size: calc(24 * 100vw / 1440);
    line-height: calc(32 * 100vw / 1440);
  }
  .contact__success {
    font-size: calc(22 * 100vw / 1440);
    line-height: calc(32 * 100vw / 1440);
  }
}

@media screen and (max-width: 575px) {
  .contact {
    padding-top: calc(32 * 100vw / 375);
    padding-bottom: calc(76 * 100vw / 375);
  }
  .contact__title {
    font-size: calc(32 * 100vw / 375);
    line-height: calc(40 * 100vw / 375);
  }
  .contact__wrap {
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: calc(64 * 100vw / 375);
    width: calc(335 * 100vw / 375);
    margin: 0 auto;
  }
  .contact__form {
    width: 100%;
    grid-row-gap: calc(32 * 100vw / 375);
    align-items: center;
  }
  .contact__fields {
    grid-row-gap: calc(28 * 100vw / 375);
  }
  .contact__field {
    width: 100%;
    grid-row-gap: calc(8 * 100vw / 375);
  }
  .contact__field-label {
    font-size: calc(16 * 100vw / 375);
    line-height: calc(20 * 100vw / 375);
  }
  .contact__field-input {
    height: calc(52 * 100vw / 375);
    padding: 0px calc(16 * 100vw / 375);
    font-size: calc(16 * 100vw / 375);
    line-height: calc(20 * 100vw / 375);
    border-radius: calc(6 * 100vw / 375);
  }
  .contact__field-textarea {
    height: calc(132 * 100vw / 375);
    padding: calc(16 * 100vw / 375);
  }
  .contact__button {
    height: calc(52 * 100vw / 375);
    border-radius: calc(54 * 100vw / 375);
    font-size: calc(18 * 100vw / 375);
    line-height: calc(24 * 100vw / 375);
  }
  .contact__info {
    width: 100%;
    grid-row-gap: calc(24 * 100vw / 375);
  }
  .contact__info-top {
    grid-row-gap: calc(16 * 100vw / 375);
  }
  .contact__info-notes {
    grid-row-gap: calc(12 * 100vw / 375);
    font-size: calc(16 * 100vw / 375);
    line-height: calc(20 * 100vw / 375);
  }
  .contact__info-item {
    grid-row-gap: calc(8 * 100vw / 375);
  }
  .contact__info-item-title {
    font-size: calc(24 * 100vw / 375);
    line-height: calc(32 * 100vw / 375);
  }
  .contact__info-item-text {
    font-size: calc(16 * 100vw / 375);
    line-height: calc(20 * 100vw / 375);
  }
  .contact__success {
    font-size: 18px;
    line-height: 140%;
  }
}
