.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

/*.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}*/

/*.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}*/

/*@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}*/

.grecaptcha-badge {
  visibility: hidden;
}

.contact {
  padding-top: 56px;
  padding-bottom: 120px;
}
.contact__title {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
  text-align: center;
  margin: 0 auto 72px;
}
.contact__wrap {
  display: flex;
  grid-column-gap: 94px;
  margin-left: 50px;
}
.contact__form {
  width: 771px;
  height: 771px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 40px;
}
.contact__form-ellipse {
  display: block!important;
  background: #F4F6FA;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  z-index: -1;
}
.contact__fields {
  display: flex;
  flex-direction: column;
  grid-row-gap: 32px;
  margin-top: 127px;
}
.contact__field-input {
  width: 424px;
  height: 56px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 16px 32px;
  border: none;
  outline: none;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #85878d;
  box-sizing: border-box;
}
.contact__field-textarea {
  height: 194px;
  resize: none;
}
.contact__button {
  width: 183px;
  height: 56px;
  background: #3374FB;
  border: 1px solid #3374FB;
  border-radius: 100px;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.contact__info {
  margin-top: 127px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 94px;
}
.contact__info-item {
  display: flex;
  flex-direction: column;
  grid-row-gap: 18px;
}
.contact__info-item-title {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 32px;
  color: #000000;
}
.contact__info-item-text {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

@media screen and (min-width: 1000px) and (max-width: 1366px) {
  .contact__title {
    font-size: calc(52 * 100vw / 1366);
    line-height: calc(64 * 100vw / 1366);
    margin: 0 auto calc(72 * 100vw / 1366);
  }
  .contact__wrap {
    grid-column-gap: calc(94 * 100vw / 1366);
    margin-left: calc(50 * 100vw / 1366);
  }
  .contact__form {
    width: calc(771 * 100vw / 1366);
    height: calc(771 * 100vw / 1366);
    grid-row-gap: calc(40 * 100vw / 1366);
  }
  .contact__fields {
    grid-row-gap: calc(32 * 100vw / 1366);
    margin-top: calc(127 * 100vw / 1366);
  }
  .contact__field-input {
    width: calc(424 * 100vw / 1366);
    height: calc(56 * 100vw / 1366);
    border-radius: calc(15 * 100vw / 1366);
    padding: calc(16 * 100vw / 1366) calc(32 * 100vw / 1366);
    font-size: calc(22 * 100vw / 1366);
    line-height: calc(32 * 100vw / 1366);
  }
  .contact__field-textarea {
    height: calc(194 * 100vw / 1366);
  }
  .contact__button {
    width: calc(183 * 100vw / 1366);
    height: calc(56 * 100vw / 1366);
    border-radius: calc(100 * 100vw / 1366);
    font-size: calc(24 * 100vw / 1366);
    line-height: calc(32 * 100vw / 1366);
  }
  .contact__info {
    margin-top: calc(127 * 100vw / 1366);
    grid-row-gap: calc(94 * 100vw / 1366);
  }
  .contact__info-item {
    grid-row-gap: calc(18 * 100vw / 1366);
  }
  .contact__info-item-title {
    font-size: calc(34 * 100vw / 1366);
    line-height: calc(32 * 100vw / 1366);
  }
  .contact__info-item-text {
    font-size: calc(20 * 100vw / 1366);
    line-height: calc(32 * 100vw / 1366);
  }
}

@media screen and (max-width: 999px) {
  .contact {
    padding-top: 16px;
    padding-bottom: 80px;
  }
  .contact__title {
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto 23px;
  }
  .contact__wrap {
    flex-direction: column;
    align-items: center;
    grid-row-gap: 40px;
    margin-left: 0;
  }
  .contact__form {
    width: 100%;
    max-width: 591px;
    height: 591px;
    grid-row-gap: 40px;
  }
  .contact__form-ellipse {
    width: 591px;
    height: 591px;
    left: 0;
    right: 0;
  }
  .contact__fields {
    grid-row-gap: 24px;
    margin-top: 88px;
  }
  .contact__field-input {
    width: 280px;
    height: 40px;
    padding: 8px 16px;
    font-size: 18px;
    line-height: 140%;
  }
  .contact__field-textarea {
    height: 145px;
  }
  .contact__button {
    width: 140px;
    height: 64px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }
  .contact__info {
    margin-top: 0;
    grid-row-gap: 24px;
  }
  .contact__info-item {
    grid-row-gap: 18px;
  }
  .contact__info-item-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }
  .contact__info-item-text {
    font-size: 18px;
    line-height: 140%;
  }
}

@media screen and (max-width: 591px) {
  .contact__form-ellipse {
    left: calc((100vw - 591px) / 2);
    right: calc((100vw - 591px) / 2);
  }
}
