.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.contact__title {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
  text-align: center;
  margin: 0 auto 72px;
}
.contact__form {
  width: 771px;
  height: 771px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 40px;
}
.contact__form-ellipse {
  background: #F4F6FA;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
