.shopify-policy__container {
    position: relative;
    max-width: 856px !important;
    margin: 0 auto;
    padding: 116px 0 150px;
    color: #000;
    font-family: Manrope;
    font-style: normal;
}
.shopify-policy__container * {
    margin: 0;
    padding: 0;
}
.shopify-policy__title {
    margin-bottom: 84px;
}
.shopify-policy__title h1 {
    font-size: 52px;
    font-weight: 500;
    line-height: 64px;
    text-transform: uppercase;
    text-align: left;
}
.shopify-policy__body > .rte > div {
    position: relative;
    background: #f6f6f6;
    padding: 32px;
    border-radius: 24px;
}
.shopify-policy__body > .rte > div > p:first-child {
    position: absolute;
    top: -72px;
    left: 0;
    padding: 0;
    background: unset;

    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.6;
}
.shopify-policy__body > .rte > div ul {
    list-style-position: inside;
}
.shopify-policy__body > .rte > div > p,
.shopify-policy__body > .rte > div ul {
    padding-top: 16px;
}
.shopify-policy__body > .rte > div > p:nth-child(2) {
    padding-top: 0;
}
.shopify-policy__body > .rte > div ul:has(+ h2),
.shopify-policy__body > .rte > div > p:has(+ h2) {
    padding-bottom: 40px;
    border-bottom: 2px solid #D9D9D9;
}
.shopify-policy__body > .rte > div > h2:not(:first-child) {
    padding-top: 40px;
}
.shopify-policy__body h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    text-transform: capitalize;
}
.shopify-policy__body p, .shopify-policy__body ul li {
    color: #404040;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.shopify-policy__body strong {
    color: #111;
}
.shopify-policy__body a {
    color: #1657FC;
    text-decoration: none;
}
@media screen and (min-width: 576px) and (max-width: 1440px) {
    .shopify-policy__container {
        max-width: calc(856 * 100vw / 1440) !important;
        padding: calc(116 * 100vw / 1440) 0 calc(150 * 100vw / 1440);
    }
    .shopify-policy__title {
        margin-bottom: calc(84 * 100vw / 1440);
    }
    .shopify-policy__title h1 {
        font-size: calc(52 * 100vw / 1440);
        line-height: calc(64 * 100vw / 1440);
    }
    .shopify-policy__body > .rte > div {
        padding: calc(32 * 100vw / 1440);
        border-radius: calc(24 * 100vw / 1440);
    }
    .shopify-policy__body > .rte > div > p:first-child {
        top: calc(-1 * 72 * 100vw / 1440);
        font-size: calc(24 * 100vw / 1440);
        line-height: calc(32 * 100vw / 1440);
    }
    .shopify-policy__body > .rte > div > p,
    .shopify-policy__body > .rte > div ul {
        padding-top: calc(16 * 100vw / 1440);
    }
    .shopify-policy__body > .rte > div ul:has(+ h2),
    .shopify-policy__body > .rte > div > p:has(+ h2) {
        padding-bottom: calc(40 * 100vw / 1440);
    }
    .shopify-policy__body > .rte > div > h2:not(:first-child) {
        padding-top: calc(40 * 100vw / 1440);
    }
    .shopify-policy__body h2 {
        font-size: calc(32 * 100vw / 1440);
        line-height: calc(40 * 100vw / 1440);
    }
    .shopify-policy__body p, .shopify-policy__body ul li {
        font-size: calc(16 * 100vw / 1440);
        line-height: calc(24 * 100vw / 1440);
    }
}
