@media screen and (min-width: 576px) and (max-width: 1440px) {
	.shortcuts-wrap {
		width: calc(1076 * 100vw / 1440);
		padding-top: calc(180 * 100vw / 1440);
		padding-bottom: calc(180 * 100vw / 1440);
	}
	.shortcuts-title-icon {
		width: calc(64 * 100vw / 1440);
		height: calc(64 * 100vw / 1440);  
	}
	.shortcuts-title-text {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.shortcuts-subtitle {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
		margin-bottom: calc(12 * 100vw / 1440);
	}
	.shortcuts-info {
		grid-column-gap: calc(24 * 100vw / 1440);
		grid-row-gap: calc(24 * 100vw / 1440);
	}
	.shortcuts-info-block {
		width: calc(526 * 100vw / 1440);
		height: calc(256 * 100vw / 1440);
	}
	.shortcuts-info-block:not(.shortcuts-info-block-text) {
		border-radius: calc(28 * 100vw / 1440);
	}
	.shortcuts-info-block-car .shortcuts-info-block-background-desktop {
		width: calc(526 * 100vw / 1440);
		height: calc(318 * 100vw / 1440);
	}
	.shortcuts-info-block-text {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.shortcuts-info-block-text-primary {
		margin-bottom: calc(12 * 100vw / 1440);
		width: calc(475 * 100vw / 1440);
	}
	.shortcuts-info-block-text-secondary {
		width: calc(416 * 100vw / 1440);
	}
	.shortcuts-info-block-image {
		width: calc(414 * 100vw / 1440);
		height: calc(202 * 100vw / 1440);
		margin-top: calc(28 * 100vw / 1440);
	}
	.shortcuts-info-block-between {
		padding: calc(32 * 100vw / 1440);
	}
	.shortcuts-info-block-between-text {
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
	.shortcuts-info-artboard-image {
		width: calc(148 * 100vw / 1440);
		height: calc(60 * 100vw / 1440);
	}
	.shortcuts-info-artboard-text {
		width: calc(441 * 100vw / 1440);
	}
	.shortcuts-info-info-image {
		width: calc(40 * 100vw / 1440);
		height: calc(40 * 100vw / 1440);
	}
	.shortcuts-info-info-text {
		width: calc(421 * 100vw / 1440);
	}
	.shortcuts-features {
		grid-column-gap: calc(24 * 100vw / 1440);
		grid-row-gap: calc(24 * 100vw / 1440);
		margin-top: calc(24 * 100vw / 1440);
		margin-bottom: calc(24 * 100vw / 1440);
	}
	.shortcuts-features-item {
		width: calc(526 * 100vw / 1440);
		height: calc(544 * 100vw / 1440);
		border-radius: calc(28 * 100vw / 1440);
	}
	.shortcuts-features-item-speedicons {
		top: calc(32 * 100vw / 1440);
		left: calc(32 * 100vw / 1440);
		grid-column-gap: calc(20 * 100vw / 1440);
	}
	.shortcuts-features-item-speedicon {
		width: calc(60 * 100vw / 1440);
	}
	.shortcuts-features-item-info {
		height: calc(272 * 100vw / 1440); 
		border-radius: calc(28 * 100vw / 1440);
		padding: calc(28 * 100vw / 1440) calc(28 * 100vw / 1440) calc(28 * 100vw / 1440) calc(32 * 100vw / 1440);
	}
	.shortcuts-features-item-info-title {
		margin-bottom: calc(8 * 100vw / 1440);
	}
	.shortcuts-features-item-info-title-text {
		font-size: calc(32 * 100vw / 1440);
		line-height: calc(40 * 100vw / 1440);
	}

	.shortcuts-features-item-info-description {
		font-size: calc(14 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.shortcuts-more {
		height: calc(256 * 100vw / 1440); 
		border-radius: calc(24 * 100vw / 1440);
	}
	.shortcuts-more-text {
		font-size: calc(32 * 100vw / 1440);
		line-height: calc(40 * 100vw / 1440);
	}
	.shortcuts-more-button {
		padding: calc(20 * 100vw / 1440) calc(40 * 100vw / 1440);
		border-radius: calc(54 * 100vw / 1440);
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.shortcuts-more-button:hover {
		padding: calc(23 * 100vw / 1440) calc(43 * 100vw / 1440);
	}
	.shortcuts-more-layer {
		height: calc(256 * 100vw / 1440);
		border-radius: calc(24 * 100vw / 1440);
	}
	.shortcuts-more-layer-3 {
		grid-column-gap: calc(185 * 100vw / 1440);
	}
	.shortcuts-more-layer-2 {
		width: calc(1012 * 100vw / 1440);
		bottom: calc(-1 * 24 * 100vw / 1440);
		left: calc(32 * 100vw / 1440);
	}
	.shortcuts-more-layer-1 {
		width: calc(948 * 100vw / 1440);
		bottom: calc(-1 * 44 * 100vw / 1440);
		left: calc(64 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) {
	.shortcuts {
		width: 100vw;
		margin-left: calc(-1 * (100vw - calc(375 * 100vw / 375)) / 2);
	}
	.shortcuts-wrap {
		width: calc(335 * 100vw / 375);
		padding-top: calc(96 * 100vw / 375);
		padding-bottom: calc(108 * 100vw / 375);
	}
	.shortcuts-title {
		margin-bottom: 0;
	}
	.shortcuts-title-text {
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
	}
	.shortcuts-title-icon {
		width: calc(40 * 100vw / 375);
		height: calc(40 * 100vw / 375);  
	}
	.shortcuts-subtitle {
		width: calc(300 * 100vw / 375);
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
		margin-bottom: calc(24 * 100vw / 375);
	}
	.shortcuts-info {
		grid-column-gap: 0;
		grid-row-gap: 0;
	}
	.shortcuts-info-block {
		width: 100%;
		height: auto;
	}
	.shortcuts-info-block:not(.shortcuts-info-block-text) {
		border-radius: unset;
		background: transparent; 
	}
	.shortcuts-info-block-car {
		order: 1;
		height: calc(200 * 100vw / 375);
		border-radius: calc(24 * 100vw / 375)!important;
		background: #FFF!important;
	}
	.shortcuts-info-block-car .shortcuts-info-block-background {
		border-top-right-radius: calc(24 * 100vw / 375);
		overflow: hidden;
	}
	.shortcuts-info-block-car .shortcuts-info-block-background-mobile {
		width: calc(336 * 100vw / 375);
		height: calc(216 * 100vw / 375);
	}
	.shortcuts-info-block-text {
		order: 2;
		font-size: calc(14 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
		width: calc(287 * 100vw / 375);
		margin: calc(28 * 100vw / 375) auto calc(24 * 100vw / 375);
	}
	.shortcuts-info-block-text-primary {
		color: #000;
		margin-bottom: calc(12 * 100vw / 375);
		width: 100%;
	}
	.shortcuts-info-block-text-secondary {
		color: #000;
		width: 100%;
	}
	.shortcuts-info-block-artboard {
		order: 3;
		margin-bottom: calc(20 * 100vw / 375);
	}
	.shortcuts-info-block-info {
		order: 4;
	}
	.shortcuts-info-block-background-desktop {
		display: none;
	}
	.shortcuts-info-block-background-mobile {
		display: block;
	}
	.shortcuts-info-block-image {
		width: calc(264 * 100vw / 375);
		height: calc(128 * 100vw / 375);
		margin-top: calc(36 * 100vw / 375);
	}
	.shortcuts-info-block-image-desktop {
		display: none;
	}
	.shortcuts-info-block-image-mobile {
		display: block;
	}
	.shortcuts-info-block-between {
		grid-row-gap: calc(16 * 100vw / 375);
		padding: 0 calc(24 * 100vw / 375);
	}
	.shortcuts-info-block-between-text {
		color: #666;
		font-size: calc(14 * 100vw / 375);
		line-height: calc(20 * 100vw / 375); 
	}
	.shortcuts-info-artboard-image {
		width: calc(70 * 100vw / 375);
		height: calc(28 * 100vw / 375);
	}
	.shortcuts-info-artboard-image-desktop {
		display: none;
	}
	.shortcuts-info-artboard-image-mobile {
		display: block;
	}
	.shortcuts-info-artboard-text {
		width: calc(287 * 100vw / 375);
	}
	.shortcuts-info-info-image {
		width: calc(32 * 100vw / 375);
		height: calc(32 * 100vw / 375);
	}
	.shortcuts-info-info-image-desktop {
		display: none;
	}
	.shortcuts-info-info-image-mobile {
		display: block;
	}
	.shortcuts-info-info-text {
		width: calc(287 * 100vw / 375);
	}
	.shortcuts-features {
		display: none;
	}
	.shortcuts-features-mobile {
		width: 100vw;
		margin-left: calc(-1 * (100vw - calc(335 * 100vw / 375)) / 2);
		margin-right: calc(-1 * (100vw - calc(335 * 100vw / 375)) / 2);
		display: flex;
		flex-direction: column;
		grid-row-gap: calc(40 * 100vw / 375);
		overflow-x: visible;
		user-select: none;
		margin-top: calc(32 * 100vw / 375);
	}
	.shortcuts-features-scroller {
		overflow-x: scroll;
		display: flex;
		grid-column-gap: calc(20 * 100vw / 375);
		padding-left: calc((100vw - calc(335 * 100vw / 375)) / 2);
		padding-right: calc((100vw - calc(335 * 100vw / 375)) / 2);
		cursor: grab;
		scrollbar-color: transparent transparent;
	}
	.shortcuts-features-scrollbar {
		position: relative;
		margin-left: calc((100vw - calc(335 * 100vw / 375)) / 2);
		width: calc(335 * 100vw / 375);
		height: 4px;
		border-radius: 2px;
		background-color: #E3E3E3;
		cursor: pointer;
	}
	.shortcuts-features-scrollbar-thumb {
		position: absolute;
		top: 0;
		left: 0;
		width: 56px;
		height: 100%;
		border-radius: 2px;
		background-color: #1657FC;
	}
	.shortcuts-features-item-mobile {
		width: calc(306 * 100vw / 375);
		height: calc(306 * 100vw / 375);
	}
	.shortcuts-features-item-mobile-wrap {
		width: calc(306 * 100vw / 375);
		height: 100%;
		position: relative;
		border-top-left-radius: calc(24 * 100vw / 375);
		border-top-right-radius: calc(24 * 100vw / 375);
		border-bottom-left-radius: calc(28 * 100vw / 375);
		border-bottom-right-radius: calc(28 * 100vw / 375);
		overflow: hidden;
	}
	.shortcuts-features-item-description {
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: #090909;
		padding: calc(24 * 100vw / 375);
		color: #F4F4F4;
		font-family: Manrope;
		font-size: calc(12 * 100vw / 375);
		font-style: normal;
		font-weight: 400;
		line-height: calc(18 * 100vw / 375);
		box-sizing: border-box;
	}
	.shortcuts-features-item-title {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3;
		padding: calc(24 * 100vw / 375);
		display: flex;
		justify-content: space-between;
		align-items: center;
		grid-column-gap: calc(8 * 100vw / 375);
		box-sizing: border-box;
		border-top-left-radius: calc(24 * 100vw / 375);
		border-top-right-radius: calc(24 * 100vw / 375);
		background: #FFF; 
	}
	.shortcuts-features-item-title-icon {
		width: calc(36 * 100vw / 375);
		height: calc(40 * 100vw / 375);
	}
	.shortcuts-features-item-title-icon img {
		width: 100%;
	}
	.shortcuts-features-item-title-icon-blue {
		display: block;
	}
	.shortcuts-features-item-title-icon-black {
		display: none;
	}
	.shortcuts-features-item-title-text {
		color: #000;
		font-family: Manrope;
		font-size: calc(16 * 100vw / 375);
		font-style: normal;
		font-weight: 500;
		line-height: calc(20 * 100vw / 375);
		flex: 1;
	}
	.shortcuts-features-item-title-chevron {
		width: calc(10 * 100vw / 375);
		height: calc(40 * 100vw / 375);
		cursor: pointer;
	}
	.shortcuts-features-item-title-chevron img {
		width: 100%;
	}
	.shortcuts-features-item-title-chevron-up {
		display: none;
	}
	.shortcuts-features-item-speedicons {
		top: calc(24 * 100vw / 375);
		top: calc(24 * 100vw / 375);
		grid-column-gap: calc(20 * 100vw / 375);
	}
	.shortcuts-more {
		height: auto;
		margin-top: calc(56 * 100vw / 375);
		background: transparent;
	}
	.shortcuts-more-gradient, 
	.shortcuts-more-layer-2, 
	.shortcuts-more-layer-1 {
		display: none;
	}
	.shortcuts-more-layer-3 {
		height: auto;
		justify-content: space-between;
		grid-column-gap: unset;
		position: unset;
		background: transparent;
		box-shadow: unset;
	}
	.shortcuts-more-text {
		font-size: calc(18 * 100vw / 375);
		line-height: calc(24 * 100vw / 375);
	}
	.shortcuts-more-button {
		padding: calc(14 * 100vw / 375) calc(28 * 100vw / 375);
		border: 2px solid #0068FD;
		font-size: calc(16 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
	}
	.shortcuts-more-button:hover {
		padding: calc(16 * 100vw / 375) calc(30 * 100vw / 375);
	}
	.shortcuts-more-button-desktop {
		display: none;
	}
	.shortcuts-more-button-mobile {
		display: block;
	}




}
