.shortcuts {
	width: 100%;
	background: #F6F6F6; 
}
.shortcuts-wrap {
	width: 1076px;
	margin: 0 auto;
	padding-top: 180px;
	padding-bottom: 180px;
}
.shortcuts-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shortcuts-title-icon {
	width: 64px;
	height: 64px;  
}
.shortcuts-title-icon img {
	width: 100%; 
}
.shortcuts-title-text {
	color: #1657FC;
	font-family: Manrope;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px; /* 123.077% */
	text-transform: capitalize; 
}
.shortcuts-subtitle {
	color: #000;
	font-family: Manrope;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px;
	margin-bottom: 12px;
}
.shortcuts-info {
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 24px;
	grid-row-gap: 24px;
}
.shortcuts-info-block {
	width: 526px;
	height: 256px;
	box-sizing: border-box;
}
.shortcuts-info-block:not(.shortcuts-info-block-text) {
	border-radius: 28px;
	background: #FFF; 
}
.shortcuts-info-block-car .shortcuts-info-block-background-desktop {
	width: 526px;
	height: 318px;
}
.shortcuts-info-block-text {
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}
.shortcuts-info-block-text-primary {
	color: #000;
	margin-bottom: 12px;
	width: 475px;
}
.shortcuts-info-block-text-secondary {
	color: #4D4D4D;
	width: 416px;
}
.shortcuts-info-block-relative {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.shortcuts-info-block-background {
	position: absolute;
	top: 0;
	left: 0;
}
.shortcuts-info-block-background-desktop {
	display: block;
}
.shortcuts-info-block-background-mobile {
	display: none;
}
.shortcuts-info-block-image {
	width: 414px;
	height: 202px;
	margin-top: 28px;
	z-index: 2;
}
.shortcuts-info-block-image-desktop {
	display: block;
}
.shortcuts-info-block-image-mobile {
	display: none;
}
.shortcuts-info-block-image img {
	width: 100%; 
}
.shortcuts-info-block-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 32px;
}
.shortcuts-info-block-between-image img {
	width: 100%;
}
.shortcuts-info-block-between-text {
	color: #000;
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
.shortcuts-info-artboard-image {
	width: 148px;
	height: 60px;
}
.shortcuts-info-artboard-image-desktop {
	display: block;
}
.shortcuts-info-artboard-image-mobile {
	display: none;
}
.shortcuts-info-artboard-text {
	width: 441px;
}
.shortcuts-info-info-image {
	width: 40px;
	height: 40px;
}
.shortcuts-info-info-image-desktop {
	display: block;
}
.shortcuts-info-info-image-mobile {
	display: none;
}
.shortcuts-info-info-text {
	width: 421px;
}
.shortcuts-features {
	display: flex;
	flex-direction: column;
	padding: 12px 8px;
	margin-top: 24px;
	margin-bottom: 24px;
	border-radius: 28px;
}
.shortcuts-features-block {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 20px 24px;
}
.shortcuts-features-block-title {
	color: #FFF;
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 133.333% */
	text-transform: uppercase;
}
.shortcuts-features-block-items {
	display: grid;
	gap: 12px;
}
.shortcuts-features-block-1 .shortcuts-features-block-items {
	grid-template-columns: repeat(3, 1fr);
}
.shortcuts-features-block-2 .shortcuts-features-block-items {
	grid-template-columns: repeat(3, 1fr);
}
.shortcuts-features-block-3 .shortcuts-features-block-items {
	grid-template-columns: repeat(2, 1fr);
}
.shortcuts-features-block-4 .shortcuts-features-block-items {
	grid-template-columns: repeat(2, 1fr) repeat(3, 1fr) repeat(2, 1fr);
}
.shortcuts-features-block-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 256px;
	padding: 20px 24px;
	border-radius: 24px;
	border: 2px solid #E7EDFE;
	background: #FFF;
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.08);
}
.shortcuts-features-block-item-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shortcuts-features-block-item-title {
	color: #111;
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
}
.shortcuts-features-block-item-icon {
	width: 48px;
	height: 48px;
}
.shortcuts-features-block-item-icon img {
	width: 100%;
}
.shortcuts-features-block-item-content {
	color: #666;
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
}
