@media screen and (min-width: 576px) and (max-width: 1440px) {
	.shortcuts-wrap {
		width: calc(1076 * 100vw / 1440);
		padding-top: calc(180 * 100vw / 1440);
		padding-bottom: calc(180 * 100vw / 1440);
	}
	.shortcuts-title-icon {
		width: calc(64 * 100vw / 1440);
		height: calc(64 * 100vw / 1440);  
	}
	.shortcuts-title-text {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.shortcuts-subtitle {
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
		margin-bottom: calc(12 * 100vw / 1440);
	}
	.shortcuts-info {
		grid-column-gap: calc(24 * 100vw / 1440);
		grid-row-gap: calc(24 * 100vw / 1440);
	}
	.shortcuts-info-block {
		width: calc(526 * 100vw / 1440);
		height: calc(256 * 100vw / 1440);
	}
	.shortcuts-info-block:not(.shortcuts-info-block-text) {
		border-radius: calc(28 * 100vw / 1440);
	}
	.shortcuts-info-block-car .shortcuts-info-block-background-desktop {
		width: calc(526 * 100vw / 1440);
		height: calc(318 * 100vw / 1440);
	}
	.shortcuts-info-block-text {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.shortcuts-info-block-text-primary {
		margin-bottom: calc(12 * 100vw / 1440);
		width: calc(475 * 100vw / 1440);
	}
	.shortcuts-info-block-text-secondary {
		width: calc(416 * 100vw / 1440);
	}
	.shortcuts-info-block-image {
		width: calc(414 * 100vw / 1440);
		height: calc(202 * 100vw / 1440);
		margin-top: calc(28 * 100vw / 1440);
	}
	.shortcuts-info-block-between {
		padding: calc(32 * 100vw / 1440);
	}
	.shortcuts-info-block-between-text {
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
	.shortcuts-info-artboard-image {
		width: calc(148 * 100vw / 1440);
		height: calc(60 * 100vw / 1440);
	}
	.shortcuts-info-artboard-text {
		width: calc(441 * 100vw / 1440);
	}
	.shortcuts-info-info-image {
		width: calc(40 * 100vw / 1440);
		height: calc(40 * 100vw / 1440);
	}
	.shortcuts-info-info-text {
		width: calc(421 * 100vw / 1440);
	}
	.shortcuts-features {
		width: calc(1076 * 100vw / 1440);
		padding: calc(12 * 100vw / 1440) calc(8 * 100vw / 1440);
		margin-top: calc(24 * 100vw / 1440);
		margin-bottom: calc(84 * 100vw / 1440);
		border-radius: calc(28 * 100vw / 1440);
	}
	.shortcuts-features-block {
		row-gap: calc(20 * 100vw / 1440);
		padding: calc(20 * 100vw / 1440) calc(24 * 100vw / 1440);
	}
	.shortcuts-features-block-title {
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
	.shortcuts-features-block-items {
		gap: calc(12 * 100vw / 1440);
	}
	.shortcuts-features-block-item {
		height: calc(256 * 100vw / 1440);
		padding: calc(20 * 100vw / 1440) calc(24 * 100vw / 1440);
		border-radius: calc(24 * 100vw / 1440);
	}
	.shortcuts-features-block-4 .shortcuts-features-block-item-1, 
	.shortcuts-features-block-4 .shortcuts-features-block-item-2, 
	.shortcuts-features-block-4 .shortcuts-features-block-item-6, 
	.shortcuts-features-block-4 .shortcuts-features-block-item-7 {
		width: calc(500 * 100vw / 1440);
	}
	.shortcuts-features-block-4 .shortcuts-features-block-item-3, 
	.shortcuts-features-block-4 .shortcuts-features-block-item-4, 
	.shortcuts-features-block-4 .shortcuts-features-block-item-5 {
		width: calc(329.3333 * 100vw / 1440);
	}
	.shortcuts-features-block-item-title {
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
	}
	.shortcuts-features-block-4 .shortcuts-features-block-item-1 .shortcuts-features-block-item-title, 
	.shortcuts-features-block-4 .shortcuts-features-block-item-6 .shortcuts-features-block-item-title, 
	.shortcuts-features-block-4 .shortcuts-features-block-item-7 .shortcuts-features-block-item-title {
		width: calc(274 * 100vw / 1440);
	}
	.shortcuts-features-block-4 .shortcuts-features-block-item-2 .shortcuts-features-block-item-title {
		width: calc(312 * 100vw / 1440);
	}
	.shortcuts-features-block-item-icon {
		width: calc(48 * 100vw / 1440);
		height: calc(48 * 100vw / 1440);
	}
	.shortcuts-features-block-item-content {
		font-size: calc(14 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) {
	.shortcuts {
		width: 100vw;
		margin-left: calc(-1 * (100vw - calc(375 * 100vw / 375)) / 2);
	}
	.shortcuts-wrap {
		width: calc(335 * 100vw / 375);
		padding-top: calc(96 * 100vw / 375);
		padding-bottom: calc(96 * 100vw / 375);
	}
	.shortcuts-title {
		margin-bottom: 0;
	}
	.shortcuts-title-text {
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
	}
	.shortcuts-title-icon {
		width: calc(40 * 100vw / 375);
		height: calc(40 * 100vw / 375);  
	}
	.shortcuts-subtitle {
		width: calc(300 * 100vw / 375);
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
		margin-bottom: calc(24 * 100vw / 375);
	}
	.shortcuts-info {
		grid-column-gap: 0;
		grid-row-gap: 0;
	}
	.shortcuts-info-block {
		width: 100%;
		height: auto;
	}
	.shortcuts-info-block:not(.shortcuts-info-block-text) {
		border-radius: unset;
		background: transparent; 
	}
	.shortcuts-info-block-car {
		order: 1;
		height: calc(200 * 100vw / 375);
		border-radius: calc(24 * 100vw / 375)!important;
		background: #FFF!important;
	}
	.shortcuts-info-block-car .shortcuts-info-block-background {
		border-top-right-radius: calc(24 * 100vw / 375);
		overflow: hidden;
	}
	.shortcuts-info-block-car .shortcuts-info-block-background-mobile {
		width: calc(336 * 100vw / 375);
		height: calc(216 * 100vw / 375);
	}
	.shortcuts-info-block-text {
		order: 2;
		font-size: calc(14 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
		width: calc(287 * 100vw / 375);
		margin: calc(28 * 100vw / 375) auto calc(24 * 100vw / 375);
	}
	.shortcuts-info-block-text-primary {
		color: #000;
		margin-bottom: calc(12 * 100vw / 375);
		width: 100%;
	}
	.shortcuts-info-block-text-secondary {
		color: #000;
		width: 100%;
	}
	.shortcuts-info-block-artboard {
		order: 3;
		margin-bottom: calc(20 * 100vw / 375);
	}
	.shortcuts-info-block-info {
		order: 4;
	}
	.shortcuts-info-block-background-desktop {
		display: none;
	}
	.shortcuts-info-block-background-mobile {
		display: block;
	}
	.shortcuts-info-block-image {
		width: calc(264 * 100vw / 375);
		height: calc(128 * 100vw / 375);
		margin-top: calc(36 * 100vw / 375);
	}
	.shortcuts-info-block-image-desktop {
		display: none;
	}
	.shortcuts-info-block-image-mobile {
		display: block;
	}
	.shortcuts-info-block-between {
		grid-row-gap: calc(16 * 100vw / 375);
		padding: 0 calc(24 * 100vw / 375);
	}
	.shortcuts-info-block-between-text {
		color: #666;
		font-size: calc(14 * 100vw / 375);
		line-height: calc(20 * 100vw / 375); 
	}
	.shortcuts-info-artboard-image {
		width: calc(70 * 100vw / 375);
		height: calc(28 * 100vw / 375);
	}
	.shortcuts-info-artboard-image-desktop {
		display: none;
	}
	.shortcuts-info-artboard-image-mobile {
		display: block;
	}
	.shortcuts-info-artboard-text {
		width: calc(287 * 100vw / 375);
	}
	.shortcuts-info-info-image {
		width: calc(32 * 100vw / 375);
		height: calc(32 * 100vw / 375);
	}
	.shortcuts-info-info-image-desktop {
		display: none;
	}
	.shortcuts-info-info-image-mobile {
		display: block;
	}
	.shortcuts-info-info-text {
		width: calc(287 * 100vw / 375);
	}
	.shortcuts-features {
		width: calc(335 * 100vw / 375);
		padding: calc(4 * 100vw / 375) 0 calc(12 * 100vw / 375);
		margin-top: calc(48 * 100vw / 375);
		margin-bottom: 0;
		border-radius: calc(24 * 100vw / 375);
	}
	.shortcuts-features-block {
		row-gap: calc(20 * 100vw / 375);
		padding: calc(20 * 100vw / 375) calc(24 * 100vw / 375);
	}
	.shortcuts-features-block-title {
		font-size: calc(16 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
	}
	.shortcuts-features-block-items {
		display: flex !important;
		flex-direction: column !important;
		gap: calc(12 * 100vw / 375);
	}
	.shortcuts-features-block-item {
		width: calc(288 * 100vw / 375) !important;
		height: auto !important;
		padding: calc(20 * 100vw / 375);
		border-radius: calc(24 * 100vw / 375);
	}
	.shortcuts-features-block-item.opened {
		height: calc(256 * 100vw / 375) !important
	}
	.shortcuts-features-block-item-title {
		font-size: calc(16 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
		width: auto !important;
		cursor: pointer;
		display: flex;
		align-items: center;
		column-gap: calc(8 * 100vw / 375);
	}
	.shortcuts-features-block-2 .shortcuts-features-block-item-2 .shortcuts-features-block-item-title span {
		width: calc(113 * 100vw / 375);
	}
	.shortcuts-features-block-2 .shortcuts-features-block-item-3 .shortcuts-features-block-item-title span {
		width: calc(90 * 100vw / 375);
	}
	.shortcuts-features-block-3 .shortcuts-features-block-item-2 .shortcuts-features-block-item-title span {
		width: calc(107 * 100vw / 375);
	}
	.shortcuts-features-block-4 .shortcuts-features-block-item-1 .shortcuts-features-block-item-title span {
		width: calc(147 * 100vw / 375);
	}
	.shortcuts-features-block-4 .shortcuts-features-block-item-2 .shortcuts-features-block-item-title span {
		width: calc(141 * 100vw / 375);
	}
	.shortcuts-features-block-4 .shortcuts-features-block-item-3 .shortcuts-features-block-item-title span {
		width: calc(169 * 100vw / 375);
	}
	.shortcuts-features-block-4 .shortcuts-features-block-item-4 .shortcuts-features-block-item-title span {
		width: calc(139 * 100vw / 375);
	}
	.shortcuts-features-block-4 .shortcuts-features-block-item-5 .shortcuts-features-block-item-title span {
		width: calc(156 * 100vw / 375);
	}
	.shortcuts-features-block-4 .shortcuts-features-block-item-6 .shortcuts-features-block-item-title span {
		width: calc(149 * 100vw / 375);
	}
	.shortcuts-features-block-4 .shortcuts-features-block-item-7 .shortcuts-features-block-item-title span {
		width: calc(168 * 100vw / 375);
	}
	.shortcuts-features-block-item-title img {
		display: block;
		width: calc(12 * 100vw / 375);
		height: calc(40 * 100vw / 375);
	}
	.shortcuts-features-block-item.opened .shortcuts-features-block-item-title img {
		transform: rotate(180deg);
		transform-origin: center;
	}
	.shortcuts-features-block-item-icon {
		width: calc(40 * 100vw / 375);
		height: calc(40 * 100vw / 375);
	}
	.shortcuts-features-block-item-content {
		display: none;
		font-size: calc(12 * 100vw / 375);
		line-height: calc(18 * 100vw / 375);
	}
	.shortcuts-features-block-item.opened .shortcuts-features-block-item-content {
		display: block;
	}
}
