.shortcuts {
	width: 100%;
	margin-bottom: 180px;
	background: #F6F6F6; 
}
.shortcuts-wrap {
	width: 1076px;
	margin: 0 auto;
	padding-top: 180px;
	padding-bottom: 225px;
}
.shortcuts-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shortcuts-title-icon {
	width: 64px;
	height: 64px;  
}
.shortcuts-title-icon img {
	width: 100%; 
}
.shortcuts-title-text {
	color: #1657FC;
	font-family: Manrope;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px; /* 123.077% */
	text-transform: capitalize; 
}
.shortcuts-subtitle {
	color: #000;
	font-family: Manrope;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px;
}
.shortcuts-info {
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 24px;
	grid-row-gap: 24px;
}
.shortcuts-info-block {
	width: 526px;
	height: 256px; 
}
.shortcuts-info-block:not(.shortcuts-info-block-text) {
	border-radius: 28px;
	background: #FFF; 
}


.shortcuts-content {
	display: flex;
	flex-direction: column;
}
.shortcuts-content-top {
	display: flex;
	align-items: flex-start;
	grid-column-gap: 3px;
}
.shortcuts-content-legend {
	width: 609px;
	display: flex;
	flex-direction: column;
	grid-row-gap: 22px;
}
.shortcuts-content-legend-item {
	display: flex;
	align-items: flex-start;
	grid-column-gap: 12px;
	color: #000;
	font-family: Gotham;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px; /* 145.455% */ 
}
.shortcuts-content-legend-item:last-child .shortcuts-content-legend-item-text {
	width: 534px;
}
.shortcuts-content-legend-icon {
	width: 32px;
	height: 32px;
}
.shortcuts-content-legend-icon img {
	width: 100%;
	height: 100%;
}
.shortcuts-content-image-desktop {
	width: 587px;
	height: 286px; 
}
.shortcuts-content-image-desktop img {
	width: 100%;
}
.shortcuts-content-image-mobile {
	display: none;
}
.shortcuts-content-middle {
	width: 1206px;
	box-sizing: border-box;
	margin-top: 81px;
	margin-bottom: 64px;
	padding: 72px 53px 72px 90px;
	display: flex;
	align-items: center;
	grid-column-gap: 54px;
	border-radius: 12px;
	background: #F4F6FA; 
}
.shortcuts-content-middle-image-desktop {
	width: 216px;
	height: 88px; 
}
.shortcuts-content-middle-image-desktop img {
	width: 100%;
}
.shortcuts-content-middle-image-mobile {
	display: none;
}
.shortcuts-content-middle-info {
	display: flex;
	align-items: center;
	grid-column-gap: 16px;
}
.shortcuts-content-middle-info-icon {
	width: 64px;
	height: 64px; 
}
.shortcuts-content-middle-info-icon img {
	width: 100%;
	height: 100%;
}
.shortcuts-content-middle-info-text {
	width: 707px; 
	color: #000;
	font-family: Gotham;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px; /* 145.455% */ 
}
.shortcuts-content-list {
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 28px;
	grid-row-gap: 52px;
}
.shortcuts-content-list-item {
	display: flex;
	flex-direction: column;
	grid-row-gap: 18px;
	width: 380px;
}
.shortcuts-content-list-item-title {
	display: flex;
	align-items: center;
	grid-column-gap: 16px;
}
.shortcuts-content-list-item-title-icon {
	width: 64px;
	height: 64px;
	border-radius: 8px;
}
.shortcuts-content-list-item-title-icon img {
	width: 100%;
	height: 100%;
}
.shortcuts-content-list-item-title-text {
	color: #000;
	font-family: Gotham;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px; /* 145.455% */ 
}
.shortcuts-content-list-item:nth-child(1) .shortcuts-content-list-item-title-text,
.shortcuts-content-list-item:nth-child(3) .shortcuts-content-list-item-title-text {
	max-width: 200px;
}
.shortcuts-content-list-item:nth-child(2) .shortcuts-content-list-item-title-text {
	max-width: 275px;
}
.shortcuts-content-list-item-content {
	color: #666;
	font-family: Gotham;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */ 
}
.shortcuts-content-list-item:nth-child(1) .shortcuts-content-list-item-content {
	max-width: 380px;
}
.shortcuts-content-list-item:nth-child(2) .shortcuts-content-list-item-content {
	max-width: 343px;
}
.shortcuts-content-list-item:nth-child(3) .shortcuts-content-list-item-content {
	max-width: 331px;
}
.shortcuts-content-list-item:nth-child(4) .shortcuts-content-list-item-content {
	max-width: 369px;
}
.shortcuts-content-list-item:nth-child(5) .shortcuts-content-list-item-content {
	max-width: 303px;
}
.shortcuts-content-list-item:nth-child(6) .shortcuts-content-list-item-content {
	max-width: 258px;
}
.shortcuts-content-more {
	margin-top: 92px;
	width: 100%;
	color: #3374FB;
	text-align: center;
	/* Subtitle */
	font-family: Gotham;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal; 
}


.shortcuts-content-top-mobile, 
.shortcuts-content-bottom-mobile {
	display: none;
}
.ellipse__shortcuts-1 {
	width: 564px;
	height: 564px; 
	top: -11px;
	right: 1183px;
}
.ellipse__shortcuts-1 .ellipse {
	background: #F4F6FA;
}	
.ellipse__shortcuts-2 {
	width: 464px;
	height: 464px; 
	top: 39px;
	right: 1233px;
}
.ellipse__shortcuts-2 .ellipse {
	background: #FEFEFE;
}	
