@media screen and (min-width: 1000px) and (max-width: 1366px) {
	.shortcuts {
/*		margin-left: 80px;*/
		margin-bottom: calc(140 * 100vw / 1366);
	}
	.shortcuts-title {
		grid-column-gap: calc(20 * 100vw / 1366);
		margin-bottom: calc(40 * 100vw / 1366);
	}
	.shortcuts-title-icon {
		width: calc(67 * 100vw / 1366);
		height: calc(41 * 100vw / 1366); 
	}
	.shortcuts-title-text {
		font-size: calc(52 * 100vw / 1366);
		line-height: calc(64 * 100vw / 1366); /* 123.077% */ 
	}
	.shortcuts-subtitle {
		font-size: calc(22 * 100vw / 1366);
		line-height: calc(32 * 100vw / 1366); /* 145.455% */ 
		width: calc(1200 * 100vw / 1366);
		margin-bottom: calc(56 * 100vw / 1366);
	}
	.shortcuts-content {
		grid-column-gap: calc(58 * 100vw / 1366);
	}
	.shortcuts-content-image {
		width: calc(571.205 * 100vw / 1366); 
		height: calc(282.301 * 100vw / 1366);
	}
	.shortcuts-content-more {
		margin-top: calc(111.7 * 100vw / 1366);
		width: calc(571.205 * 100vw / 1366);
		grid-row-gap: calc(19 * 100vw / 1366);
	}
	.shortcuts-content-more-text {
		font-size: calc(36 * 100vw / 1366);
	}
	.shortcuts-content-more-icon {
		width: calc(44.122 * 100vw / 1366);
		height: calc(27 * 100vw / 1366);  
	}
	.shortcuts-content-list {
		grid-row-gap: calc(24 * 100vw / 1366);
		width: calc(578 * 100vw / 1366); 
	}
	.shortcuts-content-list-item {
		grid-row-gap: calc(8 * 100vw / 1366);
	}
	.shortcuts-content-list-item-title {
		grid-column-gap: calc(8 * 100vw / 1366);
	}
	.shortcuts-content-list-item-title-text {
		font-size: calc(18 * 100vw / 1366);
	}
	.shortcuts-content-list-item-content {
		font-size: calc(14 * 100vw / 1366);
	}
	.ellipse__shortcuts-1 {
		width: calc(564 * 100vw / 1366);
		height: calc(564 * 100vw / 1366); 
		top: calc(-1 * 11 * 100vw / 1366);
		right: calc(1183 * 100vw / 1366);
	}
	.ellipse__shortcuts-2 {
		width: calc(464 * 100vw / 1366);
		height: calc(464 * 100vw / 1366); 
		top: calc(39 * 100vw / 1366);
		right: calc(1233 * 100vw / 1366);
	}
}

@media screen and (max-width: 999px) {
	.shortcuts {
		width: 354px;
		margin-left: 20px;
		margin-right: 16px;
	}
	.shortcuts-title-text {
		font-size: 36px;
		line-height: normal;
	}
	.shortcuts-subtitle {
		font-size: 18px;
		line-height: 140%; /* 25.2px */
		width: 349px;
		margin-bottom: 60px;
	}
	.shortcuts-content {
		flex-direction: column-reverse;
	}
}
