.significant {
	margin-top: 116.57px;
	margin-bottom: 118.81px;
}
.significant__title {
	font-family: 'SF Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	line-height: 64px;
	color: #000000;
	text-align: left;
	/*margin-top: 120px;*/
	margin-bottom: 40.43px;
}
.significant__features {
	height: 565px;
	display: flex;
	grid-column-gap: 100px;
	overflow-x: scroll;
/*	flex-direction: column;*/
	margin-left: 80px;
	margin-right: 80px;
	scrollbar-color: transparent transparent;
}
.significant__features-item {
	width: 400px;
	display: flex;
	flex-direction: column;
	grid-row-gap: 20px;
}
.significant__features-item-image {
	width: 400px;
	height: 400px;
}
.significant__features-item-info {
	display: flex;
	flex-direction: column;
	grid-row-gap: 8px;
}
.significant__features-item-title {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
}
.significant__features-item-content {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
