@media screen and (min-width: 576px) and (max-width: 1440px) {
	.significant {
		margin-top: calc(180 * 100vw / 1440);
		margin-bottom: calc(180 * 100vw / 1440);
	}
	.significant__title {
		width: calc(1296 * 100vw / 1440);
		margin-bottom: calc(56 * 100vw / 1440);
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.significant__features {
		grid-row-gap: calc(72 * 100vw / 1440);
	}
	.significant__features-scroller {
		grid-column-gap: calc(24 * 100vw / 1440);
		padding-left: calc((100vw - calc(1296 * 100vw / 1440)) / 2);
		padding-right: calc((100vw - calc(1296 * 100vw / 1440)) / 2);
	}
	.significant__features-scrollbar {
		margin-left: calc((100vw - calc(1296 * 100vw / 1440)) / 2);
		width: calc(1296 * 100vw / 1440);
	}
	.significant__features-item {
		width: calc(306 * 100vw / 1440);
		grid-row-gap: calc(16 * 100vw / 1440);
	}
	.significant__features-item-image {
		width: calc(306 * 100vw / 1440);
		height: calc(220 * 100vw / 1440);
	}
	.significant__features-item-title {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.significant__features-item-content {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) {
	.significant {
		width: calc(335 * 100vw / 375);
    	margin: calc(80 * 100vw / 375) auto calc(104 * 100vw / 375);
	}
	.significant__title {
		width: calc(335 * 100vw / 375);
		margin-bottom: calc(28 * 100vw / 375);
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
	}
	.significant__title br {
		display: block;
	}
	.significant__features {
		width: 100vw;
		margin-left: calc(-1 * (100vw - calc(335 * 100vw / 375)) / 2);
		margin-right: calc(-1 * (100vw - calc(335 * 100vw / 375)) / 2);
		grid-row-gap: calc(60 * 100vw / 375);
	}
	.significant__features-scroller {
		grid-column-gap: calc(24 * 100vw / 375);
		padding-left: calc((100vw - calc(335 * 100vw / 375)) / 2);
		padding-right: calc((100vw - calc(335 * 100vw / 375)) / 2);
	}
	.significant__features-scrollbar {
		width: calc(335 * 100vw / 375);
		margin-left: calc((100vw - calc(335 * 100vw / 375)) / 2);
	}
	.significant__features-scrollbar-thumb {
		width: calc(40 * 100vw / 375);
	}
	.significant__features-item {
		width: calc(306 * 100vw / 375);
		grid-row-gap: calc(16 * 100vw / 375);
	}
	.significant__features-item-image {
		width: calc(306 * 100vw / 375);
		height: calc(220 * 100vw / 375);
	}
}
