.significant {
	margin-top: 180px;
	margin-bottom: 180px;
}
.significant__title {
	width: 1296px;
	margin: 0 auto;
	margin-bottom: 6px;
	color: #000;
	font-family: Manrope;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px;
}
.significant__subtitle {
	width: 1296px;
	margin: 0 auto;
	margin-bottom: 47px;
	color: #4D4D4D;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}
.significant__features {
/*	height: 565px;*/
	display: flex;
/*	overflow-x: scroll;*/
/*	flex-direction: column;*/
	margin-left: 72px;
/*	margin-right: 72px;*/
	scrollbar-color: transparent transparent;
	cursor: grab;
	user-select: none;
/*	width: 100vw;*/
/*	margin-left: calc(-1 * (100vw - 1440px) / 2);*/
	overflow-x: visible;
}
.significant__features-scroller {
	overflow-x: scroll;
	display: flex;
	grid-column-gap: 24px;
	padding-left: calc((100vw - 1440px) / 2);
	padding-right: 72px;
	scrollbar-color: transparent transparent;
}
.significant__features-item {
	width: 306px;
	display: flex;
	flex-direction: column;
	grid-row-gap: 16px;
}
.significant__features-item-image {
	width: 306px;
	height: 220px; 
}
.significant__features-item-image img {
	width: 100%;
}
/*.significant__features-item-info {
	display: flex;
	flex-direction: column;
	grid-row-gap: 8px;
}*/
.significant__features-item-title {
	color: #000;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}
.significant__features-item-content {
	color: #666;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
}
