@media screen and (min-width: 1000px) and (max-width: 1440px) {
	.significant {
		margin-top: calc(180 * 100vw / 1440);
		margin-bottom: calc(180 * 100vw / 1440);
	}
}

@media screen and (max-width: 999px) {
	.significant {
		margin-top: 80px;
		margin-bottom: 104px;
	}
	.significant__title {
		margin-bottom: 8px;
		font-size: 32px;
		line-height: 40px;
	}
	.significant__subtitle {
		margin-bottom: 38px;
		font-size: 18px;
		line-height: 24px;
	}
	.significant__features {
		width: 100vw;
/*		height: 458px;*/
/*		margin-left: 20px;*/
		margin-right: 20px;
		margin-left: calc(-1 * (100vw - 390px) / 2);
	}
	.significant__features-scroller {
		grid-column-gap: 24px;
		padding-left: calc((100vw - 390px) / 2);
	}
	.significant__features-item {
		width: 306px;
		grid-row-gap: 16px;
	}
	.significant__features-item-image {
		width: 306px;
		height: 220px;
	}
}
