@media screen and (min-width: 1000px) and (max-width: 1440px) {
	.significant {
		margin-top: calc(180 * 100vw / 1440);
		margin-bottom: calc(180 * 100vw / 1440);
	}
}

@media screen and (max-width: 999px) {
	.significant {
		margin-top: 80px;
		margin-bottom: 104px;
	}
	.significant__title {
		margin-bottom: 8px;
		font-size: 32px;
		line-height: 40px;
	}
	.significant__subtitle {
		margin-bottom: 38px;
		font-size: 18px;
		line-height: 24px;
	}
	.significant__features {
		width: 100vw;
		margin-left: calc(-1 * (100vw - 355px) / 2);
		margin-right: 20px;
		grid-row-gap: 60px;
	}
	.significant__features-scroller {
		grid-column-gap: 24px;
		padding-left: calc((100vw - 355px) / 2);
		padding-right: 20px;
	}
	.shortcuts-features-scrollbar {
		position: relative;
		margin-left: calc((100vw - 355px) / 2);
		width: 335px;
		height: 4px;
		border-radius: 2px;
		background-color: #E3E3E3;
		cursor: pointer;
	}
	.shortcuts-features-scrollbar-thumb {
		position: absolute;
		top: 0;
		left: 0;
		width: 56px;
		height: 100%;
		border-radius: 2px;
		background-color: #1657FC;
	}
	.significant__features-item {
		width: 306px;
		grid-row-gap: 16px;
	}
	.significant__features-item-image {
		width: 306px;
		height: 220px;
	}
}
