@media screen and (min-width: 576px) and (max-width: 1440px) {
	.store_block {
		padding-top: calc(200 * 100vw / 1440);
		padding-bottom: calc(200 * 100vw / 1440);
	}
	.store_block-product {
		width: calc(1296 * 100vw / 1440);
		grid-column-gap: calc(36 * 100vw / 1440);
	}
	.store_block-product-gallery {
		grid-column-gap: calc(24 * 100vw / 1440);
	}
	.store_block-product-gallery-items {
		grid-row-gap: calc(12 * 100vw / 1440);
	}
	.store_block-product-gallery-item {
		width: calc(86 * 100vw / 1440);
		height: calc(86 * 100vw / 1440);
		border-radius: calc(16 * 100vw / 1440);
	}
	.store_block-product-gallery-main {
		width: calc(526 * 100vw / 1440);
		height: calc(526 * 100vw / 1440);
		border-radius: calc(40 * 100vw / 1440);
	}
	.store_block-product-price {
		grid-column-gap: calc(8 * 100vw / 1440);
		margin-bottom: calc(8 * 100vw / 1440);
	}
	.store_block-product-price-new {
		font-size: calc(36 * 100vw / 1440);
		line-height: calc(44 * 100vw / 1440);
	}
	.store_block-product-price-old {
		font-size: calc(32 * 100vw / 1440);
		line-height: calc(36 * 100vw / 1440);
	}
	.store_block-product-title {
		width: calc(486 * 100vw / 1440);
		margin-bottom: calc(20 * 100vw / 1440);
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.store_block-product-description {
		margin-bottom: calc(20 * 100vw / 1440);
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.store_block-product-select {
		width: calc(526 * 100vw / 1440);
		height: calc(72 * 100vw / 1440);
		border-radius: calc(8 * 100vw / 1440);
		padding-left: calc(20 * 100vw / 1440);
		padding-right: calc(20 * 100vw / 1440);
	}
	.store_block-product-select-dropdown {
		padding: calc(20 * 100vw / 1440) calc(20 * 100vw / 1440) calc(32 * 100vw / 1440) calc(20 * 100vw / 1440);
		grid-row-gap: calc(32 * 100vw / 1440);
		border-radius: calc(8 * 100vw / 1440);
	}
	.store_block-product-select-dropdown-item {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.store_block-product-select-value {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.store_block-product-select-arrow {
		width: calc(12 * 100vw / 1440);
		height: calc(32 * 100vw / 1440);
	}
	.store_block-add-wireless-charger {
		margin-top: calc(8 * 100vw / 1440);
		grid-column-gap: calc(8 * 100vw / 1440);
	}
	.store_block-add-wireless-charger-checkbox {
		width: calc(20 * 100vw / 1440);
		height: calc(20 * 100vw / 1440);
		padding: calc(6.67 * 100vw / 1440) calc(5 * 100vw / 1440);
		border-radius: calc(4 * 100vw / 1440);
	}
	.store_block-add-wireless-charger-checkbox:checked:after {
		width: calc(10 * 100vw / 1440);
		height: calc(6.667 * 100vw / 1440); 
		top: calc(3.33 * 100vw / 1440);
		left: calc(5 * 100vw / 1440);
	}
	.store_block-add-wireless-charger-title {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.store_block-add-wireless-charger-price {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.store_block-product-order {
		grid-column-gap: calc(16 * 100vw / 1440);
		margin-top: calc(24 * 100vw / 1440);
	}
	.store_block-product-add {
		width: calc(198 * 100vw / 1440);
		height: calc(72 * 100vw / 1440);
		border-radius: calc(54 * 100vw / 1440);
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
	}
	.store_block-product-order-features {
		grid-row-gap: calc(8 * 100vw / 1440);
	}
	.store_block-product-order-feature {
		grid-column-gap: calc(8 * 100vw / 1440);
	}
	.store_block-product-order-feature-icon {
		width: calc(20 * 100vw / 1440);
		height: calc(20 * 100vw / 1440);
	}
	.store_block-product-order-feature-text {
		font-size: calc(16 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) {
	.store_block {
		padding-top: calc(96 * 100vw / 375);
		padding-bottom: calc(100 * 100vw / 375);
	}
	.store_block-product {
		width: calc(375 * 100vw / 375);
	}
	.store_block-product-gallery {
		display: none;
	}
	.store_block-product-info {
		width: calc(335 * 100vw / 375);
		margin: 0 auto;
		grid-row-gap: calc(12 * 100vw / 375);
	}
	.store_block-product-info-main {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-start;
	}
	.store_block-product-title {
		width: calc(208 * 100vw / 375);
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
	}
	.store_block-product-price {
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 0;
	}
	.store_block-product-price-new {
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
	}
	.store_block-product-price-old {
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375);
	}
	.store_block-product-gallery-mobile {
		display: block;
		position: relative;
		width: calc(335 * 100vw / 375);
	}
	.store_block-product-gallery-mobile-nav {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		bottom: 0;
		cursor: pointer;
	}
	.store_block-product-gallery-mobile-nav[data-direction="prev"] {
		left: 0;
	}
	.store_block-product-gallery-mobile-nav[data-direction="next"] {
		right: 0;
	}
	.store_block-product-gallery-main {
		width: calc(335 * 100vw / 375);
		height: calc(335 * 100vw / 375);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: calc(24 * 100vw / 375); 
		background: #FFF;
	}
	.store_block-product-gallery-mobile-dots {
		width: 100%;
		position: absolute;
		bottom: calc(12 * 100vw / 375);
		display: flex;
		justify-content: center;
		grid-column-gap: calc(6 * 100vw / 375);
	}
	.store_block-product-gallery-mobile-dot {
		width: calc(6 * 100vw / 375);
		height: calc(6 * 100vw / 375);
		cursor: pointer;
		position: relative;
	}
	.store_block-product-gallery-mobile-dot img {
		width: 100%;
		display: none;
		position: absolute;
		top: 0;
	}
	.store_block-product-select {
		width: 100%;
		height: calc(56 * 100vw / 375);
	}
	.store_block-product-select-dropdown {
		padding: calc(18 * 100vw / 375) calc(20 * 100vw / 375) calc(24 * 100vw / 375);
		grid-row-gap: calc(20 * 100vw / 375);
		border-radius: calc(8 * 100vw / 375);
	}
	.store_block-product-select-dropdown-item {
		font-size: calc(16 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
	}
	.store_block-product-select-value {
		font-size: calc(16 * 100vw / 375);
		line-height: calc(20 * 100vw / 375);
	}
	.store_block-product-select-arrow {
		width: calc(12 * 100vw / 375);
		height: calc(20 * 100vw / 375);
	}
	.store_block-product-select-dropdown-item img {
		display: none;
	}
	.store_block-product-select-dropdown-item-selected img {
		display: none;
	}
	.store_block-add-wireless-charger {
		margin-top: calc(12 * 100vw / 375);
	}
	.store_block-product-order {
		flex-direction: column;
		align-items: flex-start;
		grid-row-gap: calc(12 * 100vw / 375);
		margin-top: calc(24 * 100vw / 375);
	}
	.store_block-product-add {
		display: none;
	}
	.store_block-product-add-mobile {
		display: flex;
		width: 100%;
		height: calc(56 * 100vw / 375);
		padding: 0;
		border-radius: calc(100 * 100vw / 375);
		border: none;
		outline: none;
		box-shadow: none;
		overflow: hidden;
		cursor: pointer;
	}
	.store_block-product-add-mobile > div {
		height: 100%;
		color: #FFF;
		font-family: Manrope;
		font-size: calc(18 * 100vw / 375);
		font-style: normal;
		font-weight: 500;
		line-height: calc(24 * 100vw / 375);
		box-sizing: border-box;
	}
	.store_block-product-add-mobile-text {
		width: calc(233 * 100vw / 375);
		padding: calc(16 * 100vw / 375) calc(32 * 100vw / 375) calc(16 * 100vw / 375) 0;
		background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%), linear-gradient(0deg, rgba(255, 255, 255, 0.33) -728.8%, rgba(255, 255, 255, 0.00) 181.94%), rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(8px);
		text-align: right;
	}
	.store_block-product-add-mobile-total {
		width: calc(102 * 100vw / 375);
		height: 100%;
		padding: calc(16 * 100vw / 375) 0 calc(16 * 100vw / 375) calc(24 * 100vw / 375);
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.16) 100%), linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%);
		text-align: left;
	}
	.store_block-product-add-mobile.store_block-product-add-add {
		justify-content: center;
		align-items: center;
		border-radius: calc(54 * 100vw / 375);
		border: 3px solid #0068FD;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) -728.8%, rgba(255, 255, 255, 0.00) 181.94%), rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(8px);
		color: #0F51FD;
		text-align: center;
		font-family: Manrope;
		font-size: calc(18 * 100vw / 375);
		font-style: normal;
		font-weight: 500;
		line-height: calc(24 * 100vw / 375);
	}
}
