.store_block {
	width: 100%;
	padding-top: 200px;
	padding-bottom: 200px;
	background: #FDFDFD;
}
.store_block-product {
	display: flex;
	align-items: center;
	width: 1296px;
	margin: 0 auto;
	grid-column-gap: 36px;
}
.store_block-product-gallery {
	display: flex;
	align-items: flex-start;
	grid-column-gap: 24px;
}
.store_block-product-gallery-items {
	display: flex;
	flex-direction: column;
	grid-row-gap: 12px;
}
.store_block-product-gallery-item {
	width: 86px;
	height: 86px;
	position: relative;
	cursor: pointer;
	border-radius: 100%;
	border: 1px solid #E6E6E6;
}
.store_block-product-gallery-item.active {
	border: 1px solid #1657FC;
}
.store_block-product-gallery-item-image {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.store_block-product-gallery-items .store_block-product-gallery-item:first-child .store_block-product-gallery-item-image {
	top: unset;
	bottom: 0;
}
.store_block-product-gallery-main {
	width: 526px;
	height: 526px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	background: #F6F6F6;
}
.store_block-product-gallery-main img {
	max-width: 100%;
	max-height: 100%;
	display: none;
}
.store_block-product-gallery-main img:first-child {
	display: block;
}
.store_block-product-gallery-mobile {
	display: none;
}
.store_block-product-info {
	display: flex;
	flex-direction: column;
}
.store_block-product-price {
	display: flex;
	align-items: center;
	grid-column-gap: 8px;
	margin-bottom: 8px;
}
.store_block-product-price-new {
	color: #1657FC;
	font-family: Manrope;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: 44px;
}
.store_block-product-price-old {
	color: #D1D1D1;
	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 36px;
	text-decoration-line: strikethrough;
}
.store_block-product-title {
	width: 486px; 
	margin-bottom: 20px;
	color: #000;
	font-family: Manrope;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px;
}
.store_block-product-description {
	color: #000;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
.store_block-product-select {
	width: 526px;
	height: 72px;
	border-radius: 8px;
	background: #E6E6E6; 
	position: relative;
	display: inline-flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}
.store_block-product-select-dropdown-select {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.store_block-product-select-dropdown {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 20px 20px 32px 20px;
	display: none;
	flex-direction: column;
	grid-row-gap: 32px;
	border-radius: 8px;
	border: 2px solid #E6E6E6;
	background: #FFF;
	box-shadow: 0px 64px 64px 0px rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
	z-index: 2;
}
.store_block-product-select-dropdown-item {
	color: #000; 
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.store_block-product-select-dropdown-item:hover {
	color: #1657FC; 
}
.store_block-product-select-dropdown-item img {
	display: none;
}
.store_block-product-select-dropdown-item-selected img {
	display: block;
}
.store_block-product-select-value {
	color: #000;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}
.store_block-product-select-dropdown .store_block-product-select-value {
	color: #B9B9B9;
}
.store_block-product-select-arrow {
	width: 12px;
	height: 32px;
}
.store_block-product-select-arrow img {
	width: 100%;
	height: 100%;
}
.store_block-add-wireless-charger {
	margin-top: 8px;
	grid-column-gap: 8px;
	display: flex;
	align-items: center;
}
.store_block-add-wireless-charger-checkbox {
	width: 20px;
	height: 20px;
	appearance: none;
	-webkit-appearance: none;
	background-color: #E0E0E0;
/*	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
	display: inline-block;
	position: relative;
	padding: 6.67px 5px;
	border-radius: 4px;
	margin: 0;
	cursor: pointer;
}
.store_block-add-wireless-charger-title {
	color: #000;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
.store_block-add-wireless-charger-price {
	color: #1657FC;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; 
}
.store_block-product-order {
	display: flex;
	align-items: center;
	grid-column-gap: 16px;
	margin-top: 24px;
}
.store_block-product-add {
	width: 198px;
	height: 72px;
	border-radius: 54px;
	background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%), linear-gradient(0deg, rgba(255, 255, 255, 0.33) -728.8%, rgba(255, 255, 255, 0.00) 181.94%), rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(8px);
	color: #FFF;
	text-align: center;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	box-sizing: border-box;
}
.store_block-product-add-add {
	border: 3px solid #0068FD;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) -728.8%, rgba(255, 255, 255, 0.00) 181.94%), rgba(255, 255, 255, 0.04);
	color: #0F51FD;
}
.store_block-product-add:hover {
	background: linear-gradient(174deg, #0245D4 4.57%, #15028D 251.92%); 
}
.store_block-product-add-mobile {
	display: none;
}
.store_block-product-order-features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-row-gap: 8px;
}
.store_block-product-order-feature {
	display: flex;
	align-items: center;
	grid-column-gap: 8px;
}
.store_block-product-order-feature-icon {
	width: 20px;
	height: 20px;
}
.store_block-product-order-feature-icon img {
	width: 100%;
}
.store_block-product-order-feature-text {
	color: #666;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
.store_block-product-order-feature-text-main {
	color: #1657FC;
	font-weight: 500;
}
