.store_block {
	width: 100%;
	margin: 0 auto;
	padding-top: 200px;
	padding-bottom: 200px;
	background: #FDFDFD;
}
.store_block-product {
	display: flex;
	align-items: center;
	margin-left: 72px;
	grid-column-gap: 36px;
}
.store_block-product-mobile {
	display: none;
}
.store_block-product-gallery {
	display: flex;
	align-items: center;
	grid-column-gap: 24px;
}
.store_block-product-gallery-items {
	display: flex;
	flex-direction: column;
	grid-row-gap: 12px;
}
.store_block-product-gallery-item {
	width: 86px;
	height: 86px;
	position: relative;
}
.store_block-product-gallery-item-ellipse {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.store_block-product-gallery-item-image {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.store_block-product-gallery-main {
	width: 526px;
	height: 526px;
}
.store_block-product-gallery-main img {
	width: 100%;
}
.store_block-product-info {
	display: flex;
	flex-direction: column;
}
.store_block-product-price {
	font-family: Manrope;
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: 44px;
}
.store_block-product-price-new {
	color: #1657FC;
}
.store_block-product-price-old {
	color: #D1D1D1;
}