.subscription-popup-shadow {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.66);
    display: none;
    justify-content: center;
    align-items: center;
}
#success-popup {
    display: none;
}
.subscription-popup {
    width: 856px;
    height: 584px;
    border-radius: 24px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    position: relative;
    color: #000;
    font-family: Manrope;
    font-style: normal;
}
.success-popup {
    width: 428px;
    height: 248px;
    padding: 36px;
    border-radius: 24px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: #000;
    font-family: Manrope;
    font-style: normal;
    box-sizing: border-box;
}
.subscription-popup-close, .success-popup-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.subscription-popup-close img, .success-popup-close img {
    width: 100%;
    height: 100%;
}
.subscription-popup-side {
    width: 428px;
    height: 100%;
    box-sizing: border-box;
}
.subscription-popup-left {
    overflow: hidden;
}
.subscription-popup-left img {
    width: 100%;
    height: 100%;
}
.subscription-popup-left img.image-desktop {
    display: block;
}
.subscription-popup-left img.image-mobile {
    display: none;
}
.subscription-popup-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 28px;
    padding: 36px;
}
.subscription-popup-head {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.subscription-popup-logo {
    width: 131px;
    height: 12px;
}
.subscription-popup-logo img {
    width: 100%;
    height: 100%;
}
.subscription-popup-info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.subscription-popup-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.success-popup .subscription-popup-title {
    width: 229px;
}
.subscription-popup-title span {
    background: linear-gradient(#0E71F0, #1D3BFC, #3F3CF6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subscription-popup-subtitle {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
}
#success-popup .subscription-popup-subtitle br {
    display: none;
}
.subscription-popup-form {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}
.subscription-popup-fields {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.subscription-popup-field {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    position: relative;
}
.subscription-popup-field label {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
}
.subscription-popup-field input {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
}
.subscription-popup-field input:active,
.subscription-popup-field input:focus {
    border: 1px solid #CCC;
}
.subscription-popup-field-error input {
    border: 1px solid #FC3E30;
}
.subscription-popup-field-error-message {
    position: absolute;
    bottom: -22px;
    color: #FC3E30;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.subscription-popup-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 16px;
}
.subscription-popup-buttons > * {
    cursor: pointer;
}
.subscription-popup-submit {
    width: 100%;
    padding: 14px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    background: linear-gradient(179deg, #0069FD 1.13%, #4E23F9 201.17%);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
}
.subscription-popup-submit:hover {
    background: linear-gradient(179deg, #005FE5 1.13%, #3B0CF8 201.17%);
}
.subscription-popup-cancel {
    color: #666;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (min-width: 576px) and (max-width: 1440px) {
    .subscription-popup {
        width: calc(856 * 100vw / 1440);
        height: calc(584 * 100vw / 1440);
        border-radius: calc(24 * 100vw / 1440);
    }
    .success-popup {
        width: calc(428 * 100vw / 1440);
        height: calc(248 * 100vw / 1440);
        padding: calc(36 * 100vw / 1440);
        border-radius: calc(24 * 100vw / 1440);
    }
    .subscription-popup-close, .success-popup-close {
        width: calc(20 * 100vw / 1440);
        height: calc(20 * 100vw / 1440);
        top: calc(16 * 100vw / 1440);
        right: calc(16 * 100vw / 1440);
    }
    .subscription-popup-side {
        width: calc(428 * 100vw / 1440);
    }
    .subscription-popup-right {
        row-gap: calc(28 * 100vw / 1440);
        padding: calc(36 * 100vw / 1440);
    }
    .subscription-popup-head {
        row-gap: calc(24 * 100vw / 1440);
    }
    .subscription-popup-logo {
        width: calc(131 * 100vw / 1440);
        height: calc(12 * 100vw / 1440);
    }
    .subscription-popup-info {
        row-gap: calc(12 * 100vw / 1440);
    }
    .subscription-popup-title {
        font-size: calc(32 * 100vw / 1440);
        line-height: calc(40 * 100vw / 1440);
    }
    .success-popup .subscription-popup-title {
        width: calc(229 * 100vw / 1440);
    }
    .subscription-popup-subtitle {
        font-size: calc(17 * 100vw / 1440);
        line-height: calc(24 * 100vw / 1440); 
    }
    .subscription-popup-form {
        row-gap: calc(36 * 100vw / 1440);
    }
    .subscription-popup-fields {
        row-gap: calc(24 * 100vw / 1440);
    }
    .subscription-popup-field {
        row-gap: calc(8 * 100vw / 1440);
    }
    .subscription-popup-field label {
        font-size: calc(16 * 100vw / 1440);
        line-height: calc(20 * 100vw / 1440); 
    }
    .subscription-popup-field input {
        padding: calc(16 * 100vw / 1440);
        font-size: calc(16 * 100vw / 1440);
        line-height: calc(20 * 100vw / 1440);
        border-radius: calc(6 * 100vw / 1440);
    }
    .subscription-popup-field-error-message {
        bottom: calc(-1 * 22 * 100vw / 1440);
        font-size: calc(14 * 100vw / 1440);
        line-height: calc(20 * 100vw / 1440);
    }
    .subscription-popup-buttons {
        row-gap: calc(16 * 100vw / 1440);
    }
    .subscription-popup-submit {
        padding: calc(14 * 100vw / 1440) calc(28 * 100vw / 1440);
        border-radius: calc(54 * 100vw / 1440);
        font-size: calc(18 * 100vw / 1440);
        line-height: calc(24 * 100vw / 1440);
    }
    .subscription-popup-cancel {
        font-size: calc(16 * 100vw / 1440);
        line-height: calc(20 * 100vw / 1440);
    }
}

@media screen and (max-width: 575px) {
    .subscription-popup {
        width: calc(336 * 100vw / 375);
        height: calc(764 * 100vw / 375);
        border-radius: calc(24 * 100vw / 375);
        flex-direction: column;
    }
    .success-popup {
        width: calc(336 * 100vw / 375);
        height: calc(196 * 100vw / 375);
        padding: calc(24 * 100vw / 375);
        border-radius: calc(24 * 100vw / 375);
    }
    .subscription-popup-close, .success-popup-close {
        width: calc(20 * 100vw / 375);
        height: calc(20 * 100vw / 375);
        right: calc(16 * 100vw / 375);
    }
    .subscription-popup-close {
        top: unset;
        bottom: calc(476 * 100vw / 375);
    }
    .success-popup-close {
        top: calc(16 * 100vw / 375);
    }
    .subscription-popup-side {
        width: 100%;
    }
    .subscription-popup-left {
        height: calc(252 * 100vw / 375);
    }
    .subscription-popup-left img.image-desktop {
        display: none;
    }
    .subscription-popup-left img.image-mobile {
        display: block;
    }
    .subscription-popup-right {
        height: calc(512 * 100vw / 375);
        row-gap: calc(20 * 100vw / 375);
        padding: calc(24 * 100vw / 375);
    }
    .subscription-popup-head {
        row-gap: calc(20 * 100vw / 375);
    }
    .subscription-popup-logo {
        width: calc(131 * 100vw / 375);
        height: calc(12 * 100vw / 375);
    }
    .subscription-popup-info {
        row-gap: calc(12 * 100vw / 375);
    }
    .subscription-popup-title {
        font-size: calc(24 * 100vw / 375);
        line-height: calc(32 * 100vw / 375);
    }
    .success-popup .subscription-popup-title {
        width: calc(172 * 100vw / 375);
    }
    .subscription-popup-subtitle {
        font-size: calc(16 * 100vw / 375);
        line-height: calc(20 * 100vw / 375); 
    }
    #success-popup .subscription-popup-subtitle br {
        display: block;
    }
    .subscription-popup-form {
        row-gap: calc(24 * 100vw / 375);
    }
    .subscription-popup-fields {
        row-gap: calc(24 * 100vw / 375);
    }
    .subscription-popup-field {
        row-gap: calc(8 * 100vw / 375);
    }
    .subscription-popup-field label {
        font-size: calc(16 * 100vw / 375);
        line-height: calc(20 * 100vw / 375); 
    }
    .subscription-popup-field input {
        padding: calc(16 * 100vw / 375);
        font-size: calc(16 * 100vw / 375);
        line-height: calc(20 * 100vw / 375);
        border-radius: calc(6 * 100vw / 375);
    }
    .subscription-popup-field-error-message {
        bottom: calc(-1 * 22 * 100vw / 375);
        font-size: calc(14 * 100vw / 375);
        line-height: calc(20 * 100vw / 375);
    }
    .subscription-popup-buttons {
        row-gap: calc(16 * 100vw / 375);
    }
    .subscription-popup-submit {
        padding: calc(14 * 100vw / 375) calc(28 * 100vw / 375);
        border-radius: calc(54 * 100vw / 375);
        font-size: calc(18 * 100vw / 375);
        line-height: calc(24 * 100vw / 375);
    }
    .subscription-popup-cancel {
        font-size: calc(16 * 100vw / 375);
        line-height: calc(20 * 100vw / 375);
    }
}
