@media screen and (min-width: 1000px) and (max-width: 1440px) {
	.using {
		width: calc(1296 * 100vw / 1440);
		margin: calc(150 * 100vw / 1440) auto calc(180 * 100vw / 1440);
/*		margin-bottom: calc(180 * 100vw / 1440);*/
	}
	.using__title {
		/*width: calc(550 * 100vw / 1440);*/
/*		margin-top: calc(150 * 100vw / 1440);*/
		height: calc(64 * 100vw / 1440);
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.using__subtitle {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
		grid-column-gap: calc(8 * 100vw / 1440);
		margin-top: calc(8 * 100vw / 1440);
	}
	.using__subtitle a {
		margin-top: calc(6 * 100vw / 1440);
	}
	.using__content {
		grid-column-gap: calc(24 * 100vw / 1440);
		margin-top: calc(34 * 100vw / 1440);
	}
	.using__row {
		margin: 0;
		width: calc(306 * 100vw / 1440);
	}
	.using__row-block {
		height: calc(220 * 100vw / 1440);
		border-radius: calc(24 * 100vw / 1440);
	}
	.using__row-legend-number {
		width: calc(32 * 100vw / 1440);
		height: calc(32 * 100vw / 1440);
		top: calc(20 * 100vw / 1440);
		left: calc(20 * 100vw / 1440);
		font-size: calc(20 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.using__row-legend-text {
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
		margin-top: calc(12 * 100vw / 1440);
	}
	.using__row-image-1 {
		width: calc(163 * 100vw / 1440);
		height: calc(173 * 100vw / 1440);
		top: calc(38 * 100vw / 1440);
		left: calc(71 * 100vw / 1440);
	}
	.using__row-image-2 {
		width: calc(275 * 100vw / 1440);
		height: calc(142 * 100vw / 1440);
		top: calc(45 * 100vw / 1440);
		left: calc(16 * 100vw / 1440);
	}
	.using__row-image-3 {
		width: calc(221 * 100vw / 1440);
		height: calc(180 * 100vw / 1440);
		top: calc(31 * 100vw / 1440);
		left: calc(67 * 100vw / 1440);
	}
	.using__row-image-4 {
		width: calc(269 * 100vw / 1440);
		height: calc(159 * 100vw / 1440);
		top: calc(37 * 100vw / 1440);
		left: calc(18 * 100vw / 1440);
	}
}

@media screen and (max-width: 999px) {
	.using {
		width: 335px;
		margin: 96px auto;
	}
	.using__title {
		height: 40px;
		font-size: 32px;
		line-height: 40px; 
	}
	.using__subtitle {
		font-size: 18px;
		line-height: 24px;
		flex-direction: column;
		align-items: flex-start;
		grid-row-gap: 8px;
	}
	.using__subtitle a {
		grid-column-gap: 4px;
	}
	.using__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		grid-row-gap: 40px;
	}
	.using__row {
		width: 100%;
	}
	.using__row-block {
		height: 240px;
	}
	.using__row-legend-text {
		text-align: center;
	}	
	.using__row-image-desktop {
		display: none;
	}
	.using__row-image-mobile {
		position: absolute;
		display: block;
	}
	.using__row-image-mobile-1 {
		width: 187px;
		height: 198.473px; 
		top: 38px;
		left: 76px;
	}
	.using__row-image-mobile-2 {
		width: 299px;
		height: 154.392px; 
		top: 45px;
		left: 19px;
	}
	.using__row-image-mobile-3 {
		width: 245px;
		height: 199.548px; 
		top: 31px;
		left: 76px;
	}
	.using__row-image-mobile-4 {
		width: 293px;
		height: 173.186px; 
		top: 37px;
		left: 22px;
	}

	.using__arrow_right {
		display: none;
	}
	.using__arrow_down {
		display: block;
		margin-left: 30px;
		height: 32px;
	}
}