@media screen and (min-width: 576px) and (max-width: 1440px) {
	#using {
		padding-bottom: calc(150 * 100vw / 1440);
	}
	.using {
		width: calc(1296 * 100vw / 1440);
		margin: 0 auto calc(180 * 100vw / 1440);
	}
	.using__title {
		/*width: calc(550 * 100vw / 1440);*/
/*		margin-top: calc(150 * 100vw / 1440);*/
		height: calc(64 * 100vw / 1440);
		font-size: calc(52 * 100vw / 1440);
		line-height: calc(64 * 100vw / 1440);
	}
	.using__subtitle {
		font-size: calc(24 * 100vw / 1440);
		line-height: calc(32 * 100vw / 1440);
		grid-column-gap: calc(8 * 100vw / 1440);
		margin-top: calc(8 * 100vw / 1440);
	}
	.using__subtitle a {
		margin-top: calc(6 * 100vw / 1440);
	}
	.using__video-popup-close {
		top: calc(20 * 100vw / 1440);
		right: calc(20 * 100vw / 1440);
		width: calc(20 * 100vw / 1440);
		height: calc(20 * 100vw / 1440);
	}
	.using__content {
		grid-column-gap: calc(24 * 100vw / 1440);
		margin-top: calc(34 * 100vw / 1440);
	}
	.using__row {
		margin: 0;
		width: calc(306 * 100vw / 1440);
	}
	.using__row-block {
		height: calc(220 * 100vw / 1440);
		border-radius: calc(24 * 100vw / 1440);
	}
	.using__row-legend-number {
		width: calc(32 * 100vw / 1440);
		height: calc(32 * 100vw / 1440);
		top: calc(20 * 100vw / 1440);
		left: calc(20 * 100vw / 1440);
		font-size: calc(20 * 100vw / 1440);
		line-height: calc(20 * 100vw / 1440);
	}
	.using__row-legend-text {
		font-size: calc(18 * 100vw / 1440);
		line-height: calc(24 * 100vw / 1440);
		margin-top: calc(12 * 100vw / 1440);
	}
	.using__row-image-1 {
		width: calc(136 * 100vw / 1440);
		height: calc(173 * 100vw / 1440);
		top: calc(32 * 100vw / 1440);
		left: calc(85 * 100vw / 1440);
	}
	.using__row-image-2 {
		width: calc(275.306 * 100vw / 1440);
		height: calc(141.007 * 100vw / 1440);
		top: calc(39.11 * 100vw / 1440);
		left: calc(15.99 * 100vw / 1440);
	}
	.using__row-image-3 {
		width: calc(150.999 * 100vw / 1440);
		height: calc(201 * 100vw / 1440);
		top: calc(19 * 100vw / 1440);
		left: calc(109 * 100vw / 1440);
	}
	.using__row-image-4 {
		width: calc(256 * 100vw / 1440);
		height: calc(160.001 * 100vw / 1440);
		top: calc(30 * 100vw / 1440);
		left: calc(25 * 100vw / 1440);
	}
}

@media screen and (max-width: 575px) {
	#using {
		padding-bottom: calc(96 * 100vw / 375);
	}
	.using {
		width: calc(335 * 100vw / 375);
		margin: 0 auto calc(96 * 100vw / 375);
	}
	.using__title {
		height: auto;
		font-size: calc(32 * 100vw / 375);
		line-height: calc(40 * 100vw / 375); 
	}
	.using__subtitle {
		font-size: calc(18 * 100vw / 375);
		line-height: calc(24 * 100vw / 375);
		flex-direction: column;
		align-items: flex-start;
		grid-row-gap: calc(8 * 100vw / 375);
	}
	.using__subtitle a {
		grid-column-gap: calc(4 * 100vw / 375);
	}
	.using__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		grid-row-gap: calc(40 * 100vw / 375);
	}
	.using__row {
		width: 100%;
	}
	.using__row-block {
		height: calc(240 * 100vw / 375);
	}
	.using__row-legend-text {
		text-align: center;
	}	
	.using__row-image-desktop {
		display: none;
	}
	.using__row-image-mobile {
		position: absolute;
		display: block;
	}
	.using__row-image-mobile-1 {
		width: calc(136 * 100vw / 375);
		height: calc(173 * 100vw / 375); 
		top: calc(42 * 100vw / 375);
		left: calc(100 * 100vw / 375);
	}
	.using__row-image-mobile-2 {
		width: calc(275.306 * 100vw / 375);
		height: calc(141.007 * 100vw / 375);
		top: calc(49.11 * 100vw / 375);
		left: calc(29.99 * 100vw / 375);
	}
	.using__row-image-mobile-3 {
		width: calc(150.999 * 100vw / 375);
		height: calc(201 * 100vw / 375);
		top: calc(24 * 100vw / 375);
		left: calc(109 * 100vw / 375);
	}
	.using__row-image-mobile-4 {
		width: calc(256 * 100vw / 375);
		height: calc(160.001 * 100vw / 375);
		top: calc(40 * 100vw / 375);
		left: calc(40 * 100vw / 375);
	}
}