.where {
	width: 1296px;
	margin: 0 auto;
	padding-top: 32px;
	padding-bottom: 180px;
	display: flex;
	flex-direction: column;
	grid-row-gap: 32px;
}
.where__top {
	display: flex;
	flex-direction: column;
	grid-row-gap: 8px;
}
.where__title {
	color: #000;
	font-family: Manrope;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 64px;
}
.where__subtitle {
	width: 694px;
	color: #000;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	opacity: 0.6;
}
.where__body {
	display: flex;
	flex-direction: column;
	grid-row-gap: 24px;
}
.where__item {
	width: 100%;
	height: auto;
	padding: 24px;
	border-radius: 28px;
	background: #F6F6F6;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}
.where__item-left {
	width: 558px;
	display: flex;
	justify-content: space-between;
}
.where__item-info {
	display: flex;
	flex-direction: column;
	grid-row-gap: 24px;
}
.where__item-title {
	max-width: 278px;
	color: #000;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}
.where__item-data {
	display: flex;
	flex-direction: column;
	grid-row-gap: 20px;
}
.where__item-data-item {
	display: flex;
	flex-direction: column;
	grid-row-gap: 4px;
}
.where__item-data-item-key, .where__item-data-item-value {
	color: #000;
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
.where__item-data-item-key {
	opacity: 0.6; 
}
.where__item-data-item-value a {
	color: #1657FC;
	text-decoration: none;
}
.where__item-data-item-address {
	width: 300px;
}
.where__item-right {
	width: 621px;
	display: flex;
	justify-content: flex-end;
	grid-column-gap: 40px;
}
.where__item-image {
	width: 250px;
	height: 184px;
}
.where__item-locations {
	display: grid;
	grid-column-gap: 40px;
	grid-row-gap: 20px;
}
.where__item-map {
	width: 281px;
	height: 76px;
}
.where__item-image, .where__item-map {
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	overflow: hidden;
}
.where__item-image img, .where__item-map iframe {
	width: 100%;
	height: 100%;
}
