@use '../../assets/styles/flexbox' as flexbox;
@use '../../assets/styles/fonts' as fonts;
@use '../../assets/styles/layout' as layout;
@use '../../assets/styles/text' as text;
@use '../../assets/styles/mixins' as *;

.screenmate-one {

    &__specifications {
        @extend %container, %flex-column, %gap-150, %mob\:gap-64;
        @include responsive(padding, 156px, 0, 180px);

        @include mobile {
            @include responsive(padding, 96px, 0);
        }

        & .heading {
            background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #808080 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: #0465FD;
        }

        &-tabs {

            &-wrap {
                @extend %relative;

                @include mobile() {
                    width: 100vw;
                    @include responsive(margin-left, -20px);
                    @include responsive(margin-right, -20px);
                }
            }

            &-fix {
                @extend %absolute;
                display: none;

                @include mobile() {
                    display: block;
                    @include responsive(width, 20px);
                    border-bottom: 1px solid black;
                    top: 0;
                    bottom: 0;

                    &:first-child {
                        left: 0;
                    }

                    &:last-child {
                        right: 0;
                    }
                }
            }
        }

        &-body {
            @extend %flex-column-center, %gap-32, %mob\:flex-column-reverse, %mob\:gap-16;

            & .tabs {
                @extend %mob\:w-full, %mob\:flex-start-center, %mob\:overflow-scroll-x, %mob\:overflow-hidden-y;

                @include mobile() {
                    @include responsive(padding, 0, 20px);
                }
                
                &-item {

                    @include mobile() {
                        @include block(109.6px, 72px);
                        @include responsive(flex, 0, 0, 109.6px);
                    }

                    &-title {

                        @include mobile() {
                            white-space: nowrap;
                        }
                    }
                }
            }

            &-content {
                @extend %w-full, %overflow-hidden;
                @include responsive(height, 600px);
                @include responsive(border-radius, 32px);
                background: #1D1D1F;

                &:not(:has(> div > img)) {
                    @include responsive(padding, 40px, 60px, 0);
                }

                @include mobile() {
                    height: auto;
                    @include responsive(border-radius, 12px);

                    & > div:has(> img) {
                        @include responsive(height, 220px);
                    }

                    &:not(:has(> div > img)) {
                        @include responsive(padding, 20px, 20px, 36px);
                    }

                    &:has(.image-item) {
                        @include responsive(padding, 20px, 20px, 0);
                    }

                    & br {
                        display: none;
                    }
                }

                &-top {
                    @extend %flex-column, %gap-16, %mob\:gap-12, %text-white;
                    @include responsive(padding-bottom, 38px);
                    border-bottom: 1px solid #4D4D4D;

                    @include mobile() {
                        @include responsive(padding-bottom, 24px);
                    }
                }

                &-grid {
                    @extend %grid;
                    @include responsive(row-gap, 64px);
                    @include responsive(padding-top, 40px);

                    @include mobile() {
                        @include responsive(row-gap, 24px);
                        @include responsive(padding-top, 24px);
                    }

                    &:has(.image-item) {
                        grid-template-columns: calc(400 * 100vw / 1440) calc(376 * 100vw / 1440) calc(360 * 100vw / 1440) !important;
                        grid-template-rows: 1fr 1fr;
                        grid-auto-flow: column;
                        @include responsive(column-gap, 40px);
                        @include responsive(row-gap, 24px);
                        @include responsive(padding-top, 32px);
                        @include responsive(margin-left, -20px);
                        @include responsive(margin-right, -20px);

                        @include mobile() {
                            grid-template-columns: 1fr !important;
                            grid-template-rows: unset;
                            grid-auto-flow: row;
                            @include responsive(column-gap, 24px);
                            row-gap: 0;
                            padding-top: 0;
                            margin-left: unset;
                            margin-right: unset;
                        }
                    }

                    &-item {
                        &.info-item {
                            @extend %flex-column, %gap-4;
                            @include responsive(max-height, 56px);

                            @include mobile() {
                                max-height: unset;
                            }
                        }

                        &.image-item {
                            @extend %flex-start-center, %gap-24;

                            @include mobile() {

                                &:not(:first-child) {
                                    @include responsive(margin-top, -24px);
                                }
                            }
                        }

                        &-image {
                            @extend %flex-center;
                            @include block(200px, 150px);

                            @include mobile() {
                                @include square(120px);
                                & img {
                                    height: auto !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-installation {
            @extend %flex-between-center, %mob\:flex-column, %flex-1, %overflow-hidden;
            @include responsive(border-radius, 24px);
            background: #1D1D1F;

            @include mobile() {
                @include responsive(border-radius, 12px);
            }

            &-info {
                @extend %flex-column, %gap-40, %mob\:gap-20;
                @include responsive(padding, 0, 0, 0, 60px);

                @include mobile() {
                    @include responsive(padding, 20px);

                    & br {
                        display: none;
                    }
                }

                & .icon {
                    @include block(16px, 32px);


                    @include mobile() {
                        @include responsive(height, 24px);
                    }
                }
            }

            &-image {
                @include block(660px, 588px);

                @include mobile() {
                    @include block(350px, 300px);
                }
            }
        }
    }
}
