@use '../../assets/styles/flexbox' as flexbox;
@use '../../assets/styles/fonts' as fonts;
@use '../../assets/styles/layout' as layout;
@use '../../assets/styles/text' as text;
@use '../../assets/styles/mixins' as *;

.screenmate-one {

    &__features {
        @include responsive(padding, 150px, 0, 180px);

        @include mobile() {
            @include responsive(padding, 40px, 0, 94px);
        }

        &-item {
            @extend %flex-column-between, %relative, %overflow-hidden, %cursor-pointer;
            aspect-ratio: 1/1;
            background-size: cover;

            transform: translateY(0);
            transition: transform 333ms cubic-bezier(0.39, 0.575, 0.565, 1);

            &:hover {
                transform: translateY(calc(-10 * 100vw / 1440));

                @include mobile() {
                    transform: none;
                }
            }

            &-header {

                &-icon {
                    @extend %circle, %cursor-pointer;
                    @include square(40px);
                    @include responsive(margin-top, 4px);
                    @include responsive(padding, 5px, 12px, 4px, 12px);
                    background: #262626;
                }
            }
        }

        &-grid {
            @extend %container, %grid, %gap-24;
            grid-template-columns: repeat(3, 1fr);

            &-item {
                @include responsive(width, 416px);
                @include responsive(padding, 28px, 32px, 32px);
                @include responsive(border-radius, 24px);
            }
        }

        &-slider {
            &-wrap {
                @include responsive(margin, 0, 20px);
            }

            &-item {
                @include responsive(width, 320px);
                @include responsive(padding, 20px, 20px, 32px);
                @include responsive(border-radius, 20px);
            }

            &-scrollbar {
                background: #1D1D1F;
                
                &-thumb {
                    background: #1658FC;
                }
            }
        }
    }
}
